@{
    Layout = null;
}

<div id="confirma_excluir">
	<p>Deseja realmente excluir?</p>
	<div class="botoes">
		<a href="javascript:void(0);" class="cancelar left" id="btnCancelarExclusaoComentario">Cancelar</a>
		<a href="javascript:void(0);" class="btn_cor right" id="btnExclusaoComentario" idComentario="@ViewBag.idComentario">Excluir</a>
	</div>	
</div>

