@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projeto - Web Api</title>
</head>
<body>
    <div>
        Página default da Web Api!
    </div>
</body>
</html>
