<section id="box_minhas-turmas" class="full_content full_width">
    <div class="center_content centralizaclass">
        <!-- Cabeçalho de inscrição -->
        <header class="header-page">
            <button class="btn_voltar" onclick="javascript:window.history.back();return false;"></button>
            <div class="foto_user"><img ng-src="{{usuario.Perfil.Thumb}}"/></div>
            <h1>Minhas equipes</h1>
        </header>
        <nav class="nav-envios grid_12">
            <ul ng-if="!edicao.BolEncerrado"
                class="menu-abas">
                <li ng-class="{ativo: ctrlMinhasEquipes.filtroSituacao == 0}" ng-click="ctrlMinhasEquipes.filtraSituacao(0)"><a href="">Todos</a></li>
                <li ng-class="{ativo: ctrlMinhasEquipes.filtroSituacao == 1}" ng-click="ctrlMinhasEquipes.filtraSituacao(1)"><a href="">Publicados</a></li>
                <!--<li ng-class="{ativo: ctrlMinhasEquipes.filtroSituacao == 5}" ng-click="ctrlMinhasEquipes.filtraSituacao(5)"><a href="">Pré-aprovados</a></li>-->
                <!--<li ng-class="{ativo: ctrlMinhasEquipes.filtroSituacao == 7}" ng-click="ctrlMinhasEquipes.filtraSituacao(7)"><a href="">Recebidos</a></li>-->
                <li ng-class="{ativo: ctrlMinhasEquipes.filtroSituacao == 4}" ng-click="ctrlMinhasEquipes.filtraSituacao(4)"><a href="">Rascunho</a></li>
                <li ng-class="{ativo: ctrlMinhasEquipes.filtroSituacao == 2}" ng-click="ctrlMinhasEquipes.filtraSituacao(2)"><a href="">Em moderação</a></li>
                <li ng-class="{ativo: ctrlMinhasEquipes.filtroSituacao == 3}" ng-click="ctrlMinhasEquipes.filtraSituacao(3)"><a href="">Pendentes</a></li>
            </ul>

            <!-- Sub menu -->
            <ul class="submenu-abas">
                <li>
                    <span class="submenu-ico select-etapas"></span>
                    <select ng-model="ctrlMinhasEquipes.filtroEtapa" ng-change="ctrlMinhasEquipes.aplicaFiltros()" ng-disabled="loadingBuscarGeral">
                        <option value="0">Todas as etapas</option>
                        <option value="{{etapa.Id}}" ng-repeat="etapa in edicao.Etapas" ng-if="ctrlMinhasEquipes.etapaAberta(etapa)">{{etapa.Nome}}</option>
                    </select>
                </li>

                <!--li ng-show="listaAnos.length > 1">
                    <span class="submenu-ico select-etapas"></span>
                    <select ng-model="filtroano" 
                            ng-change="ctrlMinhasEquipes.carregaConteudo()"
                            ng-options="ano as ano for ano in listaAnos track by ano | orderBy:'-'"
                            ng-init="filtroano=listaAnos[listaAnos.length-1]"
                            ng-disabled="loadingBuscarGeral">
                    </select>
                </li-->

                <li>
                    <span class="submenu-ico select-turma"></span>
                    <select ng-model="ctrlMinhasEquipes.filtroEquipe" ng-change="ctrlMinhasEquipes.aplicaFiltros()" ng-disabled="loadingBuscarGeral">
                        <option value="0">Selecione uma equipe</option>
                        <option value="{{equipe.Id}}" ng-repeat="equipe in equipes" ng-if="equipe.TotalEnvios>0">{{equipe.Nome}}</option>
                    </select>
                </li>
            </ul>
            <!-- end Sub menu -->

        </nav>
        <!-- end MENU -->

        <!-- LISTA DE ENVIO DAS EQUIPES -->
        <section class="envios-turmas lista-conteudos" ng-if="ctrlMinhasEquipes.filtroEquipe == 0" style="min-height: 345px;">
            <article class="envio grid_4" ng-class="{'rascunho':envio.SituacaoEnvio.Id==4,'moderacao':envio.SituacaoEnvio.Id==2, 'publicado':envio.SituacaoEnvio.Id==1, 'pendente':envio.SituacaoEnvio.Id==3, 'pre-aprovado':envio.SituacaoEnvio.Id==5}"  ng-show="ctrlMinhasEquipes.objEnviosInscricao.totalEnvios > 0" ng-repeat="envio in ctrlMinhasEquipes.objEnviosInscricao.envios">
                <a ng-href="{{ctrlMinhasEquipes.getLinkEtapa(envio)}}">
                    <div ng-if="envio.Video != null && envio.Video != ''" class="midia" back-img="{{envio.Video| GetYouTubeThumb}}" video="{{envio.Video}}" width="385" height="200">
                        <div class="status">{{ctrlMinhasEquipes.getDescricaoSituacao(envio.SituacaoEnvio)}}.</div>
                    </div> 
                    <div ng-if="(envio.Video == null || envio.Video == '') && (envio.Imagem != null && envio.Imagem != '')" class="midia" back-img="{{envio.Imagem}}">
                        <div class="status">{{ctrlMinhasEquipes.getDescricaoSituacao(envio.SituacaoEnvio)}}.</div>
                    </div>
                    <div ng-if="envio.Inscricao.InscricaoTipo.Id == 1 && (envio.Imagem == null || envio.Imagem == '') && (envio.Video == null || envio.Video ==  '')" class="midia" back-img="{{(envio.Inscricao.Turma.Foto != '' && envio.Inscricao.Turma.Foto != null) ? envio.Inscricao.Turma.Foto : ((envio.Inscricao.Turma.Thumb != '' && envio.Inscricao.Turma.Thumb != null) ? envio.Inscricao.Turma.Thumb : defaultConfig.DefImgTurmaLarge)}}">
                        <div class="status">{{ctrlMinhasEquipes.getDescricaoSituacao(envio.SituacaoEnvio)}}.</div>
                    </div>
                    <div ng-if="(envio.Inscricao.InscricaoTipo.Id == 2 || envio.Inscricao.InscricaoTipo.Id==3) && (envio.Imagem == null || envio.Imagem == '') && (envio.Video == null || envio.Video == '')" class="midia" back-img="{{(envio.Inscricao.Equipe.Foto!='' && envio.Inscricao.Equipe.Foto!=null) ? envio.Inscricao.Equipe.Foto : defaultConfig.DefImgTurmaLarge}}">
                        <div class="status">{{ctrlMinhasEquipes.getDescricaoSituacao(envio.SituacaoEnvio)}}.</div>
                    </div>
                    <div ng-if="envio.Inscricao.InscricaoTipo.Id == 5 && (envio.Imagem == null || envio.Imagem == '') && (envio.Video == null || envio.Video == '')" class="midia" back-img="{{(envio.Inscricao.Responsavel.Perfil.Thumb != '' && envio.Inscricao.Responsavel.Perfil.Thumb != null) ? envio.Inscricao.Responsavel.Perfil.Thumb : defaultConfig.DefImgPerfilLarge}}">
                        <div class="status">{{ctrlMinhasEquipes.getDescricaoSituacao(envio.SituacaoEnvio)}}.</div>
                    </div>
                    <div class="sobre">
                        <h3 ng-if="(envio.Titulo != null && envio.Titulo != '')">{{envio.Titulo}}</h3>
                        <span>em {{envio.Etapa.Nome}}</span>
                    </div>
                </a>

                <!--variantes de exibição do perfil-->
                <div class="credito" ng-if="envio.Inscricao.InscricaoTipo.Id === 1">
                    <!--envio feito por turma-->
                    <div class="ico-user">
                        <a ng-href="{{ edicao.BolEncerrado ? '' : '/AVA/turma/'+ envio.Inscricao.Turma.Link }}"
                           ng-class="{'projeto-encerrado':edicao.BolEncerrado }">
                           <img ng-src="{{(envio.Inscricao.Turma.Thumb != null && envio.Inscricao.Turma.Thumb != '') ? envio.Inscricao.Turma.Thumb : defaultConfig.DefImgTurmaSmall}}" alt="{{envio.Inscricao.Turma.Nome}}" on_error error="{{defaultConfig.DefImgTurmaSmall}}" />
                        </a>
                    </div>
                    <div class="dados-user">
                        <a ng-href="{{ edicao.BolEncerrado ? '' : '/AVA/turma/'+ envio.Inscricao.Turma.Link }}"
                           ng-class="{'projeto-encerrado':edicao.BolEncerrado }">
                            <h5 class="nome-user">{{envio.Inscricao.Turma.Nome}}</h5>
                            <!--span class="nome-escola">{{envio.Inscricao.Turma.Escola.Nome}}</span>
                            <span class="nome-local">{{envio.Inscricao.Turma.Escola.Cidade}}/{{envio.Inscricao.Turma.Escola.Estado}}</span-->
                        </a>
                    </div>
                </div>                

                <div class="acoes_mural">
                    <a ng-show="envio.MensagemRapida.Id > 0" href class="botaoCurtirGrupos" curtir-mensagem id-mensagem-rapida="{{envio.MensagemRapida.Id}}" obj-lista-curtida="envio.MensagemRapida.ListaCurtida" ng-class="{'ativo': envio.MensagemRapida.BolUsuarioCurtiu}"></a>
                    <div ng-show="envio.MensagemRapida.Id > 0" idmensagem="{{envio.MensagemRapida.Id}}" class="feedCurtir boxCurticoesMensagem_{{envio.MensagemRapida.Id}}"></div>
                    <a ng-if="!edicao.BolEncerrado"
                       ng-show="envio.MensagemRapida.Id > 0" 
                       href="{{ctrlMinhasEquipes.getLinkEtapa(envio)}}" class="botaoComentar">
                       <span class="FontAwesome"></span>
                    </a>
                </div>
            </article>

            <div ng-show="ctrlMinhasEquipes.loadingBuscarGeral" class="loading-spiner" style="width:100%; line-height: 50px; min-height: 50px; float:left; text-align:center;">
                <img src="/AVA/StaticContent/Common/img/perfil/carregando.gif" border="0" />
            </div>

            <div ng-if="!ctrlMinhasEquipes.loadingBuscarGeral && ctrlMinhasEquipes.objEnviosInscricao.totalEnvios == 0" class="loading-spiner feedback_participantes">
                Não foram encontrados materiais nessas condições
            </div>

            <div ng-if="!ctrlMinhasEquipes.loadingBuscarGeral && ctrlMinhasEquipes.objEnviosInscricao.totalEnvios > ctrlMinhasEquipes.objEnviosInscricao.envios.length" class="acoes_lista">
                <a href="#" class="btn_veja-mais" ng-disabled="ctrlMinhasEquipes.loadingBuscarGeral" ng-click="ctrlMinhasEquipes.carregarMais()">Veja mais</a>
            </div>
        </section>
        <!-- end LISTA DE ENVIO DAS EQUIPES -->

        <div class="proj_template" ng-if="ctrlMinhasEquipes.filtroEquipe > 0">
            <!-- LISTA DE ENVIOS - Filtro EQUIPES -->
            <section class="envios-turma lista-conteudos" style="min-height: 345px;">
                <article class="envio grid_4" ng-class="{'rascunho':envio.SituacaoEnvio.Id==4,'moderacao':envio.SituacaoEnvio.Id==2, 'publicado':envio.SituacaoEnvio.Id==1, 'pendente':envio.SituacaoEnvio.Id==3, 'pre-aprovado':envio.SituacaoEnvio.Id==5}" ng-show="ctrlMinhasEquipes.objEnviosInscricao.totalEnvios > 0" ng-repeat="envio in ctrlMinhasEquipes.objEnviosInscricao.envios">
	                <a ng-href="{{ctrlMinhasEquipes.getLinkEtapa(envio)}}">
		                <div ng-if="envio.Video != null && envio.Video != ''" class="midia" back-img="{{envio.Video | GetYouTubeThumb}}" video="{{envio.Video}}" width="385" height="200">
			                <div class="status">{{ctrlMinhasEquipes.getDescricaoSituacao(envio.SituacaoEnvio)}}.</div>
		                </div> 
		                <div ng-if="(envio.Video == null || envio.Video == '') && (envio.Imagem != null && envio.Imagem != '')" class="midia" back-img="{{envio.Imagem}}">
			                <div class="status">{{ctrlMinhasEquipes.getDescricaoSituacao(envio.SituacaoEnvio)}}.</div>
		                </div>
		                <div ng-if="envio.Inscricao.InscricaoTipo.Id == 1 && (envio.Imagem == null || envio.Imagem == '') && (envio.Video == null || envio.Video ==  '')" class="midia" back-img="{{(envio.Inscricao.Turma.Foto != '' && envio.Inscricao.Turma.Foto != null) ? envio.Inscricao.Turma.Foto : ((envio.Inscricao.Turma.Thumb != '' && envio.Inscricao.Turma.Thumb != null) ? envio.Inscricao.Turma.Thumb : defaultConfig.DefImgTurmaLarge)}}">
			                <div class="status">{{ctrlMinhasEquipes.getDescricaoSituacao(envio.SituacaoEnvio)}}.</div>
		                </div>
		                <div ng-if="(envio.Inscricao.InscricaoTipo.Id == 2 || envio.Inscricao.InscricaoTipo.Id==3) && (envio.Imagem == null || envio.Imagem == '') && (envio.Video == null || envio.Video == '')" class="midia" back-img="{{(envio.Inscricao.Equipe.Foto!='' && envio.Inscricao.Equipe.Foto!=null) ? envio.Inscricao.Equipe.Foto : defaultConfig.DefImgTurmaLarge}}">
			                <div class="status">{{ctrlMinhasEquipes.getDescricaoSituacao(envio.SituacaoEnvio)}}.</div>
		                </div>
		                <div ng-if="envio.Inscricao.InscricaoTipo.Id == 5 && (envio.Imagem == null || envio.Imagem == '') && (envio.Video == null || envio.Video == '')" class="midia" back-img="{{(envio.Inscricao.Responsavel.Perfil.Thumb != '' && envio.Inscricao.Responsavel.Perfil.Thumb != null) ? envio.Inscricao.Responsavel.Perfil.Thumb : defaultConfig.DefImgPerfilLarge}}">
                            <div class="status">{{ctrlMinhasEquipes.getDescricaoSituacao(envio.SituacaoEnvio)}}.</div>
		                </div>
		                <div class="sobre">
			                <h3 ng-if="(envio.Titulo != null && envio.Titulo != '')">{{envio.Titulo}}</h3>
			                <span>em {{envio.Etapa.Nome}}</span>
		                </div>
	                </a>
                    <div class="acoes_mural">
		                <a ng-show="envio.MensagemRapida.Id > 0" href class="botaoCurtirGrupos" curtir-mensagem id-mensagem-rapida="{{envio.MensagemRapida.Id}}" obj-lista-curtida="envio.MensagemRapida.ListaCurtida" ng-class="{'ativo': envio.MensagemRapida.BolUsuarioCurtiu}"></a>
		                <div ng-show="envio.MensagemRapida.Id > 0" idmensagem="{{envio.MensagemRapida.Id}}" class="feedCurtir boxCurticoesMensagem_{{envio.MensagemRapida.Id}}"></div>
		                <a ng-if="!edicao.BolEncerrado" ng-show="envio.MensagemRapida.Id > 0" href="{{ctrlMinhasEquipes.getLinkEtapa(envio)}}" class="botaoComentar"><span class="FontAwesome"></span></a>
	                </div>
                </article>

                <div ng-show="ctrlMinhasEquipes.loadingBuscarGeral" class="loading-spiner" style="width:100%; line-height: 50px; min-height: 50px; float:left; text-align:center;">
	                <img src="/AVA/StaticContent/Common/img/perfil/carregando.gif" border="0" />
                </div>

                <div ng-if="!ctrlMinhasEquipes.loadingBuscarGeral && ctrlMinhasEquipes.objEnviosInscricao.totalEnvios == 0" class="loading-spiner feedback_participantes">
	                Não foram encontrados materiais nessas condições
                </div>

                <div ng-if="!ctrlMinhasEquipes.loadingBuscarGeral && ctrlMinhasEquipes.objEnviosInscricao.totalEnvios > ctrlMinhasEquipes.objEnviosInscricao.envios.length" class="acoes_lista">
	                <a href="#" class="btn_veja-mais" ng-disabled="ctrlMinhasEquipes.loadingBuscarGeral" ng-click="ctrlMinhasEquipes.carregarMais()">Veja mais</a>
                </div>
            </section>
            <!-- end LISTA DE ENVIOS - Filtro equipe -->
            <!-- SIDEBAR -->
            <section class="sidebar-turma">
                <aside class="perfil">
                    <div class="ico-user">
                        <a href="javascript: void(0)"
                           ng-class="{'projeto-encerrado':edicao.BolEncerrado }">
                            <img ng-src="{{ctrlMinhasEquipes.detalheEquipe.Foto}}">
                        </a>
                    </div>
                    <div class="dados-user">
                        <a href="javascript: void(0)"
                           ng-class="{'projeto-encerrado':edicao.BolEncerrado }">
                            <h5 class="nome-user">{{ctrlMinhasEquipes.detalheEquipe.Nome}}</h5>
                            <!--span class="serie-turma">{{ctrlMinhasEquipes.detalheEquipe.Serie.Nome}}</span-->
                            <span class="nome-escola">{{usuario.Escola.Nome}}</span>
                            <span class="nome-local">{{usuario.Escola.Cidade}}/{{usuario.Escola.Estado}}</span>
                        </a>
                    </div>
                </aside>

                <section class="sobre-turma">
                    <h4>Sobre:</h4>
                    <!-- Limite máx. de 1000 caracteres. -->
                    <p>{{ctrlMinhasEquipes.detalheEquipe.TxtApresentacao}}</p>
                </section>

                <section class="mapa-envio">
                    <iframe ng-src="{{ctrlMinhasEquipes.detalheEquipe.linkMapa}}" width="100%" height="250" frameborder="0" style="border:0"></iframe>
                </section>

                <section class="categoria-inscricao ng-class: ctrlMinhasEquipes.convCatToClas(ctrlMinhasEquipes.detalheEquipe.Inscricao.Categorias[0].Descricao)" ng-if="ctrlMinhasEquipes.detalheEquipe.Inscricao.Categorias.length>0">
                    <h4>CATEGORIA</h4>
                    <p>{{ctrlMinhasEquipes.detalheEquipe.Inscricao.Categorias[0].Descricao}}</p>
                </section>

                <section class="alunos-turma">
                    <h4>Alunos</h4>
                    <ul class="lista-alunos" style="width: 100%;">
                        <li ng-repeat="aluno in ctrlMinhasEquipes.detalheEquipe.Alunos">
                            <a href="/AVA/Perfil/Home/Index/{{aluno.Perfil.Link}}" title="{{aluno.Nome}}">
                                <img ng-src="{{aluno.Perfil.Thumb}}">
                            </a>
                        </li>
                    </ul>

                    <!--a ng-if="!edicao.BolEncerrado" href="/AVA/turma/{{ctrlMinhasEquipes.detalheEquipe.Link}}" class="btn_veja-todos">Veja todos</a-->
                </section>

                <section class="responsavel">
                    <h4>Professor responsável</h4>
                    <ul class="lista-professor">
                        <li>
                            <a ng-href="/AVA/Perfil/Home/Index/{{ctrlMinhasEquipes.detalheEquipe.Inscricao.Responsavel.Perfil.Link}}">
                                <div class="ico-user">
                                    <img ng-src="{{ctrlMinhasEquipes.detalheEquipe.Inscricao.Responsavel.Perfil.Thumb}}">
                                </div>
                                <h5>{{ctrlMinhasEquipes.detalheEquipe.Inscricao.Responsavel.Nome}}</h5>
                            </a>                                        
                        </li>
                    </ul>
                </section>

                <section class="parceiros" ng-if="ctrlMinhasEquipes.detalheEquipe.Inscricao.Parceiros.length > 0">
                    <h4>Professor(es) parceiro(s)</h4>
                    <ul class="lista-professor">
                        <li ng-repeat="parceiro in ctrlMinhasEquipes.detalheEquipe.Inscricao.Parceiros">
                            <a href="/AVA/Perfil/Home/Index/{{parceiro.Perfil.Link}}">
                                <div class="ico-user">
                                    <img ng-src="{{parceiro.Perfil.Thumb}}">
                                </div>
                                <h5>{{parceiro.Nome}}</h5>
                            </a>                                        
                        </li>
                    </ul>
                </section>
            </section>
            <!-- end SIDEBAR -->
        </div>
    </div>
</section>
<!-- fim MINHAS TURMAS -->