.admin_cadastrado, .tipos_cadastrados{border:1px solid #ccc; float:left; padding:20px; width:415px;}
.admin_cadastrado h3, .tipos_cadastrados h3{font-size:13px; margin:0; text-transform:uppercase;}
.admin_cadastrado{float:left;}
.admin_cadastrado .info_usuario_cadastrado{overflow:hidden; margin:10px 0;}
.admin_cadastrado .info_usuario_cadastrado .thum_administrador, #listabuscaeducadores .container_educs .thum_administrador{float:left; height:42px; margin:5px 10px 0 0; width:42px;}
.admin_cadastrado .info_usuario_cadastrado .detalhe_usuario_cadastrado{color:#666; float:left;}
.admin_cadastrado .info_usuario_cadastrado .detalhe_usuario_cadastrado p, #listabuscaeducadores .container_educs p{font-weight:bold; margin:0;}
.admin_cadastrado .info_usuario_cadastrado .detalhe_usuario_cadastrado small, #listabuscaeducadores .container_educs small{display:block; font-size:11px; margin-bottom:3px;}
.admin_cadastrado .info_usuario_cadastrado .detalhe_usuario_cadastrado  .remover_adm_cadastrados {color:#fa0000; overflow:hidden;}
.admin_cadastrado .info_usuario_cadastrado .detalhe_usuario_cadastrado .remover_adm_cadastrados .FontAwesome:before{content:"\f00d"; font-family:'FontAwesome'; padding-right:5px;}


.tipos_cadastrados{float:right;}
.tipos_cadastrados ul{list-style:none; margin-top:20px; padding:0;}
.tipos_cadastrados ul li{ padding:5px; position:relative;}
.tipos_cadastrados ul li:hover{background:#f4f4f4;}
.tipos_cadastrados ul li:hover .editar_evento_agenda, .tipos_cadastrados ul li:hover .excluir_evento_agenda{display:inline-block;}
.tipos_cadastrados ul li .editar_evento_agenda:hover, .tipos_cadastrados ul li .excluir_evento_agenda:hover{background-color:#f4f4e6;}
.tipos_cadastrados ul li .editar_evento_agenda, .tipos_cadastrados ul li .excluir_evento_agenda{background:url('/AVA/StaticContent/Common/img/perfil/sprite_ava.png') #fff no-repeat; border:1px solid #ccc;display:none; padding:2px; position:absolute; top:1px; width:15px;}
.tipos_cadastrados ul li .editar_evento_agenda{background-position:-17px -306px; right:28px;}
.tipos_cadastrados ul li .excluir_evento_agenda{background-position:4px -306px; right:5px;}

.filtro_agenda_home{float:left; margin:5px;}

.tipos_cadastrados .bt_geral_administradores{border-radius:2px; float:right; font-size:16px; height:35px; line-height:normal; width:40px;}
.tipos_cadastrados .bt_geral_administradores .FontAwesome:before{content:"\f002"; color:#fff; font-family:'FontAwesome'; padding-right:5px; position:absolute; margin:10px 12px;}
.tipos_cadastrados  input[type="text"]{border:1px solid #ccc; float:left; height:31px; margin-bottom:10px; padding-left:5px; width:367px;}

.btn_laranja.salvar.filtrar_adm_agenda_botao{height:20px !important; line-height:15px; margin:0 0 10px; padding:2px 5px 5px !important;}

.tipos_cadastrados .ativo{background:#f4f4f4;}
.tipos_cadastrados .ativo a{display:inline-block!important;}

.tb_avisos td span{font-weight:bold;}


/**Tooltip**/
.tooltip {margin-top:7px;}
.tooltip p{text-align:left!important;}

/**Resultado Busca**/
#listabuscaeducadores .container_educs{color:#666; margin:10px 0;}
#listabuscaeducadores .container_educs .adm_cadastrar_adm {color:#62a309; font-weight:bold;}
#listabuscaeducadores .container_educs .adm_cadastrar_adm .FontAwesome:before{content:"\f067"; font-family:'FontAwesome'; font-size:14px; padding-right:5px;}


#box_listaAdms, #listabuscaeducadores{overflow-x:auto;}
#box_listaAdms{max-height:500px;}
#listabuscaeducadores{max-height:455px; width:415px;}
