/* ===================================== 

	Página: Cabeçalho e rodapé AVA
	@Autor: Diego de Freitas;
	@Ano: 2015;
	Versão: 1.0.3;

	Descrição: Css de definição de elementos da home do AVA;

===================================== */

@import "fontface_ava_3.2.0.css";

/* Reset =====================================  */

	.menu_principal li.tooltip{
		background: transparent;
		display: unset;
		padding: 0;
		font-size: 15px;
		
	}

	.menu_principal li.tooltip::before {
	    content: attr(data-tip);
	    font-size: 15px;
	    position:absolute;
	    z-index: 999;
	    white-space:nowrap;
	    bottom:9999px;
	    text-shadow: none;
	    left: 50%;
	    margin-top: -5px;
	    color:#444;
	    border-radius: 3px;
	    padding:0px 7px;
	    line-height: 24px;
	    height: 24px; 
	    opacity: 0;  
	    transition:opacity 0.4s ease-out;
	    background: #fff; 
	    border: 1px solid #a7aab3;
	}
	     
	.menu_principal li.tooltip:hover::before {
	    opacity: 1;
	    bottom:-35px;
    }

	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
	}

	html.h2016,
	html.h2016 body {
		background: none;

	}

	@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
	@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700italic,700);

	/* Scroll padrão */
	
	::-webkit-scrollbar {width: 8px; height: 8px; -webkit-border-radius: 5px; border-radius: 5px;}
	::-webkit-scrollbar-button:start:decrement,
	::-webkit-scrollbar-button:end:increment {display: none;}
	::-webkit-scrollbar-track-piece 		{background-color: #B2B2B2; -webkit-border-radius: 5px; border-radius: 5px;}
	::-webkit-scrollbar-thumb:vertical 		{background-color: #727272; -webkit-border-radius: 5px; border-radius: 5px;}
	::-webkit-scrollbar-thumb:horizontal 	{background-color: #727272; -webkit-border-radius: 5px; border-radius: 5px;}
	

/* fim - Reset ===================================== */

/*BOTAO DA BARRA PARA TEMAS AVA - DESCONMENTAR APENAS SE O TEMA FOR DIFERENTE DO PADRAO LARANJA*/


.mensagemTema {
  padding: 30px;
  max-width: 500px;

}
li#iconTemaAva a{
	width: 65px;
	height: auto;
}
/*li#iconTemaAva a.link_modal_tema {
        width: 85px;
    padding: 5px;
    margin: 3px 13px;
    height: 30px;
    background-image: url(/AVA/StaticContent/Common/img/geral/outubroRosaNew.png);
    background-size: 78%;
    background-repeat: no-repeat;
    cursor: pointer;
}*/
li#iconTemaAva a.link_modal_tema:hover{
	opacity: 0.7;
}
img.imagemTemaModal {
    width: 100%;
}
a.link_modal_tema svg {
    display: none;
}
/*svg path {
    fill: brown;
}
svg path:hover {
    fill: #fff;
}*/


/*NOVAS CONFIGURACOES DA BARRA SUPERIOR AVA COM NOVOS TEMAS*/
/*@import url("/ava/StaticContent/Content/TES/css/novosTemasAva.css?v=0.0.23");*/



/*Tema padrão da barra principal - para utilizar a barra padrão comente o @import e descomente os atributos abaixo, nas classes 
(header.educ_header , .educ_header.fixar .topo , .educ_header .topo )*/

header.educ_header {
/*Tema padrão da barra principal*/
            
			background: #f05f5a;
			background: -moz-linear-gradient(left, #f05f5a 0%, #f3bc65 100%); 
			background: -webkit-linear-gradient(left, #f05f5a 0%,#f3bc65 100%); 
			background: linear-gradient(to right, #f05f5a 0%,#f3bc65 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05f5a', endColorstr='#f3bc65',GradientType=1 );

		/*OUTRAS CONFIGURACOES*/
		margin: 0 !important;
		position: relative !important; 
		z-index: 999;
		font-family: 'Roboto', sans-serif !important;
		font-size: 14px;

		
	}

.educ_header.fixar .topo {
		
/*Tema padrão da barra principal*/
			background: #f05f5a;
			background: -moz-linear-gradient(left, #f05f5a 0%, #f3bc65 100%);
			background: -webkit-linear-gradient(left, #f05f5a 0%,#f3bc65 100%);
			background: linear-gradient(to right, #f05f5a 0%,#f3bc65 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05f5a', endColorstr='#f3bc65',GradientType=1 );

			/*
			background: #F05F5A!important;
			background: -moz-linear-gradient(left, #F05F5A 0%, #DD5292 100%)!important; 
			background: -webkit-linear-gradient(left, #F05F5A 0%,#DD5292 100%)!important; 
			background: linear-gradient(to right, #F05F5A 0%,#DD5292 100%)!important; 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F05F5A', endColorstr='#DD5292',GradientType=1 );*/

/*OUTRAS CONFIGURACOES*/
position: fixed !important; /*Sobrescreve o style padrÃ£o*/

}


@media screen and (min-width: 1320px) {

		.educ_header .topo {
/*background-color: rgba(255,255,255,0.6);*/

	/*TEMA PADRAO BARRA PRINCIPAL*/

			background: #f05f5a;
			background: -moz-linear-gradient(left, #f05f5a 0%, #f3bc65 100%); 
			background: -webkit-linear-gradient(left, #f05f5a 0%,#f3bc65 100%); 
			background: linear-gradient(to right, #f05f5a 0%,#f3bc65 100%); 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05f5a', endColorstr='#f3bc65',GradientType=1 ); 

			/*
			background: #F05F5A!important;
			background: -moz-linear-gradient(left, #F05F5A 0%, #DD5292 100%)!important; 
			background: -webkit-linear-gradient(left, #F05F5A 0%,#DD5292 100%)!important; 
			background: linear-gradient(to right, #F05F5A 0%,#DD5292 100%)!important; 
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F05F5A', endColorstr='#DD5292',GradientType=1 );
			*/
		}

	}

/* Definições padrões =====================================  */

body {
	position: relative;
}

.centerclass {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	display: table;
}

/* fim - Definições padrões =====================================  */

/* Header =====================================  */
.educ_header {width: 100%; min-height: 55px;}

		.educ_header .topo {

/*Tema padrão da barra principal*/

			/*background: #f05f5a!important; 
			background: -moz-linear-gradient(left, #f05f5a 0%, #f3bc65 100%)!important; 
			background: -webkit-linear-gradient(left, #f05f5a 0%,#f3bc65 100%)!important; 
			background: linear-gradient(to right, #f05f5a 0%,#f3bc65 100%)!important;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f05f5a'!important, endColorstr='#f3bc65'!important,GradientType=1 !important); */

			box-shadow: 0 0 4px #0000008a;
			width: 100%;
			height: 55px;
			z-index: 1000;
			padding: 0;
			border: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: 	all 0.2s ease-in-out;
			transition: 		all 0.2s ease-in-out;

		}

		

		body.tour-on .educ_header.fixar .topo {
			position: relative !important;
		}

		.educ_header .topo > nav {
			padding: 0 10px;
		}

		.educ_header .topo > nav h1 {
			width: 45px;
			height: 45px;
			float: left;
			margin: 5px;
			margin-left: 0;
		}

			.educ_header .topo > nav h1 a {
				float: left;
			}

		/*Principal (esquerda)*/

			.educ_header .topo > nav > ul {
				height: 45px;
				margin: 5px 0;
				margin-right: 0;
				padding: 0;
				list-style: none;
				font-size: 12px;
				position: relative;
				z-index: 76;
				float: left;
			}

				.educ_header .topo > nav > ul > li {
					float: left;
					height: 45px;
					line-height: 45px;
					position: relative;
				}

					/*Caso menu esteja desabilitado*/
					/*.educ_header .topo > nav > ul > li.desativado {}*/
					.educ_header .topo > nav > ul > li.desativado a:before, .educ_header .topo > nav > ul > li.desativado a span {
					    color: #fff;
					    opacity: 0.3;
					}

					.educ_header .topo > nav > ul > li.desativado > a {
						cursor: default;
						color: #b4b4b4;
					}

					.educ_header .topo > nav > ul > li.desativado:hover > a.link_menu {
						background-color: transparent;
						color: #fff!important;
					}

					.educ_header .topo > nav > ul > li.desativado:hover > a.link_menu:after,
					.educ_header .topo > nav > ul > li.desativado > a.link_menu:after {
						color: #c7c7c7;
					}

					.educ_header .topo nav ul.menu_principal li.desativado ul.submenu {
						background-color: #fff;
					}

					.educ_header .topo nav ul.menu_principal li.desativado ul.submenu:before {
						border-bottom-color: #fff;
					}

				.educ_header .topo > nav > ul > li > a {
					color: #fff;
					padding: 0 6px;
					display: inline-block;
				    text-decoration: none;
				    text-transform: uppercase;
				}

					.educ_header .topo > nav > ul > li:hover > a.link_menu {
						color: #fff !important;
						background-color: transparent;
					}

					.educ_header.fixar .topo > nav > ul > li:hover > a.link_menu {
						background-color: transparent;
					}

					.educ_header .topo > nav > ul > li > a:active {
						color: #FAD46B;
						outline: none !important;
					}

				.educ_header .topo > nav > ul > li > a.link_menu:after {
					font-family: "fontello";
					/*content: '\e8bf';*/
					color: #fff!important;
					margin-left: 4px;
				}

				.educ_header .topo > nav > ul > li.sem_sub > a.link_menu:after {
					display: none;
				}
				
				.educ_header .topo > nav > ul > li {
					z-index: 9;
				}

				.educ_header .topo > nav > ul > li.menu_spe > a.link_menu:before{ 
				    content:'';  
				    width: 40px;
				    height: 27px;
				    margin: 7px 0px 13px 5px;
				    float:right;
				    background-image: url(/AVA/StaticContent/Common/img/geral/ico_on.svg);
				    background-repeat: no-repeat;
				}
				.menu_spe a.link_menu:after{ 
					display:none;
				}
				
				.educ_header .topo > nav > ul > li.menu_pense > a.link_menu:before{ 
				    content:'';  
				    width: 25px;
				    height: 25px;
				    margin: 7px 0px 13px 5px;
				    float:right;
				    background-image: url(/AVA/StaticContent/Common/img/geral/ico_pense.svg);
				    background-repeat: no-repeat;
				}
				.menu_pense a.link_menu:after{ 
					display:none;
				}

				.educ_header .topo > nav > ul > li.menu_smart > a.link_menu:before{ 
				    content:'';  
				    width: 25px;
				    height: 25px;
				    margin: 7px 0px 13px 5px;
				    float:right;
				    background-image: url(/AVA/StaticContent/Common/img/geral/ico_aprimora.svg);
				    background-repeat: no-repeat;
				}
				.menu_smart a.link_menu:after{ 
					display:none;
				}

				.educ_header .topo > nav > ul > li.menu_central > a.link_menu:before{ 
				    content:'';  
				    width: 25px;
				    height: 25px;
				    margin: 7px 0px 13px 5px;
				    float:right;
				    background-image: url(/AVA/StaticContent/Common/img/geral/ico_aprimora.svg);
				    background-repeat: no-repeat;
				}
				.menu_central a.link_menu:after{ 
					display:none;
				}

		/*Secundário (direita)*/

			.educ_header nav > ul.menu_secundario {
				z-index: 76;
				float: right;
			}
				
				.educ_header nav > ul.menu_secundario > li.notificacao > a {
					padding: 0 15px 0 0;
				}

				.educ_header nav > ul.menu_secundario > li.notificacao > a:before {
					font-family: "fontello";
					content: '\e864';
	    			font-size: 1.5em;
				}

				.educ_header nav > ul.menu_secundario > li > a:hover {
					color: #EB6C00;
				}

				.educ_header nav > ul.menu_secundario > li.notificacao > a:hover {
					color: #444;
					background-color: transparent;
				}

					.educ_header nav > ul.menu_secundario > li.notificacao > a span.quantidade {
						background: #db4937;
						border-radius: 20px;
						color: #fff;
						display: inline-block;
						font-size: 0.71em;
						line-height: 17px;
						padding: 0 6px;
						position: absolute;
						right: 5px;
						top: 5px;
						z-index: 2;
					}

				.educ_header nav > ul.menu_secundario > li.usuario > a img {
					margin-right: 8px;
					margin-top: 8px;
					float: left;
					    border-radius: 50px;
				}

				.educ_header nav > ul.menu_secundario > li.usuario > a span.nome {
					float: right;
					max-width: 70px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

/*AREA DE ICONES MENU PRIMARIO*/
a#ava_acessorapido {width: auto;display: -webkit-inline-box;}
a#ava_acessorapido:before {background: url(/AVA/StaticContent/Common/img/geral/ico_newhome.svg) no-repeat;content: '';width: 20px;height: 20px;display: inline-block;vertical-align: middle;margin-right: 8px;}
a#ava_acessorapido:hover:before {background: url(/AVA/StaticContent/Common/img/geral/ico_newhome_hv.svg) no-repeat;}
a#item_atv{width: auto;display: -webkit-inline-box;}
a#item_atv:before {background: url(/AVA/StaticContent/Common/img/geral/ico_new_atividade.svg) no-repeat;content: '';width: 20px;height: 20px;display: inline-block;vertical-align: middle;margin-right: 8px;}
a#item_atv:hover:before {background: url(/AVA/StaticContent/Common/img/geral/ico_new_atividade_hv.svg) no-repeat;}
a#item_bbl{width: auto;display: -webkit-inline-box;}
a#item_bbl:before {background: url(/AVA/StaticContent/Common/img/geral/ico_new_biblioteca.svg) no-repeat;content: '';width: 20px;height: 20px;display: inline-block;vertical-align: middle;margin-right: 8px;}
a#item_bbl:hover:before {background: url(/AVA/StaticContent/Common/img/geral/ico_new_biblioteca_hv.svg) no-repeat;}
a#item_pjts{width: auto;display: -webkit-inline-box;}
a#item_pjts:before {background: url(/AVA/StaticContent/Common/img/geral/ico_new_projetos.svg) no-repeat;content: '';width: 20px;height: 20px;display: inline-block;vertical-align: middle;margin-right: 8px;    margin-top: -6px;}
a#item_pjts:hover:before {background: url(/AVA/StaticContent/Common/img/geral/ico_new_projetos_hv.svg) no-repeat;}

a#item_caminhos{width: auto;display: -webkit-inline-box;}
a#item_caminhos:before {background: url(/AVA/StaticContent/Common/img/geral/ico_caminhos.png) no-repeat;content: '';width: 20px;height: 20px;display: inline-block;vertical-align: middle;margin-right: 8px;    margin-top: -6px;}
a#item_caminhos:hover:before {background: url(/AVA/StaticContent/Common/img/geral/ico_caminhos_hover.png) no-repeat;}

a#item_tarefas{width: auto;display: -webkit-inline-box;}
a#item_tarefas:before {background: url(/AVA/StaticContent/Common/img/geral/ico_tarefas.png) no-repeat;content: '';width: 20px;height: 20px;display: inline-block;vertical-align: middle;margin-right: 8px;    margin-top: -6px;}
a#item_tarefas:hover:before {background: url(/AVA/StaticContent/Common/img/geral/ico_tarefas_hover.png) no-repeat;}

a#item_agendaEdu{width: auto;display: -webkit-inline-box;}
a#item_agendaEdu:before {background: url(/AVA/StaticContent/Common/img/geral/ico_agendaedu.png) no-repeat;content: '';width: 24px;height: 27px;display: inline-block;vertical-align: middle;margin-right: 8px;    margin-top: -6px;}
a#item_agendaEdu:hover:before {background: url(/AVA/StaticContent/Common/img/geral/ico_agenda_hover.png) no-repeat;}

li.dividir_icons {border-left: 2px solid #ffffff5c;padding-right: 10px;margin-left: 20px;}
li.dividir_icons2 {border-right: 2px solid #ffffff5c;padding-right: 10px;}

/* fim - Header ===================================== */
	
	/* Notificações ===================================== */
		.educ_header nav > ul.menu_secundario > li.notificacao .drop_notif {
			right:-40px;
			top: 46px;
			width: 295px;
			background-color:#364347!important;
			position: absolute;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
			z-index: 10;
		}

		.educ_header nav ul.menu_secundario > li.notificacao .drop_notif:before {
			content: " ";
			position: absolute;
			top: -10px;
			right: 53px;
			border-bottom: 10px solid #364347!important;
			border-right: 10px solid transparent;
			border-left: 10px solid transparent;
			z-index: 2;
		}

		.educ_header nav ul.menu_secundario > li.notificacao .drop_notif:after {
			content: " ";
			position: absolute;
			top: -11px;
			right: 53px;
			border-bottom: 10px solid rgba(0,0,0,0.1);
			border-right: 10px solid transparent;
			border-left: 10px solid transparent;
			z-index: 1;
		}

		.educ_header nav ul.menu_secundario > li.notificacao .drop_notif li {
			padding: 0;
			margin: 0;
			width: auto;
			float: none;    
			min-height: 50px;
            border-bottom: 1px solid #ffffff29;
			border-radius: 0px !important;
			-moz-border-radius: 0px !important;
			list-style: none;
		}

		.educ_header nav ul.menu_secundario > li.notificacao .drop_notif li a {
			padding: 10px;
			display: block;
			white-space: normal;
			max-width: none;
			background: #374347!important;
		}.educ_header nav ul.menu_secundario > li.notificacao .drop_notif li a:hover{background:#11151b!important;}

		.educ_header nav ul.menu_secundario > li.notificacao .drop_notif li a img {
			width: 30px;
			height: 30px;
			float: left;
			margin-right: 10px;
		}
		.educ_header nav ul.menu_secundario > li.notificacao .drop_notif li a .embrulho {
			line-height: normal;
			text-transform: none;
			display: table-cell;
			padding: 0;
			font-size: 13px;
		}

		.educ_header nav ul.menu_secundario > li.notificacao .drop_notif li a span {
			font-weight: 500;
			
		}

		.educ_header nav ul.menu_secundario > li.notificacao .drop_notif li a span.discreto p {
			margin: 10px 0 0;
			font-size: 11px;
		}

		.educ_header nav ul.menu_secundario > li .drop_notif li a.notif_lida {
			background: #374347 !important;
		}

		.educ_header nav ul.menu_secundario > li.notificacao .drop_notif li.notif_todas {
			background: #374347;
			text-align: center;
			line-height: normal;
		}

		.educ_header nav ul.menu_secundario > li.notificacao .drop_notif li.notif_todas a {
			color: #444;
			font-size: 13px;
		}

		.educ_header nav ul.menu_secundario > li.notificacao .drop_notif li.notif_todas a:hover {
			background-color: #FFF9EE;
			color: #EB6C00 !important;
		}

		.educ_header nav ul.menu_secundario > li.notificacao .drop_notif .seta_up {display: none;}

	/* fim - Notificações ===================================== */

	/* SubMenu ===================================== */

		.educ_header .topo nav ul.menu_principal li ul.submenu {
			background-color: #364347!important;
			padding: 5px 0;
			position: absolute;
			left: 0;
			top: 46px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
			z-index: 10;
		}#ava_barratopo ul.submenu li a:hover{ color: #fad469!important;background: transparent;}

			.educ_header .topo nav ul.menu_principal li ul.submenu:before {
				content: " ";
				position: absolute;
				top: -10px;
				border-bottom: 10px solid #364347!important;
				border-right: 10px solid transparent;
				border-left: 10px solid transparent;
				z-index: 2;
			}

			.educ_header .topo nav ul.menu_principal li ul.submenu:after {
				content: " ";
				position: absolute;
				top: -11px;
				border-bottom: 10px solid rgba(0,0,0,0.1);
				border-right: 10px solid transparent;
				border-left: 10px solid transparent;
				z-index: 1;
			}

			.educ_header .topo nav ul.menu_principal li.menu_atividades ul.submenu:after,
			.educ_header .topo nav ul.menu_principal li.menu_atividades ul.submenu:before {left: 11px;}

			.educ_header .topo nav ul.menu_principal li.menu_biblioteca ul.submenu:after,
			.educ_header .topo nav ul.menu_principal li.menu_biblioteca ul.submenu:before {left: 11px;}

			.educ_header .topo nav ul.menu_principal li.menu_projetos ul.submenu:after,
			.educ_header .topo nav ul.menu_principal li.menu_projetos ul.submenu:before {left: 11px;}

			.educ_header .topo nav ul.menu_principal li.menu_spe ul.submenu:after,
			.educ_header .topo nav ul.menu_principal li.menu_spe ul.submenu:before {left: 11px;}

			.educ_header .topo nav ul.menu_principal li.menu_pense ul.submenu:after,
			.educ_header .topo nav ul.menu_principal li.menu_pense ul.submenu:before {left: 11px;}

			.educ_header .topo nav ul.menu_principal li.menu_smart ul.submenu:after,
			.educ_header .topo nav ul.menu_principal li.menu_smart ul.submenu:before {left: 11px;}

			.educ_header .topo nav ul.menu_principal li.menu_central ul.submenu:after,
			.educ_header .topo nav ul.menu_principal li.menu_central ul.submenu:before {left: 11px;}

			.educ_header .topo nav ul.menu_principal li.menu_livro ul.submenu:after,
			.educ_header .topo nav ul.menu_principal li.menu_livro ul.submenu:before {left: 11px;}

		.educ_header .topo nav ul.menu_principal li ul.submenu li {
			padding: 0;
			float: left;
			background-color: transparent;
			background-image: none;
			line-height: normal;
			width: 100%;
			/*border-bottom: 1px solid #E4E8E9;*/
		}

		/*BUSCA RÁPIDA*/
		.educ_header .topo nav ul.menu_principal li ul.submenu li input.busca_rapida {
			margin: 10px 15px;
   			padding: 5px;
		    width: 180px;
		    font-size: 12px;
		    color: #444;
		    font-weight: 500;
		    text-transform: uppercase;
		    border: 1px solid #CED3D6;
		    float: left;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		}

		.educ_header .topo nav ul.menu_principal li ul.submenu li input.busca_rapida:focus {
			border: 1px solid #DDD;
			outline: none;
		}

		.educ_header .topo nav ul.menu_principal li ul.submenu li:last-child {
			border: 0;
		}

		.educ_header .topo nav ul.menu_principal li ul.submenu li a {
			text-transform: none !important;
			width: 100%;
			padding: 10px 15px;
			white-space: nowrap;
			line-height: initial;
			font-size: 14px;
			font-weight: 300;
			color: #444;
			float: left;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		
		.educ_header .topo nav ul.menu_principal li ul.submenu li.fim_resultados a,
		.educ_header .topo nav ul.menu_principal li ul.submenu li.sem_resultado a {
			line-height: 20px !important;
    		padding: 10px 15px;
		}

		.educ_header .topo nav ul.menu_principal li ul.submenu .ava_resultados li a {
			white-space: normal;
		}
		
		.educ_header .topo nav ul.menu_principal li ul.submenu li a:hover {
			color: #444;
			background-color: #FFF3E0;
		}

		.educ_header .topo nav ul.menu_principal li ul.submenu li a:after {
			display: none;
		}

		.educ_header .topo nav ul.menu_principal li ul.submenu li a > span {
			margin-right: 8px;
			width: 20px;
			height: 20px;
			display: inline-block;
			vertical-align: middle;
		}

		.menu_atividades .todos_icon:before {
			font-family: "fontello";
			content: "\E802";
			width: 20px;
			line-height: 20px;
			float: left;
			text-align: center;
			color: #444;
			background-color: #FFF;
		}

		.menu_atividades .tarefas_icon 		{background-image: url(/AVA/StaticContent/Common/img/geral/ico_tarefas.png);}
		.menu_atividades .caminhos_icon 	{background-image: url(/AVA/StaticContent/Common/img/geral/ico_caminhos.png);}
		.menu_atividades .avaliacoes_icon 	{background-image: url(/AVA/StaticContent/Common/img/geral/ico_avaliacoes.png);}

		.menu_projetos .inicial_icon:before {
			font-family: "fontello";
			content: "\E834";
			width: 20px;
			line-height: 20px;
			float: left;
			text-align: center;
			color: #444;
			background-color: #FFF;
		}

		.menu_projetos .clubes_icon 	{background-image: url(/AVA/StaticContent/Common/img/geral/ico_cp_clubes.png);}
		.menu_projetos .concursos_icon 	{background-image: url(/AVA/StaticContent/Common/img/geral/ico_cp_concursos.png);}
		.menu_projetos .mostras_icon 	{background-image: url(/AVA/StaticContent/Common/img/geral/ico_cp_mostras.png);}
		.menu_projetos .oficina_icon 	{background-image: url(/AVA/StaticContent/Common/img/geral/ico_cp_oficinas.png);}
		.menu_projetos .projetos_icon 	{background-image: url(/AVA/StaticContent/Common/img/geral/ico_cp_projetos.png);}

	/* fim - SubMenu ===================================== */

	/* Main menu AVA =====================================*/
		#main_ava {
			position: absolute;
			left: 0;
			top: 50px;
			line-height: normal;
			z-index: 99999;
		}

			#main_ava:before {
				content: " ";
				position: absolute;
				top: -10px;
				left: 11px;
				border-bottom: 10px solid #374347;
				border-right: 10px solid transparent;
				border-left: 10px solid transparent;
				z-index: 2;
			}

			#main_ava:after {
				content: " ";
				position: absolute;
				top: -10px;
				left: 11px;
				border-bottom: 10px solid #364347;
				border-right: 10px solid transparent;
				border-left: 10px solid transparent;
				z-index: 1;
			}

		#main_ava .menu_geral {
			overflow: hidden;
			position: relative;
			/*min-height: 380px;*/
			display: inline-flex;
			width: 50%!important;
			/*min-width: 430px;*/
			min-width: 390px;
			background-color: #364347!important;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
		}

		#main_ava.modular .menu_geral {
			min-width: 200px;
		}

		#main_ava.modular .menu_geral .menu_adc {
			display: none;
		}

		#main_ava .menu_geral .menu_cascata {
			float: left;
			width: 200px;
			height: 100%;
			overflow: hidden;
			-moz-transition:	width 0.2s ease-out;
			-o-transition: 		width 0.2s ease-out;
			-webkit-transition: width 0.2s ease-out;
			transition: 		width 0.2s ease-out;
			/*
			-webkit-transition-delay: 1s;
			-moz-transition-delay: 1s;
			transition-delay: 1s;*/
		}

		#main_ava .menu_geral .menu_cascata.expandir {
			width: 400px;
			overflow: initial;
		}

		#main_ava .menu_geral .menu_cascata > ul {
			width: 200px;
			height: 100%;
			padding: 15px 0;
			float: left;
			background-color: #364347!important;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			position: relative;
			z-index: 2;
		}

		#main_ava .menu_geral .menu_cascata > ul > li {
			line-height: 28px;
			float: left;
			width: 100%;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > a {
			width: 100%;
			float: left;
			font-size: 12px;
			font-weight: 400px;
			padding: 0 15px;
			margin: 0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			text-transform: uppercase;
			position: relative;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > a:hover {
			color: #f4bb64!important;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > a:before,
		#main_ava .menu_geral .menu_cascata > ul > li > a:after {
			font-family: "fontello";
		}

		#main_ava .menu_geral .menu_cascata > ul > li.hvr_nav > a:after {
			position: absolute;
			right: 20px;
			content: "\E8BB";
		}

		#main_ava .menu_geral .menu_cascata > ul > li.hvr_nav:after {
			content: " ";
			position: absolute;
			margin: 4px 0;
			left: 190px;
			border: 10px solid transparent;
			border-left-color: #FFF3E0;
			z-index: 3;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: 	all 0.2s ease-in-out;
			transition: 		all 0.2s ease-in-out;
		}

		#main_ava .menu_geral .menu_cascata > ul > li.hvr_nav:hover:after {
			left: 200px;
		}

		#main_ava .menu_geral .menu_cascata > ul > hr {
			background-color: rgba(0,0,0,0.1);
			height: 1px;
			border: 0;
			float: left;
			width: 100%;
			margin: 10px 0;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > a:before {
			width: 20px;
			font-size: 16px;
			margin-right: 5px;
			float: left;
			text-align: center;
		}

	
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_perfil > a:before		{/*content: "\E9FF";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_perfil.svg) no-repeat;width: 20px;height: 20px;margin-top: 3px;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_perfil > a:hover:before	{/*content: "\E9FF";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_perfil-hv.svg) no-repeat;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_escola > a:before 		{/*content: "\E810";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_escola.svg) no-repeat;width: 19px;height: 19px;margin-top: 5px;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_escola > a:hover:before {/*content: "\E810";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_escola-hv.svg) no-repeat;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_grupos > a:before 		{/*content: "\E9CA";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_grupo.svg) no-repeat;width: 20px;height: 20px;margin-top: 3px;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_grupos > a:hover:before {/*content: "\E9CA";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_grupo-hv.svg) no-repeat;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_filhos > a:before 		{content: "\E818";}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_blog > a:before 		{/*content: "\EA15";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_blog.svg) no-repeat;width: 19px;height: 19px;margin-top: 5px;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_blog > a:hover:before 	{/*content: "\EA15";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_blog-hv.svg) no-repeat;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_portfolio > a:before 	{/*content: "\E8A0";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_portfolio.svg) no-repeat;width: 20px;height: 20px;margin-top: 3px;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_portfolio > a:hover:before 	{/*content: "\E8A0";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_portfolio-hv.svg) no-repeat;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_turma > a:before 		{/*content: "\E9CA";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_turma.svg) no-repeat;width: 23px;height: 23px;margin-top: 7px;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_turma > a:hover:before 	{/*content: "\E9CA";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_turma-hv.svg) no-repeat;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_professores > a:before	{content: "\E974";}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_secretaria > a:before 	{/*content: "\EA16";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_secretaria.svg) no-repeat;width: 19px;height: 19px;margin-top: 7px;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_secretaria > a:hover:before {/*content: "\EA16";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_secretaria-hv.svg) no-repeat;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_admin > a:before 		{content: "\EA16";}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_links > a:before 		{content: "\E842";}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_webmail > a:before 		{/*content: "\E80C";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_email.svg) no-repeat;width: 18px;height: 18px;margin-top: 7px;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_webmail > a:hover:before 	{/*content: "\E80C";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_email-hv.svg) no-repeat;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_home > a:before 		{/*content: "\E8D2";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_home.svg) no-repeat;width: 20px;height: 20px;margin-top: 3px;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_home > a:hover:before 		{/*content: "\E8D2";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_home-hv.svg) no-repeat;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_central > a:before 		{/*content: "\E9DD";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_suporte.svg) no-repeat;width: 20px;height: 20px;margin-top: 3px;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_central > a:hover:before 	{/*content: "\E9DD";*/content: "";background: url(/ava/staticContent/common/img/icon/iconsava/ico_suporte-hv.svg) no-repeat;}
		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_procurar > a:before 	{content: "\E80A";}

		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_escola a:before {
			border: 2px solid #444;
			width: 16px;
			height: 12px;
			border-radius: 2px;
			font-size: 9px;
			line-height: 12px;
			margin-top: 6px;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: 	all 0.2s ease-in-out;
			transition: 		all 0.2s ease-in-out;
		}

		#main_ava .menu_geral .menu_cascata > ul > li.menu_item_escola a:hover:before {
			border-color: #EB6C00;
			color: #EB6C00;
		}
	
/*NOVOS ICONES MENU GERAL AVA SVG*/



/*li.menu_item_perfil a svg path:hover {
    fill: #f4bb64;
}*/





		/*Sublista*/
		#main_ava .menu_geral .menu_cascata > ul > li.hvr_nav > ul.subnav {
			width: 200px;
			height: 100%;
			display: none;
			position: absolute;
			top: 0;
			left: 200px;
			z-index: 1;
			background-color: #FFF;
			border-right: 1px solid #E4E8E9;
			padding: 5px 5px 5px 0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: 	all 0.3s ease-in-out;
			transition: 		all 0.3s ease-in-out;
		}

		/*#main_ava .menu_geral .menu_cascata > ul > li.hvr_nav.ativo:hover > ul.subnav {
			display: block;
		}*/

		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > .mask {
			width: 100%;
			height: 100%;
			overflow: hidden;
			overflow-y: auto;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > .mask > li,
		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > li {
			width: 100%;
			float: left;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > .mask > li > h4,
		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > li > h4 {
			float: left;
			width: 100%;
			padding: 10px 15px 5px;
			margin: 0;
			font-size: 13px;
			font-weight: 300;
			color: #444;
			line-height: normal;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > .mask > li > a,
		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > li > a {
			float: left;
			width: 100%;
			padding: 5px 15px 5px 15px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			border-left: 2px solid #FFF;
			font-size: 13px;
			line-height: normal;
			color: #EB6C00;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > .mask > li > ul > li > a,
		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > li > ul > li > a {
			padding: 5px 15px 5px 25px;
			float: left;
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			border-left: 2px solid #FFF;
			font-size: 13px;
			line-height: normal;
			color: #EB6C00 !important ;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > .mask > li > a:hover,
		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > .mask > li > ul > li > a:hover,
		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > li > a:hover
		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > li > ul > li > a:hover {
			border-left: 2px solid #E55100;
			color: #E55100;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > .mask > li > .filho_item {
			width: 100%;
			padding: 0 15px 0 20px;
			margin-top: 15px;
			font-size: 13px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > .mask > li > .filho_item img {
			width: 30px;
			height: 30px;
			float: left;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > .mask > li > .filho_item h5 {
			width: auto;
			line-height: 30px;
			padding-left: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: 14px;
			font-weight: 300;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > .mask > li > .filho_item a {
			color: #EB6C00 !important;
			font-size: 13px;
			font-weight: 300;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: 	all 0.2s ease-in-out;
			transition: 		all 0.2s ease-in-out;
		}

		#main_ava .menu_geral .menu_cascata > ul > li > ul.subnav > .mask > li > .filho_item a:hover {
			color: #444;
		}

		#main_ava .menu_geral .menu_adc {
			float: right;
			width: 230px;
			height: 100%;
			position: relative;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		#main_ava .menu_geral .menu_adc ul h4{
			color: #fff;
		}

		#main_ava .menu_geral .menu_adc input.busca_secoes {
			margin: 15px 15px 0;
			padding: 5px;
			width: 200px;
			font-size: 12px;
			color: #444;
			font-weight: 500;
			text-transform: uppercase;
			border: 1px solid #CED3D6;
			float: left;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		#main_ava .menu_geral .menu_adc input.busca_secoes {
			border: 1px solid #DDD;
			outline: none;
		}

		#main_ava .menu_geral .menu_adc .ava_resultados,
		.menu_principal .submenu .ava_resultados {
			width: 84.5% !important;
			position: absolute;
			top: 41px;
			left: 15px;
			background-color: #FFF;
			-webkit-border-radius: 0 0 3px 3px;
			-moz-border-radius: 0 0 3px 3px;
			border-radius: 0 0 3px 3px;
			-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
		}

		.menu_principal .submenu .ava_resultados {
			width: 180px;
		}

		#main_ava .menu_geral .menu_adc .ava_resultados > ul > li,
		.menu_principal .submenu .ava_resultados > ul > li {
			border-bottom: 1px solid #E4E8E9;
			float: left;
			width: 100%;
			list-style: none;
		}

		#main_ava .menu_geral .menu_adc .ava_resultados > ul > li > a,
		.menu_principal .submenu .ava_resultados > ul > li > a {
			font-size: 13px;
			font-weight: 300;
			padding: 10px;
			width: 100%;
			float: left;
			word-wrap: break-word;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			color: black !important;
		}

		#main_ava .menu_geral .menu_adc .ava_resultados > ul > li.fim_resultados,
		.menu_principal .submenu .ava_resultados > ul > li.fim_resultados {
			background-color: #EEE !important;
		}

		#main_ava .menu_geral .menu_adc .ava_resultados > ul > li > a:hover,
		.menu_principal .submenu .ava_resultados > ul > li > a:hover {
			color: #EB6C00 !important;
		}

		#main_ava .menu_geral .menu_adc .ava_resultados > ul > li:first-child > a,
		.menu_principal .submenu .ava_resultados > ul > li:first-child > a {
			font-weight: 500;
		}

		#main_ava .menu_geral .menu_adc a.link_secoes {
			margin: 10px 0 0;
			padding: 0 15px 0 13px;
			border-left: 2px solid #FFF;
			width: 100%;
			float: left;
			font-size: 14px;
			color: #f4bb64!important;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		#main_ava .menu_geral .menu_adc a.link_secoes:hover {
			border-left: 2px solid #f4bb64!important;
		}

		#main_ava .menu_geral .menu_adc > ul.lista_destaques {
			float: left;
			margin: 15px 0;
			padding: 0;
			width: 100%;
		}

		#main_ava .menu_geral .menu_adc > ul.lista_destaques h4 {
			margin: 0 15px 5px;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
		}

		#main_ava .menu_geral .menu_adc > ul.lista_destaques > li {
			width: 100%;
		}
		
		#main_ava .menu_geral .menu_adc > ul.lista_destaques > li > a {
			font-size: 14px;
			padding: 5px 15px 5px 23px;
			border-left: 2px solid #FFF;
			width: 100%;
			float: left;
			font-size: 14px;
			font-weight: 300;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		#main_ava .menu_geral .menu_adc > ul.lista_destaques > li > a:hover {
			color: #f4bb64!important;
			border-left: 2px solid #f4bb64;
		}

/* Footer ===================================== */
	
	.educ_footer {
		height: 200px;
		width: 100%;
		font-family: 'Roboto', sans-serif !important;
		font-size: 14px;
		/*margin-left: 10px;*/
		    clear: both;
	}
	.footer_content.ft_mural {
	    padding: 0px 10px!important;
	}
		.educ_footer .footer_content {
			text-align: center;
			font-size: 1em;
			padding: 10px 0;
			color: #6d7a8c;
		}

		.educ_footer .footer_content hr {
			margin: 0 0 20px;
			border: 0;
			height: 2px;
			background-color: #ccc;
		}

		.assinatura {
			/*width: 170px;
		    height: 40px;
			background: url(/AVA/StaticContent/Common/img/geral/logo_Educacional.png) no-repeat center;
		    margin: 0 auto 10px;*/
		    width: 120px;
		    height: 40px;
		    background: url(/AVA/StaticContent/Common/img/geral/logoEducBlack.svg) no-repeat center;
		    background-size: 90%;
		    padding-top: 2px;
		    margin: 0 auto;
		    opacity: 0.7;
		}

		.educ_footer .footer_content p {
			color: #6d7a8c;
			margin: 3px;
		}

		.educ_footer .footer_content a {
			color: #6d7a8c !important;
		}

		.educ_footer .footer_content a:hover {
			color: #F37B54 !important;
		}
		#ava_resultados2{
			white-space: normal;
}


.ava_resultados2 li a {
			white-space: normal;
			color: black;
		}

.ava_resultados2 {
			width: 84.5% !important;
			position: absolute;
			top: 41px;
			left: 15px;
			background-color: #FFF;
			-webkit-border-radius: 0 0 3px 3px;
			-moz-border-radius: 0 0 3px 3px;
			border-radius: 0 0 3px 3px;
			-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
		}
.ava_resultados2 {
			width: 180px;
		}
#main_ava .menu_geral .menu_adc .ava_resultados2 > ul > li,
		.menu_principal .submenu .ava_resultados2 > ul > li {
			border-bottom: 1px solid #E4E8E9;
			float: left;
			width: 100%;
			list-style: none;
		}

		#main_ava .menu_geral .menu_adc .ava_resultados2 > ul > li > a,
		.menu_principal .submenu .ava_resultados2 > ul > li > a {
			font-size: 13px;
			font-weight: 300;
			padding: 10px;
			width: 100%;
			float: left;
			word-wrap: break-word;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			color: black !important;
		}


		#main_ava .menu_geral .menu_adc .ava_resultados2 > ul > li > a:hover,
		.menu_principal .submenu .ava_resultados2 > ul > li > a:hover {
			color: #EB6C00 !important;
		}


		#main_ava .menu_geral .menu_adc .ava_resultados2 > ul > li:first-child > a,
		.menu_principal .submenu .ava_resultados2 > ul > li:first-child > a {
			font-weight: 500;
		}

/* fim - Footer ===================================== */

/*BUTTONS DA INTERFACE GERAL*/
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default, .btn-default.focus, .btn-default:focus {
    color: #fff!important;
     background-color: #F17B52!important; 
    border-color: none!important;
}

/* Media Query's ===================================== */
	@media only screen and (max-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
.menu_principal li.tooltip{display: none!important;}
	li.dividir_icons, .menu_pense, .menu_smart, .menu_central, .menu_on, li.ava_lip.menu_spe, .dividir_icons2 {display: none!important;}

	li.dividir_icons, li.dividir_icons2{display: none;}

}

@media (device-height : 568px) 
   and (device-width : 320px) 
   and (-webkit-min-device-pixel-ratio: 2)
{
	/*Apenas para telas do iphone 5/SE [ID = #169092545]*/
	.menu_ativo { display: none !important; }
	#item_tarefas { display: none !important; }
}

@media only screen and ( max-width: 768px ) {
	/*section#ava_barratopo nav.centerclass ul li a span {display: none;}*/
	.educ_header .topo nav ul.menu_principal li.menu_biblioteca ul.submenu:after, .educ_header .topo nav ul.menu_principal li.menu_biblioteca ul.submenu:before{left: 8px!important;}
	.educ_header .topo nav ul.menu_principal li.menu_projetos ul.submenu:after, .educ_header .topo nav ul.menu_principal li.menu_projetos ul.submenu:before{left: 70px!important;}
	.educ_header .topo nav ul.menu_principal li.menu_atividades ul.submenu:after, .educ_header .topo nav ul.menu_principal li.menu_atividades ul.submenu:before {left: 8px!important;}
	li.menu_projetos .submenu {left: -62px!important;}
	li#iconTemaAva a.link_modal_tema{/*display: none;*/}
	.menu_ativo { display: none !important; }

}
@media only screen and ( max-width: 860px ) {

	#bg_barrass section#ava_barratopo nav.centerclass ul li a span {display: none;}
	section#ava_barratopo nav.centerclass ul li a span {display: none;}
	.menu_ativo { display: none !important; }
}
	/*Para viewport abaixo de 1024px passa para o formato de 768px*/
	@media only screen and ( max-width: 1023px ) {

		.centerclass {
			width: 760px;
			-webkit-box-sizing: border-box; 
			-moz-box-sizing:    border-box; 
			box-sizing:         border-box;
		}

		.educ_header .topo > nav > ul > li > a {
			padding: 0 6px;
		}

		.educ_header .topo nav ul.menu_principal li.menu_atividades ul.submenu:after,
		.educ_header .topo nav ul.menu_principal li.menu_atividades ul.submenu:before {left: 77px;}

		.educ_header .topo nav ul.menu_principal li.menu_biblioteca ul.submenu:after,
		.educ_header .topo nav ul.menu_principal li.menu_biblioteca ul.submenu:before {left: 84px;}

		.educ_header .topo nav ul.menu_principal li.menu_projetos ul.submenu:after,
		.educ_header .topo nav ul.menu_principal li.menu_projetos ul.submenu:before {left: 70px;}

		.educ_header .topo nav ul.menu_principal li.menu_spe ul.submenu:after,
		.educ_header .topo nav ul.menu_principal li.menu_spe ul.submenu:before {left: 13px;}

		.educ_header .topo nav ul.menu_principal li.menu_pense ul.submenu:after,
			.educ_header .topo nav ul.menu_principal li.menu_pense ul.submenu:before {left: 13px;}

		.educ_header .topo nav ul.menu_principal li.menu_smart ul.submenu:after,
			.educ_header .topo nav ul.menu_principal li.menu_smart ul.submenu:before {left: 13px;}

		.educ_header .topo nav ul.menu_principal li.menu_central ul.submenu:after,
			.educ_header .topo nav ul.menu_principal li.menu_central ul.submenu:before {left: 13px;}

		.educ_header .topo nav ul.menu_principal li.menu_livro ul.submenu:after,
		.educ_header .topo nav ul.menu_principal li.menu_livro ul.submenu:before {left: 90px;}

		.educ_header nav > ul.menu_secundario > li.usuario > a .nome {
			max-width: 50px;
		}

		.menu_ativo { display: none !important; }
/*section#ava_barratopo nav.centerclass ul li a span {
    display: none;
}*/
		/*
		.educ_header .topo nav ul.menu_principal li a:after {
			display: none;
		}

		.educ_header .topo nav ul.menu_principal > li:before {
			font-family: "fontello";
			content: '\e8bf';
			color: #888;
			width: 100%;
			text-align: center;
			position: absolute;
			bottom: -15px;
		}
		*/

/*li#iconTemaAva a.link_modal_tema {
    width: 60px;
    padding: 5px;
    margin: 7px 5px;
    height: 30px;
    background-image: url(/AVA/StaticContent/Common/img/geral/outubroRosaNew.png);
    background-size: 90%;
    background-repeat: no-repeat;
    cursor: pointer;
}*/

	}

	/*Para viewport acima de 1320px, passa a incluir barra fixa na lateral direita do browser */
	

/* fim - Media Query's ===================================== 