<div class="modal">
    <article class="modal-turmas-comite">

        <header>
            <h1>Minhas turmas no comitê <span>{{categoria.Descricao}}</span></h1>

            <a href="javascript:;" ng-click="cancel();" class="btn_fechar"></a>
        </header>

        <section class="lista">

        
        </section>

        <footer class="act-buttons">
            <div class="acoes">
                <a 
                    class="btn_acessar"
                    href="javascript:;" 
                    ng-click="cancel();"
                >
                    Fechar
                </a>
            </div>
        </footer>
    </article>        
</div>
