/* ALTERAÇÕES PARA O PROJETO */


/* HEADER */
#ava_projetos{ background: url(../imagens/bg_topo.jpg) no-repeat center top;}

.p_top {  min-height: 200px; background: url(../imagens/bg_topo.jpg) no-repeat center top;}
.proj_top #header-projeto { padding: 60px 20px 40px;}
#header-projeto.inscrito h1.logo-projeto, 
#header-projeto.participando a h1.logo-projeto,
#header-projeto a h1.logo-projeto {background-image: url(../imagens/logo.png); /*background-size: contain;*/ background-repeat: no-repeat; background-position: center; text-indent: -9999px; background-color: transparent;  width: 380px ;  height: 150px;}
#header-projeto a:hover h1.logo-projeto {background-image: url(../imagens/logo_hover.png); background-color: transparent;}
#header-projeto span.descricao-projeto {color: #fff;}

#header-projeto .entenda-video {width: 420px; height: 250px; display: inline-block; float: left; margin: 30px 260px 10px;}
#header-projeto .entenda-video iframe {border: 0; height: 250px}

#header-projeto .action-btns a {display: inline-block; background: #ec6b25; color: #fff; border: 0; font-weight: 700;}
#header-projeto .action-btns a.participacao,
#header-projeto .action-btns a.inscricoes {font-size: 25px; background: #ec6b25; border-radius: 10px; padding: 0 30px; line-height: 60px; float: none; border: 0;}
#header-projeto .action-btns a.participacao:hover { background: #f28c4f;}
#header-projeto .action-btns a:hover {background: #f28c4f;}

#header-projeto .action-btns a.entenda-o-projeto, #header-projeto .action-btns a.faq { background:#ec6b25 ;}
#header-projeto .action-btns a.entenda-o-projeto:hover {background:#1a70d3;}
#header-projeto .action-btns a.faq{ display: none !important; }
#header-projeto .action-btns a.faq:hover {background:#1a70d3;}
#header-projeto.inscrito span.descricao-projeto { width:430px;}
#header-projeto.inscrito .action-btns {width:430px;}

/* MENU */
.p_menu {background: #078e8e; border-radius: 5px 5px 0 0;}
.proj_menu { height:60px;}
.proj_menu ul > li {margin: 14px 20px 0 0;}
.proj_menu ul > li a {font-size: 18px; color: #FFF; line-height: 40px; padding: 0 13px; background: #11caca; border-radius: 5px 5px 0 0; display: inline-block;}
.proj_menu ul li:last-child {margin: 14px 20px 0 0;}
.proj_menu ul li a:before {color: #fff;}

.proj_menu ul > li a span:hover:before,
.proj_menu ul li a span:hover,
.proj_menu ul li a:hover:before,
.proj_menu ul li a:hover {color: #FFF; background:#ec6b25;}

.proj_menu ul li.ativo a,
.proj_menu ul li.ativo a:before,
.proj_menu ul li.ativo a:hover {background: #fff; color: #ec6b25;}


/*menu projetos*/
.proj_menu ul li.etapas.ativo a { background:#fff; color:transparent;  }
.proj_menu ul li.etapas.ativo a:before{ content:'Projetos'; color:#ec6b25; background:#fff; position:absolute;}

.proj_menu ul li.etapas.ativo a,
.proj_menu ul li.etapas.ativo a:before {background: #fff; color: #ec6b25;}
.proj_menu ul li.etapas.ativo a:hover {background: #fff; color: #ec6b25;}
.proj_menu ul li.etapas.ativo a:hover:before {background: #fff; color: #ec6b25;}

.proj_menu ul li.etapas a { background:#11caca; color:transparent;  }
.proj_menu ul li.etapas a:before{ content:'Projetos'; color:#fff; background:#fff; position:absolute;}

.proj_menu ul li.etapas a,
.proj_menu ul li.etapas a:before {background: #11caca; color: #fff;}
.proj_menu ul li.etapas a:hover {background: #ec6b25; color: #fff;}
.proj_menu ul li.etapas a:hover:before {background: #ec6b25; color: #fff; 
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);}
/*fim etapas projetos*/

.proj_menu ul li.pprof {position: relative;}

.proj_menu ul li ul.pprof-menu{ width: 190px; margin-left:-30px; top: 60px;}
.proj_menu ul li ul.pprof-menu li {background: none; margin:0px 20px 0 0;}
.proj_menu ul li ul.pprof-menu:before {border-bottom: 5px solid #11caca; left: 85px; top: -15px;}
.proj_menu ul li ul.pprof-menu li a {border-radius: 0;}
.proj_menu ul li ul.pprof-menu li.ativo a {border: 1px solid #ec6b25;}
.proj_menu ul li ul.pprof-menu li:nth-child(1) a {border-radius: 5px 5px 0 0;}
.proj_menu ul li ul.pprof-menu li:last-child a {border-radius: 0 0 5px 5px;}

.proj_menu ul li ul.pprof-menu li:first-child a {    
	text-indent: -250px;
    position: relative;
    overflow: hidden;
}
.proj_menu ul li ul.pprof-menu li:first-child a:before {
    content: 'Sobre o eixo';
    left: 270px;
    position: absolute;
}

/* Customização do menu de etapa/desafio */

.proj_menu ul li.mDesafio {position: relative;}

.proj_menu ul li ul.desafio-menu{ width: 250px; margin-left:-30px; top: 60px;}
.proj_menu ul li ul.desafio-menu li {background: none; margin:0px 20px 0 0;}
.proj_menu ul li ul.desafio-menu:before {border-bottom: 5px solid #11caca; left: 85px; top: -15px;}
.proj_menu ul li ul.desafio-menu li a {border-radius: 0;}
.proj_menu ul li ul.desafio-menu li.ativo a {border: 1px solid #ec6b25;}
.proj_menu ul li ul.desafio-menu li:nth-child(1) a {border-radius: 5px 5px 0 0;}
.proj_menu ul li ul.desafio-menu li:last-child a {border-radius: 0 0 5px 5px;}

.proj_menu ul li ul.desafio-menu li:first-child a {    
	text-indent: -250px;
    position: relative;
    overflow: hidden;
}
.proj_menu ul li ul.desafio-menu li:first-child a:before {
    content: 'Sobre o eixo';
    left: 270px;
    position: absolute;
}

/**/



/* BLOCOS HOME */
	#box_etapas 				{background:#fff;}
	#box_envios-tutoriais 	{background: rgba(38, 3, 70, 0.75);}
	#box_bastidores 			{background:rgba(236, 107, 37, 0.75);}
	#box_relacionados 		{background: #078e8e;}

	/*#box_etapas 			.center_content {padding: 30px 10px 170px;}
	#box_envios-tutoriais 	.center_content {padding: 30px 0 60px;}
	#box_bastidores 		.center_content {padding: 30px 10px 100px;}*/
	

/* PARTICIPANTES */
	.participantes { width: 960px; padding: 15px; margin: 0 0 30px;  border-radius: 10px; background: rgba(38, 3, 70, 0.75);}
	.participantes h2 {color: #078e8e;}
	.participantes h2 span, .participantes h2 span a {color: #078e8e;}
	.participantes h2 span a:hover {color: #11caca;}
	.participantes ul.lista-participantes {width: 925px;}
	.participantes ul.lista-participantes li {border: 2px solid #fff;}
	.participantes ul.lista-participantes li img {width: 40px; height: 40px; border-radius: 3px; margin: -2px;}
	
	.pag-participantes .mapa {width: 942px; height: 352px; border: 2px solid #fff;}
	.pag-participantes .acoes_lista a.btn_veja-mais { font-size: 16px; background: #ec6b25; border-radius: 10px; padding: 0 60px; line-height: 46px; text-transform: uppercase;font-weight: bold;}
	.pag-participantes .acoes_lista a.btn_veja-mais:hover{background:#f28c4f;}
	
	.pag-participantes .listagem-participantes ul.filtros { border-top: none; background: #fff; padding: 20px; border-radius: 12px;}	
	.pag-participantes .listagem-participantes header {color: #eef6ff;}
	.pag-participantes .listagem-participantes ul.lista li {background: #fff; border-radius: 5px;}
	.pag-participantes .listagem-participantes ul.lista li a { color:#0a56a3;}
	.pag-participantes .listagem-participantes ul.lista li a:hover { color: #78a2d2;}
	.pag-participantes .listagem-participantes ul.filtros li:last-child input[type=search] {background: #2c455b; color:#fff;}
	.pag-participantes .listagem-participantes ul.filtros li:last-child input[type=search]:focus { background: #29599d;}
	.pag-participantes .listagem-participantes ul.filtros li:last-child:before {color:#0a56a3;}
	.pag-participantes .listagem-participantes ul.filtros span.submenu-ico:before{color:#0a56a3;}
	
	.pag-participantes .listagem-participantes ul.filtros li select {color:#0a56a3; background: transparent url(../imagens/select_down_01.png) right center no-repeat; width:150px;}
	
/* AVISOS */
	.avisos  {background:#11caca; border-radius:9px; padding:10px;}
	.avisos h2 {color: #fff;}
	.avisos .user-pic {border: 2px solid #fff;}
	.avisos .user-pic img {margin: -2px;}
	.avisos .msg-box {border: 0; border-radius: 10px; padding: 15px 20px; color:#078e8e; width:865px;}
	.avisos .msg-box:before {top: 15px; left: -20px; border-top: 5px solid transparent; border-right: 10px solid #FFF; border-bottom: 5px solid transparent; border-left: 10px solid transparent;}

/* BLOCOS ETAPAS */

	.area-etapas article {background:rgba(17, 202, 202, 0.17); border-radius:8px;}
	
	.img-destaque {background-repeat: no-repeat; background-size: 300px auto !important; background-color: #dadbdf;}
	.img-destaque .label {display: none;}
	.descricao_etapas {background:none;}

	.bloco-c a .descricao_etapas h2 {font-size: 17px;}
	a .descricao_etapas .status {border-radius: 10px;text-align: center;padding: 0 10px;line-height: 60px;}
	a .descricao_etapas .status span {float: none;margin: 0px 0 0 2px;font-size: 12px !important;}
	.bloco-c a .descricao_etapas .status {font-size: 16px;}
	.descricao_etapas .status {padding: 15px;}

		/* Etapa fechada */
		.fechada .img-destaque .label {}
		.fechada a .descricao_etapas h2 {color: #ec6b25 ;}
		.fechada a .descricao_etapas .status:before {}
		.fechada a .descricao_etapas .status {background: #963227; color: #FFF;}
		.fechada a .descricao_etapas .status span:before {content: "Participação ";font-size: 12px;}
		.fechada a:hover .descricao_etapas .status {background: #be473a;}

		.fechada a .descricao_etapas .status span:before {content: "Participação ";font-size: 14px;}
		.fechada a .descricao_etapas .status span { font-size:14px;}
		
		.bloco-d.fechada a .descricao_etapas .status span,
		.bloco-d.fechada a .descricao_etapas .status span:before {font-size: 12px;}
				
		.bloco-c.fechada a .descricao_etapas .status span,
		.bloco-c.fechada a .descricao_etapas .status span:before {font-size: 14px;}
			
		
		/* Etapa aberta */
		.aberta .img-destaque .label {}
		.aberta a .descricao_etapas h2 {color: #436A35;}
		.aberta a .descricao_etapas .status:before {}
		.aberta a .descricao_etapas .status {background: #436A35;color: transparent !important;}
		.aberta a .descricao_etapas .status span:before {font-size: 14px;}
		.aberta a:hover .descricao_etapas .status {background: #598C46;}

		/* Etapa encerrada */
		.encerrada .img-destaque .label {}
		.encerrada a .descricao_etapas h2 {color: #3c7a9e ;}
		.encerrada a .descricao_etapas .status:before {content: "\E8CF";}
		.encerrada a .descricao_etapas .status {background: #3c7a9e; color: #FFF;}
		.encerrada a:hover .descricao_etapas .status {background: #4487ae;}

		/* Etapa em breve */
		.breve .img-destaque .label {}
		.breve a .descricao_etapas h2 {color: #4C5E79;}
		.breve a .descricao_etapas .status {background: #4C5E79; color: #FFF;}
		.breve a .descricao_etapas .status span:before {content: "Participação ";font-size: 14px;}
		.breve a .descricao_etapas .status span { font-size:14px;}
		
		.bloco-d.breve a .descricao_etapas .status span,
		.bloco-d.breve a .descricao_etapas .status span:before {font-size: 12px;}

	.descricao_etapas h2 {font-size: 16px; text-align: center;}
	.descricao_etapas p {color: #078e8e; text-align: center;}
	.descricao_etapas p strong {color: #FFF7A0;}

	.bloco-a .descricao_etapas h2, .bloco-a .descricao_etapas p {padding-left: 0; padding-right: 0; margin-right: 0; margin-left: 0; text-align: left;}
	.bloco-b .descricao_etapas h2, .bloco-b .descricao_etapas p {padding-left: 0; padding-right: 0; margin-right: 0; margin-left: 0; text-align: left;}
	.bloco-c .descricao_etapas h2, .bloco-c .descricao_etapas p {padding-left: 0; padding-right: 0; margin-right: 0; margin-left: 0; text-align: left;}
	.bloco-d .descricao_etapas h2, .bloco-d .descricao_etapas p {padding-left: 0; padding-right: 0; margin-right: 0; margin-left: 0; text-align: center;}

	.bloco-a .descricao_etapas h2 {font-size: 20px;}
	.bloco-b .descricao_etapas h2 {font-size: 25px; height: auto; overflow: initial; white-space: normal; text-overflow: initial;}
	.bloco-c .descricao_etapas h2 {font-size: 18px;}
	.bloco-d .descricao_etapas h2 {font-size: 16px;}

	.bloco-a .descricao_etapas p {font-size: 14px;}
	.bloco-b .descricao_etapas p {font-size: 16px;}
	.bloco-c .descricao_etapas p {font-size: 13px;}
	.bloco-d .descricao_etapas p {font-size: 14px;}

	.bloco-a .conversa {margin: 0;}

	.bloco-a {width: 940px; height: auto;}
	.bloco-b {width: 620px; height: 549px;}
	.bloco-c {width: 460px; height: 549px;}
	.bloco-d {width: 300px; height: auto; }

	.bloco-a .img-destaque { background-size: 270px auto; border: 0 none; height: 266px; margin: 0 20px 20px 0; width: 270px;}
	.bloco-b .img-destaque { width: 620px;  height: 155px;  border: 0;  border-radius: 5px 5px; margin: 0 20px 0px 0px;}
	.bloco-c .img-destaque {	width: 460px; height: 170px; border: 0; border-radius: 5px 5px; margin: 0px 20px 0 0px;}
	.bloco-d .img-destaque { width: 300px;height: 155px;  border: 0; margin: 0px 0px 20px 0px; background-size: contain;}

	.bloco-a .descricao_etapas {width: 340px; height: 250px; margin: 0 20px 0 0;}
	.bloco-b .descricao_etapas {width: 580px; height: 225px; padding: 20px 20px;}
	.bloco-c .descricao_etapas {width: 420px; height: 170px; margin: 20px 0; padding: 0 20px;}
	.bloco-d .descricao_etapas {width: 260px;height: 205px;margin: 0 20px 0 20px;}

	.conversa {background: #078e8e ; border-radius: 8px; border: 3px solid #078e8e ; position: relative;}
	.conversa:before {position: absolute; display: block; content: ' '; width: 0; height: 0; z-index: 0;}

	.conversa .nenhuma-conversa,
	.conversa .nenhuma-conversa:before,
	.conversa .nenhuma-conversa a {color: #FFF;}
	.conversa .nenhuma-conversa a:hover {color: #CCC;}

	.bloco-a .conversa .nenhuma-conversa {width: 250px; height: 204px;}
	.bloco-b .conversa .nenhuma-conversa {width: 580px; height: 104px;}
	.bloco-c .conversa .nenhuma-conversa {width: 420px; height: 124px;}
	.bloco-d .conversa .nenhuma-conversa {width: 260px; height: 104px;}

	.bloco-a .conversa {width: 290px; height: 290px;}
	.bloco-b .conversa {width: 620px; height: 150px; margin-top: 20px;}
	.bloco-c .conversa {width: 460px; height: 150px; margin-top: 20px;}
	.bloco-d .conversa {width: 300px; height: 150px; margin-top: 20px;}

	.bloco-a .conversa:before {top: 148px; left: -23px;		border-top: 10px solid transparent; border-right: 10px solid #078e8e; border-bottom: 10px solid transparent; border-left: 10px solid transparent;}
	.bloco-b .conversa:before {top: -23px; right: 300px;	border-top: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #078e8e; border-left: 10px solid transparent;}
	.bloco-c .conversa:before {top: -23px; left: 220px;		border-top: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #078e8e; border-left: 10px solid transparent;}
	.bloco-d .conversa:before {top: -23px; left: 130px;		border-top: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #078e8e; border-left: 10px solid transparent;}

	.bloco-a .conversa .ultima-conversa .texto-conversa .conteudo-post {max-height: 125px; font-size: 14px;}
	.bloco-b .conversa .ultima-conversa .texto-conversa .conteudo-post {max-height: 30px; font-size: 12px;}
	.bloco-c .conversa .ultima-conversa .texto-conversa .conteudo-post {max-height: 55px; font-size: 14px;}
	.bloco-d .conversa .ultima-conversa .texto-conversa .conteudo-post {max-height: 30px; font-size: 12px;}

	.conversa .ultima-conversa .texto-conversa a h5 {color: #FFF;}
	.conversa .ultima-conversa .texto-conversa a:hover h5 {color: #DDD;}
	.conversa .ultima-conversa .texto-conversa .meta-data {color: #11caca; !important}
	.conversa .ultima-conversa .texto-conversa .meta-assunto {color: #DDD;}
	.conversa .ultima-conversa .texto-conversa .conteudo-post {color: #FFF; overflow: hidden;}

	.conversa .ultima-conversa .ico-user img {width:30px; height: 30px;}
	
	.desafio1 .img-destaque:after {position: absolute; padding: 5px; content: 'EI EF1 EF2 e EM'; width: 100%; background: #741b94; font-size: 12px; color: #fff; bottom: -24px;  box-sizing: border-box;}
	.desafio1 .img-destaque:before {position: absolute; padding: 5px 10px; content: 'Oficina do texto'; background: #741b94 none repeat scroll 0 0; font-size: 12px; color: #fff;left: -5px; top: -5px; box-sizing: border-box;}
	
	.desafio2 .img-destaque:after {position: absolute; padding: 5px; content: 'EI EF1 EF2 e EM'; width: 100%; background: #741b94; font-size: 12px; color: #fff; bottom: -24px;  box-sizing: border-box;}
	.desafio2 .img-destaque:before {position: absolute; padding: 5px 10px; content: 'Oficina do texto'; background: #741b94 none repeat scroll 0 0; font-size: 12px; color: #fff;left: -5px; top: -5px; box-sizing: border-box;}
		
	.desafio3 .img-destaque:after {position: absolute; padding: 5px; content: 'EI EF1 EF2 e EM'; width: 100%; background: #741b94; font-size: 12px; color: #fff; bottom: -24px;  box-sizing: border-box;}
	.desafio3 .img-destaque:before {position: absolute; padding: 5px 10px; content: 'Oficina do texto'; background: #741b94 none repeat scroll 0 0; font-size: 12px; color: #fff;left: -5px; top: -5px; box-sizing: border-box;}
		
	.desafio4 .img-destaque:after {position: absolute; padding: 5px; content: 'EI EF1 EF2 e EM'; width: 100%; background: #741b94; font-size: 12px; color: #fff; bottom: -24px;  box-sizing: border-box;}
	.desafio4 .img-destaque:before {position: absolute; padding: 5px 10px; content: 'Oficina do texto'; background: #741b94 none repeat scroll 0 0; font-size: 12px; color: #fff;left: -5px; top: -5px; box-sizing: border-box;}
		
	.desafio5 .img-destaque:after {position: absolute; padding: 5px; content: 'EI EF1 EF2 e EM'; width: 100%; background: #cc922f; font-size: 12px; color: #fff; bottom: -24px;  box-sizing: border-box;}
	.desafio5 .img-destaque:before {position: absolute; padding: 5px 10px; content: 'Mostra virtual'; background: #cc922f none repeat scroll 0 0; font-size: 12px; color: #fff;left: -5px; top: -5px; box-sizing: border-box;}
	
	.desafio6 .img-destaque:after {position: absolute; padding: 5px; content: 'EI EF1 EF2 e EM'; width: 100%; background: #ac3b67; font-size: 12px; color: #fff; bottom: -24px;  box-sizing: border-box;}
	.desafio6 .img-destaque:before {position: absolute; padding: 5px 10px; content: 'Clube temmático'; background: #ac3b67 none repeat scroll 0 0; font-size: 12px; color: #fff;left: -5px; top: -5px; box-sizing: border-box;}
	
	.desafio7 .img-destaque:after {position: absolute; padding: 5px; content: 'EI EF1 EF2 e EM'; width: 100%; background: #ac3b67; font-size: 12px; color: #fff; bottom: -24px;  box-sizing: border-box;}
	.desafio7 .img-destaque:before {position: absolute; padding: 5px 10px; content: 'Clube temático'; background: #ac3b67 none repeat scroll 0 0; font-size: 12px; color: #fff;left: -5px; top: -5px; box-sizing: border-box;}
		
	.desafio8 .img-destaque:after {position: absolute; padding: 5px; content: 'EM'; width: 100%; background: #ac3b67; font-size: 12px; color: #fff; bottom: -24px; box-sizing: border-box;}
	.desafio8 .img-destaque:before {position: absolute; padding: 5px 10px; content: 'Clube temático'; background: #ac3b67 none repeat scroll 0 0; font-size: 12px; color: #fff;left: -5px; top: -5px; box-sizing: border-box;}
	
	.desafio9 .img-destaque:after {position: absolute; padding: 5px; content: 'EF2 e EM'; width: 100%; background: #cb523d; font-size: 12px; color: #fff; bottom: -24px;   box-sizing: border-box;}
	.desafio9 .img-destaque:before {position: absolute; padding: 5px 10px; content: 'Concurso'; background: #cb523d none repeat scroll 0 0; font-size: 12px; color: #fff;left: -5px; top: -5px; box-sizing: border-box;}
	
	.desafio10 .img-destaque:after {position: absolute; padding: 5px; content: 'EF2 e EM'; width: 100%; background: #6b8d02; font-size: 12px; color: #fff; bottom: -24px;  box-sizing: border-box;}
	.desafio10 .img-destaque:before {position: absolute; padding: 5px 10px; content: 'Projeto Colaborativo'; background: #6b8d02 none repeat scroll 0 0; font-size: 12px; color: #fff;left: -5px; top: -5px; box-sizing: border-box;}
	
	.desafio11 .img-destaque:after {position: absolute; padding: 5px; content: 'EM'; width: 100%; background: #cb523d; font-size: 12px; color: #fff; bottom: -24px;  box-sizing: border-box;}
	.desafio11 .img-destaque:before {position: absolute; padding: 5px 10px; content: 'Concurso'; background: #cb523d none repeat scroll 0 0; font-size: 12px; color: #fff;left: -5px; top: -5px; box-sizing: border-box;}
		
	.desafio12 .img-destaque:after {position: absolute; padding: 5px; content: 'EM'; width: 100%; background: #cb523d; font-size: 12px; color: #fff; bottom: -24px;  box-sizing: border-box;}
	.desafio12 .img-destaque:before {position: absolute; padding: 5px 10px; content: 'Concurso'; background: #cb523d none repeat scroll 0 0; font-size: 12px; color: #fff;left: -5px; top: -5px; box-sizing: border-box;}
	
		
	/* BLOCOS INTERNAS */
	#box_etapa 				{background: #fff;}
	#box_mural	 			{background: #fff;}	
	#box_minhas-turmas		{background: #fff;}
	#box_meus-envios		{background: #fff;}
	#box_pag-turma			{background: #fff;}
	#box_participantes		{background: #fff;}
	#box_post-envio			{background: #fff;}
	#box_pag-orientacoes	{background: #fff;}
	#box_etapa .center_content {padding: 30px 10px 200px;}
	#box_mural .center_content {padding: 30px 10px 150px;}
	#box_post-envio .center_content {padding: 30px 10px 150px;}
	#box_pag-orientacoes .center_content {padding: 30px 10px 150px;}
	#box_galeria-bastidores {background: #fff;}
	#box_envios				{background: #fff;}
	#box_meus-envios		{background: #fff;}
	#box_perfil-aluno		{background: #fff;}
	#box_perfil-turma		 {background: #fff;}
	
	.header-page .btn_voltar {width: 50px; height: 50px; background: #ec6b25  !important; color: #FFF !important; border: 3px solid #ec6b25 !important; margin: 6px 15px 0 0; text-align: center; line-height: 42px !important; border-radius:30px;}
	.header-page .btn_voltar:hover {background: #f28c4f !important; color:#FFF !important; border: 3px solid #f28c4f !important;}
	.header-page h1 { color:#078e8e;}
	
	/* MENU ABAS */
	#ava_projetos .menu-abas {border: 0; margin: 50px 0 0;}
	#ava_projetos .menu-abas li a { font-size:18px; color: #beadd0; background: #786b86; margin:0; border-radius: 5px 5px 0 0;}
	#ava_projetos .menu-abas li a:hover {border: 0; margin: 0;color: #d1bfe4;  background: #9b8bad;}
	#ava_projetos .menu-abas li.ativo a {font-size:18px; color: #fff; background: rgba(38, 3, 70, 0.75); margin:0; border-radius: 5px 5px 0 0; border-bottom:0;}

	/*#ava_projetos .menu-abas li.ativo a:after {position: absolute; display: block; content: ' '; width: 0; height: 0; bottom: -18px; left: 10px; border-top: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 15px solid #FFF; border-left: 10px solid transparent; z-index: 0;}*/

	#ava_projetos .menu-abas li.desativado a { display: none; color: #646c75; margin: 0; background: #bfc6cf; border-radius: 5px 5px 0 0;}
	#ava_projetos .menu-abas li.desativado a:hover { margin: 0; color: #1556a3; background: #d1e6ff;}
	nav.nav-envios .filtros {color: #fff ;}

	/*nav.nav-envios .filtros:after {font-family: Fontello; color: #FFF; content: "\EA3B"; position: absolute; right: 10px; top: 0; font-size: 18px;}*/
	nav.nav-envios .filtros select {padding: 0 30px 0 10px; border-radius: 5px; font-size: 14px; background: #11caca url(../imagens/select_down.png) right center no-repeat; color: #FFF;  text-indent: 0.01px; text-overflow: ""; -moz-appearance: none; -webkit-appearance: none; select::-ms-expand { display: none; }/* Remove seta padrão do IE*/}
	nav.nav-envios .filtros select::-ms-expand { display: none; }/* Remove seta padrão do IE*/
	nav.nav-envios .filtros option {background: #3c7a9e; color: #FFF;}

	#ava_projetos .submenu-abas {margin: 0px 0 10px; position: absolute; top: 0px;}
	#ava_projetos .submenu-abas li {border: 0; padding: 0 30px 0 0;}
	#ava_projetos .submenu-abas li span {display: none;}

	#ava_projetos .submenu-abas li {position: relative;}
	/*#ava_projetos .submenu-abas li:after {font-family: Fontello; color: #FFF; content: "\EA3B"; position: absolute; right: 40px; top: 0; font-size: 18px;}*/
	#ava_projetos .submenu-abas li select {color: #fff; background: #2c455b url(../imagens/select_down.png) right center no-repeat; border-radius: 8px; line-height: 27px; width: 200px; text-indent: 0.01px; text-overflow: ""; -moz-appearance: none; -webkit-appearance: none; select::-ms-expand { display: none; }/* Remove seta padrão do IE*/}
	#ava_projetos .submenu-abas li select::-ms-expand { display: none;}/* Remove seta padrão do IE*/
	#ava_projetos .submenu-abas li select option {line-height: 30px; color: #FFF; background: #333;}

	#ava_projetos .submenu-abas li a {color: #6894AF;}
	#ava_projetos .submenu-abas li a:hover {color: #A9DAF8;}

	#ava_projetos .submenu-abas li.disabled a {color: #627079;}
	#ava_projetos .submenu-abas li.disabled a:hover {color: #627079; cursor: default;}

	/* TÍTULOS DE SESSÕES */
	h2.tit-section {font-size: 25px; font-weight: 700; color: #FFF;}
	h2.tit-section:before {font-size: 22px !important; font-weight: normal;}

	/* ENVIO - COMO FAZER */
	.lista-conteudos {background: #fff ; border-radius: 5px; padding: 0 10px 30px; width: 980px; position: relative;}
	section#box_perfil-aluno .lista-conteudos {background: #d1e6ff; border-radius: 5px; padding: 0px 4px 30px;  width:650px;position: relative;  margin: 50px 0 0 0; border-right: 0;}
	section#box_perfil-turma .lista-conteudos {background: #d1e6ff; border-radius: 5px; padding: 0px 4px 30px;  width:650px;position: relative;  margin: 50px 0 0 0; border-right: 0;}
	.lista-conteudos:after {position: absolute; bottom: -30px; left: 0; width: 980px; height: 30px; content: " "; background: url(../imagens/sombra.png) no-repeat;}
	.lista-conteudos article.envio {max-height: 410px;}
	.lista-conteudos article.envio .sobre {border: 3px solid #5c4274; border-top: 10px solid #fff; border-bottom: 0; background: #FFF; float: left; height: 85px;}
	.lista-conteudos article.envio .sobre h3 {color: #5c4274; font-size: 16px;  overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
	.lista-conteudos article.envio a:hover .sobre h3 {color: #347fd9	;}
	.lista-conteudos article.envio .sobre span {color: #a883ca; font-size: 14px;}
	.lista-conteudos article.envio .credito {float: left; background: none; border: 3px solid #5c4274; border-top: 0; border-bottom: 0; padding-top: 5px; border-radius: 0;}
	.lista-conteudos article.envio .acoes_mural {float: left; border: 3px solid #5c4274; border-top: 0; margin: 0; padding: 0 20px 45px;}

	.lista-conteudos article.envio .credito .dados-user h5.nome-user {height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
	.lista-conteudos article.envio.tutoria .credito .dados-user h5.nome-user {height: 30px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color:#5c4274 ;}
	.lista-conteudos article.envio.tutoria .credito .dados-user h5.nome-user:hover {color:#1a70d3;}
	.lista-conteudos article.envio .credito .dados-user span {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

	.lista-conteudos .acoes_lista {margin: 10px 0 20px;}
	.lista-conteudos .acoes_lista a.btn_veja-mais {border: 3px solid #2c455b; color: #fff; border-radius: 10px; text-transform: uppercase; font-weight: 700; padding: 0 50px; background: #2c455b;}
	.lista-conteudos .acoes_lista a.btn_veja-mais:hover {background: #1a70d3;border: 3px solid #1a70d3;}
	.lista-conteudos article.envio .midia .status{ color:#0a56a3;background:#fff; border:1px solid #fff; box-shadow: 3px 2px 4px -2px #000;}
	.lista-conteudos article.envio .credito .dados-user a { color:#0a56a3;}
	.lista-conteudos article.envio .credito .dados-user a:hover { color:#1a70d3;}

/* BASTIDORES */
	#box_bastidores .center_content {padding: 30px 10px 100px;}
	.bastidores h2.tit-section {border-bottom: 0; padding: 0;}
	.bastidores h2.tit-section span {top: 370px; right: 365px; margin:10px;}
	.bastidores h2.tit-section span a.ver-galeria { font-size: 18px; line-height: 50px; padding: 0 20px; display: block; color: #ec6b25; background: none; border-radius: 10px;  text-transform: none; float: none; width: 200px; text-align: center; font-weight: bold; background: #fff;}
	.bastidores h2.tit-section span a.ver-galeria:hover {color: #FFF; background: rgba(255,255,255,0.2);}
	.bastidores h2.tit-section span a.ver-galeria:before {display: none;}

	.bastidores .destaque-bastidores li .midia {border-radius: 5px 5px 0 0; border: 5px solid #078e8e;}
	.bastidores .destaque-bastidores li .midia:hover {opacity: 0.9;}
	.bastidores .destaque-bastidores li .credito {border: 0; border-radius: 0 0 5px 5px; background: #078e8e;}
	.bastidores .destaque-bastidores li .credito .dados-user a {color: #FFF;}
	.bastidores .destaque-bastidores li .credito .dados-user a:hover {color: #DDD;}
	.bastidores .destaque-bastidores li.grid_3 .credito .dados-user {width: 135px;}
	.bastidores .destaque-bastidores li.grid_4 .credito .dados-user {width: 215px;}
	.bastidores .destaque-bastidores li.grid_5 .credito .dados-user {width: 295px;}
	.bastidores .destaque-bastidores li.grid_6 .credito .dados-user {width: 375px;}
	
	/* CONTEUDOS RELACIONADOS */
	.relacionados h2.tit-section {border-bottom: 0; padding: 0;}
	.relacionados article .midia {border-radius: 5px 5px 0 0; border: 5px solid #11caca;}
	.relacionados article .detalhes {width: 100%; background: #11caca; border: 0; border-radius: 0; display: inline-block; border-radius: 0 0 5px 5px;}
	.relacionados article:hover .detalhes {background: #34516b;}
	.relacionados article .detalhes h3,
	.relacionados article .detalhes p {color: #FFF;}
	.relacionados article .detalhes p {height: 60px;}
	
	.mural_sidebar h2.widget-titulo {color: #fff;}
	.mural_sidebar h2.widget-titulo span a {color:#ec6b25; border-radius: 5px;padding: 6px 15px;font-size: 16px; text-transform: none; background: #fff;font-weight: bold;}
	.mural_sidebar h2.widget-titulo span a:hover {color: #fff; background: rgba(255,255,255,0.2);}

	.mural_sidebar .btn_confira { border-radius: 5px; padding: 0 15px; font-size: 16px; text-transform: none; background: #ec6b25; font-weight: bold;}
	.mural_sidebar .btn_confira:hover {background: #f28c4f;}
	
	.mural_sidebar .widget_etapas {display: none !important; width: 100%;}
	.mural_sidebar .widget_etapas article.etapa_bloco {border: 0; background: rgba(17, 202, 202, 0.17); border-radius: 10px;}
	.mural_sidebar .widget_etapas article.etapa_bloco .img-destaque { border: 0; background-color: transparent; margin: 10px 10px 0px 0px;}
	.mural_sidebar .widget_etapas article.etapa_bloco .descricao_etapas { width:205px;}
	.mural_sidebar .widget_etapas article.etapa_bloco .descricao_etapas h3 {color: #4C5E79; margin: 0; font-size: 14px;}
	.mural_sidebar .widget_etapas article.etapa_bloco .descricao_etapas p {text-align: left;}

	.mural_sidebar .widget_etapas article.etapa_bloco .descricao_etapas .status {padding: 0 10px; border-radius: 3px; float: left; position: relative; font-weight: normal;}

	.mural_sidebar .widget_etapas article.etapa_bloco a .descricao_etapas .status {float: left; width: 100%; text-align: left; line-height: normal; padding: 10px;}

	.mural_sidebar .widget_etapas article.etapa_bloco .descricao_etapas h2 {color: #ec6b25;}
	.mural_sidebar .widget_etapas article.etapa_bloco .descricao_etapas .status span {display: inline-block; margin-left: 0px !important;}

	.mural_sidebar .widget_etapas article.etapa_bloco.fechado .descricao_etapas .status {background: #963227 ; color: #FFF;}
	.mural_sidebar .widget_etapas article.etapa_bloco.fechado a:hover .descricao_etapas .status	{background: #be473a;}
	.mural_sidebar .widget_etapas article.etapa_bloco.fechado .descricao_etapas .status span {margin: 0;}
	.mural_sidebar .widget_etapas article.etapa_bloco.fechado .descricao_etapas .status span:before {content: "Participação "; font-weight: normal; font-size: 12px;}

	.mural_sidebar .widget_etapas article.etapa_bloco.aberto .descricao_etapas .status 	{background: #436A35; color: #FFF;}
	.mural_sidebar .widget_etapas article.etapa_bloco.aberto a:hover .descricao_etapas .status 	{background: #598c46;}

	.mural_sidebar .widget_etapas article.etapa_bloco.encerrado .descricao_etapas .status 	{background: #3c7a9e; color: #FFF;}
	.mural_sidebar .widget_etapas article.etapa_bloco.encerrado a:hover .descricao_etapas .status 	{background: #4487ae;}

	.mural_sidebar .envios-populares article { border: 4px solid rgba(38, 3, 70, 0.75); margin: 0px 0; height: 144px; width: 100%; float: left;  overflow: hidden;}
	.mural_sidebar .envios-populares article .midia {height: 140px;}
	.mural_sidebar .envios-populares article h3 {color: rgba(38, 3, 70, 0.75);}
	.mural_sidebar .envios-populares article .descricao_etapas {height: 140px;}
	.mural_sidebar .envios-populares article .descricao_etapas span {color: rgba(38, 3, 70, 0.75);}
	.mural_sidebar .envios-populares article a {color: rgba(38, 3, 70, 0.75);}
	.mural_sidebar .envios-populares article a:hover {color: #bad8ed;}

	.mural_sidebar .widget_bastidores ul.mini-galeria {background:#078e8e; border: 0; border-radius: 3px;}

	.mural_sidebar .widget_relacionados article {background: #11caca; border: 0; border-radius: 3px;}
	.mural_sidebar .widget_relacionados article:hover {background: rgba(41,62,77,0.7);}
	.mural_sidebar .widget_relacionados article h3 {color: #fff;}
	.mural_sidebar .widget_relacionados article p {color: #FFF;}
	.mural_sidebar .widget_relacionados article .detalhes {padding: 0 0 0 15px;}
	.mural_sidebar .widget_relacionados article .detalhes p {font-size: 12px; line-height: 18px; margin: 5px 0 0;}
	
	.mural_sidebar .img-destaque .label-parceria { padding: 2px; top: auto; bottom: 4px; right: 50px; position: absolute; border-radius: 22px; border: 3px solid #fff;}
	
/* ORIENTAÇÕES */

	.orientacao .sidebar a,
	.orientacao .sidebar {color: #078e8e; }
	.orientacao .sidebar a:hover {color: #1a70d3	;}

	.orientacao .conteudo {background: #fff; color: #078e8e; border-radius:10px;}
	.orientacao .conteudo h4 {color: #ec6b25 ;}
	
	.orientacao .sidebar .tutoria {border: 2px solid #FFF; background: none; border-radius: 10px; background:#fff;}
	.orientacao .sidebar .tutoria h3{ padding:0;}
	.orientacao .sidebar h3 {color: #ec6b25; padding: 20px 20px 0;}
	.orientacao .sidebar .pdfs ul li {padding: 15px 0 15px 40px; border-bottom: 1px solid #d1e6ff;}
	.orientacao .sidebar .pdfs ul li:before {color: #ec6b25 ;}

	.orientacao .calendario {background: #fff; border-radius: 10px; color: #0a56a3; border: 3px solid #FFF;}
	.orientacao .calendario .cronograma h3 {color: #ec6b25 ;}

	a.btn_cronograma {background: #2c455b; border-radius: 10px;border: 3px solid #2c455b; line-height: 34px;color: #FFF;}
	a.btn_cronograma:hover {background: #1a70d3; color: #FFF; border: 3px solid #1a70d3;}

	.orientacao .calendario .duracao .mes ul.dias li:first-child {color: #ec6b25 ; font-weight:bold;}
	.orientacao .calendario .duracao .mes h4 {color: #ec6b25 ;}
	.orientacao .calendario .duracao .mes ul.semana li {color: #1a70d3;}
	.orientacao .calendario .duracao .mes ul.dias li.feriado {color: #1a70d3;}

	.orientacao .cronograma ul li.insc:before,		.orientacao .calendario .duracao .mes ul.dias li.insc 		{background: #91722e;}
	.orientacao .cronograma ul li.etapa1:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa1 	{background: #914f2e;}
	.orientacao .cronograma ul li.etapa2:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa2 	{background: #5d912e;}
	.orientacao .cronograma ul li.etapa3:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa3 	{background: #3ca58d;}
	.orientacao .cronograma ul li.etapa4:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa4 	{background: #194179;}
	.orientacao .cronograma ul li.etapa5:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa5 	{background: #307DE4;}
	.orientacao .cronograma ul li.etapa6:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa6 	{background: #723ca5;}
	.orientacao .cronograma ul li.etapa7:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa7 	{background: #a4a53c;}
	.orientacao .cronograma ul li.fim:before,		.orientacao .calendario .duracao .mes ul.dias li.fim		{background: #a33311;}

	.orientacao .conteudo a.btn_enviar {border-radius: 5px; background: #ec6b25; border: 2px solid #FFF; text-transform: uppercase; font-weight: 700; height: 40px; line-height: 36px;}
	.orientacao .conteudo a.btn_enviar:hover {background: #1a70d3;}
	
	.orientacao #form_sac a {color: #FFF;background: #0a56a3;}
	.orientacao #form_sac a:hover {color: #fff;background: #1a70d3;}
	
	.orientacao .sidebar .pdfs ul { padding: 0 20px 0;}
	.orientacao .sidebar .pdfs { background:#fff; border-radius: 10px; padding-bottom:20px; margin:0 0 10px 0;}
	.orientacao .sidebar .pdfs p { width: 250px; margin: 20px 25px 0 25px; border: 1px #d1e6ff solid; border-radius: 7px; padding: 10px;}
	
/*ESTILIZAÇÃO DO MURAL*/
	
	section#ava_mural_geral .dialogo{ background:#fff; border-radius:10px;}	
	section#ava_mural_geral .timeline { border-radius: 10px;}
	
	section#ava_mural_geral .dialogo a:hover{color:#f28c4f ;}
	section#ava_mural_geral .dialogo a.actions:hover { color:#f28c4f !important;}
	section#ava_mural_geral .dialogo a.current {color:#ec6b25;}
	.digala:before{ color:#ec6b25;} 
	
	section.timeline header, section.container_EP header, section.container_PR header { border-radius:10px 10px 0 0;}
	.hs1 footer { border-radius: 0 0 10px 10px;}
	.sep_digala {border-radius:0 0 10px 10px;}
	article .e-wrap a{color:#ec6b25 ;}
	.pagina_mediador{box-shadow: -3px 0 0 0 #ec6b25 ;}
	article .e-wrap a .icon_maca{ background: url(../imagens/maca.png) no-repeat}
	
	.acoes_mural .feedCurtirIcone, .acoes_mural .comentariosMural .carregarComentarios { color:#ec6b25 !important;}
	.btn_laranja, .btn_cor{  background: #ec6b25; border: 1px solid #ec6b25;}
	.btn_laranja, .btn_cor:hover{ background: #f28c4f; border: 1px solid #f28c4f;}
	.seletorGlobal .lajotinha { background:#ec6b25 ;}
	section#ava_mural_geral .timeline a:hover{color:#ec6b25 ;}
	.mural_sidebar.grid_5 .widget_relacionados{background: #078e8e ; border-radius: 10px; padding: 20px 10px 10px 10px;}
	.mural_sidebar.grid_5 .widget_bastidores{background: rgba(236, 107, 37, 0.75)  ; border-radius: 10px; padding: 20px 10px 10px 10px; margin-bottom:30px;}
	.mural_sidebar .widget_bastidores ul.mini-galeria li a {width: 102px; height: 80px;}
	.mural_sidebar .widget_bastidores ul.mini-galeria li:nth-child(1) a{ width: 335px; height: 230px;}
	
	/*ESCONDENDO BOTÕES*/	
	
	.aberta a .descricao_etapas .status { color: transparent;}
	.aberta a .descricao_etapas .status:after {content: 'Aberto: acesse o projeto';position: absolute;color: #FFF;left: 0px;text-align: center;width: 100%;}
	.aberta a .descricao_etapas .status:before { content: initial;}
	.aberta a .descricao_etapas .status span {font-size: 14px;color: transparent;}
	.aberta a .descricao_etapas .status span:before {font-size: 14px;color: #FFF;content: initial;}
	
	.encerrada  a .descricao_etapas .status { color: transparent;}
	.encerrada  a .descricao_etapas .status:after {content: 'Encerrado: confira os resultados!'; position: absolute; color: #FFF; left: 0px; line-height: 21px; padding: 20px 0px 20px 0px; width: 100%; font-size: 16px;}
	.encerrada  a .descricao_etapas .status:before {content: initial;color: #FFF;}
	.encerrada  a .descricao_etapas .status span {font-size: 14px;color: transparent;}
		
	.mural_sidebar .widget_etapas article.etapa_bloco.aberto .descricao_etapas .status{ color: transparent;}
	.mural_sidebar .widget_etapas article.etapa_bloco.aberto .descricao_etapas .status:after{content: 'Aberto: acesse o projeto'; position: absolute; color: #FFF; left: 10px;top: 10px;}
	.mural_sidebar .widget_etapas article.etapa_bloco.aberto .descricao_etapas .status span{font-size: 14px;  color: transparent;}
	
	.mural_sidebar .widget_etapas article.etapa_bloco.encerrado .descricao_etapas .status{ color: transparent;}
	.mural_sidebar .widget_etapas article.etapa_bloco.encerrado .descricao_etapas .status:after{ content: 'Encerrado: confira os resultados'; position: absolute;  color: #FFF; left: 0; font-size: 12px !important; text-align: center; top: 3px;}
	.mural_sidebar .widget_etapas article.etapa_bloco.encerrado .descricao_etapas .status span{ font-size: 14px;  color: transparent;}
		
	
	/*PAGINA DE DESAFIOS*/
	
	.titulo-page {color: #0a56a3; overflow: inherit;}

	.acesso-envio .dados-envios {color: #FFF; font-size: 16px; margin: 5px 20px 0 0; line-height: 25px;}
	.acesso-envio div.status {background:#ec6b25; border-radius: 10px;  border: 3px solid #ec6b25; color: #FFF; line-height: 54px; display:none;}
	#ava_projetos .acesso-envio .liberado {background: none; border-radius: 10px; border: 3px solid #FFF; color: #FFF; text-transform: uppercase; font-weight: 700; display:none;}
	#ava_projetos .acesso-envio .liberado:hover {background: rgba(255,255,255,0.2);}
	#ava_projetos .acesso-envio .liberado:before {font-weight: normal;}

	.material-destaque {padding: 40px 70px; height: 345px; background: #fff; border-radius: 15px;}
	.material-destaque .nav-material {height: 340px; line-height: 340px; color: #0a56a3;}
	.material-destaque .nav-material:hover {color: #1a70d3;}

	.material-destaque .conteudo .midia,
	.material-destaque .conteudo .sobre {width: 385px;}
	.material-destaque .conteudo .midia {background-color: transparent; background-size: contain; background-position: center; background-repeat: no-repeat;}

	.material-destaque .conteudo .sobre .credito .dados-user a {color: #0a56a3;}
	.material-destaque .conteudo .sobre .credito .dados-user a:hover {color: #347fd9	;}

	.material-destaque .conteudo .sobre a h3 {color: #ec6b25;}
	.material-destaque .conteudo .sobre a:hover h3 {color: #f28c4f;}
	.material-destaque .conteudo .sobre p {color: #0a56a3;}

	.material-destaque .conteudo .sobre .conversa {border-radius: 0; border-top: 1px solid #0a56a3;}
	.material-destaque .conteudo .sobre .conversa a h5 {color: #0a56a3;}
	.material-destaque .conteudo .sobre .conversa a:hover h5 {color: #347fd9;}
	.material-destaque .conteudo .sobre .conversa .ultima-conversa .texto-conversa .conteudo-post {color: #347fd9;}
	
	.material-destaque .conteudo .sobre .conversa .nenhuma-conversa {color: #347fd9;}
	.material-destaque .conteudo .sobre .conversa .nenhuma-conversa:hover {color: #d1e6ff ;}
	
	.material-destaque .conteudo .conversa .nenhuma-conversa,
	.material-destaque .conteudo .conversa .nenhuma-conversa:before,
	.material-destaque .conteudo .conversa .nenhuma-conversa a {color: #347fd9;}
	.material-destaque .conteudo.conversa .nenhuma-conversa a:hover {color: #347fd9;}
	
	.acesso-envio .dados-envios ul.tabela-dados{ background:#2c455b;}
	.acesso-envio .dados-envios ul.tabela-dados li h5:before{color:#fff;}
	.acesso-envio .dados-envios ul.tabela-dados li span{ color:#0a56a3;}
	
	/* PÁGINA DO ENVIO */

	.header-post-envio {background-color: #fff; padding: 0; border-radius:10px;/*min-height: 50px;*/ padding:20px;}
	.header-post-envio .titulo-envio h2 {color: #0a56a3 ; line-height: 30px; font-size: 26px;}
	.header-post-envio .titulo-envio span {display: none;}

	.header-post-envio .acoes_mural .feedCurtir:hover {background: rgba(255,255,255,0.5);}
	.header-post-envio a.feedCurtirIcone.blokletters.b_tooltip.vertodoscurtirammensagem {font-family: 'Roboto', sans-serif; font-size: 14px; color: #FFF !important; line-height: 25px;}
	.header-post-envio a.feedCurtirIcone.blokletters.b_tooltip.vertodoscurtirammensagem:hover {color: #FFF !important;}

	.passos-abas {border-radius: 0 0 10px 10px; background: #fff; border: 3px solid #FFF;}
	.passos-abas ul.passos-lista li a {border: 2px solid #d1e6ff; background: none; color: #0a56a3 ; line-height: 28px;}
	.passos-abas ul.passos-lista li.ativo a {background:#d1e6ff;}
	.passos-abas ul.passos-lista li.ativo a:hover {background: rgba(255,255,255,0.5);}
	.passos-abas ul.passos-lista li a:hover {background: rgba(255,255,255,0.2);}

	.post-envio .social-links-top {top: 0; right: 0; display: none;}
	.post-envio .social-links-bot {background: none; padding: 0;}
	.post-envio .social-links-bot .acoes_mural {border-top: 1px solid rgba(255,255,255,0.2);background: #fff; padding: 10px; border-radius: 0 0 10px 10px;}

	.post-envio .conteudo {background: #fff; color: #0a56a3; padding: 20px 20px 20px 20px; border-radius:10px 10px 0 0;}
	.post-envio .conteudo h3.titulo-envio {color: #ec6b25;}
	.post-envio .conteudo .midia a.nav-material {color: #e1d310;}

	.post-envio .post-conversa {border-radius: 10px; background: #fff ; border: 0;}
	
	.post-envio .post-conversa .intro a {color: #ec6b25;}
	.post-envio .post-conversa .intro a:hover {color: #f28c4f;}
	.post-envio .post-conversa .post-form a.btn_enviar {border: 2px solid #ec6b25; color: #FFF; background: #ec6b25; text-transform: uppercase; font-weight: 700;}
	.post-envio .post-conversa .post-form a.btn_enviar:hover { border: 2px solid #f28c4f ; background: #f28c4f; color:#fff;}
	.post-envio .post-conversa .post-form input[type=text] {border: 0; padding: 6px;}
	.post-envio .post-conversa .post-form .campanha img {width: 50px; height: 50px;}
	.post-envio .post-conversa .post-form .campanha a.ico {background-color: transparent;}
	.post-envio .post-conversa .post-form .campanha p {color: #999;}
	.post-envio .post-conversa .post-form .campanha p a {color: #ec6b25;}
	.post-envio .post-conversa .post-form .campanha p a:hover {color: #f28c4f;}
	.post-envio .post-conversa article {border-bottom: 1px solid #ccc;}
	.post-envio .post-conversa article .dialogo .acoes_mural span.meta-data {color: #DDD;}
	.post-envio .post-conversa article .dialogo .acoes_mural a.feed-Curtir {color: #FFF;}
	.post-envio .post-conversa article .dialogo .acoes_mural a.feed-Curtir:hover {color: #CCC;}
	.post-envio .post-conversa article .dialogo .resposta .dialogo .acoes_mural span.meta-data {color: #DDD;}
	.post-envio .post-conversa article .dialogo a.btn_denuncia:before {color: #FFF;}
	.post-envio .post-conversa article .dialogo a.btn_denuncia:hover:before {color: #CCC;}
	.post-envio .post-conversa article .dialogo a.btn_excluir:before {color: #FFF;}
	.post-envio .post-conversa article .dialogo a.btn_excluir:hover:before {color: #CCC;}
	.post-envio .post-conversa .carregar-comentarios { color: #ec6b25;}
	.post-envio .post-conversa .carregar-comentarios:hover {color: #f28c4f;}
	
	
	.post-envio .post-conversa article .dialogo h5.nome-user a {color: #ec6b25;}
	.post-envio .post-conversa article .dialogo h5.nome-user a:hover {color: #f28c4f;}

	.post-envio .post-conversa article .dialogo h5.nome-user i {color: #ec6b25;}
	.post-envio .post-conversa article .dialogo h5.nome-user i.icon_maca {background: url(../imagens/maca.png) no-repeat;}

	.sidebar-envio { background: #fff;  border-radius: 10px;  padding: 20px;}
	.sidebar-envio .perfil .dados-user {width: 175px;}
	.sidebar-envio .perfil .dados-user a {color: #347fd9; width: 100%;}
	.sidebar-envio .perfil .dados-user a:hover {color: #d1e6ff ;}
	.sidebar-envio .perfil .dados-user a h5.nome-user {color: #0a56a3; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
	.sidebar-envio .perfil .dados-user span {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
	.sidebar-envio .perfil .dados-user span:before {font-weight: normal;}	

	.sidebar-envio h4 {color: #0a56a3;}
	.sidebar-envio p {color: #0a56a3;}

	.sidebar-envio a.btn_veja-todos {background: #2c455b; border: 2px solid #2c455b ; color: #FFF; font-weight: 700; text-transform: uppercase;}
	.sidebar-envio a.btn_veja-todos:hover {background: #0a56a3; color: #FFF;  border: 2px solid #0a56a3 ;}

	.sidebar-envio ul.lista-alunos li {border: 2px solid #9a9a9a;}
	.sidebar-envio ul.lista-alunos li img {margin: -2px;}

	.sidebar-envio ul {width: 100%;}
	.sidebar-envio ul.lista-professor li a {color: #347fd9	;}
	.sidebar-envio ul.lista-professor li a:hover {color: #d1e6ff ;}

	.sidebar-turma {padding: 10px;border-radius:10px; background: #fff;}
	.sidebar-turma .perfil .dados-user {width: 180px;}
	.sidebar-turma .perfil .dados-user a {color: #347fd9; width: 100%;}
	.sidebar-turma .perfil .dados-user a:hover {color: #d1e6ff;}
	.sidebar-turma .perfil .dados-user a h5.nome-user {color: #0a56a3; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
	.sidebar-turma .perfil .dados-user span {overflow: hidden; white-space: nowrap; text-overflow: ellipsis; line-height: 16px;}

	.sidebar-turma h4 {color: #0a56a3;}
	.sidebar-turma p {color: #0a56a3;}

	.sidebar-turma a.btn_veja-todos {background: none; border: 2px solid #DDD; color: #FFF; font-weight: 700; text-transform: uppercase;}
	.sidebar-turma a.btn_veja-todos:hover {background: rgba(255,255,255,0.2); color: #FFF;}

	.sidebar-turma ul.lista-alunos li {border: 2px solid #9a9a9a;}
	.sidebar-turma ul.lista-alunos li img {margin: -2px;}

	.sidebar-turma ul {width: 100%;}
	.sidebar-turma ul.lista-professor li a {color: #347fd9;}
	.sidebar-turma ul.lista-professor li a:hover {color: #d1e6ff;}
	
	.sidebar-turma a.btn_veja-todos {background: #2c455b; border: 2px solid #2c455b ; color: #FFF; font-weight: 700; text-transform: uppercase;}
	.sidebar-turma a.btn_veja-todos:hover {background: #0a56a3; color: #FFF;  border: 2px solid #0a56a3 ;}
	
	.sidebar-turma ul.lista-professor li h5{float: left; height: 30px; margin: 0 0 0 15px; width: 210px; overflow: hidden;  white-space: nowrap; text-overflow: ellipsis;}
	
	
