/* ALTERAÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¢ES PARA O PROJETO */
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand);
/* HEADER */
.p_top {background: url(../imagens/bg_header.jpg) no-repeat center bottom #343434;min-height: 260px;}
.proj_top #header-projeto {padding: 0 10px;min-height: 290px;}

#header-projeto {position: relative;}
#header-projeto a h1.logo-projeto {background-image: url(../imagens/logo_hover.png); background-size: initial; background-repeat: no-repeat; background-position: left center; text-indent: -9999px; background-color: transparent;}
#header-projeto.inscrito a h1.logo-projeto {background-size: initial;background-color: transparent;background-repeat: no-repeat;background-position: left center;text-indent: -9999px;}


#header-projeto a:hover h1.logo-projeto {background-color: transparent; opacity: 0.8;}


#header-projeto span.descricao-projeto {color: #93F4FF;}

#header-projeto a h1.logo-projeto {width: 530px;height: 515px;position: absolute;margin-left: -90px;text-align: center;line-height: 110px;top: 25px;}
#header-projeto.inscrito a h1.logo-projeto {width: 530px;height: 290px;left: -75px;position: absolute;top: 0px;text-align: center;line-height: 110px;float: none;margin: 0;}

#header-projeto span.descricao-projeto {position: relative;font-size: 18px;width: 480px;height: 79px;text-align: center;padding: 20px 0px 0px 15px; left: 442px;background: url(../imagens/placa.png);top: 465px;font-family: Patrick Hand;text-transform: uppercase;letter-spacing: 1px;}
#header-projeto.inscrito span.descricao-projeto {position: absolute;font-size: 18px;width: 520px;height: 79px;text-align: center;padding: 20px 0px 0px 15px;font-weight: lighter;background: none;float: none;top: 70px;right: 30px;margin: 0;}

#header-projeto .entenda-video {width: 470px;height: 276px; float: right;margin: 61px 41px 0 0;}
#header-projeto .entenda-video iframe {border: 0; height: 270px;}

#header-projeto .action-btns a {display: inline-block;background: #C9E865;color: #FFF;border: 0;font-weight: 700;}
#header-projeto .action-btns a.participacao {font-size: 25px;background: rgba(0, 0, 0, 0.64);padding: 0px 130px 0px 130px;line-height: 60px;position: relative;border: 1px solid #70C9F1;margin-bottom: 239px;border-radius: 0;font-family: Roboto;text-transform: uppercase;letter-spacing: 7px;font-weight: normal;top: 52px;left: -292px;}
#header-projeto .action-btns a:hover {background: rgba(232, 232, 232, 0.37);color: #000;border: 1px solid #FFF;}

#header-projeto.inscrito .action-btns {width: 510px;text-align: left;float: none;position: relative;left: 472px;top: 190px;margin: 0;}
#header-projeto.inscrito .action-btns a {float: left;font-size: 16px;border-radius: 0px;padding: 0 15px;line-height: 40px;margin: 0 10px 0 0;background: rgba(56, 56, 56, 0.78);color: #fff6e6;border: 1px solid #20bfe6; letter-spacing: 1px;}
#header-projeto.inscrito .action-btns a.entenda-o-projeto:hover,
#header-projeto.inscrito .action-btns a:hover {background: rgba(202, 202, 202, 0.83) !important;color: #484848;}
#header-projeto.inscrito .action-btns a.participacao {font-size: 18px;background: rgba(0, 0, 0, 0.64);padding: 0px 30px 0px 30px;line-height: 40px;float: left;top: auto;left: auto;border: 1px solid #70C9F1;margin-bottom: 0px;border-radius: 0;font-family: Roboto;text-transform: uppercase;letter-spacing: 5px;font-weight: normal;}}
#header-projeto.inscrito .action-btns a.participacao:hover {background: #FFF;}

#header-projeto.inscrito .action-btns a.entenda-o-projeto:before {font-family: Fontello; content: "\E81A"; margin-right: 8px; font-weight: normal;}

#header-projeto .action-btns a.faq {padding: 0;line-height: 41px;height: 42px;width: 45px;text-align: center;}
#header-projeto .action-btns a.faq:before {font-size: 25px; font-family: Fontello; content: "\E830"; vertical-align: -3px; font-weight: normal;}
#header-projeto .action-btns a.faq:hover {background: rgba(255, 255, 255, 0.79);}

.header-page .foto_user, .header-page .foto_professor,
.ico-user {border: 2px solid #ffffff;border-radius: 5px;overflow: hidden;}
.ico-user a {float: left;}
.header-page .foto_user img, .header-page .foto_professor img, .ico-user img {margin: -2px;}

.acoes_mural .feedCurtir {border: 1px solid transparent; margin: 0 0px 0 -2px;}
.lista-conteudos article.envio .acoes_mural .feedCurtir .feedCurtirIcone {color: #333 !important;}
.lista-conteudos article.envio .acoes_mural .feedCurtir .feedCurtirIcone:hover {color: #666 !important;}

.header-page .btn_voltar {width: 60px;height: 60px;background: none !important;color: #FFF !important;border-radius: 39px !important;border: 3px solid #FFF !important;margin: 0 15px 0 0;text-align: center;line-height: 53px !important;padding-right: 5px;}
.header-page .btn_voltar:hover {background: rgba(255,255,255,0.2) !important; color:#FFF !important;}

.header-page h1 {color: #ffc22b;}

iframe {border: 0;}

/* MENU */
.p_menu {background: url(../imagens/tarja_menu.jpg) center no-repeat;}
.proj_menu {background: none;border-radius: 5px;}
.proj_menu ul > li {margin: 0 20px 0 0;}
.proj_menu ul > li a {font-size: 18px;color: #FFF;line-height: 30px;padding: 0px 12px 6px;background: none;border-radius: 0px;display: inline-block;}

.proj_menu ul > li a span:hover:before,
.proj_menu ul li a span:hover,
.proj_menu ul li a:hover:before,
.proj_menu ul li a:hover {color: #FFF;background: transparent;}

.proj_menu ul li.ativo a,
.proj_menu ul li.ativo a:before,
.proj_menu ul li.ativo a:hover {background: transparent;color: #FFFFFF;border-bottom: none;border-radius: 0;padding-bottom: 6px;padding-left: 23px;padding-right: 0px;}

.proj_menu ul li.pprof {position: relative;}

.proj_menu ul li ul.pprof-menu li {background: none;}
.proj_menu ul li ul.pprof-menu:before {border-bottom: 10px solid #fe4a65;left: 10px;}
.proj_menu ul li ul.pprof-menu li a {border-radius: 0;}
.proj_menu ul li ul.pprof-menu li:nth-child(1) a {border-radius: 0px;background-color: #fe4a65;}
.proj_menu ul li ul.pprof-menu li:last-child a {border-radius: 0px;background-color: #fb4963;}
.proj_menu ul li ul.pprof-menu li:nth-child(1) a:hover {background-color: #F8596D;}
.proj_menu ul li ul.pprof-menu li:last-child a:hover {background-color: #F8596D;}

/* BACKGROUNDS */
	
	#ava_projetos {background: none;}
	.p_content, .full_content {background: none;}

	/* BLOCOS HOME */
	#box_etapas 			{background: url(../imagens/textura_bg.png) repeat, #20bfe6;}
	#box_envios-tutoriais 	{background: url(../imagens/textura_bg.png) repeat #3a3839;}
	#box_bastidores 		{background: url(../imagens/textura_bg.png) repeat, #2aa98e;}
	#box_relacionados 		{background: url(../imagens/textura_bg.png) repeat #3a3839;}

	#box_etapas 			.center_content {padding: 0px 10px 100px;background: none;}
	#box_envios-tutoriais 	.center_content {padding: 30px 0 99px;}
	#box_bastidores 		.center_content {padding: 30px 10px 100px;}
	
	/* BLOCOS INTERNAS */
	#box_etapa 				{background: url(../imagens/textura_bg.png) repeat #20bfe6;}
	#box_envios				{background: url(../imagens/textura_bg.png) repeat #3a3839;}
	#box_mural	 			{background: url(../imagens/textura_bg.png) #20bfe6;}
	#box_minhas-turmas		{background: url(../imagens/textura_bg.png), #945da1;}
	#box_meus-envios		{background: url(../imagens/textura_bg.png) repeat #156e7b;}
	#box_pag-turma			{background: url(../imagens/textura_bg.png), #945da1;}
	#box_perfil-turma		{background: url(../imagens/textura_bg.png) repeat, #1590af;}
	#box_perfil-aluno		{background: url(../imagens/textura_bg.png), #945da1;}
	#box_participantes		{background: url(../imagens/textura_bg.png) repeat, #20bfe6;}
	#box_post-envio			{background: url(../imagens/textura_bg.png), #945da1;}
	#box_pag-orientacoes	{background: url(../imagens/textura_bg.png), #945da1;}
	#box_galeria-bastidores	{background: url(../imagens/textura_bg.png) repeat, #2aa98e;}
	#box_inscricao			{background: url(../imagens/textura_bg.png) repeat, #20bfe6;}
	#box_resultados			{background: url(../imagens/bg_resultado.png) top center no-repeat, #FFDD53}


	#box_etapa .center_content {padding: 30px 10px 200px;}
	#box_mural .center_content {padding: 30px 10px 150px;background: none;}
	#box_post-envio .center_content {padding: 30px 10px 150px;}
	#box_pag-orientacoes .center_content {padding: 30px 10px 150px;background: rgba(81, 48, 88, 0.28);}

/* HOME */
	
	/* PARTICIPANTES */
	.participantes {width: 960px;padding: 15px;margin: 0 0 10px; border-radius: 10px;}
	.participantes h2 {color: #FFFFFF;}
	.participantes h2 span, .participantes h2 span a {color: #FFFBC6;}
	.participantes h2 span a:hover {color: #ADADAD;}
	.participantes ul.lista-participantes {width: 925px;}
	.participantes ul.lista-participantes li {border: 2px solid #9a9a9a;}
	.participantes ul.lista-participantes li img {width: 40px; height: 40px; border-radius: 3px; margin: -2px;}
	
	/* MENU ABAS */
	#ava_projetos .menu-abas {border: 0; margin: 0 0 20px;}
	#ava_projetos .menu-abas li a {font-size: 15px;color: #ffdd2b;margin: 0;}
	#ava_projetos .menu-abas li a:hover {color: #FFF;border-bottom: 2px solid #FFF; background: none;}
	#ava_projetos #box_envios-tutoriais .menu-abas li a {font-size: 15px;color: rgba(47, 47, 47, 0.31);margin: 0;}
	#ava_projetos #box_envios-tutoriais .menu-abas li a:hover {color: #FFF;border-bottom: 2px solid #FFF; background: none;}
	#ava_projetos .menu-abas li.ativo a,
	#ava_projetos #box_envios-tutoriais .menu-abas li.ativo a {color: #FFFFFF;background: none;border-bottom: solid 2px #FFF; position: relative;}
	#ava_projetos .menu-abas li.desativado a, #ava_projetos .menu-abas li.desativado a:hover {display: none;}
	

	nav.nav-envios .filtros {color: #FFFFFF;}

	nav.nav-envios .filtros select {padding: 0 30px 0 10px;border-radius: 46px;font-size: 14px;background: #FFFFFF  url(../imagens/select_down2.png) right center no-repeat;color: #464646;text-indent: 0.01px;text-overflow: "";-moz-appearance: none;-webkit-appearance: none;select::-ms-expand { display: none; }/* Remove seta padrÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â£o do IE*/}
	nav.nav-envios .filtros select::-ms-expand { display: none; }/* Remove seta padrÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â£o do IE*/
	nav.nav-envios .filtros option {background: #2EB1E4; color: #FFF;}

	#ava_projetos .submenu-abas {margin: 0 0 10px;background: transparent;padding: 10px;border-radius: 50px;}
	#ava_projetos .submenu-abas li {border: 0; padding: 0 30px 0 0;}
	#ava_projetos .submenu-abas li span {display: none;}

	#ava_projetos .submenu-abas li {position: relative;}
	#ava_projetos .submenu-abas li select {color: #FFF;border: 1px solid #ffffff;background: rgba(0, 0, 0, 0.34) url(../imagens/select_down.png) right center no-repeat;border-radius: 0px;line-height: 27px;width: 200px;text-indent: 0.01px;text-overflow: "";-moz-appearance: none;-webkit-appearance: none;select::-ms-expand { display: none; }/* Remove seta padrÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â£o do IE*/}
	#ava_projetos .submenu-abas li select::-ms-expand { display: none;}/* Remove seta padrÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â£o do IE*/
	#ava_projetos .submenu-abas li select option {line-height: 30px; color: #FFF; background: #333;}

	#ava_projetos .submenu-abas li a {color: #FFF;border-bottom: 2px solid #FFF;margin-left: 25px;}
	#ava_projetos .submenu-abas li a:hover {color: #DBFF6E;border-bottom: 2px solid #DBFF6E;}

	#ava_projetos .submenu-abas li.disabled a {color: #8A8888;}
	#ava_projetos .submenu-abas li.disabled a:hover {color: #627079; cursor: default;}

	/* TÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂTULOS DE SESSÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¢ES */
	h2.tit-section {font-size: 25px; font-weight: 700; color: #FFF;}
	h2.tit-section:before {font-size: 22px !important; font-weight: normal;}

	/* AVISOS */
	.avisos h2 {color: #FFFFFF;margin-top: 20px;}
	.avisos .user-pic {border: 2px solid #9a9a9a;}
	.avisos .user-pic img {margin: -2px;}
	.avisos .msg-box {border: solid 1px #ffffff;background: rgb(255, 255, 255);border-radius: 10px;padding: 15px 20px;color: #404040;-webkit-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.48);-moz-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.48);box-shadow: -5px 4px 5px 0px rgba(0, 0, 0, 0.08);}
	.avisos .msg-box:before {top: 15px;left: -20px;border-top: 5px solid transparent;border-right: 10px solid #ffffff;border-bottom: 5px solid transparent;border-left: 10px solid transparent;}

	/* BLOCOS ETAPAS */

	.area-etapas article {background: none;}
	
	.img-destaque {background-color: transparent;}
	.img-destaque .label {display: none;}
	.descricao_etapas {background: none;}

	.bloco-c a .descricao_etapas h2 {font-size: 17px;}
	a .descricao_etapas .status {border-radius: 0;text-align: center;padding: 0 10px;line-height: 60px;}
	a .descricao_etapas .status span {float: none; margin: 0 0 0 5px; font-size: 14px;}
	.bloco-c a .descricao_etapas .status {font-size: 16px;}
	.descricao_etapas .status {padding: 15px;}

		/* Etapa fechada */
		.fechada .img-destaque .label {}
		.fechada a .descricao_etapas h2 {color: #3E3E3E;background: none;padding-left: 10px;font-family: Patrick Hand;Font-size: 29px;text-transform: uppercase;font-weight: normal;letter-spacing: 1px;}
		.fechada a .descricao_etapas .status:before {}
		.fechada a .descricao_etapas .status {background: rgb(254, 74, 99);color: #FFF;border: 1px solid #FFFFFF;}
		.fechada a .descricao_etapas .status span:before {content: "Envios "; font-size: 14px;}
		.fechada a:hover .descricao_etapas .status {background: rgba(255, 255, 255, 0.58);color: #616161;}

			.bloco-c.fechada a .descricao_etapas .status span,
			.bloco-c.fechada a .descricao_etapas .status span:before {font-size: 12px;}
		
		/* Etapa aberta */
		.aberta .img-destaque .label {}
		.aberta a .descricao_etapas h2 {color: #3E3E3E;
    background: none;
    padding-left: 10px;
    font-family: Patrick Hand;
    Font-size: 29px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;}
		.aberta a .descricao_etapas .status:before {content: "\EA14";}
		.aberta a .descricao_etapas .status {background: #64C740; color: #FFF; border: 1px solid #FFFFFF;}
		.aberta a .descricao_etapas .status span:before {content: "At� "; font-size: 14px;}
		.aberta a:hover .descricao_etapas .status {background: rgba(255, 255, 255, 0.78);color: #6b6b6b;}

		/* Etapa encerrada */
		.encerrada .img-destaque .label {}
		.encerrada a .descricao_etapas h2 {color: #3E3E3E;
    background: none;
    padding-left: 10px;
    font-family: Patrick Hand;
    Font-size: 29px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;}
		.encerrada a .descricao_etapas .status:before {content: "\E8CF";}
		.encerrada a .descricao_etapas .status {background: #ff6c00;color: #FFF;border: 1px solid #FFFFFF;}
		.encerrada a:hover .descricao_etapas .status {background: rgba(255, 255, 255, 0.75);color: #5d5d5d;}

		/* Etapa em breve */
		.breve .img-destaque .label {}
		.breve a .descricao_etapas h2 {color: #3E3E3E;background: none;padding-left: 10px;font-family: Patrick Hand;Font-size: 29px;text-transform: uppercase;font-weight: normal;letter-spacing: 1px;}
		.breve a .descricao_etapas .status {background: #3d4396;color: #FFF;border: 1px solid #FFFFFF;}
		.breve a .descricao_etapas .status span:before {content: "In�cio: "; font-size: 14px;}


	.descricao_etapas h2 {font-size: 16px; text-align: center;}
	.descricao_etapas p {color: #FFF; text-align: center; padding-bottom: 10px;}
	.descricao_etapas p strong {color: #FFF7A0;}

	.bloco-a .descricao_etapas h2, .bloco-a .descricao_etapas p {padding-left: 0; padding-right: 0; margin-right: 0; margin-left: 0; text-align: left;}
	.bloco-b .descricao_etapas h2, .bloco-b .descricao_etapas p {padding-left: 0; padding-right: 0; margin-right: 0; margin-left: 0; text-align: left;}
	.bloco-c .descricao_etapas h2, .bloco-c .descricao_etapas p {padding-left: 0; padding-right: 0; margin-right: 0; margin-left: 0; text-align: left;}
	.bloco-d .descricao_etapas h2, .bloco-d .descricao_etapas p {padding-left: 0; padding-right: 0; margin-right: 0; margin-left: 0; text-align: center;}

	.bloco-a .descricao_etapas h2 {font-size: 20px;}
	.bloco-b .descricao_etapas h2 {font-size: 25px;}
	.bloco-c .descricao_etapas h2 {font-size: 18px;}
	.bloco-d .descricao_etapas h2 {font-size: 16px;}

	.bloco-a .descricao_etapas p {font-size: 16px;background: none;padding-left: 10px;}
	.bloco-b .descricao_etapas p {font-size: 18px; background: rgba(72, 72, 72, 0.83); padding-left: 10px;}
	.bloco-c .descricao_etapas p {font-size: 15px; background: rgba(72, 72, 72, 0.83); padding-left: 10px;}
	.bloco-d .descricao_etapas p {font-size: 14px; background: rgba(72, 72, 72, 0.83);}

	.bloco-a .conversa {margin: 0;}

	.bloco-a {width: 940px; height: 260px;}
	.bloco-b {width: 620px; height: 585px;}
	.bloco-c {width: 460px; height: 415px;}
	.bloco-d {width: 300px; height: 605px;}

	.bloco-a .img-destaque {width: 250px;height: 250px;border: 0;border-radius: 250px;margin: 0 20px 0 0;}
	.bloco-b .img-destaque {width: 330px;height: 345px;border: 0;border-radius: 50%;margin: 20px 20px 0 0;}
	.bloco-c .img-destaque {width: 200px;height: 200px;border: 0;border-radius: 50%;margin: 20px 20px 0 0;}
	.bloco-d .img-destaque {width: 220px;height: 220px;border: 0;border-radius: 200px;margin: 0 30px;}

	.bloco-a .descricao_etapas {width: 360px; height: 250px; margin: 0 20px 0 0;}
	.bloco-b .descricao_etapas {width: 270px; height: 425px;}
	.bloco-c .descricao_etapas {width: 240px; height: 225px;}
	.bloco-d .descricao_etapas {width: 300px; height: 205px;}

	.conversa {background: #FFFFFF;border-radius: 8px;border: 3px solid #FFFFFF;position: relative;}
	.conversa:before {position: absolute; display: block; content: ' '; width: 0; height: 0; z-index: 0;}

	.conversa .nenhuma-conversa,
	.conversa .nenhuma-conversa:before,
	.conversa .nenhuma-conversa a {color: #636363;}
	.conversa .nenhuma-conversa a:hover {color: #CCC;}

	.bloco-a .conversa .nenhuma-conversa {width: 250px; height: 204px;}
	.bloco-b .conversa .nenhuma-conversa {width: 580px; height: 104px;}
	.bloco-c .conversa .nenhuma-conversa {width: 420px; height: 124px;}
	.bloco-d .conversa .nenhuma-conversa {width: 260px; height: 104px;}

	.bloco-a .conversa {width: 290px; height: 250px;}
	.bloco-b .conversa {width: 620px; height: 150px; margin-top: 20px;}
	.bloco-c .conversa {width: 460px; height: 170px; margin-top: 20px;}
	.bloco-d .conversa {width: 300px; height: 150px; margin-top: 20px;}

	.bloco-a .conversa:before {top: 110px;left: -23px;border-top: 10px solid transparent;border-right: 10px solid #FFFFFF;border-bottom: 10px solid transparent;border-left: 10px solid transparent;}
	.bloco-b .conversa:before {top: -23px;right: 130px;border-top: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #969696;border-left: 10px solid transparent;}
	.bloco-c .conversa:before {top: -23px;left: 320px;border-top: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #969696;border-left: 10px solid transparent;}
	.bloco-d .conversa:before {top: -23px;left: 130px;border-top: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 10px solid #969696;border-left: 10px solid transparent;}

	.bloco-a .conversa .ultima-conversa .texto-conversa .conteudo-post {max-height: 125px; font-size: 14px;}
	.bloco-b .conversa .ultima-conversa .texto-conversa .conteudo-post {max-height: 30px; font-size: 12px;}
	.bloco-c .conversa .ultima-conversa .texto-conversa .conteudo-post {max-height: 55px; font-size: 14px;}
	.bloco-d .conversa .ultima-conversa .texto-conversa .conteudo-post {max-height: 30px; font-size: 12px;}

	.conversa .ultima-conversa .texto-conversa a h5 {color: #757575;}
	.conversa .ultima-conversa .texto-conversa a:hover h5 {color: #1b1b1b;}
	.conversa .ultima-conversa .texto-conversa .meta-data {color: #808080;}
	.conversa .ultima-conversa .texto-conversa .meta-assunto {color: #3f86e2;}
	.conversa .ultima-conversa .texto-conversa .conteudo-post {color: #525252;overflow: hidden;}

	.conversa .ultima-conversa .ico-user img {width:30px; height: 30px;}


	/* ENVIO - COMO FAZER */

	#box_post-envio .post-envio .conteudo .lista ul li, #box_post-envio .post-envio .conteudo .lista-complexa ul li{background: #616161;}
	#box_post-envio .post-envio .conteudo .lista ul li:nth-child(2n), #box_post-envio .post-envio .conteudo .lista-complexa ul li:nth-child(2n){background: #8E8E8E;}

	.lista-conteudos {background: none; position: relative;}
	.lista-conteudos:after {position: absolute; bottom: -30px; left: 0; width: 980px; height: 30px; content: " "; background: url(../imagens/sombra.png) no-repeat;}
	.lista-conteudos article.envio {max-height: 410px;}

	.lista-conteudos article.envio .midia .status {position: absolute;line-height: 30px;padding: 0 15px;top: 15px;left: -6px;font-size: 12px;font-weight: 600;color: #FFFFFF;background: #A267A9;border-radius: 0 36px 36px 0;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.25);border: none;}
	
			.lista-conteudos article.envio.pre-aprovado .midia .status {color: #FFFFFF;background: #89CA0E;border-radius: 0 36px 36px 0;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.25);border: none;} /*PrÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©-aprovado*/
			.lista-conteudos article.envio.envio-aluno 	.midia .status {color: #FFFFFF;background: #14BBAD;border-radius: 0 36px 36px 0;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.25);border: none;} /*Enviado pelo aluno*/
			.lista-conteudos article.envio.envio-prof 	.midia .status {color: #15B5A7;} /*Enviado para o professor*/
			.lista-conteudos article.envio.moderacao 	.midia .status {color: #FFFFFF;background: #FF9B00;border-radius: 0 36px 36px 0;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.25);border: none;} /*Aguardando publicaÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â£o*/
			.lista-conteudos article.envio.rascunho 	.midia .status {color: #FFFFFF;background: #A267A9;border-radius: 0 36px 36px 0;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.25);border: none;} /*Rascunho*/
			.lista-conteudos article.envio.publicado 	.midia .status {color: #FFFFFF;background: #4373FF;border-radius: 0 36px 36px 0;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.25);border: none;} /*Publicado*/
			.lista-conteudos article.envio.pendente 	.midia .status {color: #FFFFFF;background: #FF2656;border-radius: 0 36px 36px 0;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.25);border: none;} /*Pendente de alteraÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â£o*/

	.lista-conteudos article.envio .midia .status:before{position: absolute;display: block;content: ' ';width: 0;height: 0;bottom: -4px;left: 0px;border-top: 4px solid #CACACA;border-right: 0px solid transparent;border-bottom: 0px solid transparent;	border-left: 6px solid transparent;	z-index: 0;	}
	.lista-conteudos article.envio .sobre {	border: none;border-top: 10px solid #777;border-bottom: 0;background: #FFF;float: left;height: 75px;border-radius: 0;	}
	.lista-conteudos article.envio .sobre h3 {color: #636363;font-size: 16px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
	.lista-conteudos article.envio a:hover .sobre h3 {color: #93B920;}
	.lista-conteudos article.envio .sobre span {color: #444;	font-size: 14px;}
	.lista-conteudos article.envio .credito {float: left;background: #FFF;border: 1px solid #fff6e6;border-top: 0;border-bottom: 0;padding-top: 5px;border-radius: 0;}
	.lista-conteudos article.envio .acoes_mural {float: left;border: 1px solid #fff6e6;border-top: 0;margin: 0;padding: 0 20px 15px;background: #FFF;height: 40px;}

	.lista-conteudos article.envio .credito .dados-user h5.nome-user {height: 20px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
	.lista-conteudos article.envio.tutoria .credito .dados-user h5.nome-user {height: 30px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
	.lista-conteudos article.envio .credito .dados-user span {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}

	.lista-conteudos .acoes_lista {margin: 10px 0 20px;}
	
	#box_envios-tutoriais .lista-conteudos .acoes_lista a.btn_veja-mais {background: #1f1f1f;border: 1px solid #ff5858;color: #FFFFFF;border-radius: 0px;text-transform: uppercase;font-weight: 700;padding: 0 50px;}
	#box_envios-tutoriais .lista-conteudos .acoes_lista a.btn_veja-mais:hover {background: rgb(189, 189, 189);color: #5d5d5d;}

	.lista-conteudos .acoes_lista a.btn_veja-mais {background: #faa000;border: 1px solid #ffffff;color: #FFFFFF;border-radius: 0px;text-transform: uppercase;font-weight: 700;padding: 0 50px;}
	.lista-conteudos .acoes_lista a.btn_veja-mais:hover {background: rgba(255, 255, 255, 0.81);color: #212121;}

	.envios-perfil-aluno, .envios-turma{border-right: 1px solid #5c5c5c;}
	.sidebar-turma .sobre-turma{color:#FFF;	}
	.sidebar-envio .sobre-turma p{color:#FFF;	}

	/* SOCIAL */
	/*
	.acoes_mural .botaoCurtirGrupos {background: #DDD; float: left; margin-right: 4px;}
	.acoes_mural .botaoCurtirGrupos:before {content: "\E854"; font-family: Fontello; color: #444; font-size: 18px; font-weight: normal;}
	.acoes_mural .botaoComentar, .acoes_mural .botaoCurtirGrupos {background-color: #DDD; border-radius: 5px; box-shadow: 0 0 0 #a0a0a0; color: #444; display: inline-block; height: 30px; line-height: 30px; width: 30px; text-align: center;}
	.acoes_mural .botaoComentar:hover, .acoes_mural .botaoCurtirGrupos.ativo, .acoes_mural .botaoCurtirGrupos:hover {background-color: #999; background-position: 7px -45px;}
	.acoes_mural .botaoComentar span {position: initial;}
	.acoes_mural .botaoComentar span:before {color: #444;}
	*/

	#box_envios-tutoriais
	nav.nav-envios {margin: 0 20px;}

	/* BASTIDORES */
	.bastidores
	h2.tit-section {border-bottom: 0;
	padding: 0;}
	.bastidores
	h2.tit-section span {top: 370px;
	right: 365px;}
	.bastidores
	h2.tit-section span a.ver-galeria {
	font-size: 22px;
	line-height: 50px;
	padding: 0 20px;
	display: block;
	color: #ffffff;
	background: #ffb813;
	border: 1px solid #ffffff;
	border-radius: 0px;
	text-transform: uppercase;
	float: none;
	width: 200px;
	text-align: center;
	font-weight: 700;
	}
	.bastidores
	h2.tit-section span a.ver-galeria:hover {
	color: #4e4e4e;
	background: rgba(255, 255, 255, 0.83);
	}
	.bastidores
	h2.tit-section span a.ver-galeria:before {display: none;}

	.bastidores .destaque-bastidores
	li .midia {
	border-radius: 0px;
	border: 1px solid #29272a;
	}
	.bastidores .destaque-bastidores
	li .midia:hover {opacity: 0.9;}
	.bastidores .destaque-bastidores
	li .credito {border: 0;
	border-radius: 0 0 5px 5px;
	background: none;}
	.bastidores .destaque-bastidores
	li .credito .dados-user a {color: #ffffff;}
	.bastidores .destaque-bastidores
	li .credito .dados-user a:hover {color: #6C4B94;}
	.bastidores .destaque-bastidores
	li.grid_3 .credito .dados-user {width: 135px;}
	.bastidores .destaque-bastidores
	li.grid_4 .credito .dados-user {width: 215px;}
	.bastidores .destaque-bastidores
	li.grid_5 .credito .dados-user {width: 295px;}
	.bastidores .destaque-bastidores
	li.grid_6 .credito .dados-user {width: 375px;}

	/* CONTEUDOS RELACIONADOS */
	.relacionados
	h2.tit-section {border-bottom: 0;
	padding: 0;}
	.relacionados	article .midia {
	border-radius: 0px;
	border: none;
	}
	.relacionados	article .detalhes {
	width: 100%;
	background: #ffde32;
	border: 0;
	border-radius: 0;
	display: inline-block;
	border-radius: 0px;
	/* color: #000; */
	}
	.relacionados
	article:hover .detalhes {background: rgb(255, 237, 144);}
	.relacionados
	article .detalhes h3,
	.relacionados article .detalhes p {color: #5f5f5f;}
	.relacionados
	article .detalhes p {height: 60px;}

	/* MURAL */
	section#ava_mural_geral .dialogo {padding: 10px 0 0 10px;}
	section#ava_mural_geral .dialogo,
	section#ava_mural_geral .timeline {box-shadow: 0px 0px 0px #c8c8c8; }

	/* ESTILIZAÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢O DO MURAL */
	section#ava_mural_geral .dialogo {background: rgb(255, 255, 255);
	border-color: transparent;
	color: #FFF;
	border-radius: 10px;}
	
	.digala:before,
	section#ava_mural_geral .dialogo a.current,
	section#ava_mural_geral .dialogo a:hover
	section#ava_mural_geral .dialogo a.actions {color: #575757;}
	
	.mensagem_multimidia
	ul .multimidia_imagens span:before,
	.mensagem_multimidia ul .multimidia_video span:before,
	.mensagem_multimidia ul .multimidia_audio span:before,
	.mensagem_multimidia ul .multimidia_documentos span:before,
	.mensagem_multimidia ul li a {color: #575757 !important;}

	.checkbox_personalizado_css
	label {color: #575757;}
	span.postar_assunto {color: #575757;}

	.data_compartilhamento
	a {color: #CCC;}

	/*
	.btn_cor.disable, .btn_cor.disable:hover {background: rgba(255,255,255,0.2) !important; border: 2px solid rgba(255,255,255,0.2) !important;}
	.btn_cinza, .btn_laranja, .btn_cor {background: none !important; border: 2px solid #FFF !important; border-radius: 5px; color: #FFF;}
	
	.btn_cinza:focus, .btn_laranja:focus, .btn_cor:focus {border-width: 2px;}
	*/
	.btn_cinza:hover, .btn_laranja:hover, .btn_cor:hover {
	box-shadow: 0 0 0;}

	.mensagem_multimidia
	ul li a:hover,
	.mensagem_multimidia ul li a:hover span{color:#CCC!important;}

	.sep_digala {
	background: rgb(243, 243, 243);
	border-radius: 0 0 10px 10px;}

	.paginas .mural_time {
	line-height: 14px;}
	.pagina_mural {
	background: rgba(255,255,255,0.1);
	box-shadow: -3px 0 0 0 #5E5BD9;}
	.pagina_mediador {
	background: rgba(255,255,255,0.1);
	box-shadow: -3px 0 0 0 #2EB1E4;}

	.preview_post .prev_documento
	p {color: #444;}
	.enviar_video
	span:before {color: #444;}
	section#ava_mural_geral .timeline {background: rgba(41, 41, 41, 0.73);
	border-color: transparent;
	border-radius: 10px;}
	section.timeline header, section.container_EP header, section.container_PR header {
	background: rgba(249, 249, 249, 0.85);
	color: #444;
	border: 0;
	border-radius: 10px 10px 0 0;
	}
	.timeline .icon_li.mural {
	background: url(../imagens/sprite_ava.png) no-repeat 0 -60px;}
	#ava_wrap .highlight, .timeline .highlight {
	background: #FFF;
	color: #FFF;
	}
	.mural_time {
	color: #666;
	}
	.mural_time
	a span {color: #666 !important;}
	.mural_time
	span a {color: #EEE !important;}
	.mural_time
	a:hover span {color: #FFF !important;}
	.timeline .e-wrap>
	p {color: #999;}
	article .e-wrap a {color: #444;}
	article .e-wrap a:hover {color: #CCC;}
	article .e-wrap a .icon_maca {background: url(../imagens/maca.png) no-repeat;
	margin: 0 2px 0 0;}
	article .e-wrap a .icon_mediador {
	color: #444;
	margin: 0 2px 0 0;
	}
	.timeline
	article {
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid #ccc;
	background: #FFF;
	}
	.filtro_timeline .btn_cinza {
	line-height: 23px !important;}
	.highlight .acoes_mural .feedCurtir {
	border-color: transparent;}
	.highlight .acoes_mural .comentariosMural {
	background: rgba(255,255,255,0.1);}
	.highlight .acoes_mural .comentariosMural .comentarios_escondidos >
	div {border-color: rgba(255,255,255,0.2);}
	.highlight .acoes_mural .comentariosMural >
	div {border-color: rgba(255,255,255,0.2);}
	.textComentario {
	color: #666;
	}
	.coment_excluir
	span:before {color: #CCC;}
	.combo_denunciar_excluir >
	li .icone {background: url(../imagens/excluir_post.png) no-repeat;
	margin-right: 5px;}
	.acoes_mural .comentariosMural .comentarios_escondidos >
	div .textComentario .grupoTime,
	.acoes_mural .comentariosMural > div .textComentario .grupoTime {color: #666;}
	.acoes_mural .botaoComentar
	span:before {color: #444;}
	.acoes_mural .feedCurtir:hover {
	background: rgba(255,255,255,0.2);
	border-color: transparent;}
	.acoes_mural .feedCurtirIcone,
	.acoes_mural .comentariosMural .carregarComentarios {
	color: #999999 !important;
	}
	.acoes_mural .comentariosMural {
	background: rgba(255,255,255,0.2);}
	.acoes_mural .comentariosMural .comentarios_escondidos >
	div,
	.acoes_mural .comentariosMural > div {border-color: rgba(255,255,255,0.3);}
	.hs1
	footer {background: rgba(133, 134, 133, 0.71);
	border-radius: 0 0 10px 10px;}
	.hs1
	footer a {color: #FFF;}
	a.corretor_mensagem, a.corretor_mensagem span {color: #444 !important;}

	.comentarios_escondidos {
	padding: 0;}
	.comentarios_escondidos >
	div {border-bottom: 1px solid rgba(255,255,255,0.3);
	padding: 15px;}

	.carregarComentarios {
	width: 100%;}


	/* Fim ESTILIZAÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢O DO MURAL */

	.mural_sidebar
	h2.widget-titulo {color: #ffffff;}
	.mural_sidebar
	h2.widget-titulo span a {color: #fffda2;}
	.mural_sidebar
	h2.widget-titulo span a:hover {color: #ffffff;}

	.mural_sidebar .btn_confira {
	border: 1px solid #ffffff;
	background: #f3b21a;
	bo;
	border-radius: 0;
	dding: 0 15px;
	font-size: 14px;
	text-transform: uppercase;
	}
	.mural_sidebar .btn_confira:hover {
	background: rgb(255, 232, 61);
	color: #575757;
	}
	
	.mural_sidebar .widget_etapas {
	display: inline-block;
	width: 100%;}
	.mural_sidebar .widget_etapas
	article.etapa_bloco {border: 0;
	background: none;}
	.mural_sidebar .widget_etapas
	article.etapa_bloco .img-destaque {border-radius: 150px;
	border: 0;
	background-color: transparent;}
	.mural_sidebar .widget_etapas
	article.etapa_bloco .descricao_etapas {;}
	.mural_sidebar .widget_etapas
	article.etapa_bloco .descricao_etapas h3 {color: #D2F170;
	margin: 0;
	font-size: 14px;}
	.mural_sidebar .widget_etapas
	article.etapa_bloco .descricao_etapas p {text-align: left;}

	.mural_sidebar .widget_etapas
	article.etapa_bloco .descricao_etapas .status {
	padding: 0 10px;
	border-radius: 0;
	float: left;
	position: relative;
	font-weight: normal;
	/* text-align: center; */
	}

	.mural_sidebar .widget_etapas
	article.etapa_bloco a .descricao_etapas .status {float: left;
	width: 100%;
	text-align: center;
	line-height: normal;
	padding: 10px;}

	.mural_sidebar .widget_etapas
	article.etapa_bloco .descricao_etapas h2 {color: #5d5d5d;}
	.mural_sidebar .widget_etapas
	article.etapa_bloco .descricao_etapas .status span {display: inline-block;
	margin-left: 5px !important;}

	.mural_sidebar .widget_etapas
	article.etapa_bloco.fechado .descricao_etapas .status {
	background: #DE4130;
	color: #FFF;
	border: 1px solid #FFF;
	}
	.mural_sidebar .widget_etapas
	article.etapa_bloco.fechado a:hover .descricao_etapas .status	{background: #be473a;border: 1px solid #FFF;}
	.mural_sidebar .widget_etapas
	article.etapa_bloco.fechado .descricao_etapas .status span {margin: 0;}
	.mural_sidebar .widget_etapas
	article.etapa_bloco.fechado .descricao_etapas .status span:before {content: "In�cio em: ";
	font-weight: normal;
	font-size: 12px;}

	.mural_sidebar .widget_etapas
	article.etapa_bloco.aberto .descricao_etapas .status 	{
	background: #28619e;
	color: #FFF;
	border: 1px solid #FFF;
	}
	.mural_sidebar .widget_etapas
	article.etapa_bloco.aberto a:hover .descricao_etapas .status 	{background: #254e79;border: 1px solid #FFF;}
	.mural_sidebar .widget_etapas
	article.etapa_bloco.aberto .descricao_etapas .status span:before {content: "At�: ";
	font-weight: normal;
	font-size: 12px;}

	.mural_sidebar .widget_etapas
	article.etapa_bloco.encerrado .descricao_etapas .status 	{background: #64C740;
	color: #FFF;}
	.mural_sidebar .widget_etapas
	article.etapa_bloco.encerrado a:hover .descricao_etapas .status 	{background: #598C46;}

	.mural_sidebar .envios-populares
	article {
	background: rgb(0, 167, 208);
	border: 1px solid #ffffff;
	margin: 5px 0;
	height: 144px;
	width: 100%;
	float: left;
	overflow: hidden;
	border-radius: 2px;
	}
	.mural_sidebar .envios-populares
	article .midia {height: 140px;}
	.mural_sidebar .envios-populares
	article h3 {color: #ffc94a;}
	.mural_sidebar .envios-populares
	article .descricao_etapas {height: 140px;}
	.mural_sidebar .envios-populares
	article .descricao_etapas span {color: #FFF;}
	.mural_sidebar .envios-populares
	article a {color: #ffffff;}
	.mural_sidebar .envios-populares
	article a:hover {color: #ffde61;}

	.mural_sidebar .widget_bastidores
	ul.mini-galeria {
	background: rgb(0, 167, 208);
	border: 0;
	border-radius: 3px;
	}

	.mural_sidebar .widget_relacionados
	article {
	background: rgb(0, 167, 208);
	border: 0;
	border-radius: 3px;
	}
	.mural_sidebar .widget_relacionados
	article:hover {background: rgb(0, 137, 171);}
	.mural_sidebar .widget_relacionados
	article h3 {color: #ffe55b;}
	.mural_sidebar .widget_relacionados
	article p {color: #FFF;}
	.mural_sidebar .widget_relacionados
	article .detalhes {padding: 0 0 0 15px;}
	.mural_sidebar .widget_relacionados
	article .detalhes p {font-size: 12px;
	line-height: 18px;
	margin: 5px 0 0;}

	/* PÃÂGINA DO DESAFIO */
	.titulo-page {
	color: #ffef6e;
	font-size: 24px;
	}

	.acesso-envio .dados-envios {
	color: #faa000;
	font-size: 16px;
	margin: 5px 20px 0 0;
	line-height: 25px;
	}
	.acesso-envio
	div.status {
	background: #777;
	border-radius: 0px;
	border: 2px solid #B9BBBD;
	color: #FFF;
	line-height: 54px;
	}

	#ava_projetos .acesso-envio .liberado:before {
	font-weight: normal;}

	#ava_projetos .acesso-envio .liberado {
	background: #B4D64D;
	border-radius: 48px;
	border: 3px solid #DBFF6E;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 700;	}
	#ava_projetos .acesso-envio .liberado:hover {
	background: rgb(219, 255, 110);
	color: #5c5c5c;	}


	.material-destaque {
	padding: 40px 70px;
	height: 345px;
	background: rgba(16,23,28,0.7);
	border: 3px solid #B9BBBD;
	border-radius: 15px;}
	.material-destaque .nav-material {
	height: 340px;
	line-height: 340px;
	color: #ffef6e;
	}
	.material-destaque .nav-material:hover {
	color: #fff6e6;
	}

	.material-destaque .conteudo .midia,
	.material-destaque .conteudo .sobre {
	width: 385px;}
	.material-destaque .conteudo .midia {
	background-color: transparent;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	}

	.material-destaque .conteudo .sobre .credito .dados-user
	a {color: #ffef6e;}
	.material-destaque .conteudo .sobre .credito .dados-user
	a:hover {color: #fff6e6;}

	.material-destaque .conteudo .sobre
	a h3 {color: #ffef6e;}
	.material-destaque .conteudo .sobre
	a:hover h3 {color: #FFFFFF;}
	.material-destaque .conteudo .sobre
	p {color: #FFF;}

	.material-destaque .conteudo .sobre .conversa {
	border-radius: 0;
	border-top: 1px solid #ffef6e;
	}
	.material-destaque .conteudo .sobre .conversa
	a h5 {color: #ffef6e;}
	.material-destaque .conteudo .sobre .conversa
	a:hover h5 {color: #fff6e6;}
	.material-destaque .conteudo .sobre .conversa .ultima-conversa .texto-conversa .conteudo-post {
	color: #FFF;}


	/* PÃÂGINA DE PARTICIPANTES */

	.header-page h1 {color: #fff;}

	.pag-participantes .listagem-participantes
	h3 {color: #FFF;margin-top: 10px;}
	.pag-participantes .listagem-participantes
	h3 span {color: #DBFF6E;}

	.pag-participantes .listagem-participantes
	ul.filtros {padding: 0;
	border: 0;}

	.pag-participantes .listagem-participantes
	ul.filtros li:last-child input[type=search] {
	margin: 0;
	border: 2px solid #FFF;
	background: #FFFFFF;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	padding: 0 5px;
	outline: none;
	height: 30px;
	border-radius: 25px;
	outline: none;
	color: #FFF;
	}
	.pag-participantes .listagem-participantes
	ul.filtros li:last-child input[type=search]:focus {margin: 0;
	border: 2px solid #FFF !important;
	background: rgba(255,255,255,0.2);
	font-size: 14px;
	outline: none;
	color: #FFF;}
	.pag-participantes .listagem-participantes
	ul.filtros li:last-child:before {font-family: Fontello;
	content: "\E9C2";
	font-size: 15px;
	margin-right: 5px;
	color: #FFF;}
	.pag-participantes .listagem-participantes
	ul.filtros li:last-child:after {display: none;}

	.pag-participantes .listagem-participantes
	ul.filtros li {position: relative;}
	/*.pag-participantes .listagem-participantes ul.filtros li:after {font-family: Fontello; color: #FFF; content: "\EA3B"; position: absolute; right: 30px; top: 0; font-size: 18px;}*/
	.pag-participantes .listagem-participantes
	ul.filtros li select {
	border: 2px solid #FFF;
	padding: 0 30px 0 10px;
	background: #FFF url(../imagens/select_down2.png) right center no-repeat;
	line-height: 27px;
	color: #444;
	border-radius: 25px;
	height: 30px;
	width: 180px;
	text-indent: 0.01px;
	text-overflow: "";
	-moz-appearance: none;
	-webkit-appearance: none;
	select::-ms-expand { display: none; }/* Remove seta padrÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â£o do IE*/
	}
	.pag-participantes .listagem-participantes
	ul.filtros li select::-ms-expand { display: none; }/* Remove seta padrÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â£o do IE*/
	.pag-participantes .listagem-participantes
	ul.filtros li select option {color: #FFF;
	background-color: #020D2B;}
	.pag-participantes .listagem-participantes
	ul.filtros li span.submenu-ico {display: none;}

	.pag-participantes .listagem-participantes
	ul.lista li {background: none;
	border: 0;}
	.pag-participantes .listagem-participantes
	ul.lista li a {color: #FFF;}
	.pag-participantes .listagem-participantes
	ul.lista li a h5.nome-user {color: #DBFF6E;}

	.pag-participantes .listagem-participantes .feedback_participantes {
	color: #FFF;}

	.pag-participantes .acoes_lista
	a.btn_veja-mais {
	background: #B4D64D;
	border: 3px solid #DBFF6E;
	color: #FFF;
	border-radius: 50px;
	text-transform: uppercase;
	padding: 5px 60px;
	font-weight: 700;
	}
	.pag-participantes .acoes_lista
	a.btn_veja-mais:hover {background: rgb(219, 255, 110);color: #5c5c5c;}

	/* PÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂGINA DO ENVIO */

	.header-post-envio {
	background-color: transparent;
	padding: 0;
	min-height: 50px;}
	.header-post-envio .titulo-envio
	h2 {
	color: #fff358;
	line-height: 50px;
	font-size: 26px;
	}
	.header-post-envio .titulo-envio
	span {display: none;}

	.header-post-envio .acoes_mural .feedCurtir:hover {
	background: rgba(255,255,255,0.5);}
	.header-post-envio
	a.feedCurtirIcone.blokletters.b_tooltip.vertodoscurtirammensagem {font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #FFF !important;
	line-height: 25px;}
	.header-post-envio
	a.feedCurtirIcone.blokletters.b_tooltip.vertodoscurtirammensagem:hover {color: #FFF !important;}

	.passos-abas {
	/* border-radius: 90px; */
	background: none;
	border: 0px solid #FFF;
	}
	.passos-abas
	ul.passos-lista li a {
	border: 1px solid #945da1;
	background: #FFF;
	color: #333;
	line-height: 28px;
	}
	.passos-abas
	ul.passos-lista li.ativo a {background: rgb(253, 223, 93);}
	.passos-abas
	ul.passos-lista li.ativo a:hover {background: rgba(255,255,255,0.5);}
	.passos-abas
	ul.passos-lista li a:hover {background: rgba(255,255,255,0.2);}

	.post-envio .social-links-top {
	top: 0;
	right: 0;
	display: none;}
	.post-envio .social-links-bot {
	background: #623d6b;
	padding: 15px;
	}
	.post-envio .social-links-bot .acoes_mural {
	border-top: 1px solid rgba(255,255,255,0.2);
	}

	.post-envio .conteudo {
	background: rgba(47, 47, 47, 0.73);
	color: #f2f2f2;
	padding: 10px 10px 10px 20px;
	}
	.post-envio .conteudo
	h3.titulo-envio {color: #fff367;}
	.post-envio .conteudo .midia
	a.nav-material {color: #e1d310;}

	.post-envio .post-conversa {
	border-radius: 10px;
	background: #FFF;
	color: #484848;
	border: 0;
	}
	.post-envio .post-conversa .intro
	a {color: #9A9A9A;}
	.post-envio .post-conversa .intro
	a:hover {color: #CCC;}
	.post-envio .post-conversa .post-form
	a.btn_enviar {border: 2px solid #FFF;
	color: #FFF;
	background: none;
	text-transform: uppercase;
	font-weight: 700;}
	.post-envio .post-conversa .post-form
	a.btn_enviar:hover {background: rgba(255,255,255,0.2);}
	.post-envio .post-conversa .post-form
	input[type=text] {border: 0;
	padding: 6px;}
	.post-envio .post-conversa .post-form .campanha
	img {width: 50px;
	height: 50px;}
	.post-envio .post-conversa .post-form .campanha
	a.ico {background-color: transparent;}
	.post-envio .post-conversa .post-form .campanha
	p {color: #484848;}
	.post-envio .post-conversa .post-form .campanha
	p a {color: #50A725;}
	.post-envio .post-conversa .post-form .campanha
	p a:hover {color: #CCC;}
	.post-envio .post-conversa
	article {border-bottom: 1px solid rgba(90, 90, 90, 0.49);}
	.post-envio .post-conversa
	article .dialogo .acoes_mural span.meta-data {color: #9A9A9A;}
	.post-envio .post-conversa
	article .dialogo .acoes_mural a.feed-Curtir {color: #FFF;}
	.post-envio .post-conversa
	article .dialogo .acoes_mural a.feed-Curtir:hover {color: #CCC;}
	.post-envio .post-conversa
	article .dialogo .resposta .dialogo .acoes_mural span.meta-data {color: #DDD;}
	.post-envio .post-conversa
	article .dialogo a.btn_denuncia:before {color: #FFF;}
	.post-envio .post-conversa
	article .dialogo a.btn_denuncia:hover:before {color: #CCC;}
	.post-envio .post-conversa
	article .dialogo a.btn_excluir:before {color: #7B7B7B;}
	.post-envio .post-conversa
	article .dialogo a.btn_excluir:hover:before {color: #CCC;}
	.post-envio .post-conversa .carregar-comentarios {
	background: rgba(255,255,255,0.2);
	color: #484848;
	}
	.post-envio .post-conversa .carregar-comentarios:hover {
	color: #CCC;}

	.post-envio .post-conversa
	article .dialogo h5.nome-user a {color: #464646;}
	.post-envio .post-conversa
	article .dialogo h5.nome-user a:hover {color: #CCC;}

	.post-envio .post-conversa
	article .dialogo h5.nome-user i {color: #484848;}
	.post-envio .post-conversa
	article .dialogo h5.nome-user i.icon_maca {background: url(../imagens/maca.png) no-repeat;}

	.sidebar-envio {
	padding: 0;
	background: none;}
	.sidebar-envio .perfil .dados-user {
	width: 205px;}
	.sidebar-envio .perfil .dados-user
	a {color: #FFF;
	width: 100%;}
	.sidebar-envio .perfil .dados-user
	a:hover {color: #DDD;}
	.sidebar-envio .perfil .dados-user
	a h5.nome-user {
	color: #f3ef58;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	}
	.sidebar-envio .perfil .dados-user
	span {overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;}
	.sidebar-envio .perfil .dados-user
	span:before {font-weight: normal;}	

	.sidebar-envio
	h4 {color: #f3ef58;}

	.sidebar-envio
	a.btn_veja-todos {background: none;
	border: 2px solid #DDD;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;}
	.sidebar-envio
	a.btn_veja-todos:hover {background: rgba(255,255,255,0.2);
	color: #FFF;}

	.sidebar-envio
	ul.lista-alunos li {border: 2px solid #9a9a9a;}
	.sidebar-envio
	ul.lista-alunos li img {margin: -2px;}

	.sidebar-envio
	ul {width: 100%;}
	.sidebar-envio
	ul.lista-professor li a {color: #FFF;}
	.sidebar-envio
	ul.lista-professor li a:hover {color: #DDD;}

	.sidebar-turma {
	padding: 0;
	background: none;}
	.sidebar-turma .perfil .dados-user {
	width: 195px;}
	.sidebar-turma .perfil .dados-user
	a {color: #FFF;
	width: 100%;}
	.sidebar-turma .perfil .dados-user
	a:hover {color: #DDD;}
	.sidebar-turma .perfil .dados-user
	a h5.nome-user {
	color: #fff476;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	}
	.sidebar-turma .perfil .dados-user
	span {overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 16px;}

	.sidebar-turma
	h4 {color: #fff682;}

	.sidebar-turma
	a.btn_veja-todos {
	background: #ffb22a;
	border: 1px solid #ffffff;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 0px;
	}
	.sidebar-turma
	a.btn_veja-todos:hover {
	background: rgba(255, 255, 255, 0.8);
	color: #3E3E3E;
	}

	.sidebar-turma
	ul.lista-alunos li {border: 2px solid #9a9a9a;}
	.sidebar-turma
	ul.lista-alunos li img {margin: -2px;}

	.sidebar-turma
	ul {width: 100%;}
	.sidebar-turma
	ul.lista-professor li a {color: #FFF;}
	.sidebar-turma
	ul.lista-professor li a:hover {color: #DDD;}

	/* ORIENTAÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¢ES */

	.orientacao .sidebar a,
	.orientacao .sidebar {color: #FFF;}
	.orientacao .sidebar a:hover {color: #CCC;}

	.orientacao .conteudo {background: none; color: #FFF;}
	.orientacao .conteudo h4 {color: #ffc22b;}
	
	.orientacao .sidebar .tutoria {border: 2px solid #a5a5a5;background: none;border-radius: 5px;margin-top: 10px;}
	.orientacao .sidebar h3 {color: #ffc22b;}
	.orientacao .sidebar .pdfs ul li {padding: 15px 0 15px 40px; border-bottom: 1px solid rgba(255,255,255,0.2);}
	.orientacao .sidebar .pdfs ul li:before {color: #ffc22b;}

	.orientacao .calendario {background: rgb(101, 59, 111);border-radius: 10px;color: #FFF;border: 3px solid #b7b7b7;}
	.orientacao .calendario .cronograma h3 {color: #ffe041;}

	a.btn_cronograma {background: #ffc22b;border-radius: 0px;border: 1px solid #FFF;line-height: 38px;color: #7a4886;}
	a.btn_cronograma:hover {background: rgb(237, 214, 243);color: #7a4886;}

	.orientacao .calendario .duracao .mes ul.dias li:first-child {color: #CCC;}
	.orientacao .calendario .duracao .mes h4 {color: #ffe041;}
	.orientacao .calendario .duracao .mes ul.semana li {color: #CCC;}
	.orientacao .calendario .duracao .mes ul.dias li.feriado {color: #CCC;}

	.orientacao .cronograma ul li.insc:before,		.orientacao .calendario .duracao .mes ul.dias li.insc 		{background: #ffc138;}
	.orientacao .cronograma ul li.etapa1:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa1 	{background: #fb8245;}
	.orientacao .cronograma ul li.etapa2:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa2 	{background: #92cc5e;}
	.orientacao .cronograma ul li.etapa3:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa3 	{background: #65d0d6;}
	.orientacao .cronograma ul li.etapa4:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa4 	{background: #194179;}
	.orientacao .cronograma ul li.etapa5:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa5 	{background: #307DE4;}
	.orientacao .cronograma ul li.etapa6:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa6 	{background: #723ca5;}
	.orientacao .cronograma ul li.etapa7:before,	.orientacao .calendario .duracao .mes ul.dias li.etapa7 	{background: #a4a53c;}
	.orientacao .cronograma ul li.fim:before,		.orientacao .calendario .duracao .mes ul.dias li.fim		{background: #ff4e5d;}

	.orientacao .conteudo a.btn_enviar {border-radius: 5px; background: none; border: 2px solid #FFF; text-transform: uppercase; font-weight: 700; height: 40px; line-height: 36px;}
	.orientacao .conteudo a.btn_enviar:hover {background: rgba(255,255,255,0.2);}

	.orientacao #form_sac a {color: #FFF;}
	.orientacao #form_sac a:hover {color: #CCC;}

	/* GALERIA BASTIDORES */

	.galeria.lista-conteudos
	article.envio .credito {padding-top: 15px;}
	
/* ENVIOS */

#box_inscricao #ava_projetos .menu-abas { border-bottom: 1px solid rgba(255,255,255,0.3);	padding: 0 0 10px;}
#box_inscricao .submenu-abas	li:after {display: none;}
#ava_projetos .submenu-abas	li.ativo a {color: #FFF;}
#ava_projetos .submenu-abas	li a.btn_novo-material {color: #FFF;background: #93AF3D;border: 2px solid #DBFF6E;	padding: 3px 15px;	border-radius: 30px;}
#ava_projetos .submenu-abas	li a.btn_novo-material:hover { color: #656565;	background: rgb(219, 255, 110);	}

/*ENVIOS*/

	/*PADRÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¢ES DE POST*/

	#box_post-envio .post-envio .conteudo p {margin-top: 15px;line-height: 18px;	}
	.post-envio .conteudo .midia.imagem {	height: 350px;}
	.post-envio .conteudo .midia.imagem
	a.nav-material {height: 350px;line-height: 350px;}
	.post-envio .conteudo .midia	a.img {height: 350px;}

	.btn_pdf {display: inline-block;	font-size: 16px;border-radius: 10px;padding: 0 15px;line-height: 40px;margin: 15px 0 0;float: none;	background: #DE4130;color: #d1d3bc !important;border: 3px solid #c68568;font-weight: 700;}
	.btn_pdf:hover {	background: #be473a;}
	.post-envio .conteudo .nav-passos a:hover {   background: rgba(255, 255, 255, 0.73);  color: #5c5c5c;}
	.post-envio .conteudo .nav-passos a {   font-size: 18px;  line-height: 40px;  padding: 0 15px;  background: #faa000; border-radius: 0px; font-weight: 700;  color: #FFF;  border: 1px solid #FFF;}
    .post-envio .conteudo .nav-passos {  width: 100%; display: inline-block; border-top: 0px; padding: 20px 0 0;  margin: 20px 0 0;}


/***************************************************************/

.resultado_etapa1 {display:inline-block;}
.post-envio .conteudo {padding: 20px !important;}

.resultado_etapa1 .grupo-1 {}
.resultado_etapa1 h4 {font-family: Patrick Hand; text-transform: uppercase; letter-spacing: 1px; color: #fff358; font-weight: normal; margin: 10px 0 0 !important; font-size: 16px !important;}
.resultado_etapa1 p {margin: 0 !important}
.resultado_etapa1 .ng-binding {float: left;}

/*INTRO*/
.resultado_etapa1 .grupo-1 .ng-binding:nth-child(1) {width: 100%;}
	/*Categoria*/
	.resultado_etapa1 .grupo-1 .campo_0 {float: left;}
	.resultado_etapa1 .grupo-1 .campo_0 p {line-height: 20px !important;padding: 0px 3px 0 8px;background-color: #fff358;color: #444;font-size: 12px;position: relative;}
	.resultado_etapa1 .grupo-1 .campo_0 p:after {border: 10px solid transparent;border-left-color: #fff358;content: "";position: absolute;right: -20px;}
	/*Titulo*/
	.resultado_etapa1 .grupo-1 .campo_1 {float: left; margin: 5px 0 0; width: 100%;}
	.resultado_etapa1 .grupo-1 .campo_1 h3.titulo-envio {font-size: 25px !important; color: #fff358; font-family: Patrick Hand; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;}

.resultado_etapa1 .grupo-1 .ng-binding:nth-child(2) {width: 100%;}
	/*Custo*/
	.resultado_etapa1 .grupo-1 .campo_2 {width: 270px;float: left;text-align: center;background-color: #fff358;color: #444;padding: 10px; margin: 0 10px 10px;}
	.resultado_etapa1 .grupo-1 .campo_2 h4 {color: #444; margin: 0 !important;}
	.resultado_etapa1 .grupo-1 .campo_2 p:before {content:'R$';}

	/*Rendimento*/
	.resultado_etapa1 .grupo-1 .campo_3 {width: 270px;float: left;text-align: center;background-color: #fff358;color: #444;padding: 10px; margin: 0 10px 10px;}
	.resultado_etapa1 .grupo-1 .campo_3 h4 {color: #444; margin: 0 !important;}

	.resultado_etapa1 .ng-binding:nth-child(3) {float: left; width: 100%;}
	/*Imagem da receita*/
	.resultado_etapa1 .grupo-1 .campo_4 {margin: 10px 0 0;}
	/*Descrição da receita*/
	.resultado_etapa1 .grupo-1 .campo_5 {}

/*Dica*/
.resultado_etapa1 .grupo-1 .campo_6 {padding: 10px;background-color: rgba(255,255,255,0.2);margin: 10px 0 0;display: inline-block;width: 100%;}
.resultado_etapa1 .grupo-1 .campo_6 h4 {margin: 0 !important; color: #FFF;}
.resultado_etapa1 .grupo-1 .campo_6 p {color: #FFF; margin-top: 5px !important;}

.resultado_etapa1 .grupo-1 .ng-binding:nth-child(4) {width: 50%;}
	/*Produto regional*/
	.resultado_etapa1 .grupo-1 .campo_7 {width: 280px; margin: 0 10px 0 0;}
	.resultado_etapa1 .grupo-1 .campo_8 {width: 280px; margin: 0 10px 0 0;}
	.resultado_etapa1 .grupo-1 .campo_8 a {height: 200px !important;}
	.resultado_etapa1 .grupo-1 .campo_9 {width: 280px; margin: 0 10px 0 0;}

.resultado_etapa1 .grupo-1 .ng-binding:nth-child(5) {width: 50%;}
	/*Ingredientes*/
	.resultado_etapa1 .grupo-1 .campo_10 {width: 280px; margin: 0 0 0 10px;}
	.resultado_etapa1 .grupo-1 .campo_11 {width: 280px;margin: 0 0 0 10px;}
	.resultado_etapa1 .grupo-1 .campo_11 a {height: 200px !important;}
	.resultado_etapa1 .grupo-1 .campo_12 {width: 280px; margin: 0 0 0 10px;}
	.resultado_etapa1 .grupo-1 .campo_12 ul {width: 100% !important;}
	.resultado_etapa1 .grupo-1 .campo_12 li {background-color: rgba(255,255,255,0.2) !important; padding: 5px 15px !important; line-height: normal !important;}
	.resultado_etapa1 .grupo-1 .campo_12 li:nth-child(2n) {background-color: rgba(255,255,255,0.1) !important;}

/*PASSOS*/
.resultado_etapa1 .grupo-2 .campo_0 {}
.resultado_etapa1 .grupo-2 .campo_1 {margin: 10px 0 0;}

.resultado_etapa1 .grupo-2:before {font-size: 25px !important; color: #93F4FF; font-family: Patrick Hand; text-transform: uppercase; letter-spacing: 1px; font-weight: normal;}
.resultado_etapa1 .grupo-2.material-1:before {content: "Passo 1"}
.resultado_etapa1 .grupo-2.material-2:before {content: "Passo 2"}
.resultado_etapa1 .grupo-2.material-3:before {content: "Passo 3"}
.resultado_etapa1 .grupo-2.material-4:before {content: "Passo 4"}
.resultado_etapa1 .grupo-2.material-5:before {content: "Passo 5"}
.resultado_etapa1 .grupo-2.material-6:before {content: "Passo 6"}
.resultado_etapa1 .grupo-2.material-7:before {content: "Passo 7"}
.resultado_etapa1 .grupo-2.material-8:before {content: "Passo 8"}
.resultado_etapa1 .grupo-2.material-9:before {content: "Passo 9"}
.resultado_etapa1 .grupo-2.material-10:before {content: "Passo 10"}
.resultado_etapa1 .grupo-2.material-11:before {content: "Passo 11"}
.resultado_etapa1 .grupo-2.material-12:before {content: "Passo 12"}
.resultado_etapa1 .grupo-2.material-13:before {content: "Passo 13"}
.resultado_etapa1 .grupo-2.material-14:before {content: "Passo 14"}
.resultado_etapa1 .grupo-2.material-15:before {content: "Passo 15"}
.resultado_etapa1 .grupo-2.material-16:before {content: "Passo 16"}
.resultado_etapa1 .grupo-2.material-17:before {content: "Passo 17"}
.resultado_etapa1 .grupo-2.material-18:before {content: "Passo 18"}
.resultado_etapa1 .grupo-2.material-19:before {content: "Passo 19"}
.resultado_etapa1 .grupo-2.material-20:before {content: "Passo 20"}


/* Resultado nacional*/

#box_resultados .resultados_nacionais { background-color: transparent; color:#fff;}
#box_resultados .resultados_nacionais a .banner_resultado{ width:531px; height:431px; background: url(../imagens/img_livro_05.png) no-repeat; margin:0 auto; margin-top:20px;}
#box_resultados .resultados_nacionais a .banner_resultado:hover{background: url(../imagens/img_livro_05_hover.png) no-repeat;	}
#box_resultados .data-consolidada {color:#afafaf;}
#conversa-resultados { background: transparent; margin: 50px 0 0;}
#conversa-resultados .discussao .post-conversa{  background: rgba(255, 255, 255, 0.85);  border-color: transparent; border-radius: 10px;}














