<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <!-- ENTERPRISE LIBRARY -->
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="true" />

    
    <!-- APPFABRIC -->
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="fabric" type="Microsoft.Fabric.Common.ConfigFile, Microsoft.WindowsFabric.Common" allowLocation="true" allowDefinition="Everywhere"/>
    <!-- APPFABRIC -->
  </configSections>


  <!-- APPFABRIC SERVIDORES DE CACHE -->
  <dataCacheClient>
    <localCache isEnabled="false" sync="TimeoutBased" ttlValue="10" />
    <hosts>
      <!--List of services -->
      <host name="TFS" cachePort="22233"/>
    </hosts>
    <securityProperties mode="None" protectionLevel="None" />
  </dataCacheClient>
  <!-- APPFABRIC SERVIDORES DE CACHE -->

  

  <appSettings>
    <!--
    <add key="PositivoCacheType" value="AppFabric"/>
    -->
    <add key="pathFotosUsuarios" value="\\arquivos1\dados\site\universitario\dados\portfolio"/>
    <add key="urlFotos" value="/Papel/Foto" />
    
  </appSettings>

  <!-- DEVE SER RETIRADO DAQUI EM PRODUCAO -->
  <connectionStrings>
    <add name="UnvDb" connectionString="Password=qzpmTYvb;Persist Security Info=True;User ID=dll_user_net;Initial Catalog=unvDb;Data Source=DB2" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!-- DEVE SER RETIRADO DAQUI EM PRODUCAO -->

  <system.web>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <!-- LOGIN -->
    <!-- 
      cookieless="UseCookies"
      Caso esta propriedade nao esteja configurada como acima erros "Autenticação sem cookie não suportada" podem ocorrer
    -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Home/Login"
        name=".ASPXAUTH"
        protection="All"
        path="/"
        cookieless="UseCookies"
        timeout="30" />
    </authentication>
    <!-- LOGIN -->

    <membership defaultProvider="Default" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>

        <!-- IMPLEMENTACAO PARA UNIVERSITARIO -->
        <add name="Default" type="PositivoFramework.Provider.DefaultMembershipProvider, PositivoFramework.Provider"/>
        <!-- IMPLEMENTACAO PARA UNIVERSITARIO -->

      </providers>
    </membership>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />

        <!-- NAMESPACES ADICIONAIS PARA DIMINUIR A QTD DE IMPORTS NAS PAGINAS -->
        <add namespace="PositivoFramework.Web" />
        <add namespace="PositivoFramework.Web.Menu" />
        <add namespace="PositivoFramework.Web.Session" />
        <add namespace="PositivoFramework.Security" />
        <add namespace="PositivoFramework.Globalization" />
        <!-- NAMESPACES ADICIONAIS PARA DIMINUIR A QTD DE IMPORTS NAS PAGINAS -->
      </namespaces>
    </pages>

    <siteMap defaultProvider="Default">
      <providers>
        <clear/>
        <!-- IMPLEMENTACAO PARA UNIVERSITARIO -->
        <add name="Default" securityTrimmingEnabled="true" type="PositivoFramework.Provider.DefaultSiteMapProvider, PositivoFramework.Provider"/>
        <!-- IMPLEMENTACAO PARA UNIVERSITARIO -->
      </providers>
    </siteMap>

    <httpModules>
      <!-- MODULO DE TEMAS -->
      <add name="ThemeHttpModule" type="PositivoFramework.Web.Theme.ThemeHttpModule"/>
      <!-- MODULO DE TEMAS -->
      <!-- MODULO DE AUTENTICACAO -->
      <add name="AuthHttpModule" type="PositivoFramework.Web.Auth.AuthHttpModule"/>
      <!-- MODULO DE AUTENTICACAO -->
      
    </httpModules>


    <customErrors mode="On">
      <error statusCode="500" redirect="/LMS/Core/Erro/Show"/>
    </customErrors>
  </system.web>

  

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- LOG ****************************************************************************************** -->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="\\192.168.100.10\Site_Net\Universitario\dados\LogAdministraUni\Core.log" header="----------------------------------------"
  			footer="----------------------------------------" formatter="Text Formatter"
  			listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
  			traceOutputOptions="None" filter="Error"
  			type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
  			name="FlatFile TraceListener"/>
      <add source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName=""
  			listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
  			traceOutputOptions="None" filter="Error"
  			type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
  			name="Formatted EventLog TraceListener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
  			type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="PositivoFramework.Infrastructure.DAL">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="PositivoFramework.Infrastructure.Log">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <!-- LOG ****************************************************************************************** -->

  <!-- UNITY - UTILIZADO PELAS DAOs -->
  <unity>
    <container name="InternalConfigContainer">
      <register type="PositivoFramework.Infrastructure.DAL.Factory.Base.IConnectionStringManager, PositivoFramework.Infrastructure.DAL.Factory"
        mapTo="PositivoFramework.Infrastructure.DAL.ConnectionStringManagerImpl.ConnectionStringManagerDefaultImpl, PositivoFramework.Infrastructure.DAL.ConnectionStringManagerImpl">
        <lifetime type="PerThreadLifetimeManager" />
      </register>
    </container>

    <container name="DataSourceContainer">
      <register type="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources"
        mapTo="PositivoFramework.Infrastructure.DAL.DataSources.UnvDbDataSource, PositivoFramework.Infrastructure.DAL.DataSources"
        name="UnvDb">
        <lifetime type="ContainerControlledLifetimeManager" />
      </register>
    </container>

    <container name="ServiceContainer">
      <register type="PositivoFramework.Provider.DALInterface.IIdentidadeDALService, PositivoFramework.Provider"
          mapTo="PositivoFramework.Provider.DALImpl.EntLib.IdentidadeDALServiceImpl, PositivoFramework.Provider.DALImpl.EntLib"
          name="EnterpriseLibraryIdentidadeService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="UnvDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>

      <register type="PositivoFramework.Provider.DALInterface.IIdentidadeDALService, PositivoFramework.Provider"
          mapTo="PositivoFramework.Provider.DALImpl.EntLib.IdentidadeDALServiceImpl, PositivoFramework.Provider.DALImpl.EntLib"
          name="EnterpriseLibraryIdentidadeDALService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="UnvDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>

      <register type="PositivoFramework.Provider.DALInterface.IIdentidadeDALService, PositivoFramework.Provider"
          mapTo="PositivoFramework.Provider.DALImpl.EntLib.IdentidadeDALServiceImpl, PositivoFramework.Provider.DALImpl.EntLib"
          name="EnterpriseLibraryIdentidadeDALService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="UnvDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>

      <register type="PositivoFramework.Security.DALInterface.IIdentidadeDALService, PositivoFramework.Security"
          mapTo="PositivoFramework.Security.DALImpl.EntLib.IdentidadeServiceImpl, PositivoFramework.Security.DALImpl.EntLib"
          name="EnterpriseLibrarySecurityDALService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="UnvDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>

      <!-- SiteMap-->
      <register type="PositivoFramework.Provider.DALInterface.ISiteMapDALService, PositivoFramework.Provider"
        mapTo=" PositivoFramework.Provider.DALImpl.EntLib.SiteMapDALServiceImpl, PositivoFramework.Provider.DALImpl.EntLib"
        name="EnterpriseLibrarySiteMapDALService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="UnvDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>
      <!-- SiteMap-->


      <!-- MeuEspacoDALService -->
      <register type="PositivoLMS.DAL.DALInterface.MeuEspaco.IMeuEspacoDALService, PositivoLMS.DAL.DALInterface.MeuEspaco"
          mapTo="PositivoLMS.DAL.DALImpl.EntLib.MeuEspaco.MeuEspacoDALServiceImpl, PositivoLMS.DAL.DALImpl.EntLib.MeuEspaco"
          name="MeuEspacoDALService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="UnvDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>
      <!-- MeuEspacoDALService -->
      
      
      
      <!-- 
        Adicionar mais servicos aqui caso necessario.....
        A configuracao de servicos permanece a mesma (Nao eh alterada no arquivo "Web.Release.config").
      -->
    </container>
  </unity>
  <!-- UNITY - UTILIZADO PELAS DAOs -->



  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="false"/>
  </system.webServer>
</configuration>