<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<configSections>
		<!-- Elmah -->
		<sectionGroup name="elmah" xdt:Transform="Insert">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
		<!-- Elmah -->
	</configSections>


	<connectionStrings xdt:Transform="Remove">
	</connectionStrings>

	<appSettings>
		<!--
    <add key="pathFotosUsuarios" value="\\fs-pu\site_net\universitario\dados\portfolio" xdt:Transform="Replace"  xdt:Locator="Match(key)"/>
  -->

		<!-- ja existe nos outro ambientes -->
		<add key="pathFotosUsuarios" value="\\fs-pu\site_net\universitario\dados\portfolio" xdt:Transform="Remove"  xdt:Locator="Match(key)"/>
		<add key="urlFotos" xdt:Transform="Remove"  xdt:Locator="Match(key)"/>
		<!-- ja existe nos outro ambientes -->













		<add key="pathFotosUsuarios" value="\\fs-pu\site_net\universitario\dados\portfolio" xdt:Transform="Insert" />
		<add key="pathMaterialApoio" value="\\fs-pu\site_net\universitario\dados\materialapoio" xdt:Transform="Insert" />

		<add key="urlCore" value="/LMS/Core" xdt:Transform="Insert" />
		<add key="urlFoto" value="/LMS/Core/Papel/Foto" xdt:Transform="Insert" />
		<add key="urlPapelDataSource" value="/LMS/Core/Papel/DataSource" xdt:Transform="Insert" />
		<add key="urlSetPapel" value="/LMS/Core/SPapel/SetPapel" xdt:Transform="Insert" />
		<add key="urlCalendario" value="/LMS/Calendario/Home/DataSource" xdt:Transform="Insert" />
		<add key="urlPortfolio" value="/academico/servicos/unvportfolio/default.asp" xdt:Transform="Insert" />
		<add key="PositivoCacheType" value="AppFabric" xdt:Transform="Insert" />
		<add key="cdn" value="/LMS/StaticContent" xdt:Transform="Insert" />
		<add key="urlMeuEspaco" value="/LMS/MeuEspaco" xdt:Transform="Insert" />
		<add key="urlTermoAceito" value="/LMS/Termos" xdt:Transform="Insert" />
		<add key="urlLegacyAuthScript" value="/LMS/LegacyScripts/LegacyAuth.asp" xdt:Transform="Insert" />
		<add key="urlLegacySessionScript" value="/LMS/LegacyScripts/LegacySession.asp" xdt:Transform="Insert" />
		<add key="urlFotos" value="/LMS/Core/Papel/Foto" xdt:Transform="Insert" />
		<add key="urlFavoritos" value="/academico/servicos/unvFavorito/default.asp" xdt:Transform="Insert" />
		<add key="urlWebmail" value="/webmail/webmail.asp" xdt:Transform="Insert" />
		<add key="urlAgenda" value="/academico/servicos/agenda/agd_index.asp" xdt:Transform="Insert" />
		<add key="urlAnotar" value="/LMS/Anotar" xdt:Transform="Insert" />
	</appSettings>


	<elmah xdt:Transform="Insert">
		<!--errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah" /-->
		<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="\\fs-pu\site\LogsApps\ErrosUnv\" applicationName="PositivoLMS.Core" />
		<errorMail
			from="erros@educacional.net"
			to="erros-uni@educacional.net"
			subject="Erros ASP.NET [Core-NET]: {0} {1}"
			async="true"
			smtpPort="25"
			useSsl="false"
    />
		<security allowRemoteAccess="yes" />
		<errorFilter>
			<test>
				<equal binding="HttpStatusCode" value="404" type="Int32" />
			</test>
		</errorFilter>
	</elmah>


  <dataCacheClient requestTimeout="12000" channelOpenTimeout="2000" maxConnectionsToServer="1" xdt:Transform="Replace">
		<localCache isEnabled="true" sync="TimeoutBased" ttlValue="300" />
		<hosts>
			<!--List of services -->
			<host name="appfabric1" cachePort="22233"/>
			<host name="appfabric2" cachePort="22233"/>
			<host name="appfabric3" cachePort="22233"/>
		</hosts>

    <securityProperties mode="None" protectionLevel="None" />
	</dataCacheClient>


	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
    
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
		
		<httpModules>
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" xdt:Transform="Insert"/>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" xdt:Transform="Insert"/>
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" xdt:Transform="Insert"/>
      <add name="MvcDynamicSessionModule" type="Microsoft.Web.Mvc.MvcDynamicSessionModule, Microsoft.Web.Mvc, Version=2.0.0.0"  xdt:Transform="Insert"/>
		</httpModules>

		<!-- APPFABRIC ******************************************************************************* -->
		<sessionState mode="Custom" customProvider="DataCacheSessionStoreProvider" timeout="50"  xdt:Transform="Insert">
			<providers>
				<add name="DataCacheSessionStoreProvider"
					 type="Microsoft.ApplicationServer.Caching.DataCacheSessionStoreProvider, Microsoft.ApplicationServer.Caching.Client"
					 sharedId="UniversitarioSharedSession"
					 cacheName="Session_Universitario"/>
			</providers>
		</sessionState>
		<!-- APPFABRIC ******************************************************************************* -->



		<!-- 
      cookieless="UseCookies"
      Caso esta propriedade nao esteja configurada como acima erros "Autenticação sem cookie não suportada" podem ocorrer
    -->
		<authentication>
			<forms loginUrl="/LMS/Login"
			  name=".ASPXAUTH"
			  protection="All"
			  path="/"
			  cookieless="UseCookies"
			  timeout="50"
			  xdt:Transform="Replace"/>
		</authentication>
	</system.web>









  <!-- LOG ****************************************************************************************** -->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true"
                        xdt:Transform="Replace">
    <listeners>
      <add fileName="\\fs-pu\Site_Net\Universitario\dados\LogAdministraUni\CoreInstrumantationNET.log"
        header="----------------------------------------"
        footer="----------------------------------------" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="PositivoFramework.Instrumentation" />
      <add fileName="\\fs-pu\Site_Net\Universitario\dados\LogAdministraUni\CoreNET.log" header="----------------------------------------"
  			footer="----------------------------------------" formatter="Text Formatter"
  			listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
  			traceOutputOptions="None" filter="Error"
  			type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
  			name="FlatFile TraceListener"/>
      <add source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName=""
  			listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
  			traceOutputOptions="None" filter="Error"
  			type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
  			name="Formatted EventLog TraceListener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
  			type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="PositivoFramework.Instrumentation">
        <listeners>
          <add name="PositivoFramework.Instrumentation" />
        </listeners>
      </add>
      <add switchValue="Error" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="PositivoFramework.Infrastructure.DAL">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="PositivoFramework.Infrastructure.Log">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="PositivoLMS.Core">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="Error" name="All Events"/>
      <notProcessed switchValue="Error" name="Unprocessed Category"/>
      <errors switchValue="Error" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <!-- LOG ****************************************************************************************** -->
  
  
	<unity>
		<container name="InternalConfigContainer" xdt:Transform="Replace" xdt:Locator="Match(name)">
			<register type="PositivoFramework.Infrastructure.DAL.Factory.Base.IConnectionStringManager, PositivoFramework.Infrastructure.DAL.Factory"
			  mapTo="PositivoFramework.Infrastructure.DAL.ConnectionStringManagerImpl.UDLFileConnectionStringManagerImplNET, PositivoFramework.Infrastructure.DAL.ConnectionStringManagerImpl">
				<lifetime type="PerThreadLifetimeManager" />
			</register>
		</container>
	</unity>




	<system.web>
		<machineKey validationKey="AAE8FA472DE07D068F771EB88D50C5D09BF2A136879723E81B40B58FE876C73C767F7DC31DF52CA75BB93D4EDFE4F86AC3EF7B2F0D45E6C5C5EEF7213B118D33" decryptionKey="1B79E2566C89905A2485EAD3AD5965B5C4F819CEBE06AF5E4F3FE48D8D35DCE3" validation="SHA1" decryption="AES" xdt:Transform="Insert"/>
	</system.web>

  <system.webServer xdt:Transform="Replace">
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="false"/>
    <handlers>
      <add name="aspnet_isapi 32-bit" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="aspnet_isapi 64-bit" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
    </handlers>
  </system.webServer>


	<system.net xdt:Transform="Insert">
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="smtp.educacional.com.br"
							port="25"
							userName="erros@educacional.net"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>