    
    <link href="../../Content/css/coordenador.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/principal.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/form.css" rel="stylesheet" type="text/css" />

    <div id="conteudo">
	    <div class="caixa">
			<div id="caixaConteudo" class="caixaConteudo">
                <div id="infoCoordenador">
                    <div class="clear"></div>
                        <span class="subtitulo">Texto explicativo que selecionado aluno ou professor explica algo...Texto explicativo que selecionado aluno ou professor explica algo...Texto explicativo que selecionado aluno ou professor explica algo...</span>
			        
                    
			        <!-- div id="alerta" class="mensagem comBotao"></div-->
			        <div class="box">
                    <ul class="coordenadorOpcoes">
                        <li class="opcaoAluno"><a class="ativo" id="btnListaAlunos">Aluno</a></li>
                        <li class="opcaoProfessor" ><a id="btnListaProfessores">Professor</a></li>
                    </ul>
                    </div>

                    <form>
                        <div class="pesquisaAlunoProfessor">
                            <label>
                                Digite o nome do professor:
                                <input type="text" class="txt"/>
                            </label>
                            <label>
                                ou busque uma turma:
                                <select class="slcTurma"></select>
                            </label>
                            <a class="btnM">selecionar</a>
                        </div>
                    </form>

                    <div class="boxAlertaMensagemAzul">
                        <div class="alertaMensagemAzul">
                            <span>Você está filtrando os dados de: <b>Nome do aluno - 7B</b></span>
                            <a class="btnM direita">limpar filtro</a>
                        </div>
                    </div>
                    <div id="BoxListaCoordenador">
    
                    </div>
                </div>
            </div>
		</div>
    </div>
