<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <!-- ENTERPRISE LIBRARY -->
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="true" />
    <!-- ENTERPRISE LIBRARY -->



    <!-- APPFABRIC -->
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="fabric" type="Microsoft.Fabric.Common.ConfigFile, Microsoft.WindowsFabric.Common" allowLocation="true" allowDefinition="Everywhere"/>
    <!-- APPFABRIC -->

    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>

    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <!--<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>-->
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>

<enyim.com>
    <memcached protocol="Text">
      <servers>
        <add address="192.168.100.95" port="11211" />
      </servers>
      <socketPool minPoolSize="1" maxPoolSize="1" />
      <transcoder type="PositivoFramework.Web.Session.MemCached.ISO88591Transcoder, PositivoFramework.Web" />
    </memcached>
  </enyim.com>



  <!-- APPFABRIC SERVIDORES DE CACHE -->
  <dataCacheClient requestTimeout="12000" channelOpenTimeout="2000" maxConnectionsToServer="1">
  	<localCache isEnabled="true" sync="TimeoutBased" ttlValue="300"/>
  	<hosts>
  		<!--List of services -->
  		<host name="appfabric1" cachePort="22233"/>
  		<host name="appfabric2" cachePort="22233"/>
  		<host name="appfabric3" cachePort="22233"/>
    	<host name="appfabric4" cachePort="22233"/>
	</hosts>
  	<securityProperties mode="None" protectionLevel="None"/>
  </dataCacheClient>
  <!-- APPFABRIC SERVIDORES DE CACHE -->





  <appSettings>
	<add key="MenCacheTipo" value="1"/>
  	<add key="PositivoCacheType" value="AppFabric"/>
  	<add key="cdn" value="/AVA/StaticContent"/>
	<add key="timeStamp" value="?20190312" />
  	<add key="urlMeuEspaco" value="/AVA/Mural"/>
  	<add key="urlTermoAceito" value="/AVA/Termos"/>
  	<add key="urlLegacyAuthScript" value="/AVA/LegacyScripts/LegacyAuth.asp"/>
  	<add key="urlLegacySessionScript" value="/AVA/LegacyScripts/LegacySession.asp"/>
  	<add key="urlWebmail" value="/webmail/webmail.asp"/>
	<add key="caminhoFisicoUploadPerfil" value="\\fs-educ\Site\COM\upload\centralprojetos\arquivos\Perfil"/>
  </appSettings>



  
	<connectionStrings>
		<add name="PeCP" providerName="System.Data.SqlClient" connectionString="Data Source=DB1;Initial Catalog=CP;User ID=dll_user;Password=\xf#99+%@BD;enlist=false"/>
		<add name="PeRedeSocial" providerName="System.Data.SqlClient" connectionString="Data Source=DB1;Initial Catalog=RedeSocial;User ID=dll_user;Password=\xf#99+%@BD;enlist=false"/>
		<add name="PeEducacional" providerName="System.Data.SqlClient" connectionString="Data Source=DB1;Initial Catalog=educacionalOtimizado;User ID=dll_user;Password=\xf#99+%@BD;enlist=false"/>
		<add name="PeSAC" providerName="System.Data.SqlClient" connectionString="Data Source=DB1;Initial Catalog=sac;User ID=dll_user;Password=\xf#99+%@BD;enlist=false"/>
		<add name="PeAvaliacoes" providerName="System.Data.SqlClient" connectionString="Data Source=DB1;Initial Catalog=avaliacoes;User ID=dll_user;Password=\xf#99+%@BD;enlist=false"/>
	</connectionStrings>
  



  <system.web>
  
    <httpRuntime requestValidationMode="2.0" /> 
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <globalization culture="pt-BR" uiCulture="pt-BR" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" fileEncoding="iso-8859-1" />   


    <!-- LOGIN -->
    <!-- 
      cookieless="UseCookies"
      Caso esta propriedade nao esteja configurada como acima erros "Autenticação sem cookie não suportada" podem ocorrer
    -->
    <authentication mode="Forms">
      <forms loginUrl="/AVA/Login" name=".ASPXAUTH" protection="All" path="/" cookieless="UseCookies" timeout="50"/>
    </authentication>
    <!-- LOGIN -->



    <membership defaultProvider="Default" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <!-- IMPLEMENTACAO PARA UNIVERSITARIO -->
        <add name="Default" type="PositivoFramework.Provider.DefaultMembershipProvider, PositivoFramework.Provider"/>
      </providers>
    </membership>

    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />

        <!-- NAMESPACES ADICIONAIS PARA DIMINUIR A QTD DE IMPORTS NAS PAGINAS -->
        <add namespace="PositivoFramework.Web" />
        <add namespace="PositivoFramework.Web.Menu" />
        <add namespace="PositivoFramework.Web.Session" />
        <add namespace="PositivoFramework.Security" />
        <add namespace="PositivoFramework.Globalization" />
        <!-- NAMESPACES ADICIONAIS PARA DIMINUIR A QTD DE IMPORTS NAS PAGINAS -->
      </namespaces>
    </pages>

    <!--<siteMap defaultProvider="Default" >
      <providers >
        <clear/>
        IMPLEMENTACAO PARA UNIVERSITARIO 
        <add name="Default" type="PositivoFramework.Provider.DefaultSiteMapProvider, PositivoFramework.Provider"  securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    -->

    <httpModules>

      <!-- MODULO DE IDENTIFICACAO DO TEMA -->
      <add name="ThemeHttpModule" type="PositivoFramework.Web.Theme.ThemeHttpModule"/>
      <!-- MODULO DE AUTENTICACAO -->
      <add name="AuthHttpModule" type="PositivoFramework.Web.Auth.AuthHttpModule"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
	  <add name="MvcDynamicSessionModule" type="Microsoft.Web.Mvc.MvcDynamicSessionModule"/>

    </httpModules>



    <customErrors mode="Off">
      <error statusCode="500" redirect="/AVA/Erro"/>
      <error statusCode="404" redirect="/AVA/Erro/home/Erro404"/>
    </customErrors>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
    <sessionState mode="Custom" customProvider="DataCacheSessionStoreProvider" timeout="50">
      <providers>
        <add name="DataCacheSessionStoreProvider"
          type="Microsoft.ApplicationServer.Caching.DataCacheSessionStoreProvider, Microsoft.ApplicationServer.Caching.Client"
          sharedId="EducacionalSharedSession" cacheName="Session_Educacional"/>
      </providers>
    </sessionState>
    <machineKey validationKey="AAE8FA472DE07D068F771EB88D50C5D09BF2A136879723E81B40B58FE876C73C767F7DC31DF52CA75BB93D4EDFE4F86AC3EF7B2F0D45E6C5C5EEF7213B118D33"
      decryptionKey="1B79E2566C89905A2485EAD3AD5965B5C4F819CEBE06AF5E4F3FE48D8D35DCE3" validation="SHA1" decryption="AES"/>
  </system.web>










  <!-- LOG ****************************************************************************************** -->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add fileName="\\fs-educ\site\LogsApps\AVA_Turma\Turma.log" header="----------------------------------------" footer="----------------------------------------"
        formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="Error"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="FlatFile TraceListener"/>
      <add source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName=""
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="Error"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Formatted EventLog TraceListener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="Error" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="PositivoFramework.Infrastructure.DAL">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="PositivoFramework.Infrastructure.Log">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="PositivoLMS.AdminLMS">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
	  <add switchValue="Error" name="AVA.Mural">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="Error" name="All Events"/>
      <notProcessed switchValue="Error" name="Unprocessed Category"/>
      <errors switchValue="Error" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <!-- LOG ****************************************************************************************** -->





  <!-- UNITY - UTILIZADO PELAS DAOs -->
  <unity>

    <container name="InternalConfigContainer">
      <register type="PositivoFramework.Infrastructure.DAL.Factory.Base.IConnectionStringManager, PositivoFramework.Infrastructure.DAL.Factory"
        mapTo="PositivoFramework.Infrastructure.DAL.ConnectionStringManagerImpl.UDLFileConnectionStringManagerImplNET, PositivoFramework.Infrastructure.DAL.ConnectionStringManagerImpl">
        <lifetime type="PerThreadLifetimeManager"/>
      </register>
    </container>


    <container name="DataSourceContainer">
      <register type="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources"
        mapTo="PositivoFramework.Infrastructure.DAL.DataSources.PeDbDataSource, PositivoFramework.Infrastructure.DAL.DataSources"
        name="PeDb">
        <lifetime type="ContainerControlledLifetimeManager" />
      </register>
      <register type="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources"
        mapTo="PositivoFramework.Infrastructure.DAL.DataSources.PeRedeSocialDataSource, PositivoFramework.Infrastructure.DAL.DataSources"
        name="RedeSocialDb">
        <lifetime type="ContainerControlledLifetimeManager" />
      </register>
    </container>

    <container name="ServiceContainer">
      <register type="PositivoFramework.Provider.DALInterface.IIdentidadeDALService, PositivoFramework.Provider"
          mapTo="PositivoFramework.Provider.DALImpl.EntLib.IdentidadeDALServiceImpl, PositivoFramework.Provider.DALImpl.EntLib"
          name="EnterpriseLibraryIdentidadeService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="PeDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>


      <register type="PositivoFramework.Provider.DALInterface.IIdentidadeDALService, PositivoFramework.Provider"
          mapTo="PositivoFramework.Provider.DALImpl.EntLib.IdentidadeDALServiceImpl, PositivoFramework.Provider.DALImpl.EntLib"
          name="EnterpriseLibraryIdentidadeDALService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="PeDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>

      <register type="PositivoFramework.Security.DALInterface.IIdentidadeDALService, PositivoFramework.Security"
          mapTo="PositivoFramework.Security.DALImpl.EntLib.IdentidadeServiceImpl, PositivoFramework.Security.DALImpl.EntLib"
          name="EnterpriseLibrarySecurityDALService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="PeDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>



      <!-- SiteMap-->
      <register type="PositivoFramework.Provider.DALInterface.ISiteMapDALService, PositivoFramework.Provider"
        mapTo=" PositivoFramework.Provider.DALImpl.EntLib.SiteMapDALServiceImpl, PositivoFramework.Provider.DALImpl.EntLib"
        name="EnterpriseLibrarySiteMapDALService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="PeDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>
      <!-- SiteMap-->


      <!-- Cdt -->
      <register type="PositivoLMS.DAL.DALInterface.Cdt.ICdtDALService, PositivoLMS.DAL.DALInterface.Cdt"
                mapTo="PositivoLMS.DAL.DALImpl.EntLib.Cdt.CdtDALServiceImpl, PositivoLMS.DAL.DALImpl.EntLib.Cdt"
                name="cdt">
        <lifetime type="PerResolveLifetimeManager"/>
        <property name="DefaultDataSource" dependencyName="PeDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources"/>
      </register>
      <!-- Cdt -->

      <!-- Rede Social -->
      <register type="PositivoLMS.DAL.DALInterface.RedeSocial.IRedeSocialDALService, PositivoLMS.DAL.DALInterface.RedeSocial"
        mapTo="PositivoLMS.DAL.DALImpl.EntLib.RedeSocial.RedeSocialDALServiceImpl, PositivoLMS.DAL.DALImpl.EntLib.RedeSocial"
        name="RedeSocial">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="RedeSocialDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>
      <!-- Rede Social -->



      <!-- Papel -->
      <register type="PositivoLMS.DAL.DALInterface.Papel.IPapelDALService, PositivoLMS.DAL.DALInterface.Papel"
                mapTo="PositivoLMS.DAL.DALImpl.EntLib.Papel.PapelDALServiceImpl, PositivoLMS.DAL.DALImpl.EntLib.Papel"
                name="papel">
        <lifetime type="PerResolveLifetimeManager"/>
        <property name="DefaultDataSource" dependencyName="PeDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources"/>
      </register>
      <!-- Papel -->


    </container>
  </unity>
  <!-- UNITY - UTILIZADO PELAS DAOs -->



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <elmah>
    <!--errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah" /-->
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="\\fs-educ\site\LogsApps\ErrosPE\" applicationName="Agenda"/>
    <!--<errorMail
			from="erros@educacional.net"
			to="erros-uni@educacional.net"
			subject="Erros ASP.NET [AdminLMS-NET]: {0} {1}"
			async="true"
			smtpPort="25"
			useSsl="false"
  />-->
    <security allowRemoteAccess="yes"/>
    <errorFilter>
      <test>
        <equal binding="HttpStatusCode" value="404" type="Int32"/>
      </test>
    </errorFilter>
  </elmah>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.educacional.com.br" port="25" userName="erros@educacional.net"/>
      </smtp>
    </mailSettings>
  </system.net>
<system.webServer>


        <directoryBrowse enabled="false" />
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="global.asax" />
                <add value="default.aspx" />
                <add value="Default.asp" />
                <add value="Default.htm" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <fileExtensions>
				<remove fileExtension=".asa" />
				<add fileExtension=".asa" allowed="true" />
				<remove fileExtension=".asax" />
				<add fileExtension=".asax" allowed="true" />
				<remove fileExtension=".ascx" />
				<add fileExtension=".ascx" allowed="true" />
				<remove fileExtension=".master" />
				<add fileExtension=".master" allowed="true" />
				<remove fileExtension=".skin" />
				<add fileExtension=".skin" allowed="true" />
				<remove fileExtension=".browser" />
				<add fileExtension=".browser" allowed="true" />
				<remove fileExtension=".sitemap" />
				<add fileExtension=".sitemap" allowed="true" />
				<remove fileExtension=".config" />
				<add fileExtension=".config" allowed="true" />
				<remove fileExtension=".cs" />
				<add fileExtension=".cs" allowed="true" />
				<remove fileExtension=".csproj" />
				<add fileExtension=".csproj" allowed="true" />
				<remove fileExtension=".vb" />
				<add fileExtension=".vb" allowed="true" />
				<remove fileExtension=".vbproj" />
				<add fileExtension=".vbproj" allowed="true" />
				<remove fileExtension=".webinfo" />
				<add fileExtension=".webinfo" allowed="true" />
				<remove fileExtension=".licx" />
				<add fileExtension=".licx" allowed="true" />
				<remove fileExtension=".resx" />
				<add fileExtension=".resx" allowed="true" />
				<remove fileExtension=".resources" />
				<add fileExtension=".resources" allowed="true" />
				<remove fileExtension=".mdb" />
				<add fileExtension=".mdb" allowed="true" />
				<remove fileExtension=".vjsproj"  />
				<add fileExtension=".vsproj" allowed="true" />
				<remove fileExtension=".java" />
				<add fileExtension=".java" allowed="true" />
				<remove fileExtension=".jsl"  />
				<add fileExtension=".jsl" allowed="true" />
				<remove fileExtension=".ldb" />
				<add fileExtension=".ldb" allowed="true" />
				<remove fileExtension=".dsdgm" />
				<add fileExtension=".dsdgm" allowed="true" />
				<remove fileExtension=".ssdgm" />
				<add fileExtension=".ssdgm" allowed="true" />
				<remove fileExtension=".lsad" />
				<add fileExtension=".lsad" allowed="true" />
				<remove fileExtension=".ssmap" />
				<add fileExtension=".ssmap" allowed="true" />
				<remove fileExtension=".cd" />
				<add fileExtension=".cd" allowed="true" />
				<remove fileExtension=".dsprototype" />
				<add fileExtension=".dsprototype" allowed="true" />
				<remove fileExtension=".lsaprototype" />
				<add fileExtension=".lsaprototype" allowed="true" />
				<remove fileExtension=".sdm" />
				<add fileExtension=".sdm" allowed="true" />
				<remove fileExtension=".sdmDocument" />
				<add fileExtension=".sdmDocument" allowed="true" />
				<remove fileExtension=".mdf" />
				<add fileExtension=".mdf" allowed="true" />
				<remove fileExtension=".ldf" />
				<add fileExtension=".ldf" allowed="true" />
				<remove fileExtension=".ad" />
				<add fileExtension=".ad" allowed="true" />
				<remove fileExtension=".dd" />
				<add fileExtension=".dd" allowed="true" />
				<remove fileExtension=".ldd" />
				<add fileExtension=".ldd" allowed="true" />
				<remove fileExtension=".sd" />
				<add fileExtension=".sd" allowed="true" />
				<remove fileExtension=".adprototype" />
				<add fileExtension=".adprototype" allowed="true" />
				<remove fileExtension=".lddprototype" />
				<add fileExtension=".lddprototype" allowed="true" />
				<remove fileExtension=".exclude" />
				<add fileExtension=".exclude" allowed="true" />
				<remove fileExtension=".refresh" />
				<add fileExtension=".refresh" allowed="true" />
				<remove fileExtension=".compiled" />
				<add fileExtension=".compiled" allowed="true" />
				<remove fileExtension=".msgx" />
				<add fileExtension=".msgx" allowed="true" />
				<remove fileExtension=".vsdisco" />
				<add fileExtension=".vsdisco" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
	
   <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">

      <!-- MODULO DE IDENTIFICACAO DO TEMA -->
      <remove name="ThemeHttpModule"/>
      <add name="ThemeHttpModule" type="PositivoFramework.Web.Theme.ThemeHttpModule" preCondition="managedHandler"/>


      <!-- MODULO DE AUTENTICACAO -->
      <remove name="AuthHttpModule"/>
      <add name="AuthHttpModule" type="PositivoFramework.Web.Auth.AuthHttpModule" preCondition="managedHandler"/>

      <!-- SESSION READONLY -->
      <remove name="MvcDynamicSessionModule"/>
      <add name="MvcDynamicSessionModule" type="Microsoft.Web.Mvc.MvcDynamicSessionModule, Microsoft.Web.Mvc, Version=2.0.0.0" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <add name="aspnet_isapi 32-bit" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="aspnet_isapi 64-bit" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
    </handlers>
    </system.webServer>


</configuration>

