/* ALTERAÇÕES PARA O PROJETO */

/* FONTFACE */
@import url('http://fonts.googleapis.com/css?family=Droid+Sans:400,700');

/* PADRÕES */

	body {color: #FFF;}

/*	.proj_content, .center_content {padding: 40px 10px;}*/

	.header-page .btn_voltar {border-radius: 100%; background: transparent !important; border: 1px solid #FFF; opacity: 0.5;}
	.header-page .btn_voltar:before {color: #FFF; margin-left: -2px; line-height: 58px;}
	.header-page .btn_voltar:hover {background: transparent !important; opacity: 1;}
	.header-page .btn_voltar:hover:before {color: #FFF;}

/*	.header-page .foto_user, .header-page .foto_professor {border-radius: 100%;}*/
/*	.header-page .foto_user img, .header-page .foto_professor img {border-radius: 100%;}*/
/*	.header-page h1 {text-transform: uppercase; color: #1A7470; font-size: 30px; font-weight: 400;}*/

	
/* HEADER */

	.proj_top #header-projeto {position: relative; width: 100%; padding: 50px 20px;}
	#header-projeto.inscrito {min-height: 250px;}

	#header-projeto .entenda-video {background: #000;}

	#header-projeto span.descricao-projeto {font-size: 18px; padding: 40px 150px; font-family: 'Droid Sans', sans-serif; color: #FFF;}
	#header-projeto.inscrito span.descricao-projeto {font-size: 18px;}

	#header-projeto a h1.logo-projeto {background: transparent url(../imagens/logo.png) center no-repeat; text-indent: -9999px; background-size: cover; width: 400px; height: 140px;}
	#header-projeto a:hover h1.logo-projeto {background-color: transparent; opacity: 0.75;}
	#header-projeto.inscrito h1.logo-projeto {background-color: transparent;}
	
	#header-projeto .action-btns a {background: #eccd00; color: #333; font-family: 'Droid Sans', sans-serif;}
	#header-projeto .action-btns a:hover {background: #e5a700;}
	
	#header-projeto.inscrito .action-btns {display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: start; -ms-justify-content: start; justify-content: start; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
	#header-projeto.inscrito .action-btns a {background: #eccd00; color: #333; line-height: 50px; padding: 0 20px; font-size: 18px; margin: 0 20px 0 0;}
	#header-projeto.inscrito .action-btns a:hover {background: #e5a700;}

	#header-projeto.inscrito .action-btns a.faq {width: 50px; height: 50px; padding: 0; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-justify-content: center; justify-content: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: center; -ms-align-items: center; align-items: center;}
	#header-projeto.inscrito .action-btns a.faq:before {font-size: 25px;}

	.proj_participantes {background: transparent; height: 100px; font-family: 'Droid Sans', sans-serif;}
	.proj_participantes .participantes {height: 100%; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-align-items: center; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; -ms-justify-content: center; justify-content: center;}
	.proj_participantes .participantes h2 {padding: 0 15px; font-weight: normal; display: block; width: auto; border: 1px solid #CCC; border-radius: 20px 0 0 20px; line-height: 40px;}
	.proj_participantes a .participantes span {padding: 0 15px; border: 1px solid #CCC; border-radius: 0 20px 20px 0; margin: 0 0 0 2px; line-height: 40px;}
	.proj_participantes a:hover .participantes span {text-decoration: none; background: rgba(255,255,255,0.2);}
	.proj_participantes .mascara {height: 100%; background: rgba(17,42,66,0.75);}
	.proj_participantes ul.imagens-participantes {width: 10000px; left: 50%; margin-left: -5000px; height: 100%; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; -ms-justify-content: center; justify-content: center;}
	.proj_participantes ul.imagens-participantes li {width: 76px; height: 76px; margin: 10px 5px; position: relative; border-radius: 50%;}
	.proj_participantes ul.imagens-participantes li::before {width: 100%; height: 100%; position: absolute; content: ''; top: 0; left: 0; background: url(../imagens/thumb-equipe.png) center no-repeat;}

/* MENU */

	.proj_menu {height: 70px; line-height: 70px; font-family: 'Droid Sans', sans-serif;}
	.proj_menu ul {height: 100%; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-justify-content: space-around; justify-content: space-around; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: center; -ms-align-items: center; align-items: center;}
	.proj_menu ul li {margin: 0;}
	.proj_menu ul li {height: 100%; padding: 0 20px; position: relative;}
	.proj_menu ul.main_menu > li {text-transform: uppercase; font-size: 18px;}
	.proj_menu ul.main_menu > li.ativo::after {position: absolute; width: 100%; height: 6px; background: #23938e; bottom: -1.5px; left: 0; content: '';}

	.proj_menu ul li.ativo a, .proj_menu ul li.ativo a:before {color: #FFF; font-weight: normal;}
	.proj_menu ul li a span:hover:before, .proj_menu ul li a span:hover, .proj_menu ul li a:hover:before, .proj_menu ul li a:hover {color: #FFF;}
	.proj_menu ul li a {color: #CCC;}

	.proj_menu ul .pprof > a:after {opacity: 0.3; display: none;}
	.proj_menu ul li ul.pprof-menu {top: 70px; left: 50%; margin-left: -110px; z-index: 100;}
	.proj_menu ul li ul.pprof-menu:before {border-bottom-color: #2f5f5c; left: 50%; margin-left: -10px;}
	.proj_menu ul li ul.pprof-menu li {background: #2f5f5c; margin: 0; text-transform: initial; font-size: 16px;}
	.proj_menu ul li ul.pprof-menu li.ativo, .proj_menu ul li ul.pprof-menu li:hover {background: #25A6A1;}
	.proj_menu ul li ul.pprof-menu li a {color: #FFF; line-height: 50px; padding: 0;}

	.proj_menu ul .mEtapa > a:after {opacity: 0.3; display: none;}
	.proj_menu ul li ul.etapa-menu {top: 70px; left: 50%; margin-left: -125px; z-index: 100; width: 250px;}
	.proj_menu ul li ul.etapa-menu:before {border-bottom-color: #2f5f5c; left: 50%; margin-left: -10px;}
	.proj_menu ul li ul.etapa-menu li {background: #2f5f5c; margin: 0; text-transform: initial; font-size: 16px;}
	.proj_menu ul li ul.etapa-menu li.ativo, .proj_menu ul li ul.etapa-menu li:hover {background: #25A6A1;}
	.proj_menu ul li ul.etapa-menu li a {color: #FFF; line-height: 50px; padding: 0;}

/* BACKGROUND*/

	.p_top {background: #292929 url(../imagens/background_2.jpg) top center;}
	.p_menu {background: #1A7470; border-bottom: 1.5px solid #23938e;}
	.p_menu > div {display: none;} /*Pra remover erro que o st. andré não consertou... kkkk */
	#box_etapa,
	#box_etapas,
	#box_mural,
	#box_pag-orientacoes,
	#box_participantes {background: #f97661 url(../imagens/background.jpg) center top no-repeat;}

	#box_etapa .header-page h1,
	#box_etapas .header-page h1,
	#box_mural .header-page h1,
	#box_pag-orientacoes .header-page h1,
	#box_participantes .header-page h1 {color: #FFF; font-family: 'Droid Sans', sans-serif; font-weight: 400;}

	#box_minhas-turmas, 
	#box_perfil-turma,
	#box_post-envio,
	#box_inscricao,
	#box_envios,
	#box_envios-tutoriais {background: #FFF url(../imagens/background_3.jpg) center top; position: relative;}

	#box_minhas-turmas .header-page h1, 
	#box_perfil-turma .header-page h1,
	#box_post-envio .header-page h1,
	#box_inscricao .header-page h1,
	#box_envios .header-page h1,
	#box_envios-tutoriais .header-page h1 {color: #1A7470; font-family: 'Droid Sans', sans-serif; font-weight: 400;}
	
	#box_minhas-turmas .header-page .btn_voltar, 
	#box_perfil-turma .header-page .btn_voltar,
	#box_post-envio .header-page .btn_voltar,
	#box_inscricao .header-page .btn_voltar,
	#box_envios .header-page .btn_voltar,
	#box_envios-tutoriais .header-page .btn_voltar {border: 1px solid #1A7470;}

	#box_minhas-turmas .header-page .btn_voltar:before, 
	#box_perfil-turma .header-page .btn_voltar:before,
	#box_post-envio .header-page .btn_voltar:before,
	#box_inscricao .header-page .btn_voltar:before,
	#box_envios .header-page .btn_voltar:before,
	#box_envios-tutoriais .header-page .btn_voltar:before {color: #1A7470;}
	
	#box_minhas-turmas .header-page .btn_voltar:hover:before, 
	#box_perfil-turma .header-page .btn_voltar:hover:before,
	#box_post-envio .header-page .btn_voltar:hover:before,
	#box_inscricao .header-page .btn_voltar:hover:before,
	#box_envios .header-page .btn_voltar:hover:before,
	#box_envios-tutoriais .header-page .btn_voltar:hover:before {color: #1A7470;}

/*	#box_bastidores {display: none;}*/
/*	#box_relacionados {background: #f97661;}*/

/*	.p_content, .full_content {background: #292929;}*/

/* HOME */
	
	/* AVISOS */

		.avisos {padding: 0 10px 40px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-align-items: center; -ms-align-items: center; align-items: center; /*border-bottom: 1.5px solid #4e4e4e;*/}
		.avisos h2 {width: 100%; font-weight: normal; color: #FFF; text-transform: uppercase; font-size: 16px;}

		.avisos .user-pic {width: 50px; height: 50px; border-radius: 100%; margin: 0;}
		.avisos .user-pic img {width: 50px; height: 50px; border-radius: 100%;}
		
		.avisos .msg-box {width: 875px; border: 0; border-radius: 5px; margin: 0 0 0 15px; color: #803936; font-family: 'Droid Sans', sans-serif; background: rgba(255,255,255,0.4);}
		.avisos .msg-box:before {top: 50%; left: -15px; margin-top: -5px; border: 5px solid transparent; border-right: 10px solid rgba(255,255,255,0.4);}

	/* ETAPAS */

		.area-desafios, .area-etapas {background: url(../imagens/label-etapas.png) top center no-repeat; padding-top: 30px;}

		.img-destaque {background-color: rgba(255,255,255,0.2);}
		.img-destaque .label {background: #FFF !important; color: #292929 !important; text-transform: uppercase; font-size: 12px; padding: 5px 10px; top: auto; left: auto; bottom: -10px; right: 50%; margin-right: -40px; border-radius: 3px; width: 80px; text-align: center;}
		.img-destaque .label::before {display: none;}

		.area-desafios article, .area-etapas article {background: transparent;}
		.descricao_etapas {padding: 20px 20px 100px;}

		/* modificação de proporção */
			.bloco-a {width: 780px; height: 310px; margin: 20px 80px 0 !important;}
			.bloco-a .img-destaque {width: 260px; height: 260px; margin: 20px; border-radius: 50%;}
			.bloco-a .descricao_etapas {width: 480px; height: 300px; text-align: left; position: relative;}
			.bloco-a .descricao_etapas .status {position: absolute; left: auto; top: auto; right: 0; bottom: 0; width: 300px;}
		
			.bloco-b {width: ;}
			.bloco-b .img-destaque {width: 300px;}
			.bloco-b .descricao_etapas {width: 320px;}

			.bloco-b {height: 535px;}
			.bloco-b .img-destaque {height: 385px;}
			.bloco-b .descricao_etapas {height: 385px;}
						
			.bloco-c {height: 560px;}
			.bloco-c .img-destaque {height: 210px;}

			.bloco-d {height: 525px;}
			.bloco-d .img-destaque {width: 260px; height: 260px; margin: 20px; border-radius: 50%;}
			.bloco-d .descricao_etapas {height: 225px; text-align: center;}
		
		.descricao_etapas h2 {margin: 0; color: #803936 !important; font-weight: 500; font-family: 'Droid Sans', sans-serif;}
			.bloco-a .descricao_etapas h2, .bloco-b .descricao_etapas h2 {font-size: 22px;}
			
		.descricao_etapas p {padding: 0; color: #FFF !important; margin-top: 5px; font-family: 'Droid Sans', sans-serif; font-weight: 300;}
			.bloco-a .descricao_etapas p, .bloco-b .descricao_etapas p {margin-top: 10px; font-size: 16px; line-height: 22px;}

		.descricao_etapas .status {left: 0; height: 70px; padding: 0 15px; font-weight: 400; line-height: 70px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -ms-justify-content: center; justify-content: center;}
		.descricao_etapas .status span {font-weight: 200; height: 30px; line-height: 30px; padding: 0 10px; background: rgba(255,255,255,0.2); border-radius: 3px; position: relative; margin-left: 10px;}

			.fechada a .descricao_etapas .status {background: /*#da4247*/ url(../imagens/btn-fechado.png); color: #FFF; padding: 15px 0 0;}
			.fechada a:hover .descricao_etapas .status {background: /*#f7353c*/ url(../imagens/btn-fechado_hover.png); color: #FFF;}

			.aberta a .descricao_etapas .status {background: /*#2fad59*/ url(../imagens/btn-liberado.png); color: #FFF; padding: 0 0 10px;}
			.aberta a:hover .descricao_etapas .status {background: /*#38c768*/ url(../imagens/btn-liberado_hover.png); color: #FFF;}

			.encerrada a .descricao_etapas .status {background: /*#488caa*/ url(../imagens/btn-encerrado.png); color: #FFF; padding: 0 0 15px;}
			.encerrada a:hover .descricao_etapas .status {background: /*#51add4*/ url(../imagens/btn-encerrado_hover.png); color: #FFF;}
		
		
		.conversa {background: #3a3a3a; border: 1px solid #4e4e4e; display: none;}
/*		.conversa .ultima-conversa .texto-conversa a {color: #FFF;}*/
/*		.conversa .ultima-conversa .texto-conversa a:hover {color: #CCC;}*/
/*		.conversa .ultima-conversa .texto-conversa a h5 {font-weight: 400; color: #FFF;}*/
/*		.conversa .ultima-conversa .texto-conversa a:hover h5 {color: #CCC;}*/
/*		.conversa .ultima-conversa .texto-conversa .meta-data {color: #666;}*/
/*		.conversa .ultima-conversa .texto-conversa .meta-assunto {display: none;}*/
/*		.conversa .ultima-conversa .texto-conversa .conteudo-post {color: #CCC;}*/
/*		.conversa .ultima-conversa .ico-user {border-radius: 100%;}*/
/*		.conversa .ultima-conversa .ico-user img {border-radius: 100%;}*/

/*		.conversa .ultima-conversa .texto-conversa .acoes_mural > a {background: transparent; width: 30px; height: 30px; box-shadow: none; margin: 0 10px 0 0; opacity: 0.5;}*/
/*		.conversa .ultima-conversa .texto-conversa .acoes_mural > a:hover {opacity: 1;}*/
/*		.conversa .ultima-conversa .texto-conversa .acoes_mural > a * {display: none;}*/
/*		.conversa .ultima-conversa .texto-conversa .acoes_mural a.botaoCurtirGrupos {background: url(../imagens/btn_curtir.png) no-repeat center;}*/
/*		.conversa .ultima-conversa .texto-conversa .acoes_mural a.botaoComentar {background: url(../imagens/btn_comentar.png) no-repeat center;}*/

/*		.conversa .ultima-conversa .texto-conversa .acoes_mural .feedCurtir {margin: 0 10px 0 0; height: 30px; border: 0; padding: 0;}*/
/*		.conversa .ultima-conversa .texto-conversa .acoes_mural .feedCurtir:hover {background: transparent;}*/
/*		.conversa .ultima-conversa .texto-conversa .acoes_mural .feedCurtir a {margin: 0; height: 30px; color: #FFF !important;}*/
/*		.conversa .ultima-conversa .texto-conversa .acoes_mural .feedCurtir a img {width: 30px; height: 30px; margin-right: 5px;}*/
/*		.conversa .ultima-conversa .texto-conversa .acoes_mural .feedCurtir a:hover img {opacity: 0.5;}*/

/*		.conversa .nenhuma-conversa:before {color: #666;}*/
/*		.conversa .nenhuma-conversa a {color: #666;}*/
/*		.conversa .nenhuma-conversa a:hover {color: #CCC;}*/

	/* ENVIO/COMO FAZER */

		nav.nav-envios .filtros {top: 15px;}
		nav.nav-envios .filtros span {font-weight: 300; color: #444;}
		nav.nav-envios .filtros select {color: #444; background: transparent url(../imagens/select_down.png) right center no-repeat; font-family: 'Droid Sans', sans-serif;}
		nav.nav-envios .filtros select option {color: #444; font-family: 'Droid Sans', sans-serif;}
				
		#ava_projetos .menu-abas {border-bottom: 1.5px solid #417370; font-family: 'Droid Sans', sans-serif;}
		#ava_projetos .menu-abas li.desativado a {display: none;}
		#ava_projetos .menu-abas li a {font-weight: 400; padding: 0 20px; line-height: 60px;}
		#ava_projetos .menu-abas li a, #ava_projetos .menu-abas li.ativo a,
		#ava_projetos .menu-abas li a:hover, #ava_projetos .menu-abas li.ativo a:hover {border: 0; margin: 0; color: #417370; position: relative;}
		#ava_projetos .menu-abas li a::before {position: absolute; bottom: 0; left: 0; content: ''; width: 100%; height: 0px; background: #417370; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;}
		#ava_projetos .menu-abas li.ativo a::before {height: 8px;}
		
		#ava_projetos .submenu-abas li {border-right: 1.5px solid #444;}
		#ava_projetos .submenu-abas li span.submenu-ico {color: #444; font-weight: 400;}
		#ava_projetos .submenu-abas select {color: #444; background: transparent url(../imagens/select_down2.png) right center no-repeat;}
		#ava_projetos .submenu-abas select option {color: #444;}
		
		.lista-conteudos.envio-participantes article.envio {height: 345px; font-family: 'Droid Sans', sans-serif;}
		.lista-conteudos article.envio .sobre {background: #417370; border: 0;}
		.lista-conteudos article.envio a:hover .midia {opacity: 0.8;}
		.lista-conteudos article.envio a:hover .sobre {background: #333;}
		.lista-conteudos article.envio .sobre h3 {color: #FFF; font-weight: 400; font-size: 16px;}
		.lista-conteudos article.envio .sobre span {color: #e5a700; font-size: 12px;}
		.lista-conteudos article.envio .credito {background: #23938e; border: 0;}
		.lista-conteudos article.envio .credito:hover {background: #2AB2AC;}
		.lista-conteudos article.envio .credito .ico-user {border-radius: 100%;}
		.lista-conteudos article.envio .credito .ico-user img {border-radius: 100%;}
		.lista-conteudos article.envio .credito .dados-user h5.nome-user {font-weight: 400; color: #FFF;}
		.lista-conteudos article.envio .credito .dados-user span {color: #EEE;}

		.lista-conteudos article.envio .acoes_mural {display: none;}
/*		.lista-conteudos article.envio .acoes_mural > a {background: transparent; width: 30px; height: 30px; box-shadow: none; margin: 0 10px 0 0; opacity: 1;}*/
/*		.lista-conteudos article.envio .acoes_mural > a:hover {opacity: 0.5;}*/
/*		.lista-conteudos article.envio .acoes_mural > a * {display: none;}*/
/*		.lista-conteudos article.envio .acoes_mural a.botaoCurtirGrupos {background: url(../imagens/btn_curtir.png) no-repeat center;}*/
/*		.lista-conteudos article.envio .acoes_mural a.botaoComentar {background: url(../imagens/btn_comentar.png) no-repeat center;}*/

/*		.lista-conteudos article.envio .acoes_mural .feedCurtir {margin: 0 10px 0 0; height: 30px; border: 0; padding: 0;}*/
/*		.lista-conteudos article.envio .acoes_mural .feedCurtir:hover {background: transparent;}*/
/*		.lista-conteudos article.envio .acoes_mural .feedCurtir a {margin: 0; height: 30px; color: #FFF !important;}*/
/*		.lista-conteudos article.envio .acoes_mural .feedCurtir a img {width: 30px; height: 30px; margin-right: 5px;}*/
/*		.lista-conteudos article.envio .acoes_mural .feedCurtir a:hover img {opacity: 0.5;}*/

		.lista-conteudos article.envio .midia .status {line-height: 25px; padding: 0 10px; top: auto; left: auto; border: 0; font-size: 11px; font-weight: 400; right: 10px; bottom: 10px; border-radius: 3px; text-transform: uppercase;}		
		
		.lista-conteudos .acoes_lista a.btn_veja-mais {background: #803936; color: #FFF; border-radius: 20px;}
		.lista-conteudos .acoes_lista a.btn_veja-mais:hover {background: #A44945; color: #FFF;}

	/* SOCIAL */
	
	/* BASTIDORES */

	/* CONTEUDOS RELACIONADOS */
		
		#box_relacionados {display: none;}
		.relacionados h2.tit-section {font-weight: 400; border-bottom: 1px solid #CCC; color: #292929; font-family: 'Droid Sans', sans-serif;}
		.relacionados article .midia {height: 220px;}
		.relacionados article .detalhes {background: #292929; border: 0; font-family: 'Droid Sans', sans-serif;}
		.relacionados article:hover .detalhes {background: #3a3a3a;}
		.relacionados article .detalhes h3 {color: #FFF; font-weight: 400;}
		.relacionados article .detalhes p {color: #CCC; font-size: 14px; height: 110px;}		

	/* PÁGINA DA ETAPA */

		.titulo-page {font-family: 'Droid Sans', sans-serif; color: #FFF; font-weight: 400; text-transform: uppercase; font-size: 25px; line-height: normal; white-space: normal; overflow: visible; text-overflow: clip; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-align-items: center; align-items: center;}

		.acesso-envio .dados-envios {color: #FFF; margin-top: 0; height: 60px; line-height: 30px; font-family: 'Droid Sans', sans-serif;}
		.acesso-envio .dados-envios span {font-weight: 600; color: #FFF;}

		#ava_projetos .acesso-envio .liberado {height: 60px; line-height: 60px; background: #e5a700; color: #333; font-family: 'Droid Sans', sans-serif; font-weight: 400; border-radius: 20px;}
		#ava_projetos .acesso-envio .liberado:hover {background: #eccd00;}

		.acesso-envio div.status {border-radius: 20px; border: 0; color: #803936; height: 60px; font-family: 'Droid Sans', sans-serif;}

		.material-destaque {border-radius: 20px; height: 380px; padding: 60px 70px; background: rgba(255,255,255,0.2);}
		.material-destaque .nav-material {height: 100%; color: #803936; line-height: normal; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -ms-justify-content: center; justify-content: center;}
		.material-destaque .nav-material:hover {color: #471F1E;}

		.material-destaque .conteudo .sobre {font-family: 'Droid Sans', sans-serif;}
		.material-destaque .conteudo .sobre h3 {color: #803936; font-weight: 300;}
		.material-destaque .conteudo .sobre a:hover h3 {color: #803936;}
		.material-destaque .conteudo .sobre .texto {color: #803936; font-weight: 300;}

		.material-destaque .conteudo .sobre .credito .ico-user {border-radius: 100%;}
		.material-destaque .conteudo .sobre .credito .ico-user img {border-radius: 100%;}
		.material-destaque .conteudo .sobre .credito .dados-user h5 {color: #803936; font-weight: 300;}
		.material-destaque .conteudo .sobre .credito .dados-user a:hover h5 {color: #803936;}
		.material-destaque .conteudo .sobre .credito .dados-user span {color: #803936;}

		.material-destaque .conteudo .sobre .conversa {border-top: 1px solid #FFF; display: none;}
/*		.material-destaque .conteudo .sobre .conversa .ultima-conversa .texto-conversa .meta-data {color: #666;}*/
/*		.material-destaque .conteudo .sobre .conversa .ultima-conversa .texto-conversa .conteudo-post {color: #CCC;}*/

/*		.material-destaque .conteudo .sobre .conversa .nenhuma-conversa:before {color: #666;}*/
/*		.material-destaque .conteudo .sobre .conversa .nenhuma-conversa a {color: #666;}*/
/*		.material-destaque .conteudo .sobre .conversa .nenhuma-conversa a:hover {color: #CCC;}*/

	/* PARTICIPANTES */

		.pag-participantes .listagem-participantes h3 {color: #333;}
		.pag-participantes .listagem-participantes h3 span {color: #803936;}

		.pag-participantes .listagem-participantes ul.filtros {border-top: 1px solid #FFF;}
		.pag-participantes .listagem-participantes ul.filtros span.submenu-ico:before {font-weight: 200; color: #333;}
		.pag-participantes .listagem-participantes ul.filtros li select {color: #333; background: transparent url(../imagens/select_down.png) right center no-repeat;}
		.pag-participantes .listagem-participantes ul.filtros li select option {color: #333;}

		.pag-participantes .listagem-participantes ul.filtros li:last-child:before {color: #333;}
		.pag-participantes .listagem-participantes ul.filtros li:last-child input[type=search] {padding: 0 15px; border-radius: 20px; border: 0px solid #4e4e4e; color: #333; font-weight: 400; background: #FFF;}
		.pag-participantes .listagem-participantes ul.filtros li:last-child input[type=search]:focus {padding: 0 15px; border-radius: 20px; border: 0px solid #51add4 !important; background: rgba(255,255,255,0.75);}
	
		.pag-participantes .listagem-participantes ul.lista {margin-top: 20px;}
		.pag-participantes .listagem-participantes ul.lista li {border: 0; width: 220px; height: 70px; margin: 0 10px 20px; border-radius: 20px; background: transparent;}
		.pag-participantes .listagem-participantes ul.lista li a {padding: 10px 10px 10px 70px; height: 100%; display: block; position: relative; border-radius: 20px; background: rgba(255,255,255,0.2);}
		.pag-participantes .listagem-participantes ul.lista li a:hover {background: rgba(255,255,255,0.4);}
		.pag-participantes .listagem-participantes ul.lista li a .ico-user {border-radius: 100%; position: absolute; top: 10px; left: 10px;}
		.pag-participantes .listagem-participantes ul.lista li a .ico-user img {border-radius: 100%;}
		.pag-participantes .listagem-participantes ul.lista li a .dados-user {width: 100%;}
		.pag-participantes .listagem-participantes ul.lista li a .dados-user h5 {color: #803936; font-weight: 400;}
		.pag-participantes .listagem-participantes ul.lista li a:hover .dados-user h5 {color: #803936;}
		.pag-participantes .listagem-participantes ul.lista li a .dados-user span {color: #333;}
		.pag-participantes .listagem-participantes ul.lista li a:hover .dados-user span {color: #333;}

		.pag-participantes .acoes_lista a.btn_veja-mais {background: #803936; color: #FFF; border-radius: 20px;}
		.pag-participantes .acoes_lista a.btn_veja-mais:hover {background: #A44945; color: #FFF;}

	/* MURAL */

		.mural_sidebar {position: relative;}
		.mural_sidebar .img-destaque .label-parceria {display: none;}
		.mural_sidebar .widget_etapas article.etapa_bloco .img-destaque {background-color: rgba(255,255,255,0.2); border-radius: 100%;}
		.mural_sidebar .widget_etapas article.etapa_bloco {background: transparent; border: 0;}
		.mural_sidebar .widget_etapas article.etapa_bloco a {width: 100%; height: 100%; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
		.mural_sidebar .widget_etapas article.etapa_bloco .descricao_etapas {padding: 0 0 0 20px; float: none;}
		.mural_sidebar .widget_etapas article.etapa_bloco .descricao_etapas .status {padding: 5px 10px; width: 100%; height: 70px; font-size: 16px;}

			.mural_sidebar .widget_etapas article.etapa_bloco.fechado a .descricao_etapas .status {background: /*#da4247*/ url(../imagens/btn-fechado.png) left center no-repeat; padding: 15px 0 0;}
			.mural_sidebar .widget_etapas article.etapa_bloco.fechado a:hover .descricao_etapas .status {background: /*#f7353c*/ url(../imagens/btn-fechado_hover.png) left center no-repeat; color: #FFF;}

			.mural_sidebar .widget_etapas article.etapa_bloco.aberto a .descricao_etapas .status {background: /*#2fad59*/ url(../imagens/btn-liberado.png) right center no-repeat; padding: 0 0 10px; color: #FFF;}
			.mural_sidebar .widget_etapas article.etapa_bloco.aberto a:hover .descricao_etapas .status {background: /*#38c768*/ url(../imagens/btn-liberado.png) right center no-repeat; color: #FFF;}

			.mural_sidebar .widget_etapas article.etapa_bloco.encerrado a .descricao_etapas .status {background: /*#488caa*/ url(../imagens/btn-encerrado.png) left center no-repeat; padding: 0 0 15px; color: #FFF;}
			.mural_sidebar .widget_etapas article.etapa_bloco.encerrado a:hover .descricao_etapas .status {background: /*#51add4*/ url(../imagens/btn-encerrado_hover.png) left center no-repeat; color: #FFF;}

		.mural_sidebar .btn_confira {background: #e5a700; color: #444; border-radius: 20px;}
		.mural_sidebar .btn_confira:hover {background: #eccd00; color: #444;}

		.mural_sidebar h2.widget-titulo {font-weight: 400; border-bottom: 1px solid #4e4e4e; color: #FFF; padding-bottom:}

		.mural_sidebar .widget_relacionados {display: none;}
		.mural_sidebar .widget_relacionados article {padding: 0; background: transparent; border: 0; margin: 20px 0 0;}
		.mural_sidebar .widget_relacionados article:hover {background: transparent;}
		.mural_sidebar .widget_relacionados article .midia {width: 45%;}
		.mural_sidebar .widget_relacionados article .detalhes {width: 55%; padding: 0 0 0 20px;}
		.mural_sidebar .widget_relacionados article a:hover .detalhes {opacity: 0.5;}
		.mural_sidebar .widget_relacionados article .detalhes h3 {color: #FFF;}
		.mural_sidebar .widget_relacionados article .detalhes p {margin-top: 5px; color: #CCC;}
		

		.relacionados article .detalhes {background: #292929; border: 0;}
		.relacionados article:hover .detalhes {background: #3a3a3a;}
		.relacionados article .detalhes h3 {color: #FFF; font-weight: 400;}
		.relacionados article .detalhes p {color: #CCC; font-size: 14px; height: 110px;}	

		.mural_sidebar .envios-populares {display: none;}
		.mural_sidebar .widget_bastidores {display: none;}
		
		#ava_projetos #ava_mural_geral button {background: #f5f5f5;}
		#ava_mural_geral {position: relative;}

/*		#ava_mural_geral::after {content: ''; position: absolute; top: 0; right: -21.5px; width: 1.5px; height: 100%; background: #4e4e4e; z-index: 0;}*/
/*		.mural_sidebar::before {content: ''; position: absolute; top: 0; left: 0; width: 1.5px; height: 100%; background: #4e4e4e; z-index: 0;}*/

	/* ESTILIZAÇÃO DO MURAL */

		section#ava_mural_geral .dialogo, section#ava_mural_geral .timeline {box-shadow: none;}
		section.timeline h1,
		.filtro_timeline,
		.timeline .e-wrap>p {color: #444;}

	/* ORIENTAÇÕES */

		a.btn_cronograma {background: #eccd00; color: #444; border-radius: 20px;}
		a.btn_cronograma:hover {background: #e5a700; color: #444;}

		.orientacao .conteudo {background: rgba(255,255,255,0.2); padding: 20px; position: relative; border-radius: 20px; font-family: 'Droid Sans', sans-serif;}
		.orientacao .conteudo h3 {color: #5A2826; font-weight: 400; font-size: 20px; text-transform: uppercase; margin: 0 0 5px; padding: 0 0 5px; border-bottom: 1px solid rgba(90,40,38,0.50)}
		.orientacao .conteudo h4 {color: #5A2826; font-weight: 400; font-size: 18px; margin: 0 0 5px;}
		.orientacao .conteudo p {color: #803936; margin: 0 0 15px;}
		.orientacao .conteudo p a {color: #e03b3b;}
		.orientacao .conteudo p a:hover {color: #fa3b3b;}
		.orientacao .conteudo ul {line-height: 30px; color: #FFF;}
		.orientacao .conteudo ul li {}

		.orientacao .calendario {background: transparent; font-family: 'Droid Sans', sans-serif;}
		.orientacao .calendario .cronograma h3 {color: #FFF; font-weight: 400; font-size: 20px; text-transform: uppercase;}
		.orientacao .calendario .cronograma ul li {color: #FFF;}
		.orientacao .calendario .duracao .mes h4 {color: #FFF; font-weight: 400;}
		.orientacao .calendario .duracao .mes ul.semana li {color: #803936;}
		.orientacao .calendario .duracao .mes ul.dias li:first-child {color: rgba(255,255,255,0.5);}
		.orientacao .calendario .duracao .mes ul.dias li {color: #FFF; border-radius: 50%;}
		
		.orientacao .conteudo ol.faq {padding: 0; color: #FFF;}
		.orientacao .conteudo ol.faq h2 {color: #5A2826; font-weight: 400; text-transform: uppercase;}
		.orientacao .conteudo ol.faq li ol li .pergunta a {color: #5A2826;}
		.orientacao .conteudo ol.faq li ol li .pergunta a:hover {color: #AB4C48;}

		.orientacao .sidebar {position: relative;}

		.orientacao .sidebar .indice {background: transparent; padding: 0;}
		.orientacao .sidebar .indice ol {-webkit-padding-start: 20px;}
		.orientacao .sidebar .indice ol li {padding-left: 10px;}
		.orientacao .sidebar .indice ol li a {color: #FFF;}
		.orientacao .sidebar .indice ol li a:hover {color: #803936;}
		.orientacao .sidebar .indice ol li.ativo {pointer-events: none;}
		.orientacao .sidebar .indice ol li.ativo a {font-weight: 600; color: #803936; pointer-events: none;}

		.orientacao .sidebar .pdfs h3 {color: #FFF; font-weight: 400; font-size: 20px; text-transform: uppercase; font-family: 'Droid Sans', sans-serif;}
		.orientacao .sidebar .pdfs ul li:before {color: #803936;}
		.orientacao .sidebar .pdfs ul li a {color: #FFF;}
		.orientacao .sidebar .pdfs ul li a span {color: #EEE;}
		.orientacao .sidebar .pdfs ul li a:hover {opacity: 0.75;}
		.orientacao .sidebar .pdfs p {color: #FFF;}
		.orientacao .sidebar .pdfs p a {color: #eccd00;}
		.orientacao .sidebar .pdfs p a:hover {color: #e5a700;}

		.orientacao .sidebar .tutoria {background: transparent; border: 0; padding: 0; margin-top: 20px; border-radius: 0; font-family: 'Droid Sans', sans-serif;}
		.orientacao .sidebar .tutoria h3 {color: #FFF; font-weight: 400; font-size: 20px; text-transform: uppercase;}
		.orientacao .sidebar .tutoria .ico-user {border-radius: 100%;}
		.orientacao .sidebar .tutoria .ico-user img {border-radius: 100%;}
		.orientacao .sidebar .tutoria .sobre {width: 235px;}
		.orientacao .sidebar .tutoria .sobre a h5 {color: #FFF;}
		.orientacao .sidebar .tutoria .sobre a:hover h5 {opacity: 0.75;}
		.orientacao .sidebar .tutoria .sobre span {color: #FFF;}

/*		.orientacao .conteudo::after {content: ''; position: absolute; top: 0; right: -11.5px; width: 1.5px; height: 100%; background: #4e4e4e; z-index: 0;}*/
/*		.orientacao .sidebar::before {content: ''; position: absolute; top: 0; left: -10px; width: 1.5px; height: 100%; background: #4e4e4e; z-index: 0;}*/

		.orientacao .cronograma ul li.insc:before, .orientacao .calendario .duracao .mes ul.dias li.insc {background-color: #f1c238; color: #FFF;}
		.orientacao .cronograma ul li.etapa1:before, .orientacao .calendario .duracao .mes ul.dias li.etapa1 {background-color: #1883a5; color: #FFF;}
		.orientacao .cronograma ul li.etapa2:before, .orientacao .calendario .duracao .mes ul.dias li.etapa2 {background-color: #347b4c; color: #FFF;}
		.orientacao .cronograma ul li.etapa3:before, .orientacao .calendario .duracao .mes ul.dias li.etapa3 {background-color: #a53a3a; color: #FFF;}
		.orientacao .cronograma ul li.etapa4:before, .orientacao .calendario .duracao .mes ul.dias li.etapa4 {background-color: #9756b1; color: #FFF;}
		.orientacao .cronograma ul li.fim:before, .orientacao .calendario .duracao .mes ul.dias li.fim {background-color: #e6a996; color: #FFF;}
		

	/* INSCRIÇÕES */

		.box-form-insc {background: #FFF; color: #333; border: 1px solid #DDD; padding-top: 20px;}

		.box-form-insc .aviso {margin-top: 0 !important; background: #FFF;}

		.lista-inscricao li,
		.box-form-insc .list li {color: #444;}

		.box-form-insc .erro {color: #fe6565;}

		.box-seletor.criar .btn_criarequipe,
		#ava_projetos .act-buttons .btn_inscrever {background: #803936 !important;}

		.box-seletor.criar .btn_criarequipe:hover,
		#ava_projetos .act-buttons .btn_inscrever:hover {background: #A34845 !important;}

		.box-form-insc.feedback a {color: #e03b3b; font-weight: 400;}
		.box-form-insc.feedback a:hover {color: #fa3b3b;}

	/* POST ENVIO */

		.header-post-envio {background: transparent; min-height: auto; border-radius: 0; padding: 0 0 15px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-align-items: center; align-items: center; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
		.header-post-envio .titulo-envio {font-family: 'Droid Sans', sans-serif;}
		.header-post-envio .titulo-envio h2, .header-post-envio .titulo-envio span {width: 100%;}
		.header-post-envio .titulo-envio h2 {color: #444; font-weight: 400;}
		.header-post-envio .titulo-envio span {color: #23938e;}
		.header-post-envio .stepNavigation {background: #FFF;}
		.header-post-envio .stepNavigation .stepNavigationText {color: #444;}
		.passos-abas {background: transparent; padding: 15px 0 0; border-top: 1px solid #23938e; font-family: 'Droid Sans', sans-serif;}
		.passos-abas ul.passos-lista li a {border: 0; background: #df7a5c; border-radius: 20px; color: #FFF;}
		.passos-abas ul.passos-lista li a:hover {background: #C74C27; color: #FFF;}
		.passos-abas ul.passos-lista li.ativo a {background: #C74C27;}

		.post-envio {color: #FFF; font-family: 'Droid Sans', sans-serif;}
		.post-envio .conteudo {background: #23938e; padding: 20px;}
		#box_post-envio .post-envio .conteudo h3.titulo-envio {font-weight: 600; color: #FFF;}
		#box_post-envio .post-envio .conteudo h3 {color: #FFF;}
		#box_post-envio .post-envio .conteudo h4 {color: #FFF;}
		#box_post-envio .post-envio .conteudo p {color: #FFF;}
		#box_post-envio .post-envio .conteudo a {color: #FFF;}
		#box_post-envio .post-envio .conteudo a:hover {opacity: 0.5;}
		#box_post-envio .post-envio .conteudo a.documento {color: #FFF; background: rgba(255,255,255,0.2);}
		#box_post-envio .post-envio .conteudo a.documento:hover {color: #FFF; background: rgba(255,255,255,0.3); opacity: 1;}
		#box_post-envio .post-envio .conteudo .lista ul li {color: #FFF; background: rgba(255,255,255,0.3);}
		#box_post-envio .post-envio .conteudo .lista ul li:nth-child(2n) {background: rgba(255,255,255,0.2);}
		section.conteudo .monta-lista {border: 0; background: rgba(255,255,255,0.1);}
		section.conteudo .monta-lista table tbody tr {background-color: rgba(255,255,255,0.1);; border-left: 5px solid #ccc;}
		section.conteudo .monta-lista table tbody tr:nth-child(2n) {background-color: rgba(255,255,255,0.2) !important; border-left: 5px solid #ddd;}
		#box_post-envio .post-envio .conteudo .material-associado ul.lista-associados li {width: 185px; background: rgba(255,255,255,0.2);}
		#box_post-envio .post-envio .conteudo .material-associado ul.lista-associados li .midia {width: 100%;}

		.post-envio .conteudo .nav-passos {border-top: 1px solid rgba(255,255,255,0.4);}
		.post-envio .conteudo .nav-passos a {background: rgba(255,255,255,0.75); border-radius: 20px; color: #333 !important;}

		.post-envio .social-links-bot {background: #23938e; padding: 0 20px 20px;}
		
		.post-envio .social-links-bot .acoes_mural {border-top: 1px solid #FFF; padding: 20px 0 0; height: 50px;}
		.post-envio .social-links-bot .acoes_mural > a {background: transparent; width: 30px; height: 30px; box-shadow: none; margin: 0 10px 0 0; opacity: 1;}
		.post-envio .social-links-bot .acoes_mural > a:hover {opacity: 0.5;}
		.post-envio .social-links-bot .acoes_mural > a * {display: none;}
		.post-envio .social-links-bot .acoes_mural a.botaoCurtirGrupos {background: url(../imagens/btn_curtir.png) no-repeat center;}
		.post-envio .social-links-bot .acoes_mural a.botaoComentar {background: url(../imagens/btn_comentar.png) no-repeat center;}

		.post-envio .social-links-bot .acoes_mural .feedCurtir {margin: 0 10px 0 0; height: 30px; border: 0; padding: 0;}
		.post-envio .social-links-bot .acoes_mural .feedCurtir:hover {background: transparent;}
		.post-envio .social-links-bot .acoes_mural .feedCurtir a {margin: 0; height: 30px; color: #FFF !important;}
		.post-envio .social-links-bot .acoes_mural .feedCurtir a img {width: 30px; height: 30px; margin-right: 5px;}
		.post-envio .social-links-bot .acoes_mural .feedCurtir a:hover img {opacity: 0.5;}

		.post-conversa {background: #417370; padding: 20px; border-top: 1px solid #74B0AD; margin: 0; font-family: 'Droid Sans', sans-serif;}

		.post-conversa article .dialogo a.btn_excluir:before {color: #FFF;}
		.post-conversa article .dialogo a.btn_excluir:hover:before {color: #74B0AD;}

		.post-conversa .carregar-comentarios {text-align: center; height: 30px; line-height: 30px; color: #333; border-radius: 20px; background: #e5a700; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -ms-justify-content: center; justify-content: center;}
		.post-conversa .carregar-comentarios:hover {color: #333; background: #eccd00;}
		.post-conversa .carregar-comentarios strong {margin: 0 5px; font-weight: 600;}
		.post-conversa .carregar-comentarios .icone_comentario_resumo {background: url(../imagens/btn_comentar2.png) no-repeat center; width: 30px; height: 30px; top: 0;}

		.post-conversa article {border-bottom: 1px solid #74B0AD; position: relative; padding: 0 0 20px 65px;}
		.post-conversa article a.ico-user {border-radius: 100%; position: absolute; top: 0; left: 0;}
		.post-conversa article a.ico-user img {border-radius: 100%;}
		.post-conversa article .dialogo {width: 100%;}
		.post-conversa article .dialogo h5.nome-user {color: #FFF; font-weight: 400;}
		.post-conversa article .dialogo h5.nome-user a {color: #FFF; font-weight: 400;}
		.post-conversa article .dialogo h5.nome-user i::before {color: #FFF; font-weight: 400;}
		.post-conversa article .dialogo h5.nome-user:hover a {color: #74B0AD;}
		.post-conversa article .dialogo h5.nome-user:hover i::before {color: #74B0AD;}

		.post-conversa article .dialogo .acoes_mural {height: 20px; line-height: 20px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
		.post-conversa article .dialogo .acoes_mural span.meta-data {color: #74B0AD;}
		.post-conversa article .dialogo .acoes_mural a.botaoCurtirComentario {background: url(../imagens/btn_curtir.png) no-repeat center; background-size: cover; width: 20px; height: 20px; box-shadow: none; margin: 0 5px; opacity: 0.5; top: 0;}
		.post-conversa article .dialogo .acoes_mural a.botaoCurtirComentario:hover {opacity: 1;}
		.post-conversa article .dialogo .acoes_mural a.feed-Curtir {background: transparent; width: 30px; height: 20px; box-shadow: none; margin: 0 10px 0 0; opacity: 1; color: #74B0AD;}
		.post-conversa article .dialogo .acoes_mural a.feed-Curtir:hover {color: #FFF;}
		
		.post-conversa article .dialogo p {color: #DDD;}

		.post-conversa .post-form {border-radius: 100%; position: relative; padding: 0 0 0 75px;}
		.post-conversa .post-form .ico-user {border-radius: 100%; position: absolute; top: 0; left: 0;}
		.post-conversa .post-form .ico-user img {border-radius: 100%;}
		.post-conversa .post-form input[type=text] {width: 100%;}
		
		.post-conversa .intro {color: #CCC;}
		.post-conversa .intro a {color: #e5a700 !important;}
		.post-conversa .intro a:hover {color: #eccd00 !important;}

		.post-conversa .post-form .campanha {margin: 15px 0 0}
		.post-conversa .post-form .campanha p {color: #FFF;}
		.post-conversa .post-form .campanha p a {color: #e5a700 !important;}
		.post-conversa .post-form .campanha p a:hover {color: #eccd00 !important;}

		.post-conversa .post-form a.btn_enviar {background: #e5a700 !important; color: #444; border-radius: 20px;}
		.post-conversa .post-form a.btn_enviar:hover {background: #eccd00 !important;}

		.post-envio {padding: 0 10px 0 0;}

		.sidebar-envio {background: #f97661; color: #FFF; padding: 20px; width: 300px; border-radius: 20px; position: relative; font-family: 'Droid Sans', sans-serif;}
		.sidebar-envio .perfil {width: 100%; position: relative; padding: 0 0 0 95px; margin: 0;}
		.sidebar-envio .perfil .ico-user {border-radius: 100%; position: absolute; top: 0; left: 0;}
		.sidebar-envio .perfil .ico-user img {border-radius: 100%;}
		.sidebar-envio .perfil .dados-user {width: 100%;}
		.sidebar-envio .perfil .dados-user h5 {font-weight: 400; color: #FFF;}
		.sidebar-envio .perfil .dados-user a:hover h5 {opacity: 0.75;}
		.sidebar-envio .perfil .dados-user span {color: #FFF;}
		.sidebar-envio .perfil .dados-user a:hover span {opacity: 0.75;}

		.sidebar-envio h4 {font-weight: 400; color: #FFF; font-size: 18px;}
		.sidebar-envio .sobre-turma p {color: #FFF; font-weight: 400; font-size: 14px; line-height: initial;}

		.sidebar-envio ul.lista-alunos li {border-radius: 100%;}
		.sidebar-envio ul.lista-alunos li a img {border-radius: 100%;}
		.sidebar-envio ul.lista-professor li a {width: 100%; display: block; position: relative; padding: 0 0 0 40px;}
		.sidebar-envio ul.lista-professor li a .ico-user {border-radius: 100%; position: absolute; top: 0; left: 0;}
		.sidebar-envio ul.lista-professor li a .ico-user img {border-radius: 100%;}
		.sidebar-envio ul.lista-professor li h5 {color: #FFF; font-weight: 400; width: 100%; margin: 0;}
		.sidebar-envio ul.lista-professor li a:hover h5 {color: #CCC;}

		.sidebar-envio a.btn_veja-todos {background: #803936; border-radius: 3px; color: #FFF;;}
		.sidebar-envio a.btn_veja-todos:hover {background: #A44945; color: #FFF;}

		

	/* ENVIOS */

		/* body .proj_envios {color: #292929;} */

		#ava_projetos .box-seletor {background: #FFF; color: #333; border: 1px solid #DDD;}
		#ava_projetos .box-form-envio {background: #FFF; color: #333; border: 1px solid #DDD;}
		#ava_projetos .box-form-envio.multiplo, #ava_projetos .box-form-envio.passos {background: #FFF; border: 0;}

		#ava_projetos .box-form-envio .modulos {border-right: 1px solid #4e4e4e;}
		#ava_projetos .box-form-envio .act-buttons {border-top: 1px solid #4e4e4e;}
		#ava_projetos .box-form-envio .modulos .titulo-envio {border-bottom: 1px solid #4e4e4e;}
		#ava_projetos .box-form-envio .nav-passos {border-top: 1px solid #4e4e4e;}
		#ava_projetos hr {border-top: 1px dashed #4e4e4e;}

		#ava_projetos button {background: #4e4e4e;}
		#ava_projetos button:hover {background: #666;}

		#ava_projetos .act-buttons .btn_rascunho, #ava_projetos .act-buttons .btn_devolver {background: #4e4e4e;}
		#ava_projetos .act-buttons .btn_rascunho:hover, #ava_projetos .act-buttons .btn_devolver:hover {background: #666;}

		#ava_projetos .box-form-envio .modulos .modulo-documento .midia-documento .acao-midia a,
		#ava_projetos .box-form-envio .modulos .modulo-audio .midia-audio .acao-midia a,
		#ava_projetos .box-form-envio .modulos .modulo-imagem .midia-img .acao-midia a {color: #DDD;}

		#ava_projetos .box-form-envio .modulos .modulo-documento .midia-documento .acao-midia a:hover,
		#ava_projetos .box-form-envio .modulos .modulo-audio .midia-audio .acao-midia a:hover,
		#ava_projetos .box-form-envio .modulos .modulo-imagem .midia-img .acao-midia a:hover {color: #999;}

		#ava_projetos .box-form-envio .modulos .modulo-lista .midia-lista ul.monta-lista li {color: #292929;}

		#ava_projetos .act-buttons .btn_enviar {background: #e03b3b;}
		#ava_projetos .act-buttons .btn_enviar:hover {background: #fa3b3b;}

		#ava_projetos .act-buttons p.salvo {color: #38c768;}

	/* PERFIL TURMA */

		.sidebar-turma {background: #f97661; color: #FFF; padding: 20px; width: 310px; border-radius: 20px; font-family: 'Droid Sans', sans-serif;}
		.sidebar-turma .perfil {width: 100%; position: relative; padding: 0 0 0 95px; margin: 0;}
		.sidebar-turma .perfil .ico-user {border-radius: 100%; position: absolute; top: 0; left: 0;}
		.sidebar-turma .perfil .ico-user img {border-radius: 100%;}
		.sidebar-turma .perfil .dados-user {width: 100%;}
		.sidebar-turma .perfil .dados-user h5 {font-weight: 400; color: #FFF;}
		.sidebar-turma .perfil .dados-user a:hover h5 {opacity: 0.75;}
		.sidebar-turma .perfil .dados-user span {color: #FFF;}
		.sidebar-turma .perfil .dados-user a:hover span {opacity: 0.75;}

		.sidebar-turma h4 {font-weight: 400; color: #FFF; font-size: 18px;}
		.sidebar-turma .sobre-turma p {color: #FFF; font-weight: 400; font-size: 14px; line-height: initial;}

		.sidebar-turma ul.lista-alunos li {border-radius: 100%;}
		.sidebar-turma ul.lista-alunos li a img {border-radius: 100%;}
		.sidebar-turma ul.lista-professor li a {width: 100%; display: block; position: relative; padding: 0 0 0 40px;}
		.sidebar-turma ul.lista-professor li a .ico-user {border-radius: 100%; position: absolute; top: 0; left: 0;}
		.sidebar-turma ul.lista-professor li a .ico-user img {border-radius: 100%;}
		.sidebar-turma ul.lista-professor li h5 {color: #FFF; font-weight: 400; width: 100%; margin: 0;}
		.sidebar-turma ul.lista-professor li a:hover h5 {color: #CCC;}

		.sidebar-turma a.btn_veja-todos {background: #803936; border-radius: 3px; color: #FFF;;}
		.sidebar-turma a.btn_veja-todos:hover {background: #A44945; color: #FFF;}

		.envios-perfil-aluno, .envios-turma, .sidebar-turma  {border: 0; position: relative;}

/*		.envios-perfil-aluno::after, .envios-turma::after {content: ''; position: absolute; top: 0; right: -1.5px; width: 1.5px; height: 100%; background: #FFF; z-index: 0;}*/
/*		.sidebar-turma::before {content: ''; position: absolute; top: 0; left: -20px; width: 1.5px; height: 100%; background: #FFF; z-index: 0;}*/

/* RESULTADOS */
/*

.resultado_etapa1 {}
.resultado_etapa1 .material-1 {width: 100%;}
.resultado_etapa1 .material-1 > .ng-scope {width: 100%; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.resultado_etapa1 .material-1 .ng-scope .grpcampo1 {width: 100%;}
.resultado_etapa1 .material-1 .ng-scope .grpcampo2 {width: 50%;}
.resultado_etapa1 .material-1 .ng-scope .grpcampo3 {width: 50%;}

.resultado_etapa1 .material-1 .campo_0 {}
.resultado_etapa1 .material-1 .campo_0 h3 {font-weight: 300 !important; text-transform: uppercase; text-align: center; padding: 20px; background: rgba(255,255,255,0.1); margin: 0 !important;}

.resultado_etapa1 .material-1 .campo_1 {width: 100%; padding-right: 10px; text-align: center;}
.resultado_etapa1 .material-1 .campo_1 h4 {color: #FFF; font-weight: 300; text-transform: uppercase;}
.resultado_etapa1 .material-1 .campo_1 a.documento {width: 100%; background: #e03b3b !important; height: auto; padding: 30px 20px 20px !important;}
.resultado_etapa1 .material-1 .campo_1 a.documento::before {display: block; margin: 0 !important; font-size: 40px; line-height: 40px;}
.resultado_etapa1 .material-1 .campo_1 a.documento:hover {background: #fa3b3b !important;}

.resultado_etapa1 .material-1 .campo_2 {width: 100%; padding-left: 10px; text-align: center;}
.resultado_etapa1 .material-1 .campo_2 h4 {color: #FFF; font-weight: 300; text-transform: uppercase;}
.resultado_etapa1 .material-1 .campo_2 a.documento {width: 100%; background: #e03b3b !important; height: auto; padding: 30px 20px 20px !important;}
.resultado_etapa1 .material-1 .campo_2 a.documento::before {display: block; margin: 0 !important; font-size: 40px; line-height: 40px;}
.resultado_etapa1 .material-1 .campo_2 a.documento:hover {background: #fa3b3b !important;}
*/

/*VENCEDORES*/

/*
#box_resultados-feira {}
#box_galeria-resultados-feira header.header-envios {border-bottom: 1px solid #DDD;}
#box_galeria-resultados-feira header.header-envios .filtros select {padding: 0 35px 0 15px;border-radius: 15px;font-size: 14px;background: #0090CE url(../imagens/select_down.png) right center no-repeat;color: #FFFFFF;}

#box_galeria-resultados-feira .nav-envios ul.submenu-abas li:last-child {float: right;}
#box_galeria-resultados-feira .nav-envios ul.submenu-abas li:last-child:before {color: #0090CE;font-size: 20px;vertical-align: -2px;}
#box_galeria-resultados-feira .nav-envios ul.submenu-abas li:last-child input[type=search] {margin: 0;border: 0;background: #D8EBF3;font-size: 14px;font-family: 'Droid Sans', sans-serif;padding: 0 10px;outline: none;height: 30px;border-radius: 15px;outline: none;color: #0090CE;}
#box_galeria-resultados-feira .nav-envios ul.submenu-abas li:last-child input[type=search]:focus {margin: 0;border: 0 !important;background: #D8EBF3;font-size: 14px;outline: none;color: #00B2FF;padding: 0 10px;border-radius: 15px;}

#box_galeria-resultados-feira .nav-envios ul.submenu-abas li:last-child input[type=search]::-webkit-input-placeholder {color: #0090CE;}
#box_galeria-resultados-feira .nav-envios ul.submenu-abas li:last-child input[type=search]:-moz-placeholder {color: #0090CE;}
#box_galeria-resultados-feira .nav-envios ul.submenu-abas li:last-child input[type=search]::-moz-placeholder {color: #0090CE;}
#box_galeria-resultados-feira .nav-envios ul.submenu-abas li:last-child input[type=search]:-ms-input-placeholder {color: #0090CE;}

#box_galeria-resultados-vencedores {display: block;}
#box_galeria-resultados-vencedores section.vencedores {width: 100%; display: inline-block;}
#box_galeria-resultados-vencedores section.vencedores article {border: 0; padding: 0; position: relative; width: 460px; height: 350px; float: left; margin: 10px; background-color: #E6E6E6;}
#box_galeria-resultados-vencedores section.vencedores article h3 {margin: 0; font-size: 20px; position: absolute; top: 0; left: 0; line-height: 40px; width: 100%; height: 40px; padding: 0 15px; background-color: rgba(0,0,0,0.2); z-index: 3; text-transform: uppercase; color: #FFF;}
#box_galeria-resultados-vencedores section.vencedores article nav {position: absolute; top: 0; right: 0; z-index: 4;}
#box_galeria-resultados-vencedores section.vencedores article nav ul {margin: 0; padding: 0; list-style: none; height: 40px;}
#box_galeria-resultados-vencedores section.vencedores article nav ul li {width: 30px; height: 30px; background-color: #e03b3b; margin: 5px 5px 5px 0; float: left; line-height: 30px; text-align: center; overflow: hidden; font-weight: 300; font-size: 14px;}
#box_galeria-resultados-vencedores section.vencedores article nav ul li.ativo {background-color: #ff7373; font-weight: 600;}
#box_galeria-resultados-vencedores section.vencedores article nav ul li a {width: 100%; height: 100%; display: block; color: #FFF;}
#box_galeria-resultados-vencedores section.vencedores article nav ul li a:hover {background-color: rgba(255,255,255,0.2); color: #FFF;}
#box_galeria-resultados-vencedores section.vencedores article nav ul li.ativo a,
#box_galeria-resultados-vencedores section.vencedores article nav ul li.ativo a:hover {background-color: transparent; color: #FFF; cursor: default; pointer-events: none;}
#box_galeria-resultados-vencedores section.vencedores article nav ul li:nth-child(1) {}
#box_galeria-resultados-vencedores section.vencedores article nav ul li:nth-child(2) {}
#box_galeria-resultados-vencedores section.vencedores article nav ul li:nth-child(3) {}

#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto {width: 100%; height: 100%; position: relative; color: #FFF;}
#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto a {color: #FFF; width: 100%; height: 100%; display: block;}
#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto a:hover {color: #FFF; background-color: rgba(0,0,0,.2);}
#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto .dados-projeto {position: absolute; left: 0; bottom: 0; width: 100%; padding: 15px; background-color: rgba(0,0,0,.7); padding-right: 80px;}
#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto .dados-projeto::after {content: '\EA60'; font-family: 'Fontello'; position: absolute; top: 0; right: 25px; font-size: 30px; line-height: 95px; font-weight: 500;}
#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto.primeiro .dados-projeto::after {color: #fabb00;}
#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto.segundo  .dados-projeto::after {color: #c7c7c7;}
#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto.terceiro .dados-projeto::after {color: #e2813a;}

#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto .dados-projeto h4 {margin: 0; font-size: 16px; line-height: 20px; margin: 0 0 5px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto .dados-projeto .credito-projeto {padding-left: 50px; position: relative;}
#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto .dados-projeto .credito-projeto .ico-equipe {position: absolute; top: 0; left: 0; width: 40px; height: 40px; background-color: #444;}
#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto .dados-projeto .credito-projeto .dados {height: 40px; line-height: 20px;}
#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto .dados-projeto .credito-projeto .dados h5 {line-height: 20px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#box_galeria-resultados-vencedores section.vencedores article .bloco-projeto .dados-projeto .credito-projeto .dados span {line-height: 20px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: inline-block; width: 100%;}


#box_galeria-resultados-vencedores a.acesso-feira {width: 100%; padding: 30px 50px; text-align: center; display: inline-block; font-size: 35px; font-weight: 600; background-color: #0090CE; color: #FFF; background-image: url(../imagens/bg_header.png); margin-top: 30px; font-family: 'klinic_slabbold'; text-transform: uppercase; font-weight: initial;}
#box_galeria-resultados-vencedores a.acesso-feira:hover {background-color: #00b4ff; color: #FFF;}
#box_galeria-resultados-vencedores a.acesso-feira span {width: 100%; display: inline-block; font-size: 20px; font-family: 'klinic_slabmedium' !important; text-transform: uppercase; font-weight: initial;}

#conversa-resultados {background-color: #292929;}
*/



