
<section  ng-if="post.error == 0 && post.timeline.BolExcluido  == false" id="ava_mural_geral" class="hs1 grid_7 timeline">
    <header ng-if="postUnico.config.bolMostaPost">
        <input type="hidden" value="0" id="hTipoDePostMural"/>
        <h1 class="komika"><span class="icon_li mural"></span>MURAL</h1> 
    </header>
    <div id="ava_fluxoarticles">
        <article class="clearfix highlight">
            <a ng-if="postUnico.config.bolMostaPost && (postUnico.config.bolDonoDoPost || postUnico.config.bolTutor)" href="#confirma_excluir" ng-click="postUnico.confirmaExcluirPost()" class="FontAwesome coment_excluir confirma_excluir"><span></span></a>
            <ul ng-if="postUnico.config.bolMostaPost" class="combo_denunciar_excluir">
                <li>
                    <!-- a href="javascript:void(0);" class="icone"></a -->
                    <ul>
                        <span class="seta_cima"></span>
                        <li><a href="#confirma_excluir" class="mostra_caixa confirma_excluir"><span class="excluir_comentario_combo FontAwesome"></span>Excluir</a></li>
                        <li><a href="javascript:void(0);" class="denunciar_comentario"><span class="denunciar_comentario_combo FontAwesome"></span>Denunciar</a></li>
                    </ul>
                    <span class="modal_fixed" ng-init="post.timeline.showConfirmaExcluir = false" ng-hide="!post.timeline.showConfirmaExcluir">
                        <span style="display:block;top: 50%;left: 50%;margin: -55px 0 0 -97px;height:110px;width:195px;padding-top: 20px;" class="excluir_conf">
                            <p style="height:25px;">Deseja realmente excluir?</p>
                            <a href="javascript:void(0);" ng-click="postUnico.confirmaExcluirPost()" class="cancelar left">Cancelar</a>
                            <a href="javascript:void(0);" ng-click="postUnico.excluirPost()" class="btn_cor excluir right">Excluir</a>
                        </span>
                    </span>
                </li>
            </ul>
            
            <a ng-if="post.timeline.idTipoParticipante ==  1 " href="/AVA/Pagina/Projetos" title="Educacional Projetos" alt="Educacional Projetos"  class="">
                <img class="avatar_tl" ng-src="/AVA/StaticContent/Common/img/paginas/projetos/icone_projetos.png" width="35" height="35" alt="avatar"/> 
            </a>
            <a ng-if="post.timeline.idTipoParticipante !=  1 "  ng-href="/AVA/Perfil/Home/Index/{{post.timeline.strLogin}}"  title="{{post.timeline.strNome}}" alt="{{post.timeline.strApelido}}">
                <img ng-if="postUnico.config.bolMostaPost"  class="avatar_tl" ng-src="{{post.timeline.strMiniFoto}}" width="35" height="35" alt="avatar"/> 
            </a>                         
            <div class="e-wrap">
                <h1 ng-if="postUnico.config.bolMostaPost" >
                    <a ng-if="post.timeline.idTipoParticipante ==  1 " href="/AVA/Pagina/Projetos" title="Educacional Projetos" alt="Educacional Projetos"  class="">
                        <!-- icones Mediador / Professor -->
                        <i class="fontello icon_mediador"></i>
                        Educacional Projetos
                    </a>
                    <a ng-if="post.timeline.idTipoParticipante !=  1 " ng-href="/AVA/Perfil/Home/Index/{{post.timeline.strLogin}}" title="{{post.timeline.strApelido}}" alt="{{post.timeline.strApelido}}"  class="">
                        <!-- icones Mediador / Professor -->
                        <i ng-if="post.timeline.bolEducador " class="icon_maca"></i>
                        <!-- Fim - icones Mediador / Professor --> 
                        {{post.timeline.strApelido}}
                    </a>                     
                </h1>
                <div ng-if="postUnico.config.bolMostaPost" class="mural_time">
                    <span>{{post.timeline.strTempoPublicacao}}</span>
                    <span>&bull;</span>
                    <a href="#compartilhado_com" class="seletor_compartilhado"><span>{{post.timeline.assunto | uppercase}}</span></a>
                </div>
                <p ng-if="postUnico.config.bolMostaPost" ng-bind-html="post.timeline.StrMensagem"></p>                                                     
                <div class="clearfix"></div>
                <div class="acoes_mural">
                    <a href="javascript:void(0);" curtir-mensagem id-mensagem-rapida="{{post.timeline.IdMensagemrapida}}" ng-class="{ativo : post.timeline.bolCurtiu}" class="botaoCurtirGrupos" ></a>
                    <div class="feedCurtir boxCurticoesMensagem_{{post.timeline.IdMensagemrapida}}" idmensagem="{{post.timeline.IdMensagemrapida}}"></div>

                    <a href="javascript:void(0);" 
                        ng-if=" post.timeline.bolComentar && !objEdicao.BolEncerrado" 
                        class="botaoComentar" 
                        ng-click="postUnico.goToComentar()">
                        <span class="FontAwesome"></span>
                    </a>

                    <a ng-if="post.comentarios.length > 0" ng-if=" post.timeline.bolComentar" href="javascript:void(0);" class="feedCurtirIcone blokletters">{{ post.comentarios.length }}</a>
                    <div class="comentariosMural">
                        <a href="javascript:void(0);" ng-click="postUnico.config.ocultaComentario = !postUnico.config.ocultaComentario" ng-if="post.timeline.totalComentarios > postUnico.config.maxPosts && postUnico.config.ocultaComentario"  class="carregarComentarios">
                            <span class="icone_comentario_resumo"></span>
                            {{totalComentarios=(post.timeline.totalComentarios - postUnico.config.maxPosts);""}}
                            Exibir {{(totalComentarios>1)?'os':'';}} <strong>{{totalComentarios}} comentário{{(totalComentarios>1)?'s':'';}} </strong> anterior{{(totalComentarios>1)?'es':'';}}
                            <span class="FontAwesome angle_down"></span>
                        </a>
                        <!-- Lista de Comentarios -->
                        <div ng-repeat="comentario in post.comentarios" ng-hide="postUnico.ocultaComentario($index, post.timeline.totalComentarios)">                            
                            <a ng-href="/AVA/Perfil/Home/Index/{{comentario.strLogin}}" title="{{comentario.strApelido}}" alt="{{comentario.strApelido}}"  ><img ng-src="{{comentario.strMiniFoto}}" height="33" width="33"/></a>
                            <div class="textComentario">
                                <a ng-init="comentario.bolPodeExcluir = true" ng-if="(usuario.Id == comentario.IdUsuario) || postUnico.config.bolDonoDoPost || postUnico.config.bolTutor" ng-click="postUnico.confirmaExcluirComentario($index)" class="FontAwesome coment_excluir confirma_excluir" href ><span></span></a>
                                <ul class="combo_denunciar_excluir">
                                    <li>
                                        <!--a href="javascript:void(0);" class="icone"></a -->
                                        <ul>
                                            <li><a href="#confirma_excluir" class="mostra_caixa confirma_excluir"><span class="excluir_comentario_combo FontAwesome"></span>Excluir</a></li>
                                            <li><a href="javascript:void(0);" class="denunciar_comentario"><span class="denunciar_comentario_combo FontAwesome"></span>Denunciar</a></li>
                                        </ul>
                                        <span class="modal_fixed" ng-init="comentario.showConfirmaExcluir = false" ng-hide="!comentario.showConfirmaExcluir">
                                            <span style="display:block;top: 50%;left: 50%;margin: -55px 0 0 -97px;height:110px;width:195px;padding-top: 20px;" class="excluir_conf">
                                                <p style="height:25px;">Deseja realmente excluir?</p>
                                                <a href="javascript:void(0);" ng-click="postUnico.confirmaExcluirComentario($index)" class="cancelar left">Cancelar</a>
                                                <a href="javascript:void(0);" ng-click="postUnico.excluirComentario($index)" class="btn_cor excluir right">Excluir</a>
                                            </span>
                                        </span>
                                    </li>
                                </ul>
                                <h4>
                                    <a ng-href="/AVA/Perfil/Home/Index/{{comentario.strLogin}}" title="{{comentario.strApelido}}" alt="{{comentario.strApelido}}"  class="">
                                        <i ng-if="comentario.idTipoParticipante == 1" class="fontello icon_mediador"></i>
                                        <i ng-if="comentario.bolEducador && comentario.idTipoParticipante > 1 " class="icon_maca"></i> 
                                        {{comentario.strApelido}}
                                    </a>
                                </h4>
                                <span class="grupoTime">{{comentario.strTempoPublicacao}}</span>
                                
                                <!-- curtir do Comentario -->
                                <a class="botaoCurtirComentario" ng-class="{ativo : comentario.bolCurtiu }" href="javascript:void(0);" ng-click="postUnico.CurtirDescurtir($index)"></a>
                                <!-- FIM - curtir do Comentario -->                              
                                <!-- lista de Curtidores -->
                                <div class="feedTotalGostaram" ng-mouseenter="postUnico.getCurtidasComentario(comentario.IdComentario , $index); postUnico.enterMouseComentario($index)" ng-mouseleave="postUnico.leaveMouseComentario($index)" >
                                    <!--ng-if="(comentario.intCurtidas > 1 && comentario.bolCurtiu == true) || comentario.intCurtidas > 0 && comentario.bolCurtiu == false"  -->
                                    <a  class="b_tooltip" href="javascript:void(0);">
                                        <strong ng-if="postUnico.maisCurtidas(comentario.intCurtidas,0,comentario.bolCurtiu) > 0"> + {{ postUnico.maisCurtidas(comentario.intCurtidas,0,comentario.bolCurtiu) }}</strong>
                                    </a>
                                    
                                    <div ng-init="comentario.showCurtidores = false"  ng-mouseenter="postUnico.enterMouseComentario($index)" ng-show="comentario.showCurtidores" class="tip_acoes quem_curtiu">
                                        
                                        <a href="/AVA/Perfil/Home/Index/{{curtidor.strLogin}}" ng-repeat="curtidor in comentario.curtidores" ng-if="curtidor.id != usuario.Id">
                                            {{curtidor.strApelido}}
                                        </a>
                                        <a href="/AVA/Barras/Home/RetornaViewPerseguicaoCompleta/?deonde=6" idcomentario="" idmensagem="{{comentario.IdComentario}}" class="vertodoscurtiramcomentario ver_todos_tool">Ver todos</a>
                                        <span class="seta_p"></span>
                                    </div>
                                </div> 
                                <!-- FIM - lista de Curtidores -->

                                <p>{{comentario.txtComentario}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- FIM - Lista de Comentarios -->
                    </div>

                    <form ng-if="postUnico.config.bolPodeComentar && post.timeline.bolComentar && !objEdicao.BolEncerrado"
                          id="formComentarPostUnico" name="formComentarPostUnico" class="campo_comentar" >
                        <a href="javascript:void(0);" ng-show="postUnico.config.comentanto">
                            <img style="display:block" ng-src="{{usuario.Perfil.Thumb}}" height="25" width="25"/>
                        </a>
                        <input id="strComentarPostUnico" ng-blur="postUnico.config.comentanto = false" ng-focus="postUnico.config.comentanto = true" ng-class="{menor: postUnico.config.comentanto}" name="strComentarPostUnico" ng-model="postUnico.config.comentario" ng-keyup="postUnico.comentar($event)" type="text" id="comentar" placeholder="{{postUnico.config.placeholder}}"/>
                        <a href="javascript:void(0);" onclick="SpellCheck('formComentarPostUnico.strComentarPostUnico'); jQuery('#strComentarPostUnico').focus();" class="corretor_mensagem"><span class="fontello"></span>ABC</a>
                    </form> 
                    
                </div>
            </div>                              
        </article>
    </div> 
</section>
<section ng-if="post.error == 0 && post.timeline.BolExcluido  == true" id="ava_mural_geral" class="hs1 grid_7 timeline">
    <header ng-if="postUnico.config.bolMostaPost">
        <input type="hidden" value="0" id="Hidden1"/>
        <h1 class="komika"><span class="icon_li mural"></span>MURAL</h1> 
    </header>
    <div id="ava_fluxoarticles">
       <article class="clearfix highlight"> 
        Esta mensagem foi excluída
       </article> 
     </div>
</section>
<section ng-if="post.error != 0" id="ava_mural_geral" class="hs1 grid_7 timeline">
    <header ng-if="postUnico.config.bolMostaPost">
        <input type="hidden" value="0" id="Hidden2"/>
        <h1 class="komika"><span class="icon_li mural"></span>MURAL</h1> 
    </header>
    <div id="ava_fluxoarticles">
         <article class="clearfix highlight"> 
            {{post.mensagem}}
         </article>
     </div>
</section>
