<!-- COMO FAZER / ENVIOS DOS PARTICIPANTES -->
        <!-- Envio Participantes -->
        <nav class="nav-envios grid_12" ng-hide="((bolResultadosRevelados && !bolPgComite && (objEtapa.BolSemGaleria || objEnviosInscricao.Envios.length==0)) || (!bolResultadosRevelados && !bolHomeEtapa && (objEtapa.BolSemGaleria || objEnviosInscricao.Envios.length==0))) && !loadingBuscarGeral && objComoFazer.length==0">
            <!--variantes para os casos de galerias em eleições-->
            <ul class="menu-abas" ng-hide="!initialLoaded">
                <!--variantes da galeria na home das etapas em eleições-->
                <li 
                    ng-if="bolHomeProjeto"
                    ng-click="galeriaEnvioCtrl.openAbaGaleria(1,0)"
                    ng-class="{
                                10: 'desativado',
                                20: 'desativado',
                                11: 'ativo'
                               }[(controle.aba_atual*10)+((nuncaExistiramMateriais || (objEnviosInscricao.TotalEnvios == 0))?0:1)]">
                    <a href="">
                        Envio dos participantes
                    </a>
                </li>
                <li 
                    ng-if="bolHomeEtapa && (!objEtapa.BolSemGaleria || !bolResultadosRevelados)"
                    ng-click="galeriaEnvioCtrl.openAbaGaleria(1,0)"
                    ng-class="{
                        10: '',
                        20: '',
                        11: 'ativo'
                    }[(controle.aba_atual*10)+((nuncaExistiramMateriais || (objEnviosInscricao.TotalEnvios == 0) && bolResultadosRevelados)?0:1)]"
                    _g-class="{'ativo' : controle.aba_atual == 1}"
                >
                    <a 
                        href=""
                        ng-style="{'cursor': (nuncaExistiramMateriais || objEnviosInscricao.TotalEnvios == 0) ?'default':'pointer'}"
                    >
                        Envio dos participantes
                    </a>
                </li>
                <li 
                    ng-if="(bolHomeEtapa || bolHomeProjeto) && objComoFazer.length>0"
                    ng-click="galeriaEnvioCtrl.openAbaGaleria(2,0)"
                    ng-class="{'ativo' : controle.aba_atual == 2}">
                    <a href="">
                        Como fazer
                    </a>
                </li>

                <!--variantes da galeria na página do partido/candidato em eleições-->
                <li 
                    ng-if="!bolHomeEtapa && !bolHomeProjeto"
                    ng-class="{'ativo':(controle.aba_atual==1),'_desativado':(controle.aba_atual>1)}"
                    ng-click="galeriaEnvioCtrl.openAbaGaleria(1,0)"
                >
                    <a href="">Cabos eleitorais</a>
                </li>

                <!-- mostra uma aba de cada etapa em eleições na pg. do comite -->

                <!--
                    ng-class="{
                        '-1': 'desativado etapa'+etapa.Ordem,
                        '0' : 'etapa'+etapa.Ordem,
                        '1' : 'ativo etapa'+etapa.Ordem
                    }[(situacaoEtapa(etapa)<2)?'-1':((controle.aba_atual!=(ordemAba+2))?'0':((controle.aba_atual==(ordemAba+2) && controle.aba_atual>=2)?'1':'0'))]"
                -->
                <li 
                    ng-if="!bolHomeEtapa && !bolHomeProjeto" 
                    ng-repeat="etapa in objEdicao.Etapas | orderBy:['Ordem'] | filter: { TipoEnvio:'!'+0, BolSemFormulario: false, BolSemGaleria: false, BolBreve: false, BolOpcional:false } track by etapa.Id"
                    ng-init="ordemAba=$index"
                    ng-click="bolAbaHabilitada(etapa,situacaoEtapa(etapa))?galeriaEnvioCtrl.openAbaGaleria(ordemAba+2, etapa.Id):false"
                    class="{{getAbaClass(etapa,situacaoEtapa(etapa),controle.aba_atual,ordemAba)}}"
                >                    
                    <a id="{{(ordemAba==0)?'ancora_galeria_etapa_materiais':''}}" name="{{(ordemAba==0)?'ancora_galeria_etapa_materiais':''}}">
                        {{etapa.Nome}}
                    </a>
                </li>

            </ul>
                        
            <!-- Sub menu && objEnviosInscricao.TotalEnvios>0 && Participantes.length>0-->
            <ul ng-if="bolExibirFiltros" 
                ng-hide="!initialLoaded"
                class="submenu-abas">

                <!-- CATEGORIA -->
                <!-- 
                <li>
                    <span class="submenu-ico select-categoria"></span>
                        <select 
                            id="filtro_categoria" 
                            name="filtro_categoria" 
                            ng-model="galeriaEnvioCtrl.CategoriaSelecionado" 
                            ng-options="Categoria as Categoria.Categoria for Categoria in Categorias track by Categoria.Titulo"
                            ng-change="galeriaEnvioCtrl.aplicarFiltros(3,true)">
                                <option value="">Categoria</option> 
                        </select>
                </li>
                -->
                
                <li ng-if="listaAnos.length > 1">
                    <span class="submenu-ico select-escola"></span>
                    <select 
                        id="filtro_ano" 
                        name="filtro_ano" 
                        ng-model="galeriaEnvioCtrl.AnoSelecionado"
                        ng-options="ano as ano for ano in listaAnos track by ano | orderBy:'-'"
                        ng-init="galeriaEnvioCtrl.AnoSelecionado=listaAnos[listaAnos.length-1]"
                        ng-change="galeriaEnvioCtrl.aplicarFiltros(3,true)">
                    </select>
                </li>

                <!-- ESTADO -->
                <li>
                    <span class="submenu-ico select-estado"></span>
                        <select 
                            id="filtro_estado" 
                            name="filtro_estado" 
                            ng-model="galeriaEnvioCtrl.EstadoSelecionado" 
                            ng-options="Estado as Estado.Estado for Estado in Estados track by Estado.Sigla"                            
                            ng-change="galeriaEnvioCtrl.aplicarFiltros(0,true)">
                                <option value="">Estado</option> 
                        </select>
                </li>

                <!-- ESCOLA -->
                <li ng-show="galeriaEnvioCtrl.EstadoSelecionado.Sigla.length == 2">
                    <span class="submenu-ico select-escola"></span>
                    <select 
                        id="filtro_escola" 
                        name="filtro_escola" 
                        ng-model="galeriaEnvioCtrl.EscolaSelecionada" 
                        ng-options="Escola as Escola.Nome for Escola in Escolas track by Escola.Id"                        
                        ng-change="galeriaEnvioCtrl.aplicarFiltros(1,true)">
                            <option value="">Escolas</option>
                    </select>
                </li>
                
                <li ng-show="galeriaEnvioCtrl.EscolaSelecionada.Id > 0 && (!bolPgComite || (bolPgComite && controle.aba_atual>1))">
                    <span class="submenu-ico select-turma"></span>
                    <select 
                        id="filtro_turma" 
                        name="filtro_turma" 
                        ng-model="galeriaEnvioCtrl.TurmaSelecionada" 
                        ng-options="Turma as Turma.Nome for Turma in Turmas track by Turma.Id"                        
                        ng-change="galeriaEnvioCtrl.aplicarFiltros(2,true)">
                            <option value="">Turmas</option>
                    </select>
                </li>
                <!-- ############################################################################ -->                                
                <li ng-if="((listaCamposDeFiltro01.length > 0) || (galeriaEnvioCtrl.CamposDeFiltro01Selecionado != undefined))">                
                    <span class="submenu-ico select-categoria"></span>
                        <select 
                            id="SelectCamposDeFiltro01" 
                            name="filtro_CamposDeFiltro01" 
                            ng-model="galeriaEnvioCtrl.CamposDeFiltro01Selecionado" 
                            ng-options="CampoDeFiltro01 as CampoDeFiltro01.StrOpcao for CampoDeFiltro01 in listaCamposDeFiltro01 track by CampoDeFiltro01.IdFormularioCampoOpcao"
                            ng-change="galeriaEnvioCtrl.aplicarFiltros(4,true,1)",true>
                                <option value="">{{listaCamposDeFiltro01[0].StrFiltro}}</option> 
                        </select>
                </li>


                <li ng-if="((listaCamposDeFiltro02.length > 0) || (galeriaEnvioCtrl.CamposDeFiltro02Selecionado != undefined))">                
                    <span class="submenu-ico select-categoria"></span>
                        <select 
                            id="SelectCamposDeFiltro02" 
                            name="filtro_CamposDeFiltro02" 
                            ng-model="galeriaEnvioCtrl.CamposDeFiltro02Selecionado" 
                            ng-options="CampoDeFiltro02 as CampoDeFiltro02.StrOpcao for CampoDeFiltro02 in listaCamposDeFiltro02 track by CampoDeFiltro02.IdFormularioCampoOpcao"
                            ng-change="galeriaEnvioCtrl.aplicarFiltros(4,true,2)">
                                <option value="">{{listaCamposDeFiltro02[0].StrFiltro}}</option> 
                        </select>
                </li>


                <li ng-if="((listaCamposDeFiltro03.length > 0) || (galeriaEnvioCtrl.CamposDeFiltro03Selecionado != undefined))">                
                    <span class="submenu-ico select-categoria"></span>
                        <select 
                            id="SelectCamposDeFiltro03" 
                            name="filtro_CamposDeFiltro03" 
                            ng-model="galeriaEnvioCtrl.CamposDeFiltro03Selecionado" 
                            ng-options="CampoDeFiltro03 as CampoDeFiltro03.StrOpcao for CampoDeFiltro03 in listaCamposDeFiltro03 track by CampoDeFiltro03.IdFormularioCampoOpcao"
                            ng-change="galeriaEnvioCtrl.aplicarFiltros(4,true,3)">
                                <option value="">{{listaCamposDeFiltro03[0].StrFiltro}}</option> 
                        </select>
                </li>


                <li ng-if="((listaCamposDeFiltro04.length > 0) || (galeriaEnvioCtrl.CamposDeFiltro04Selecionado != undefined))">
                    <span class="submenu-ico select-categoria"></span>
                        <select 
                            id="SelectCamposDeFiltro04" 
                            name="filtro_CamposDeFiltro04" 
                            ng-model="galeriaEnvioCtrl.CamposDeFiltro04Selecionado" 
                            ng-options="CampoDeFiltro04 as CampoDeFiltro04.StrOpcao for CampoDeFiltro04 in listaCamposDeFiltro04 track by CampoDeFiltro04.IdFormularioCampoOpcao"
                            ng-change="galeriaEnvioCtrl.aplicarFiltros(4,true,4)">
                                <option value="">{{listaCamposDeFiltro04[0].StrFiltro}}</option> 
                        </select>
                </li>


                <li ng-if="((listaCamposDeFiltro05.length > 0) || (galeriaEnvioCtrl.CamposDeFiltro05Selecionado != undefined))">
                    <span class="submenu-ico select-categoria"></span>
                        <select 
                            id="SelectCamposDeFiltro05" 
                            name="filtro_CamposDeFiltro05" 
                            ng-model="galeriaEnvioCtrl.CamposDeFiltro05Selecionado" 
                            ng-options="CampoDeFiltro05 as CampoDeFiltro05.StrOpcao for CampoDeFiltro05 in listaCamposDeFiltro05 track by CampoDeFiltro05.IdFormularioCampoOpcao"
                            ng-change="galeriaEnvioCtrl.aplicarFiltros(4,true,5)">
                                <option value="">{{listaCamposDeFiltro05[0].StrFiltro}}</option> 
                        </select>
                </li>

                <li ng-if="((listaCamposDeFiltro06.length > 0) || (galeriaEnvioCtrl.CamposDeFiltro06Selecionado != undefined))">
                    <span class="submenu-ico select-categoria"></span>
                        <select 
                            id="SelectCamposDeFiltro06" 
                            name="filtro_CamposDeFiltro06" 
                            ng-model="galeriaEnvioCtrl.CamposDeFiltro06Selecionado" 
                            ng-options="CampoDeFiltro06 as CampoDeFiltro06.StrOpcao for CampoDeFiltro06 in listaCamposDeFiltro06 track by CampoDeFiltro06.IdFormularioCampoOpcao"
                            ng-change="galeriaEnvioCtrl.aplicarFiltros(4,true,6)">
                                <option value="">{{listaCamposDeFiltro06[0].StrFiltro}}</option> 
                        </select>
                </li>

                <li ng-if="((listaCamposDeFiltro07.length > 0) || (galeriaEnvioCtrl.CamposDeFiltro07Selecionado != undefined))">
                    <span class="submenu-ico select-categoria"></span>
                        <select 
                            id="SelectCamposDeFiltro07" 
                            name="filtro_CamposDeFiltro07" 
                            ng-model="galeriaEnvioCtrl.CamposDeFiltro07Selecionado" 
                            ng-options="CampoDeFiltro07 as CampoDeFiltro07.StrOpcao for CampoDeFiltro07 in listaCamposDeFiltro07 track by CampoDeFiltro07.IdFormularioCampoOpcao"
                            ng-change="galeriaEnvioCtrl.aplicarFiltros(4,true,7)">
                                <option value="">{{listaCamposDeFiltro07[0].StrFiltro}}</option> 
                        </select>
                </li>

                <li ng-if="((listaCamposDeFiltro08.length > 0) || (galeriaEnvioCtrl.CamposDeFiltro08Selecionado != undefined))">
                    <span class="submenu-ico select-categoria"></span>
                        <select 
                            id="SelectCamposDeFiltro08" 
                            name="filtro_CamposDeFiltro08" 
                            ng-model="galeriaEnvioCtrl.CamposDeFiltro08Selecionado" 
                            ng-options="CampoDeFiltro08 as CampoDeFiltro08.StrOpcao for CampoDeFiltro08 in listaCamposDeFiltro08 track by CampoDeFiltro08.IdFormularioCampoOpcao"
                            ng-change="galeriaEnvioCtrl.aplicarFiltros(4,true,8)">
                                <option value="">{{listaCamposDeFiltro08[0].StrFiltro}}</option> 
                        </select>
                </li>

                <li ng-if="((listaCamposDeFiltro09.length > 0) || (galeriaEnvioCtrl.CamposDeFiltro09Selecionado != undefined))">
                    <span class="submenu-ico select-categoria"></span>
                        <select 
                            id="SelectCamposDeFiltro09" 
                            name="filtro_CamposDeFiltro09" 
                            ng-model="galeriaEnvioCtrl.CamposDeFiltro09Selecionado" 
                            ng-options="CampoDeFiltro09 as CampoDeFiltro09.StrOpcao for CampoDeFiltro09 in listaCamposDeFiltro09 track by CampoDeFiltro09.IdFormularioCampoOpcao"
                            ng-change="galeriaEnvioCtrl.aplicarFiltros(4,true,9)">
                                <option value="">{{listaCamposDeFiltro09[0].StrFiltro}}</option> 
                        </select>
                </li>

                <li ng-if="((listaCamposDeFiltro10.length > 0) || (galeriaEnvioCtrl.CamposDeFiltro10Selecionado != undefined))">
                    <span class="submenu-ico select-categoria"></span>
                        <select 
                            id="SelectCamposDeFiltro10" 
                            name="filtro_CamposDeFiltro10" 
                            ng-model="galeriaEnvioCtrl.CamposDeFiltro10Selecionado" 
                            ng-options="CampoDeFiltro10 as CampoDeFiltro10.StrOpcao for CampoDeFiltro10 in listaCamposDeFiltro10 track by CampoDeFiltro10.IdFormularioCampoOpcao"
                            ng-change="galeriaEnvioCtrl.aplicarFiltros(4,true,10)">
                                <option value="">{{listaCamposDeFiltro10[0].StrFiltro}}</option> 
                        </select>
                </li>
                <!-- ############################################################################ -->
            </ul>
            <!-- end Sub menu -->

            <!-- Filtros -->
            <div 
                class="filtros"
                ng-hide="!initialLoaded || !(!bolEleicoes || (bolEleicoes && ((((controle.aba_atual == 1 && ((objEnviosInscricao.TotalEnvios>0 && bolResultadoEnvioEleicaoRevelado && bolHomeEtapa) || (!bolHomeEtapa && bolHomeProjeto))) || (controle.aba_atual == 2 && filteredEnvioPortal.length>0)) && (bolHomeEtapa || bolHomeProjeto)))))"
            >
                <span>Ordenar por:</span>
                <select ng-model="combo_order" 
                        ng-change="galeriaEnvioCtrl.buscarGaleriaOrdenado(true)"
                        ng-options="Order.Id as Order.Text for Order in arrayOpcaoOrdenacao"
                        ng-init="combo_order = 0"
                        name="combo_order">
                        <option value="">--Selecione</option>
                </select>
            </div>
            <!-- End filtros -->
        </nav>
        <!--
        Total envios: {{ paramsPortal.total }}
        Total mostrados: {{ objComoFazer.length }}
        
        es:{{EstadoSelecionado}}
        ges:{{galeriaEnvioCtrl.EstadoSelecionado}}
        te:{{objEnviosInscricao.TotalEnvios}}
        env:{{objEnviosInscricao.Envios}}
        -->
        <div class="acoes_lista" ng-show="loadingBuscarGeral">
            <div class="loading-spiner" style="width:50px; float:left;" >
                <img src="/AVA/StaticContent/Common/img/perfil/carregando.gif" border="0">
            </div>
        </div>

        <!-- eleições - lista dos partidos/candidatos na página da etapa em eleicoes-->
        <ng-include ng-show="controle.aba_atual == 1 && !loadingBuscarGeral && bolEleicoes && bolHomeEtapa && !bolHomeProjeto && !bolResultadosRevelados" 
            src="'/AVA/Projetos/Scripts/App/Diretiva/Galeria/galeria-eleicoes-comites.html'">
        </ng-include>

        <!-- eleicoes - galerias de envios dos participantes - home geral em eleicoes ou pg. etapa-->
        <ng-include ng-show="!(bolHomeEtapa && objEtapa.BolSemGaleria) && !loadingBuscarGeral && bolEleicoes && ((controle.aba_atual == 1 && (!bolHomeEtapa && bolHomeProjeto || (bolHomeEtapa && !bolHomeProjeto && !nuncaExistiramMateriais && bolResultadosRevelados))) || (controle.aba_atual >= 2 && !bolHomeEtapa && !bolHomeProjeto))" 
            src="'/AVA/Projetos/Scripts/App/Diretiva/Galeria/galeria-envio-participante.html'">
        </ng-include>

        <!-- eleições - lista dos participantes na página dos comitês em eleicoes-->
        <!-- && (bolRelacionadoComite || bolResultadosRevelados)" -->
        <ng-include ng-show="!(bolHomeEtapa && objEtapa.BolSemGaleria) && controle.aba_atual == 1 && !loadingBuscarGeral && bolEleicoes && !bolHomeEtapa && !bolHomeProjeto"
            src="'/AVA/Projetos/Scripts/App/Diretiva/Galeria/galeria-eleicoes-participantes-comite.html'">
        </ng-include>

        <!-- eleicoes - como fazer: mostrado na home do projeto e na home das etapas em eleicoes-->
        <ng-include ng-show="controle.aba_atual == 2 && !loadingBuscarGeral && bolEleicoes && (bolHomeEtapa || bolHomeProjeto)"
            src="'/AVA/Projetos/Scripts/App/Diretiva/Galeria/galeria-envio-portal.html'">
        </ng-include>
<!-- fim COMO FAZER / ENVIOS DOS PARTICIPANTES -->
