<!-- inicio lista de comitês -->
<section ng-class="'envio-participantes lista-conteudos comites comites-'+tipoEleicao.toLowerCase()" ng-if="!bolResultadosRevelados && !bolRelacionadoComite">
    <header>
        <h2>As turmas estão trabalhando na montagem de seus comitês!</h2>
        <span>O Resultado será revelado dia {{dataRevelacaoResultado}}, aguarde!</span>
    </header>

    <!-- Para usuário não inscrito, deverá esconder botões de acesso/aguarde assim como desativar, assim como o sistema de classe "aberto" e "fechado" deverá ser suspenso nessa ocasião -->
                        
    <h3>Conheça os {{tipoEleicao.toLowerCase()}}s</h3>

    <div
        class="loading-spiner" 
        style="position: relative; width: 100%; float:left; line-height: 150px;"
        ng-show="loadingBuscarGeral"
    >
        <img src="/AVA/StaticContent/Common/img/perfil/carregando.gif" border="0" style="position: relative; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);" />
    </div>

    <!-- Modelo de comite aberto, trocar classe "aberto" para "fechado" quando necessário && objEnviosInscricao.TotalEnvios>0-->
    <article 
        ng-show="!loadingBuscarGeral"
        ng-repeat="categoria in edicaoConfig.GruposCategorias[0].Categorias track by $index" 
        ng-init="indiceCategoria=categoria.Ordem;totalTurmasCategoria[indiceCategoria]=projetoTools.filtrar(objUsuario.TurmasInscritas,{ Inscricao: { Categorias: [ { Id: categoria.Id } ] } }).length"
        id="{{indiceCategoria}}"
        ng-class="{
            0: 'comite fechado comite_0'+(indiceCategoria),
            1: 'comite aberto comite_0'+(indiceCategoria),
            }[(isRelacionadoComite(categoria) || (totalTurmasCategoria[indiceCategoria]>0) || (situacaoEtapaFinal>1))?1:0]"
    >
    <!--  || (totalTurmasCategoria[indiceCategoria]>0 && (situacaoEtapaFinal==4 && faseEleicao>=5)) -->
    <!-- }[(totalTurmasCategoria[indiceCategoria]>0)?110+faseEleicao:100+faseEleicao]" -->
        <div
            id="tooltip_{{categoria.Id}}"
            style="display:none;"
            ng-class="{
                1: 'tooltip_turmas',
                0: 'tooltip_turmas disabled hidden ng-hidden',
            }[(projetoTools.verificaPerfil(objUsuario,'Educador,Administrador') && totalTurmasCategoria[indiceCategoria]>0)?1:0]" 
        >
            <h4>Suas turmas no comitê</h4>
            <ul>
                <li
                    ng-repeat="turma in objUsuario.TurmasInscritas | filter: { Inscricao: { Categorias: [ { Id: categoria.Id } ] } }"
                    ng-init="indiceTurma=$index"
                    ng-show="indiceTurma<5"
                >
                    <a 
                        ng-href="{{'/AVA/Turma/'+turma.Link}}"
                    >
                        {{turma.Apelido}}
                    </a>
                </li>
            </ul>
            <a ng-show="totalTurmasCategoria[indiceCategoria]>5" href="javascript:;" ng-click="galeriaEnvioCtrl.openVejaMaisTurmas(categoria)" _g-href="{{'/AVA/Projetos/' +  objEdicao.Ano + '/' + objEdicao.Link + '/MinhasTurmas'}}" class="btn_vejamais">
                Veja mais
            </a>
        </div>

        <!-- quando habilitado, trocar classe "play" por "stop" -->
        <!-- && (objUsuario.TurmasInscritas.length>0 || galeriaEnvioCtrl.situacaoEtapa(etapaFinal)==4 || faseEleicao>=5)"-->
        <a 
            href="javascript:;"
            rel="{{'audio_eleicao_'+categoria.Ordem}}"
            class="btn_audio play"
            ng-if="tipoEleicao=='Candidato'"
            ng-click="galeriaEnvioCtrl.playAudio(getAudioCandidato(categoria),true,true,'play','stop', galeriaEnvioCtrl.observeUserAudioEnded);"
        >
        <!-- ng-click="galeriaEnvioCtrl.playAudio('audio_eleicao_'+categoria.Ordem,true,true,'play','stop', galeriaEnvioCtrl.observeUserAudioEnded);" -->
            <audio id="{{getAudioCandidato(categoria)}}" class="audioPlayer">
                <source ng-src="{{'/cp/projetos/template/' +  objEdicao.Ano + '/' + objEdicao.Link + '/audios/'+getAudioCandidato(categoria)+'.mp3'}}" type="audio/mpeg">
                <!--Your browser does not support the audio element.-->
            </audio>
        </a>

        <!-- Botão de acesso ao comitê, somente para inscritos até o momento da eleição, após, liberado a todos -->
        <a 
            ng-href="{{'/AVA/Projetos/' +  objEdicao.Ano + '/' + objEdicao.Link + '/' + tipoEleicao + '/' + categoria.Slug}}" 
            class="btn_acessar"
            ng-show="(totalTurmasCategoria[indiceCategoria]>0 || bolResultadosRevelados)"
        ></a>
        <a 
            href="javascript:;" 
            class="btn_acessar"
            ng-show="!(totalTurmasCategoria[indiceCategoria]>0 || bolResultadosRevelados)"
        ></a>

        <!-- Imagem do candidato/partido -->
        <div class="img_comite"></div>
    </article>
</section>
<!-- fim lista de comitês -->