/*******AGENDA*******/
#abas {border-bottom:1px solid #ccc;}
#abas .aba_adm{line-height:30px; overflow:inherit;}
.indisponivel_cor{background:url('../../Scripts/img/agenda/indisponivel_cor.png') center center no-repeat!important; display:block; height:35px; width:73px;}
.selecionada_cor{background:url('../../Scripts/img/agenda/selecionada_cor.png') center center no-repeat!important; display:block; height:35px; width:73px;}

.cadastro_tipo, .tipos_cadastrados{border:1px solid #ccc; float:left; padding:20px; width:415px;}
.cadastro_tipo h3, .tipos_cadastrados h3{margin:0; text-transform:uppercase;}
.cadastro_tipo{float:left;}
.cadastro_tipo ul{display:table; list-style:none; padding:0!important; margin:0 -19px 0 0;}
.cadastro_tipo ul li{border:1px solid #ccc; cursor:pointer; float:left; height:30px; margin:0 15px 10px 0; width:69px;}
.cadastro_tipo input[type="radio"]{cursor:pointer; height:30px; opacity:0; width:72px;  filter: alpha(opacity = 0)}
.cadastro_tipo input[type="text"]{border:1px solid #ccc; color:#333; padding:5px; width:403px;}
.cadastro_tipo p{margin:20px 0 5px;}

.tipos_cadastrados{float:right;}
.tipos_cadastrados ul{list-style:none; margin-top:20px; padding:0;}
.tipos_cadastrados ul li{ padding:5px; position:relative;}
.tipos_cadastrados ul li:hover{background:#f4f4f4;}
.tipos_cadastrados ul li:hover .editar_evento_agenda, .tipos_cadastrados ul li:hover .excluir_evento_agenda{display:inline-block;}
.tipos_cadastrados ul li .editar_evento_agenda:hover, .tipos_cadastrados ul li .excluir_evento_agenda:hover{background-color:#f4f4e6;}
.tipos_cadastrados ul li .editar_evento_agenda, .tipos_cadastrados ul li .excluir_evento_agenda{background:url('../../Scripts/img/perfil/sprite_ava.png') #fff no-repeat; border:1px solid #ccc;display:none; padding:2px; position:absolute; top:1px; width:15px;}
.tipos_cadastrados ul li .editar_evento_agenda{background-position:-17px -306px; right:28px;}
.tipos_cadastrados ul li .excluir_evento_agenda{background-position:4px -306px; right:5px;}
.filtro_agenda_home{float:left; margin:5px;}

.btn_laranja.salvar.filtrar_adm_agenda_botao{height:20px !important; line-height:15px; margin:0 0 10px; padding:2px 5px 5px !important;}

.tipos_cadastrados .ativo{background:#f4f4f4;}
.tipos_cadastrados .ativo a{display:inline-block!important;}

.tb_avisos td span{font-weight:bold;}

.agenda_BoxContador{width:27px;}

/*******AGENDA FILTRO*******/
.direita{float:right;}
.esquerda{float:left;}
.filtro_agenda_eventos{background:#f4f4f4; border:1px solid #ccc; border-radius:3px; display:inline-block; line-height:30px; list-style:none; margin:-5px 0 10px; padding:0 8px!important; position:absolute; z-index:9; }
.filtro_agenda_eventos:hover{background:#fff;}
.filtro_agenda_eventos input{position:relative; top:3px;}
.filtro_agenda_eventos li{display:none; padding:0 10px; margin:0 -8px;}
.filtro_agenda_eventos li:hover{background:#f4f4f4;}
.filtro_agenda_eventos:hover li{display:block;}
.filtro.agenda_fora{left:5px; position:relative!important; top:10px;}

/*******ADMINISTRADORES*******/
.admin_cadastrado, .tipos_cadastrados{border:1px solid #ccc; float:left; padding:20px; width:415px;}
.admin_cadastrado h3, .tipos_cadastrados h3{font-size:13px; margin:0; text-transform:uppercase;}
.admin_cadastrado{float:left;}
.admin_cadastrado .info_usuario_cadastrado{overflow:hidden; margin:10px 0;}
.admin_cadastrado .info_usuario_cadastrado .thum_administrador, #listabuscaeducadores .container_educs .thum_administrador{float:left; height:42px; margin:5px 10px 0 0; width:42px;}
.admin_cadastrado .info_usuario_cadastrado .detalhe_usuario_cadastrado{color:#666; float:left;}
.admin_cadastrado .info_usuario_cadastrado .detalhe_usuario_cadastrado p, #listabuscaeducadores .container_educs p{font-weight:bold; margin:0;}
.admin_cadastrado .info_usuario_cadastrado .detalhe_usuario_cadastrado small, #listabuscaeducadores .container_educs small{display:block; font-size:11px; margin-bottom:3px;}
.admin_cadastrado .info_usuario_cadastrado .detalhe_usuario_cadastrado  .remover_adm_cadastrados {color:#fa0000; overflow:hidden;}
.admin_cadastrado .info_usuario_cadastrado .detalhe_usuario_cadastrado .remover_adm_cadastrados .FontAwesome:before{content:"\f00d"; font-family:'FontAwesome'; padding-right:5px;}

.tipos_cadastrados{float:right;}
.tipos_cadastrados ul{list-style:none; margin-top:20px; padding:0;}
.tipos_cadastrados ul li{ padding:5px; position:relative;}
.tipos_cadastrados ul li:hover{background:#f4f4f4;}
.tipos_cadastrados ul li:hover .editar_evento_agenda, .tipos_cadastrados ul li:hover .excluir_evento_agenda{display:inline-block;}
.tipos_cadastrados ul li .editar_evento_agenda:hover, .tipos_cadastrados ul li .excluir_evento_agenda:hover{background-color:#f4f4e6;}
.tipos_cadastrados ul li .editar_evento_agenda, .tipos_cadastrados ul li .excluir_evento_agenda{background:url('../../Scripts/img/perfil/sprite_ava.png') #fff no-repeat; border:1px solid #ccc;display:none; padding:2px; position:absolute; top:1px; width:15px;}
.tipos_cadastrados ul li .editar_evento_agenda{background-position:-17px -306px; right:28px;}
.tipos_cadastrados ul li .excluir_evento_agenda{background-position:4px -306px; right:5px;}

.filtro_agenda_home{float:left; margin:5px;}

.tipos_cadastrados .bt_geral_administradores{border-radius:2px; float:right; font-size:16px; height:35px; line-height:normal; width:40px;}
.tipos_cadastrados .bt_geral_administradores .FontAwesome:before{content:"\f002"; color:#fff; font-family:'FontAwesome'; padding-right:5px; position:absolute; margin:10px 12px;}
.tipos_cadastrados  input[type="text"]{border:1px solid #ccc; float:left; height:31px; margin-bottom:10px; padding-left:5px; width:367px;}

.btn_laranja.salvar.filtrar_adm_agenda_botao{height:20px !important; line-height:15px; margin:0 0 10px; padding:2px 5px 5px !important;}

.tipos_cadastrados .ativo{background:#f4f4f4;}
.tipos_cadastrados .ativo a{display:inline-block!important;}

.tb_avisos td span{font-weight:bold;}

/**Tooltip**/
.tooltip {margin-top:7px;}
.tooltip p{text-align:left!important;}

/**Resultado Busca**/
#listabuscaeducadores .container_educs{color:#666; margin:10px 0;}
#listabuscaeducadores .container_educs .adm_cadastrar_adm {color:#62a309; font-weight:bold;}
#listabuscaeducadores .container_educs .adm_cadastrar_adm .FontAwesome:before{content:"\f067"; font-family:'FontAwesome'; font-size:14px; padding-right:5px;}

#box_listaAdms, #listabuscaeducadores{overflow-x:auto;}
#box_listaAdms{max-height:500px;}
#listabuscaeducadores{max-height:455px; width:415px;}

/*****Botoes*******/
.btn_cinza.cancelar, .btn_laranja.salvar{display:inline-block; height:30px!important; padding:0 10px!important;}
.btn_cinza.cancelar{color:#666; float:left; margin-top:30px;}
.btn_cinza.criar_fora{float:right; margin:5px!important;}
.btn_laranja.salvar{color:#fff!important; float:right; line-height:26px; margin-top:30px;}


/**Links Rapidos**/
#todosLinksRapidos{overflow:auto; position:relative; width:935px;}

.linksCadastrados{clear:both; display:inline-block; position:relative;}
.links_titulo_cadastrados{color:#666; margin-top:30px; text-transform:uppercase;}
.links_titulo_cadastrados span{font-size:12px; font-weight:normal; text-transform:none;}
.linksCadastrados .semCategoria{margin:0!important; width:875px!important;}

.categoriaCont{position:relative;}
.categoriaCont .categoriaLink {height:36px;}
.categoriaCont .categoriaLink,
.linkCont .categoriaLink,
.linkCont .categoriaLink_editar, 
.categoria_editar{background:#ddd9d6; border-radius:3px;  -moz-box-shadow: inset 0 0 8px 1px #999; -webkit-box-shadow: inset 0 0 8px 1px #999; box-shadow: inset 0 0 8px 1px #999; margin:10px 0; padding:5px; position:relative; }

.categoriaCont .categoriaLink .numeroOrdem,
.linkCont .categoriaLink .numeroOrdem, 
.linkCont .categoriaLink_editar .numeroOrdem,
.categoria_editar  .numeroOrdem{background:#666; border-radius:4px; color:#fff; float:left; font-size:20px; padding:5px 0; text-align:center; width:34px;}

.categoriaCont .categoriaLink .categoriaNome,
.linkCont .categoriaLink .categoriaNome{background:url('../../Scripts/img/perfil/bg_1_20.png') #fff repeat-x bottom; border-bottom:2px solid #b0adab; border-right:1px solid #b0adab; border-radius:4px; float:left; height:25px; margin:0 0 0 10px; padding:10px 10px 0; width:830px;}

.categoriaCont .categoriaLink .categoriaNome h4,
.linkCont .categoriaLink .categoriaNome h4{color:#888; float:left; margin:0; text-transform:uppercase;}

.categoriaCont .categoriaLink .categoriaNome a{float:right;}
.categoriaCont .categoriaLink .categoriaNome a span:before{content:"\f0d8"; margin-left:5px}
.categoriaCont .categoriaLink .categoriaNome a span.abrir:before{content:"\f0d7"; margin-left:5px}
.categoriaCont .categoriaNome .acoes{float:right; margin-right:25px; position:relative;}
.categoriaCont .categoriaNome .acoes a{float:none;}
.categoriaCont .categoriaNome .fechar_categoria{color:#000; display:none; font-size:11px; text-align:center; margin-left:20px;}
.categoriaCont:hover .fechar_categoria{display:inline-block;}

.linkCont  .erroLink{background:#fff8f8; border:1px solid red!important;}
.linkCont{float:right; width:870px;}
.linkCont .categoriaNome > a{font-weight:bold;}
.linkCont .categoriaNome > span{display:block;}

.linkCont .categoriaLink .numeroOrdem, 
.linkCont .categoriaLink_editar .numeroOrdem {background:#a1a1a1; padding:12px 0; width:34px;}

.linkCont .categoriaLink .categoriaNome{cursor:move; height:30px; line-height:normal; padding:10px 10px; width:795px;}
.linkCont .categoriaLink .categoriaNome .acoes{float:right; position:relative; top:-23px;}


.linkCont .categoriaLink_editar,
.linkCont .categoriaLink{height:51px;}
.linkCont .categoriaLink_editar .categoriaNome_editar input[type="text"],
.categoria_editar  .categoriaNome_editar input[type="text"] {color:#666; margin-left:10px; padding:4px 5px; width:640px;}

.linkCont .categoriaLink_editar .acoes,
.categoria_editar .acoes{float:right; position:relative; top:-15px;}

.linkCont .categoriaLink_editar .acoes input[type="submit"],
.categoria_editar .acoes input[type="submit"]{margin-right:3px;}

.categoria_editar{height:38px; width:895px;}
.categoria_editar .categoriaNome_editar input[type="text"]{height:27px; width:667px;}
.categoria_editar .acoes {top:-32px;}

.linksCadastrados .btn_verde{background:#7eaf3c; border:1px solid #557628; border-radius:3px; color:#fff; font-weight:bold; margin-bottom:30px;}
.linksCadastrados .btn_verde:hover{background:#567a26; border:1px solid #557628;}
.linksCadastrados .btn_verde.ativo{background:#567a26; border:1px solid #557628;}

.link_over{overflow:inherit!important;}
.icone_reordenar{background:url('../../Scripts/img/perfil/reordenar_icone.png')no-repeat; display:inline-block; height:14px; left:-5px; width:12px;}

.cancelar_ordenacao{color:#bc0000!important; margin-right:10px;}
.btn_cinza.inativo{color:#adadad;}
.btn_cinza.inativo .icone_reordenar{background:url('../../Scripts/img/perfil/reordenar_icone.png') -14px 0 no-repeat;}

/**UI sombra**/
#todosLinksRapidos .ui-state-highlight {height:50px;}

#todosLinksRapidos .ui-state-highlight,#todosLinksRapidos .ui-widget-content .ui-state-highlight, #todosLinksRapidos .ui-widget-header .ui-state-highlight{background:#f4f4f4!important; border:3px dashed #bab8b6!important; width:96%!important;}

.categoriaNome .acoes .black_tip_left{text-align:center; left:-140px!important;}
.categoriaNome .acoes .tooltip:before{left:88%!important;}


/**Tooltip Full**/
.Feed_full{background: rgb(0, 0, 0) transparent; background:rgba(0, 0, 0, 0.7); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#000000, endColorstr=#000000)"; bottom:0; left:0; padding:0 20px; position:absolute; right:0; top:0; }
.Feed_full p{color:#fff; float:left; font-weight:bold; margin:0; position:relative; top:15px;}
.Feed_full a{margin-top:10px;}
.Feed_full .acoesFeed{float:right; margin-right:20px;}
