/* 
 * Tema Laranja


 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 
 LARANJA 	#FFF6E6   #FDDEA6   #FCC666   #FAA000   #D58800   #966000
 AZUL 		#E8F6FD   #AEDFF9   #74C7F4   #18A2ED   #148ACA   #0E618E
 VERDE	 	#F1F9E7   #DCEFC2   #ABD96D   #73C00B   #62A309   #457307
 */

::-moz-selection { background: #FAA000; color: #fff; text-shadow: none; }
::selection { background: #FAA000; color: #fff; text-shadow: none; }

#ava_hd1 nav ul#ava_temas li a[rel~="AVA_laranja"]{background: #D58800; }
#ava_hd1 nav ul#ava_temas li a[rel~="AVA_azul"]{background: #18A2ED; }
#ava_hd1 nav ul#ava_temas li a[rel~="AVA_VERDE"]{background: #62A309; }

.bgwhite{background:#FFF;}
.bgcolor1{background:#FFF6E6}
.bgcolor2{background:#FDDEA6}
.bgcolor3{background:#FCC666}
.bgcolor4{background:#FAA000}
.bgcolor5{background:#D58800}
.bgcolor6{background:#966000}
.color1{color:#FFF6E6}
.color2{color:#FDDEA6}
.color3{color:#FCC666}
.color4{color:#FAA000}
.color5{color:#D58800}
.color6{color:#966000}
.bordercolor1{border:solid 1px #FFF6E6}
.bordercolor2{border:solid 1px #FDDEA6}
.bordercolor3{border:solid 1px #FCC666}
.bordercolor4{border:solid 1px #FAA000}
.bordercolor5{border:solid 1px #D58800}
.bordercolor6{border:solid 1px #966000}

.linha_ehvc{ border-left: 2px solid #FAA000!important}

/* =============================================================================
   Links
   ========================================================================== */
a.bt_normal.bt_selected{border:1px solid  #999; box-shadow:inset 0 0 5px #ccc; background:#FDDEA6; }
.bt_anormal.bt_selected{border:1px solid  #999; box-shadow:inset 0 0 5px #ccc; background:#FDDEA6; }

a.invert{color: #D58800; text-decoration:none}
a:visited.invert{color: #D58800;}
a:hover.invert { color: #D58800; text-decoration: underline}
a:focus.invert{outline: thin dotted;}

a { color: #444444; text-decoration:none }
a:visited { color: #444444; }
a:hover { color: #D58800;  }
a:focus { outline: thin dotted; }

.embrulho input:focus{ border:none!important;}

input:focus{ border: 1px solid #D58800!important;}
.e-wrap input:focus{border:none!important;}


.bt_geral input, .bt_geral a, .bt_geral_administradores{background:bottom repeat-x url("../../Scripts/img/perfil/shadow_bt.png"); background-color:#FAA000; color:#FFF}

section#ava_mural_geral .dialogo a.actions:hover{color: #D58800;}

article .e-wrap a{color: #D58800; }


a.bt_normal.color{color: #fff;background:#D58800!important;border:1px solid #D58800;text-shadow:0 1px #444;}
a:hover.bt_normal.color{ box-shadow:inset 0 0 5px #444; }


/**botao caminhos tag*/
.tag_existente{background:#faa000;}
.tag_existente:before{border-color:#faa000;}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; outline: none; }

aside#ava_barralateral-direita .placa_amarela span.detalhes p:hover{ color:#D58800}
/* ==|== primary styles =====================================================
   Author: Marcio Sartor
   ========================================================================== */
.avinha aside#ava_barralateral-direita section { background:#FFF6E6;}
#ava_hd1 nav #ava_servicos .cenario_menu, #ava_hd1 nav #ava_servicos .cenario_menu_modular{ position:absolute;left:1px; top:-29px; font-size:11px; padding: 7px 3px 8px 3px; text-transform:uppercase; background:#FFF6E6;}
#ava_hd1 nav #ava_dropdown .cenario_menu, #ava_hd1 nav #ava_dropdown .cenario_menu_modular{ position:absolute; left:1px; top:-29px; font-size:11px; padding: 7px 3px 8px 3px;  background:#FFF6E6  }
/*#dadosAgenda .agenda_countEvento{ background:#FAA000!important}*/

#ava_hd1 nav ul#ava_user li .drop_notif li a.notif_default{ background:#FDDEA6}

#dropdown_header{ background:url(../../../Common/img/perfil/stripe_geral.png) #FFF6E6;}

section#ava_container #Hcaminhos h1{ color:#D58800;}

section.barra_aviso {background: url(../../Scripts/img/perfil/laranja/bg_avisos.png) center}

textarea.blokletters{color: #D58800;}

aside nav ul li.current{ background:#FDDEA6}

aside#ava_barralateral-direita section h1, #ava_wrap .blog_wide h5  { 
	border-left: 2px solid #FAA000;}

#ava_wrap .highlight{ background:#FFF6E6}


#ava_wrap .highlight .comment_article{background:#fff}

span.lajotinha, span.add{
	background:#FDDEA6;
	border:1px solid #FCC666;
}

span.lajotinha span.lajo_x{border-left:1px solid #FCC666}
.caminhos-home span.lajo_x a{color:#D58800;}

#Hcaminhos span.lajotinha.atual{background-color:#FDDEA6!important; border:1px solid #FCC666!important; box-shadow: 0 0 5px #ccc inset}
#Hcaminhos span:hover.lajotinha{background-color:#FDDEA6!important; border:1px solid #FCC666!important; box-shadow: 0 0 5px #ccc inset}

.aba_bt_geral a{ padding:6px 8px; background:#CED3D6; color:#808080; text-shadow: #fff 0px 1px; font-weight:bold; font-size:14px;  }
.aba_bt_geral a:hover{background:#FAA000; color:#fff; text-shadow: #333 0px 1px;}
.aba_bt_geral a.atual{background:#FAA000; color:#fff; text-shadow: #333 0px 1px;}


.hs1 footer { background:#FFF6E6;}

aside#ava_barralateral-esquerda section h1 span{ color:#D58800}

#ava_hd1 nav #ava_dropdown ul li{ color: #D58800;   }
#ava_hd1 nav #ava_dropdown ul li a:hover{color: #D58800;}

.carteirinha:hover {background:#FDDEA6;}

span.ava_clips { position:absolute; left:21px; top:-8px; background:url(../../Scripts/img/perfil/laranja/clips.png) no-repeat; width:23px; height:25px; display:none}
nav.aen1 span.ava_clips{ display:block;  left:10px; }
nav.aen1 .cart_mural span.ava_clips{ left:0px; }

.carteirinha.carteirinha_selected span.ava_clips{display:block; }

.carteirinha_selected{background:#FFF6E6 }

#ava_hd1 nav #ava_dropdown {
	background:#FFF6E6;
	}
	
footer#ava_f1  ul#ava_servicos_footer li{border-right:1px solid #D58800}
#ava_hd1 nav ul#ava_home-menu a:hover, #ava_hd1 nav ul#ava_servicos a:hover{ color:#444}
.ava_resultados ul li a:hover{background:#FFF6E6}

#ava_hd1 nav ul.menunav li:hover{ background:#FFF6E6}

section#ava_container .ava_caminhos .table_aberta ul li .r-s-desc{ background-color:#FFF6E6!important}
	
section#ava_steps a.caminho_atual{color: #D58800;}
section#ava_steps a:hover, section#ava_steps a.caminho_atual{
	background:url(../../Scripts/img/perfil/laranja/bola.png) top no-repeat;
	}
	
.table_selected td:first-child{border-left:2px solid #FAA000!important;} 



	
ul.ava_agenda li:hover{ background:#FFF6E6}

aside#ava_barralateral-direita input.error {border: 1px dashed #FAA000;}

#ava_wrap .simula_mural span { color:#D58800;}


#ava_hd1 nav ul.sub_menunav li.mega_menunav a:hover{ color:#D58800!important}

#ava_hd1 nav ul.sub_menunav li a:hover{ background:#FFF6E6 ; border-radius:3px;-moz-border-radius:3px;  }
#ava_hd1 nav ul.sub_menunav li.mega_header a.atual{background:#fff ; float:left;}


aside#ava_barralateral-esquerda-disciplina ul li.d_selected{border-left:3px solid #faa000; color: #966000 }

aside#ava_barralateral-esquerda-disciplina > ul > li > ul > li.d_in_selected{ font-weight:bold; background:#FFF6E6; }
aside#ava_barralateral-esquerda-disciplina > ul > li > ul > li.d_in_selected > a{color: #966000}

aside#ava_barralateral-esquerda-disciplina > ul > li > ul > li > ul > li.d_in_selected{border-left:3px solid #faa000;font-weight:bold; }
aside#ava_barralateral-esquerda-disciplina > ul > li > ul > li > ul > li.d_in_selected > a{color: #966000}

aside#ava_barralateral-esquerda-disciplina > ul > li > ul > li > ul > li > ul > li.d_in_selected{border-left:3px solid #faa000;font-weight:bold; }
aside#ava_barralateral-esquerda-disciplina > ul > li > ul > li > ul > li > ul > li.d_in_selected > a{color: #966000}





aside#ava_barralateral-direita a.gostei_G{ 
background:url("../../Scripts/img/perfil/shadow_bt.png") repeat-x scroll center bottom #FDDEA6;
 border:1px solid #faa000; }

aside#ava_barralateral-direita a:hover.gostei_G{ padding:15px 20px 13px 13px; background-image:none;}

.compartilhamento_cenario ul { margin:0; padding:0; }
.compartilhamento_cenario ul li{ border-radius:3px; background:#FDDEA6; display:inline-block; padding:3px 5px}

/* 
 * botões awesome  

 */
.ava_menuturmas .awesome.awesome-color:before{ color:#FAA000!important}
.awesome-color, .awesome-color:visited{border-right:1px solid #FFF6E6;}
.awesome-x-color,.awesome-x-color:visited{border-left:1px solid #D58800;}
.parcial, .parcial:visited {color: #D58800;  }
	
.awesome-color, .awesome-color:visited, .awesome-x-color, .awesome-x-color:visited	{ background-color: #faa000; }

.awesome-color:hover, .awesome-x-color:hover { background-color: #ccc; color: #fff; }
.awesome-color:hover, .awesome-x-color:hover	{ background-color: #966000!important;}	
	
.parcial-x, .parcial-x:visited{color: #D58800;}

#ava_wrap .ta_alunos_ft.ta_selected{ border-bottom:5px solid #D58800}


.jcarousel-skin-tango .jcarousel-next-horizontal { background:  url(../../Scripts/img/perfil/laranja/ava_next.png) ;}
.jcarousel-skin-tango .jcarousel-prev-horizontal { background:  url(../../Scripts/img/perfil/laranja/ava_prev.png) ;}
	
.ui-datepicker .ui-datepicker-calendar .ui-state-active{box-shadow:inset 0 0 5px #444!important; background: #E0E0E0}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{ background-color:#FAA000!important}



/**Botões novos**/

.btn_laranja, .btn_cor{background:#faa611; border:1px solid #cd7502;}
.btn_laranja:hover, .btn_cor:hover{background:#fbb332; box-shadow:1px 1px 2px #d5d5d5; color:#fff;}


/**Ajuda**/
.topo_titulo{color:#d58800;}

/**Links Rapidos**/
.linkCont .categoriaNome > a{color:#d58800;}

/**Conteudos**/
.topo_conteudo h2{color:#d58800;}

/**Grupos**/
a.feedCurtirIcone, .itemComentario>div h3 a, .carregarComentarios, .comentariosMuralGrupo h4 a, .feedTotalGostaram{color:#d58800!important;}
