<div id="menutopo" class="col960 left">
	<!--LOGO DO PROJETO-->
	<h1 class="logo col280 left" onClick="AbreHomeProjeto();">
		Eleições no Espaço
	</h1>
	<!--MENU-->
	<ul id="nav" class="right">
		
		<h4 class="titulo_menu">Menu do projeto</h4>
        
		
		    <li id="bt_prof" class="bt_menu sub left">
			    <a href="javascript:void(0)"><i class="ico_menu"><img src="/cp/projetos/modelo_projeto/modelo/imagens/icones/ico_pprof.png" alt="Área do professor" title="Área do professor"/></i><span>Área do professor</span></a>
			    <span class="FontAwesome submenu"></span>
			    <ol>
				    <li><a href="redirect.asp?pg=SobreOProjeto&e=rwt">Sobre o Projeto</a></li>
				    <li><a href="redirect.asp?pg=AbreInscricao&e=rwt">Inscrições</a></li>
				    <li><a href="redirect.asp?pg=AbreEtapasProjeto&e=rwt">Etapas</a></li>
				    <li><a href="redirect.asp?pg=AbreEnvioMaterial&e=rwt">Envio de Materiais</a></li>
				    <li><a href="redirect.asp?pg=AbreCronograma&e=rwt">Cronograma</a></li>
				    <li><a href="redirect.asp?pg=AbreFaleConosco&e=rwt">Fale Conosco</a></li>
			    </ol>
		    </li>
			
            
	
		<li id="bt_participantes" class="bt_menu left">
			<a onClick="AbreEscolasParticipantes();">
				<i class="ico_menu"><img src="/cp/projetos/modelo_projeto/modelo/imagens/icones/ico_participantes.png" alt="Escola participantes" title="Escolas participantes"/></i><span>Escolas participantes</span>
			</a>
		</li>
				
		<li id="bt_depoimentos" class= "bt_menu left">
			<a onClick="AbreDepoimentos();">
				<i class="ico_menu"><img src="/cp/projetos/modelo_projeto/modelo/imagens/icones/ico_depoimentos.png" alt="Depoimentos" title="Depoimentos"/></i><span>Depoimentos</span>
			</a>
		</li>
				
		<li id="bt_bastidores" class="bt_menu left">
			<a onClick="AbreBastidores();">
				<i class="ico_menu"><img src="/cp/projetos/modelo_projeto/modelo/imagens/icones/ico_bastidores.png" alt="Bastidores" title="Bastidores"/></i><span>Bastidores</span>
			</a>
		</li>
			
        
		
	</ul>
				
	<!--SUBMENU-->
	<div id="Submenu" class="col680 right">
					
		    <a class="btn_voltar right" onClick="goBack();">
			    Voltar
		    </a>
			
	</div>		
</div>