@{
    Layout = null;
}

<html lang="pt-br" xml:lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Educacional - ERRO: Conteúdo Indisponível</title>
    <link type="text/css" rel="stylesheet" href="http://www.educacional.com.br/css/conteudo_indisponivel.css">
</head>

<body>
	<div id="container_geral" class="PE">
		<h1><img src="http://www.educacional.com.br/imagens/indisponivel/logoPE.png" alt="Portal Educacional" /></h1>
		<div class="box PE">
			<p>Nossa equipe está sempre trabalhando na renovação do portal. Por esse motivo, a seção que você tentou acessar não está mais disponível. Acesse o portal e confira outras atrações para você explorar.</p>
			<a class="voltar" href="http://www.educacional.com.br"><span>Vá para a página inicial </span>>></a>
		</div>
	</div>
</html>
