@{
    Layout = "~/Views/Shared/_LayoutMenuTopo.cshtml";
}
@Styles.Render("~/Estilos/modulo/inscricao")
<div role="projetos_content" class="p_content full_width">
    <div class="proj_content centralizaclass">
        <!-- Formatação padrão para inscrição de turmas -->
        <form>
            <div class="box-form-insc feedback">
                @ViewBag.mensagem
            </div>
        </form>
    </div>
</div>

