/*Folha de estilo aplicado à página Desafios de uma Construção*/

/* 
***** 1. Estilos gerais *****
-----------------------------
*/
.col-casa .casa1 .comparando ng-binding {
  
}

.loading-spiner {
    padding: 0.5% !important;
}
th {
    width: 20%;
}
.familia-1 a:active {
           background-color: #e0e0e0 !important;
}
.familia-2 a:active {
           background-color: #e0e0e0 !important;
}
.familia-3 a:active {
           background-color: #e0e0e0 !important;
}
nav.menu-familias>a.familias a:active {
           background-color: #e0e0e0 !important;
}
nav.menu-familias>a.familias:active {
           background-color: #e0e0e0 !important;
}


.table>tbody>tr>td {
    padding: 1.5% !important;
}
tbody.maquete td {
      text-align: start !important;
      padding: 1.5% !important;
}
tbody.planta td {
      text-align: start !important;
      padding: 1.5% !important;
}

tbody.terreno td {
      text-align: start !important;
      padding: 1.5% !important;
}

.lin-maquete td tr {
    text-align: left !important;
}
body {
    background-color: #ffffff !important;
    background-image:  none !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'gothammedium', sans-serif;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
    font-size: 16px !important;
}

h5 {
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

iframe {
    padding: 0;
    margin: 0;
}

.container {
    width: 960px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix {
    overflow: auto;
}

/*
***** Buttons *****
*/
button {
    background-color: #ce8b32;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: 'gothammedium', sans-serif;
}
nav.menu-familias>a.familias:hover, 
nav.menu-familias>a.familias:active,
nav.menu-familias>a.familias:focus {
    background-color: #e0e0e0 !important;
}

button.w3-button:hover {
    background-color: #0088CC !important;
    color: #fff !important;
}

    /* Modal Buttons*/

button.w3-button {
    background-color: #ff8429 !important;
    border-radius: 5px !important;
    border: none !important;
    color: white !important;
    padding: 5px 25px;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 12px !important;
    font-family: 'gothammedium', sans-serif !important;
}


span.fa {
    margin-right: 10px;
    font-size: 16px;
}

/* 
***** 2. Elementos Internos *****
---------------------------------
*/


.header-area {
    background-color: #533a3b !important;
}
.texto-selecionar p {
    font-size: 16px !important;
}
header.topo {
    width: 100%;
    padding: 0;
    background: #533a3b;
    margin: 20px 0px 20px 0px;
    border-radius: 15px;
}

.texto-selecionar {
    margin-top: 50px;
    color: #fff;
}

    .texto-selecionar p {
        font-size: 14px;
    }

/*
***** Navegação abas famílias *****
*/
.nav-area {
    border-bottom: 1px solid #d3d3d3;
    /* padding: 10px 0; */
    margin-bottom: 15px;
    background-color: #f1f1f1;
}


nav.menu-familias>a.familias {
    border-right: 1px solid #d3d3d3 !important;
    border-bottom: 4px solid transparent !important;
    padding: 10px 0 !important;
}

nav.menu-familias {
    text-align: center;
    font-family: 'gothammedium', sans-serif;
}

        nav.menu-familias > a.familias:hover,
        nav.menu-familias > a.familias:active,
        nav.menu-familias > a.familias:focus {
            border-bottom: 4px solid #132961;
            text-decoration: none;
        }

        nav.menu-familias > a.familias:last-child {
            border-right: none;
        }

        nav.menu-familias > a.familias p {
            font-family: 'gothammedium', sans-serif;
            font-size: 14px;
            color: #132961;
        }

/* 
***** Seção mapa casas *****
*/

section.area-mapa h4 {
    text-transform: uppercase;
    padding: 10px;
    background-color: #ce8b32;
    color: #fff;
    display: none;
}

/*
***** Seção tabelas de comparação *****
*/
section.tabelas-comparacao {
    width: 100%;
}

    section.tabelas-comparacao h4 {
        font-family: 'gothammedium', sans-serif;
        text-transform: uppercase;
        padding: 10px;
        background-color: #0088CC;
        color: #fff;
    }

/*Tabela*/
.table {
    background-color: #fff;
    empty-cells: hide;
}

    .table thead th.col-casa {
        font-weight: 400;
        color: #9a999d;
        background-color: #f5f5f5;
        /*    border-left: 3px solid #bebebe;*/
        font-size: 14px;
    }

    /*Ícones casa*/
    .table thead th.casa1 .fa {
    }

    .table thead th.casa2 .fa {
        color: darkgreen;
    }

    .table thead th.casa3 .fa {
        color: brown;
    }

    .table tbody tr td {
        font-size: 12px;
        text-align: center;
        border: 0;
    }

    .table tr:nth-child(even) {
        background-color: #fff;
    }

    .table td.lin-principal {
        font-weight: 600;
    }

    /* Casas para comparação*/
    .table thead th.comparando {
        font-weight: 600;
        color: #0088CC;
        background-color: floralwhite;
        border-left: 0;
    }

        .table thead th.comparando a.excluir-casa {
            float: right;
            cursor: pointer;
            color: firebrick;
        }

            .table thead th.comparando a.excluir-casa:hover {
                text-decoration: none;
                color: #ce8b32;
            }

    /*Tabelas Individuais*/
    .table .maquete {
        background-color: aliceblue;
    }

    .table .planta {
        background-color: cornsilk;
    }

    .table .terreno {
        background-color: aliceblue;
    }

    /* Tabela imagens/ buttons */
    .table img {
        width: 100%;
    }

.imagem-casa {
    width: 250px;
    height: 180px;
    overflow: hidden;
    position: relative;
	text-align: center;
}
.imagem-casa img{
    width: auto;
    height: 190px;
    overflow: hidden;
    position: relative;
}

    .imagem-casa button {
        position: absolute;
        bottom: 10px;
        left: 30%;
    }

/***** Modal Sobre a família ******/
header.w3-container {
    background-color: #0088CC;
    color: #fff;
}

    header.w3-container h3 {
        font-family: 'gothammedium', sans-serif;
    }

.video-familia {
    padding: 10px;
}

.membros-familia {
    padding: 10px;
}

    .membros-familia ul {
        list-style: none;
    }

    .membros-familia li {
        display: inline-block;
        height: 80px;
        width: 80px;
        overflow: hidden;
        margin-right: 2px;
    }

    .membros-familia h4 {
        font-size: 18px;
    }

    .membros-familia p {
        font-size: 16px;
    }

/* 
***** 3. Font-face *****
------------------------
*/

@font-face {
    font-family: 'gothammedium';
    src: url('fonts/gotham-medium-webfont.woff2') format('woff2'), url('fonts/gotham-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 
***** 4. Media Queries *****
----------------------------
*/

@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
        height: auto;
    }

    header.topo {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .texto-selecionar {
        margin-top: 0;
    }

    .imagem-casa {
        width: 200px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
    .container {
        width: 100%;
        height: auto;
    }

    .imagem-casa {
        width: 200px;
    }
}

@media only screen and (max-width: 1024px) {
    .area-mapa-tabelas .container {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1350px) and (orientation: landscape) {

    .area-mapa-tabelas .container {
        width: 100%;
    }

    section.area-mapa {
        width: 30%;
        height: auto;
        float: left;
    }

        section.area-mapa h4 {
            display: block;
        }

    section.tabelas-comparacao {
        width: 70%;
        height: auto;
        float: left;
    }

    .imagem-casa {
        width: 200px;
    }
}
