<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Configurações Gerais Resumo</title>
    <link href="../../Content/css/principal.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/css/aplicacao_Quick.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="configSPE" >
    <div id="caixaConteudo" class="caixaConteudo">
        <div id="infoAplicacao">
            <div class="areaDetalheConfiguracoes areaConfiguracoesAplicacao">
            <div id="caixaConfiguracoesGerais">
                <div class="divisaoQuestao">
                    <div class="tituloDivisao">Configurações Gerais</div>
                    <div class="textoDivisao">Definições gerais sobre a atividade </div>
                </div>
                <div class="linhaPar">
                        <span class="texto">&nbsp;</span>
                        <div class="opcoes">
                            sasasasa
                        </div>
                    </div>
                    <div class="linhaImpar">
                        <span class="texto">&nbsp;</span>
                        <div class="opcoes">
                            sesesesesese
                        </div>
                    </div>
            </div>
            <div id="caixaParticipantes">
                <div class="divisaoQuestao">
                    <div class="tituloDivisao">Participantes</div>
                    <div class="textoDivisao">Participantes associados a esta atividade </div>
                </div>
                <div>
                    <table class="tabela">
                        <thead>
                            <tr>
                                <td>Grupos selecionadas</td>
                                <td>Chave de acesso:</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Grupo 01</td>
                                <td>JkbnGd</td>
                            </tr>
                            <tr>
                                <td>Turma Bf</td>
                                <td>JkbnGd</td>
                            </tr>
                            <tr>
                                <td>Grupo 02</td>
                                <td>JkbnGd</td>
                            </tr>
                            <tr>
                                <td>Grupo 03</td>
                                <td>JkbnGd</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="conteudoExp">
                <div class="cabecalhoSPE">Configurações Avançadas <a id="" class="btnAdicione direita" >fechar tudo</a></div>
                <div id="caixaEmbaralhamento">
                    <div class="divisaoQuestao">
                        <div class="tituloDivisao">Embaralhamento</div>
                        <div class="textoDivisao">Critérios de embaralhamento. </div>
                    </div>
                    <div class="linhaImpar">
                        <span class="texto">Embaralhar questões:</span>
                        <div class="opcoes">
                            Não
                        </div>
                    </div>
                </div>
                <div id="caixaCorrecao">
                    <div class="divisaoQuestao">
                        <div class="tituloDivisao">Correção</div>
                    </div>
                    <div class="linhaImpar">
                        <span class="texto">&nbsp;</span>
                        <div class="opcoes">
                            - Imediata questão por questão
                        </div>
                    </div>
                </div>
                <div id="caixaDivulgacaoGabarito">
                    <div class="divisaoQuestao">
                        <div class="tituloDivisao">Divulgação do Gabarito</div>
                    </div>
                    <div class="linhaImpar">
                        <span class="texto">&nbsp;</span>
                        <div class="opcoes">
                            - Após o final do período de agendamento
                        </div>
                    </div>
                </div>
                <div id="caixaAutoEstudo">
                    <div class="divisaoQuestao">
                        <div class="tituloDivisao">Autoestudo</div>
                        <div class="textoDivisao">Edite Informações.</div>
                    </div>
                    <div class="linhaImpar">
                        <span class="texto">Permitir autoestudo após encerramento da atividade:</span>
                        <div class="opcoes">
                             Sim
                        </div>
                    </div>
                </div>
                <div id="caixaDicas">
                    <div class="divisaoQuestao">
                        <div class="tituloDivisao">Dicas</div>
                        <div class="textoDivisao">Configuração de quando aparecer as dicas.</div>
                    </div>
                    <div class="linhaImpar">
                        <span class="texto">Permitir a visualização das dicas:</span>
                        <div class="opcoes">
                            <div class="txtMenor">
                                Sim
                            </div>
                            <div>
                                | Número de tentativas 5
                            </div>
                        </div>
                    </div>
                </div>
                <div id="conteudoExp2">
                    <div id="caixaQuestoes">
                        <div class="divisaoQuestao">
                            <div class="tituloDivisao">Questões</div>
                            <div class="textoDivisao">Desmarque as questões que deseja ocultar.</div>
                            <a id="A3" class="btnAdicione direita" >fechar tudo</a>
                        </div>
                        <table class="tabela">
                            <thead>
                                <tr>
                                    <td colspan="3">lalala</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" id="Checkbox1" name="" /></td>
                                    <td>
                                        <div>
                                            enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado 
                                            enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado 
                                            enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado 
                                            enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado 
                                            enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado 
                                            enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado 
                                            enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado 
                                        </div>
                                    </td>
                                    <td><div style="width:16px; height: 16px; background-image: url(../../Content/imgcss/setaAberto.gif); background-repeat:no-repeat;"></div></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" id="Checkbox2" name="" /></td>
                                    <td>
                                        <div>
                                            enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado enunciado 
                                        </div>
                                    </td>
                                    <td><div style="width:16px; height: 16px; background-image: url(../../Content/imgcss/setaFechado.gif); background-repeat:no-repeat;"></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            <div class="navegacaoBotoes">
                <div class="btnEspacamento">
                    <a id="A1" class="btnCancelar">Cancelar</a>
                </div>
                <div class="btnEspacamento direita">
                    <a id="A4" class="btnNav">&laquo; Voltar</a> 
                    <a id="A2" class="btnNav">Avançar &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
