<?xml version="1.0"?>
<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=152368
	-->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- ENTERPRISE LIBRARY -->
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="true" />
    <!-- ENTERPRISE LIBRARY -->
    <!-- APPFABRIC -->
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="fabric" type="Microsoft.Fabric.Common.ConfigFile, Microsoft.WindowsFabric.Common" allowLocation="true" allowDefinition="Everywhere" />
    <!-- APPFABRIC -->
    <sectionGroup name="avaliacaoConfigGroup">
      <section name="questionConfig" type="ProvaColegiada.Config.QuestionConfig" allowLocation="true" allowDefinition="Everywhere" />
      <section name="escolasConfig" type="ProvaColegiada.Config.EscolasConfig" allowLocation="true" allowDefinition="Everywhere" />
      <section name="papeisConfig" type="ProvaColegiada.Config.PapeisConfig" allowLocation="true" allowDefinition="Everywhere" />
      <section name="escolasConfiguracoes" type="Avaliacoes.Framework.Configuracoes.ConfiguracaoEscolas, Avaliacoes.Framework" allowLocation="true" allowDefinition="Everywhere" />
      <section name="papeisConfiguracoes" type="Avaliacoes.Framework.Configuracoes.ConfiguracaoPapeis, Avaliacoes.Framework" allowLocation="true" allowDefinition="Everywhere" />
      <section name="componenteRegistro" type="Avaliacoes.Framework.Componentes.ComponenteConfig, Avaliacoes.Framework" allowLocation="true" allowDefinition="Everywhere" />
      <section name="codigosOrigemConfiguracoes" type="Avaliacoes.Framework.CodigoOrigem.CodigoOrigemConfiguracao, Avaliacoes.Framework" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <enyim.com>
    <memcached protocol="Text">
      <servers>
        <add address="192.168.100.95" port="11211"/>
      </servers>
      <transcoder type="PositivoFramework.Web.Session.MemCached.ISO88591Transcoder, PositivoFramework.Web"/>
      <socketPool minPoolSize="1" maxPoolSize="1"/>
    </memcached>
  </enyim.com>
  <elmah>
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="\\fs-educ\site\LogsApps\ErrosPE" applicationName="Avaliacoes"/>
    <!--errorMail
			from="erros@educacional.net"
			to="neumann@educacional.com.br"
			subject="Erros ASP.NET [Avaliacao-COM]: {0} {1}"
			async="true"
			smtpPort="25"
			useSsl="false"
    /-->
    <security allowRemoteAccess="yes"/>
    <errorFilter>
      <test>
        <!--equal binding="HttpStatusCode" value="404" type="Int32" /-->
        <or>
          <equal binding="HttpStatusCode" value="404" type="Int32"/>
          <equal binding="HttpStatusCode" value="400" type="Int32"/>
        </or>
      </test>
    </errorFilter>
  </elmah>
  <!-- APPFABRIC SERVIDORES DE CACHE -->
  <dataCacheClient requestTimeout="12000" channelOpenTimeout="2000" maxConnectionsToServer="1">
    <localCache isEnabled="false" sync="TimeoutBased" ttlValue="300"/>
    <hosts>
      <!--List of services -->
      <host name="appfabric1" cachePort="22233"/>
      <host name="appfabric2" cachePort="22233"/>
      <host name="appfabric3" cachePort="22233"/>
      <host name="appfabric4" cachePort="22233"/>
    </hosts>
    <securityProperties mode="None" protectionLevel="None"/>
  </dataCacheClient>
  <!-- APPFABRIC SERVIDORES DE CACHE -->
  <appSettings>
    <add key="SeparadorLacunas" value="§s§"/>
    <add key="UsuariosAcessoQuestaoRedacao" value="4032323,11021703"/>
    <!--add key="DatabaseConnectionString" value="Avaliacoes.config"/-->
    <add key="PositivoCacheType" value="AppFabric"/>
    <add key="HomeUrl" value="/AVA/avaliacoes"/>
    <add key="DadosUrl" value="/UserData/avaliacoes"/>
    <add key="DadosUrlReplace" value="com\AVA\Avaliacoes\"/>
    <add key="LegacyUrl" value="/AVA/LegacyScripts/LegacySession.asp"/>
    <add key="urlLegacyAuthScript" value="/AVA/LegacyScripts/LegacyAuth.asp"/>
    <add key="urlLegacySessionScript" value="/AVA/LegacyScripts/LegacySession.asp"/>
    <add key="TipoGetLogin" value="2"/>
    <!--add key="IdUsuarioTeste" value="2787400"/-->
    <!--add key="PathTiny" value="/Recursos/tinymce/tiny_mce.js"/-->
    <add key="PathTiny" value="/AVA/avaliacoes/Scripts/util/tiny_mce/tinymce/tiny_mce.js"/>
    <add key="PathLogin" value="/login/acessorestrito.asp?URL="/>
    <add key="PathGerenciadorGrupos" value="/Recursos/GerenciadorGrupos"/>
    <add key="SomenteEscolasTeste" value="0"/>
    <add key="ModoSessao" value="2"/>
    <add key="MenCacheTipo" value="0"/>
    <add key="PathLogoEscolas" value="\upload\Oficina_Livro\Admin\nc_LogosEscolas\189x188\"/>
    <add key="AgentMobile" value="android,iphone,ipad,ipod,tb07sta"/>
    <!--add key="LogSautinSoft" value="\\fs-educ\site\LogsApps\ErrosPE\AvaliacoesCom\AvaliacoesConvertDoc.log"/-->
    <add key="CodigoProjeto" value="SEC025-11"/>
    <add key="timeStamp" value="?20190312"/>
    <add key="DomainPrint" value="http://wwweducacionalcombr1.cdn.educacional.com.br"/>
    <add key="CodOrigem" value="LvDgMedio,LvDgFund,SEC02511"/>
    <add key="CodOrigemShowFerramenta" value="SEC02511"/>
    <add key="RestritoEditaQuestao" value="9889843,10207367,10959948,11341499,11341581,11341587,12380986,12380990,12380992-606638"/>
    <add key="MargemSincronia" value="5"/>
    <add key="PositivoCacheType" value="AppFabric"/>
  </appSettings>
  <avaliacaoConfigGroup>
    <componenteRegistro>
      <componentes>
        <add type="Avaliacoes.Framework.ComponenteRegistro, Avaliacoes.Framework" />
        <add type="Avaliacoes.Servicos.Agendamentos.ComponenteRegistro, Avaliacoes.Servicos.Agendamentos" />
        <add type="Avaliacoes.Servicos.Questao.ComponenteRegistro, Avaliacoes.Servicos.Questao" />
        <add type="Avaliacoes.Servicos.Relatorios.ComponenteRegistro, Avaliacoes.Servicos.Relatorios" />
        <add type="Avaliacoes.Servicos.Avaliacao.ComponenteRegistro, Avaliacoes.Servicos.Avaliacao" />
        <add type="Avaliacoes.Servicos.Realizacao.ComponenteRegistro, Avaliacoes.Servicos.Realizacao" />
        <add type="Avaliacoes.Servicos.Criterios.ComponenteRegistro, Avaliacoes.Servicos.Criterios" />
        <add type="Avaliacoes.Servicos.Correcao.ComponenteRegistro, Avaliacoes.Servicos.Correcao" />
        <add type="Avaliacoes.Componentes.AvaliacaoRapida.ComponenteRegistro, Avaliacoes.Componentes.AvaliacaoRapida" />
        <add type="Avaliacaoes.Componentes.Relatorios.ComponenteRegistro, Avaliacaoes.Componentes.Relatorios" />
        <add type="Avaliacoes.Componentes.PortalAvaliacoes.ComponenteRegistro, Avaliacoes.Componentes.PortalAvaliacoes" />
        <add type="Avaliacoes.Componentes.Avaliacoes.ComponenteRegistro, Avaliacoes.Componentes.Avaliacoes" />
        <add type="Avaliacoes.Componentes.Questao.ComponenteRegistro, Avaliacoes.Componentes.Questao" />
        <add type="Avaliacoes.Componentes.TesteComp.ComponenteRegistro, Avaliacoes.Componentes.TesteComp" />
      </componentes>
    </componenteRegistro>
    <questionConfig>
      <limiteEnunciado>
        <!--add tipo="1" texto="200" dica="250" professor="300" aluno="350"/-->
        <add tipo="1" texto="50000" dica="50000" professor="50000" aluno="50000" />
        <add tipo="2" texto="50000" dica="50000" professor="50000" aluno="50000" />
        <add tipo="3" texto="50000" dica="50000" professor="50000" aluno="50000" />
        <add tipo="4" texto="50000" dica="50000" professor="50000" aluno="50000" />
        <add tipo="5" texto="50000" dica="50000" professor="50000" aluno="50000" />
        <add tipo="6" texto="50000" dica="50000" professor="50000" aluno="50000" />
        <add tipo="7" texto="50000" dica="50000" professor="50000" aluno="50000" />
        <add tipo="8" texto="50000" dica="50000" professor="50000" aluno="50000" />
        <add tipo="9" texto="50000" dica="50000" professor="50000" aluno="50000" />
        <add tipo="10" texto="50000" dica="50000" professor="50000" aluno="50000" />
        <add tipo="11" texto="50000" dica="50000" professor="50000" aluno="50000" />
        <add tipo="12" texto="50000" dica="50000" professor="50000" aluno="50000" />
        <add tipo="13" texto="50000" dica="50000" professor="50000" aluno="50000" />
      </limiteEnunciado>
      <limiteAlternativa>
        <add tipo="1" dica="50000" professor="50000" aluno="50000" />
        <add tipo="2" dica="50000" professor="50000" aluno="50000" />
        <add tipo="3"  dica="50000" professor="50000" aluno="50000" texto="20000" />
        <add tipo="4" dica="50000" professor="50000" aluno="50000" />
        <add tipo="5" dica="50000" professor="50000" aluno="50000" />
        <add tipo="6" dica="50000" professor="50000" aluno="50000" />
        <add tipo="7" dica="50000" professor="50000" aluno="50000" />
        <add tipo="8" dica="50000" professor="50000" aluno="50000" />
        <add tipo="9" dica="50000" professor="50000" aluno="50000" />
        <add tipo="10" dica="50000" professor="50000" aluno="50000" />
        <add tipo="11" dica="50000" professor="50000" aluno="50000" />
        <add tipo="12" dica="50000" professor="50000" aluno="50000" />
        <add tipo="13" dica="50000" professor="50000" aluno="50000" />
      </limiteAlternativa>
    </questionConfig>
    <escolasConfig>
      <internas>
        <add id="3760001"/>
        <!--add id="1" /-->
      </internas>
      <teste>
        <add id="20021"/>
        <!-- Positivo Ambiental -->
        <add id="20022"/>
        <!-- Positivo Ambiental Médio -->
        <add id="20030"/>
        <!-- Positivo Angelo -->
        <add id="20010"/>
        <!-- Positivo Jr -->
        <add id="111530001"/>
        <!-- Escola Literatus -->
        <add id="4380001"/>
        <!-- Grupo Integrado (Campo Mourão)-->
        <add id="80640001"/>
        <!-- Colégio Caetano Álvares (São Paulo)-->
        <add id="124560001"/>
        <!-- Colégio São Domingos (Araxá)-->
        <add id="110410001"/>
        <!-- Colégio Exponencial (Chapecó)-->
        <add id="2610001"/>
        <!-- Colégio Visão (Formosa/GO)-->
        <add id="121490001"/>
        <!-- São Eucarístico (Campos/RJ)-->
        <add id="590001"/>
        <!-- Colégio Padre Moye-->
        <add id="55320001"/>
        <!-- Colégio Notre Dame de Campinas-->
        <add id="146960001"/>
        <!-- Colégio Mallet Soares-->
        <add id="147120001"/>
        <!-- Colégio Americano Batista-->
        <add id="2460001"/>
        <!-- Colégio Dom Bosco (Manaus/AM)-->
        <add id="146920001"/>
        <!-- Colégio Batista Vianense-->
        <add id="2790001"/>
        <!-- Acesso Exclusivo Equipe Comercial -->
        <add id="1790001"/>
        <!-- Relacionamento com Clientes -->
        <add id="139250001"/>
        <!-- Positivo Júnior - AVA -->
        <add id="139260001"/>
        <!-- Positivo Ambiental - AVA -->
        <add id="139270001"/>
        <!-- Positivo Ângelo Sampaio - AVA -->
        <add id="92200001"/>
        <!-- Escola Teste Educacional/Positivo -->
        <add id="50280001"/>
        <!-- Portal Positivo (Geral) -->
        <add id="3760001"/>
        <!-- POL - Escola Professores Online -->
        <add id="3220001"/>
        <!-- Portal Educacional - Pessoal -->
        <add id="30001"/>
        <!-- Colégio União -->
        <add id="1"/>
        <!-- Educacional -->
        <!-- AB -->
        <add id="2900001"/>
        <!-- Escola Portal Aprende Brasil -->
        <add id="113230001"/>
        <!-- SISTEMA DE ENSINO APRENDE BRASIL -->
        <add id="104660001"/>
        <!-- EMEF JOSÉ POLI DE OLIVEIRA DORTA -->
        <add id="104670001"/>
        <!-- EMEF VEREADOR VENÂNCIO GONZAGA RAMOS -->
        <add id="104680001"/>
        <!-- EMEF  DR. FRANCISCO MONLEVADE -->
        <add id="104690001"/>
        <!-- EMEF OSWALDO GRANDIZOLI -->
        <add id="104700001"/>
        <!-- EMEFEI LÁZARO GAGO -->
        <add id="104710001"/>
        <!-- EMEF. ESTANCIA FIGUEIRA BRANCA -->
        <add id="104720001"/>
        <!-- EMEF NAIR RONCHI MARCHETTI -->
        <add id="104730001"/>
        <!-- EMEF. GOV. MÁRIO COVAS -->
        <add id="104740001"/>
        <!-- EMEF CAMINHO PARA A CONQUISTA -->
        <add id="104750001"/>
        <!-- EMEF BAIRRO DOS PINHEIROS -->
        <add id="104760001"/>
        <!-- EMEF PROF. LUIZ DE CARVALHO -->
        <add id="104770001"/>
        <!-- EMEF GOV. ANDRÉ FRANCO MONTORO -->
        <add id="104780001"/>
        <!-- EMEF JOSÉ DE SOUZA CHARRUA -->
        <add id="104790001"/>
        <!-- EMEF VILA CONSTANÇA -->
        <add id="104800001"/>
        <!-- EMEF JARDIM LAURA -->
        <add id="104810001"/>
        <!-- OFICINA PEDAGÓGICA – RESERVA TÉCNICA -->
        <add id="133200001"/>
        <!-- EMEF JOAQUIM VISCAINO FILHO -->
        <add id="133210001"/>
        <!-- EMEF ESTÂNCIA SÃO PAULO -->
        <add id="133220001"/>
        <!-- EMEF VILA THOMAZINA" -->
      </teste>
    </escolasConfig>
    <papeisConfig>
      <aluno>
        <add id="1000001" />
        <add id="1010001" />
        <add id="1010101" />
        <add id="1010102" />
        <add id="1010103" />
        <add id="1010104" />
        <add id="1010105" />
        <add id="1010201" />
        <add id="1010202" />
        <add id="1010203" />
        <add id="1010204" />
        <add id="1010205" />
        <add id="1020001" />
        <add id="1020101" />
        <add id="1020201" />
        <add id="1020301" />
        <add id="1030001" />
        <add id="1040001" />
      </aluno>
      <professor>
        <add id="3010001" />
        <add id="3000001" />
      </professor>
      <coordenador>
        <add id="3030001" />
        <add id="6000001" />
        <add id="6800001" />
      </coordenador>
      <responsavel>
        <add id="2000001" />
      </responsavel>
    </papeisConfig>
    <escolasConfiguracoes>
      <internas>
        <add id="3760001"/>
        <!--add id="1" /-->
      </internas>
      <teste>
        <!-- apagar quando terminar as validçãoes do relatório-->
        <add id="20010"/>
        <add id="2790001"/>
        <!-- Acesso Exclusivo Equipe Comercial -->
        <add id="1790001"/>
        <!-- Relacionamento com Clientes -->
        <add id="92200001"/>
        <!-- Escola Teste Educacional/Positivo -->
        <add id="50280001"/>
        <!-- Portal Positivo (Geral) -->
        <add id="3760001"/>
        <!-- POL - Escola Professores Online -->
        <add id="3220001"/>
        <!-- Portal Educacional - Pessoal -->
        <add id="30001"/>
        <!-- Colégio União -->
        <add id="1"/>
        <!-- Educacional -->
        <!-- AB -->
        <add id="2900001"/>
        <!-- Escola Portal Aprende Brasil -->
      </teste>
    </escolasConfiguracoes>
    <papeisConfiguracoes>
      <aluno>
        <add id="1000001" />
        <add id="1010001" />
        <add id="1010101" />
        <add id="1010102" />
        <add id="1010103" />
        <add id="1010104" />
        <add id="1010105" />
        <add id="1010201" />
        <add id="1010202" />
        <add id="1010203" />
        <add id="1010204" />
        <add id="1010205" />
        <add id="1020001" />
        <add id="1020101" />
        <add id="1020201" />
        <add id="1020301" />
        <add id="1030001" />
        <add id="1040001" />
      </aluno>
      <professor>
        <add id="3010001" />
        <add id="3000001" />
      </professor>
      <coordenador>
        <add id="3030001" />
        <add id="6000001" />
        <add id="6800001" />
      </coordenador>
      <responsavel>
        <add id="2000001" />
      </responsavel>
    </papeisConfiguracoes>
    <codigosOrigemConfiguracoes>
      <defaultFerramenta codigo="SEC02511" />
      <listas>
        <add referencia="aresponder" codigos="LvDgMedio,LvDgFund,SEC02511" />
        <add referencia="agendamentos" codigos="LvDgMedio,LvDgFund,SEC02511" />
      </listas>
    </codigosOrigemConfiguracoes>
  </avaliacaoConfigGroup>
  <connectionStrings>
    <add name="PeEducacional" providerName="System.Data.SqlClient"
      connectionString="Data Source=DB1;Initial Catalog=educacionalOtimizado;User ID=dll_user;Password=\xf#99+%@BD;enlist=false"/>
    <add name="GerenciadorGrupos" providerName="System.Data.SqlClient"
      connectionString="Data Source=DB1;Initial Catalog=educacionalOtimizado;User ID=dll_user;Password=\xf#99+%@BD;enlist=false"/>
    <add name="ProvaColegiada" providerName="System.Data.SqlClient"
      connectionString="Data Source=DB1;Initial Catalog=DBAvaliacoes;User ID=AvaliacoesUser;Password=Te$*#@21;enlist=false"/>
    <add name="Avaliacoes" providerName="System.Data.SqlClient"
      connectionString="Data Source=DB1;Initial Catalog=DBAvaliacoes;User ID=AvaliacoesUser;Password=Te$*#@21;enlist=false"/>
    <add name="PeRedeSocial" providerName="System.Data.SqlClient"
      connectionString="Data Source=DB1;Initial Catalog=RedeSocial;User ID=dll_user;Password=\xf#99+%@BD;enlist=false"/>
    <add name="PeCP" providerName="System.Data.SqlClient"
      connectionString="Data Source=DB1;Initial Catalog=CP;User ID=dll_user;Password=\xf#99+%@BD;enlist=false"/>
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="/AVA/Login" name=".ASPXAUTH" protection="All" path="/" cookieless="UseCookies" timeout="50"/>
    </authentication>
    <membership defaultProvider="Default" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <!-- IMPLEMENTACAO PARA UNIVERSITARIO -->
        <add name="Default" type="PositivoFramework.Provider.DefaultMembershipProvider, PositivoFramework.Provider" />
      </providers>
    </membership>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <!--enableSessionState="ReadOnly"-->
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
        <add namespace="ProvaColegiada.ExtensionUrlHelper" />
        <add namespace="PositivoFramework.Globalization" />
        <add namespace="Avaliacoes.Framework.Web.Helpers" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <!--add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/-->
      <add name="AuthHttpModule" type="PositivoFramework.Web.Auth.AuthHttpModule"/>
      <add name="MvcDynamicSessionModule" type="Microsoft.Web.Mvc.MvcDynamicSessionModule"/>
    </httpModules>
    <customErrors mode="On">
      <error statusCode="500" redirect="/AVA/Avaliacoes/Erro"/>
    </customErrors>
    <httpRuntime requestValidationMode="2.0" maxUrlLength="1000" />
    <httpHandlers>
      <add verb="OPTIONS, PROPFIND" path="*" type="System.Web.StaticFileHandler" />
    </httpHandlers>

    <sessionState mode="Custom" customProvider="DataCacheSessionStoreProvider" timeout="50">
      <providers>
        <add name="DataCacheSessionStoreProvider"
          type="Microsoft.ApplicationServer.Caching.DataCacheSessionStoreProvider, Microsoft.ApplicationServer.Caching.Client"
          sharedId="EducacionalSharedSession" cacheName="Session_Universitario"/>
      </providers>
    </sessionState>
    <!--profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager-->
    <machineKey validationKey="AAE8FA472DE07D068F771EB88D50C5D09BF2A136879723E81B40B58FE876C73C767F7DC31DF52CA75BB93D4EDFE4F86AC3EF7B2F0D45E6C5C5EEF7213B118D33"
      decryptionKey="1B79E2566C89905A2485EAD3AD5965B5C4F819CEBE06AF5E4F3FE48D8D35DCE3" validation="SHA1" decryption="AES"/>
  </system.web>
  <!-- LOG ****************************************************************************************** -->
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="\\fs-educ\site\LogsApps\ErrosPE\AvaliacoesCom\AvaliacoesCom.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="Error"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="FlatFile TraceListener"/>
      <add fileName="\\fs-educ\site\LogsApps\ErrosPE\AvaliacoesCom\AvaliacoesRefactorV2.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="Error"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="RefactorAvaliacoes"/>
      <add fileName="\\fs-educ\site\LogsApps\ErrosPE\AvaliacoesCom\AvaliacoesAcompanhaRefactor.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="Error"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="RefactorAvaliacoesAcompanha"/>
      <add fileName="\\fs-educ\site\LogsApps\ErrosPE\AvaliacoesCom\AvaliacoesErrosNotificacaoAva.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="Error"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="ErrosNotificacaoAva"/>
      <add fileName="\\fs-educ\site\LogsApps\ErrosPE\AvaliacoesCom\AvaliacoesAcompanhaApp.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="All"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="AvaliacoesAcompanhaApp"/>
      <add source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName=""
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
        traceOutputOptions="None" filter="Error"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
        name="Formatted EventLog TraceListener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="Error" name="General">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="PositivoFramework.Infrastructure.DAL">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="PositivoFramework.Infrastructure.Log">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <!-- Logs da avaliacao -->
      <add switchValue="Error" name="Avaliacao">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="Avaliacao.Usuario">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="Avaliacao.Realizacao">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="Avaliacao.Aplicacao">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="Avaliacao.Localizador">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="Error" name="Avaliacao.Impressao">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <!-- logs do refactor v2 -->
      <add switchValue="Error" name="Avaliacoes.Framework.Acompanhamento">
        <listeners>
          <add name="RefactorAvaliacoesAcompanha"/>
        </listeners>
      </add>
      <!-- logs do refactor v2 -->
      <add switchValue="Error" name="Avaliacoes.Framework.Geral">
        <listeners>
          <add name="RefactorAvaliacoes"/>
        </listeners>
      </add>
      <add switchValue="Error" name="Avaliacoes.Framework.Usuario">
        <listeners>
          <add name="RefactorAvaliacoes"/>
        </listeners>
      </add>
      <add switchValue="Error" name="Avaliacoes.Framework.Sessao">
        <listeners>
          <add name="RefactorAvaliacoes"/>
        </listeners>
      </add>
      <add switchValue="Error" name="Avaliacoes.Framework.NotificacaoAva">
        <listeners>
          <add name="ErrosNotificacaoAva"/>
        </listeners>
      </add>
      <!--add switchValue="All" name="Avaliacoes.Framework.Unity">
        <listeners>
          <add name="RefactorAvaliacoes"/>
        </listeners>
      </add-->
      <!-- APP -->
      <add switchValue="All" name="Avaliacao.App">
        <listeners>
          <add name="AvaliacoesAcompanhaApp"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="Error" name="All Events"/>
      <notProcessed switchValue="Error" name="Unprocessed Category"/>
      <errors switchValue="Error" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <!-- LOG ****************************************************************************************** -->
  <!-- UNITY - UTILIZADO PELAS DAOs -->
  <unity>
    <container name="InternalConfigContainer">
      <register type="PositivoFramework.Infrastructure.DAL.Factory.Base.IConnectionStringManager, PositivoFramework.Infrastructure.DAL.Factory"
        mapTo="PositivoFramework.Infrastructure.DAL.ConnectionStringManagerImpl.UDLFileConnectionStringManagerImplNET, PositivoFramework.Infrastructure.DAL.ConnectionStringManagerImpl">
        <lifetime type="PerThreadLifetimeManager"/>
      </register>
    </container>
    <container name="DataSourceContainer">
      <register type="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" mapTo="PositivoFramework.Infrastructure.DAL.DataSources.PeDbDataSource, PositivoFramework.Infrastructure.DAL.DataSources" name="PeDb">
        <lifetime type="ContainerControlledLifetimeManager" />
      </register>
      <register type="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" mapTo="PositivoFramework.Infrastructure.DAL.DataSources.PeRedeSocialDataSource, PositivoFramework.Infrastructure.DAL.DataSources" name="RedeSocialDb">
        <lifetime type="ContainerControlledLifetimeManager" />
      </register>
    </container>
    <container name="ServiceContainer">
      <register type="PositivoFramework.Provider.DALInterface.IIdentidadeDALService, PositivoFramework.Provider" mapTo="PositivoFramework.Provider.DALImpl.EntLib.IdentidadeDALServiceImpl, PositivoFramework.Provider.DALImpl.EntLib" name="EnterpriseLibraryIdentidadeService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="PeDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>
      <register type="PositivoFramework.Provider.DALInterface.IIdentidadeDALService, PositivoFramework.Provider" mapTo="PositivoFramework.Provider.DALImpl.EntLib.IdentidadeDALServiceImpl, PositivoFramework.Provider.DALImpl.EntLib" name="EnterpriseLibraryIdentidadeDALService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="PeDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>
      <register type="PositivoFramework.Security.DALInterface.IIdentidadeDALService, PositivoFramework.Security" mapTo="PositivoFramework.Security.DALImpl.EntLib.IdentidadeServiceImpl, PositivoFramework.Security.DALImpl.EntLib" name="EnterpriseLibrarySecurityDALService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="PeDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>
      <!-- SiteMap-->
      <register type="PositivoFramework.Provider.DALInterface.ISiteMapDALService, PositivoFramework.Provider" mapTo=" PositivoFramework.Provider.DALImpl.EntLib.SiteMapDALServiceImpl, PositivoFramework.Provider.DALImpl.EntLib" name="EnterpriseLibrarySiteMapDALService">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="PeDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>
      <!-- SiteMap-->
      <!-- Cdt -->
      <register type="PositivoLMS.DAL.DALInterface.Cdt.ICdtDALService, PositivoLMS.DAL.DALInterface.Cdt" mapTo="PositivoLMS.DAL.DALImpl.EntLib.Cdt.CdtDALServiceImpl, PositivoLMS.DAL.DALImpl.EntLib.Cdt" name="cdt">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="PeDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>
      <!-- Cdt -->
      <!-- Rede Social -->
      <register type="PositivoLMS.DAL.DALInterface.RedeSocial.IRedeSocialDALService, PositivoLMS.DAL.DALInterface.RedeSocial" mapTo="PositivoLMS.DAL.DALImpl.EntLib.RedeSocial.RedeSocialDALServiceImpl, PositivoLMS.DAL.DALImpl.EntLib.RedeSocial" name="RedeSocial">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="RedeSocialDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>
      <!-- Rede Social -->
      <!-- Papel -->
      <register type="PositivoLMS.DAL.DALInterface.Papel.IPapelDALService, PositivoLMS.DAL.DALInterface.Papel" mapTo="PositivoLMS.DAL.DALImpl.EntLib.Papel.PapelDALServiceImpl, PositivoLMS.DAL.DALImpl.EntLib.Papel" name="papel">
        <lifetime type="PerResolveLifetimeManager" />
        <property name="DefaultDataSource" dependencyName="PeDb" dependencyType="PositivoFramework.Infrastructure.DAL.DataSources.DataSource, PositivoFramework.Infrastructure.DAL.DataSources" />
      </register>
      <!-- Papel -->
    </container>
    <!-- Avaliacoes -->
  </unity>
  <!-- UNITY - UTILIZADO PELAS DAOs -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.educacional.com.br" port="25" userName="erros@educacional.net"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>