{
    "0": {
        "nome" : "joão",
        "id" : "1234",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
    "1": {
        "nome" : "Pedro",
        "id" : "1234",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "2": {
        "nome" : "Manuel",
        "id" : "1236",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "3": {
        "nome" : "Miguel",
        "id" : "1237",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "4": {
        "nome" : "Lessandro",
        "id" : "1238",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "5": {
        "nome" : "Danilo",
        "id" : "1239",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "6": {
        "nome" : "Miguel",
        "id" : "1240",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "7": {
        "nome" : "Miguel",
        "id" : "1241",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "8": {
        "nome" : "Miguel",
        "id" : "1242",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "9": {
        "nome" : "Miguel",
        "id" : "1243",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "10": {
        "nome" : "joão",
        "id" : "1244",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "11": {
        "nome" : "Diullian",
        "id" : "1245",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "12": {
        "nome" : "joão",
        "id" : "1246",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "13": {
        "nome" : "joão",
        "id" : "1247",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "14": {
        "nome" : "joão",
        "id" : "1248",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "15": {
        "nome" : "joão",
        "id" : "1249",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    },
     "16": {
        "nome" : "joão",
        "id" : "1250",
        "codEscola" : "11563",
        "imagens" : {
                "small" : "/AVA/Projetos/imagens/jose_s.jpg",
                "medium" :  "/AVA/Projetos/imagens/jose_m.jpg",
                "big" : "/AVA/Projetos/imagens/jose_g.jpg"
            }
    }
}