{
    "Turmas": [
        {
            "Id": 30000242,
            "Nome": "EIpreA_006",
            "Apelido": "EIpreA_006",
            "Inscricao": {
                "Id": 40,
                "Email": null,
                "Responsavel": null,
                "Parceiros": null,
                "Turma": null
            },
            "Escola": {
                "Id": 52640002,
                "Nome": "te01_ef1a_007 ",
                "Estado": null,
                "Cidade": "Curitiba",
                "Unidades": null,
                "Turmas": null
            },
            "Unidade": null
        },
        {
            "Id": 30000242,
            "Nome": "EIpreA_006",
            "Apelido": "EIpreA_006",
            "Inscricao": {
                "Id": 40,
                "Email": null,
                "Responsavel": null,
                "Parceiros": null,
                "Turma": null
            },
            "Escola": {
                "Id": 52640002,
                "Nome": "te01_ef1a_007 ",
                "Estado": null,
                "Cidade": "Curitiba",
                "Unidades": null,
                "Turmas": null
            },
            "Unidade": null
        },
        {
            "Id": 30000242,
            "Nome": "EIpreA_006",
            "Apelido": "EIpreA_006",
            "Inscricao": {
                "Id": 40,
                "Email": null,
                "Responsavel": null,
                "Parceiros": null,
                "Turma": null
            },
            "Escola": {
                "Id": 52640002,
                "Nome": "te01_ef1a_007 ",
                "Estado": null,
                "Cidade": "Curitiba",
                "Unidades": null,
                "Turmas": null
            },
            "Unidade": null
        },
        {
            "Id": 30000242,
            "Nome": "EIpreA_006",
            "Apelido": "EIpreA_006",
            "Inscricao": {
                "Id": 40,
                "Email": null,
                "Responsavel": null,
                "Parceiros": null,
                "Turma": null
            },
            "Escola": {
                "Id": 52640002,
                "Nome": "te01_ef1a_007 ",
                "Estado": null,
                "Cidade": "Curitiba",
                "Unidades": null,
                "Turmas": null
            },
            "Unidade": null
        }
    ]
}