html, body{background:#fff!important; font-family:arial; font-size:12px; margin:0; min-width:870px; padding:0;}

a{font-size:12px; text-decoration:none;}
h1{font-size:20px; font-weight:normal;}
img{border:none;}

/**Gerais**/
.left{float:left;}
.right{float:right;}

/**Botoes**/
.btn_cinza, .btn_laranja {border-radius:3px; font-size:13px; font-weight:bold; height:29px; line-height:28px; margin:20px 0 0 10px; padding:0 15px;}

.btn_cinza{background:#f4f4f4; border:1px solid #dbdbdb; color:#333;}
.btn_cinza:hover{background:#f9f9f9; box-shadow:1px 1px 2px #d5d5d5; color:#222;}
.btn_laranja{background:#faa611; border:1px solid #cd7502; color:#fff;}
.btn_laranja:hover{background:#fbb332; box-shadow:1px 1px 2px #d5d5d5; color:#fff;}

.arquivos{/*width:857px;*/width:100%;}
.arquivos h1{padding-left:20px;}
.arquivos .tabs{border-bottom:1px solid #ccc; list-style:none; padding:0 0 5px 20px;}
.arquivos .tabs li{display:inline-block; padding:5px 0 5px 30px;}
.arquivos .tabs li:first-child{border-right:1px solid #ccc; padding:5px 30px 5px 0;}
.arquivos .tabs li:hover,.arquivos .tabs li.active a{color:#EB6C00;}
.arquivos .tabs li a{color:#444; font-size:13px;}

.conteudo_arquivos{border-bottom:1px solid #ccc; margin-top:-12px; overflow:hidden; width:100%;}

.conteudo_arquivos .uso{color:#26803b; float:left; position:relative;}
.conteudo_arquivos .uso:hover{color:#035616; text-decoration:underline;}
.conteudo_arquivos .excluir{color:#df0e0e; float:left;}
.conteudo_arquivos .excluir:hover{text-decoration:underline;}

.conteudo_arquivos .menu_arquivos{float:left; list-style:none; padding:5px 0; margin:0; width:200px;}
.conteudo_arquivos .menu_arquivos li{display:block; padding:5px 20px;}
.conteudo_arquivos .menu_arquivos li.active {background:#feeccc;}
.conteudo_arquivos .menu_arquivos li a{color:#444;}
.conteudo_arquivos .menu_arquivos li a:hover, .conteudo_arquivos .menu_arquivos li.active a{color:#EB6C00; font-weight:bold;}
.conteudo_arquivos .menu_arquivos li.arquivoSelecionado{background:url('/ava/staticContent/common/img/arquivos/bg_1_20.png') bottom repeat-x #fcfcfc; height:48px; line-height:48px; margin-bottom:10px;}
.conteudo_arquivos .menu_arquivos li.arquivoSelecionado a:hover{color:#000; font-weight:normal;}

.conteudo_arquivos .itens_arquivos_conteudo{border-left:1px solid #ccc; float:left; height:500px; margin-right:-10px; padding:0 0 0 20px; width:635px;}
.conteudo_arquivos .itens_arquivos_conteudo > div{height:440px; overflow:auto;}
.conteudo_arquivos .itens_arquivos_conteudo .pesquisa_arquivos{background:url('/ava/staticContent/common/img/arquivos/lupa.png') no-repeat 8px 8px; border:1px solid #ccc; color:#444; margin:5px 0 20px; padding:8px 5px 8px 30px; width:570px;}
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo{border:1px solid #ccc; cursor:pointer; float:left; height:170px; margin:10px 10px 10px 0; position:relative; width:192px;}

.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .carregando{background:#fff; background:rgb(255, 255, 255) transparent; background:rgba(255, 255, 255, 0.7); height:170px; opacity: 0.7; position:absolute; width:192px; z-index:9; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)";}

.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo.select, 
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo:hover{background:#fef1d6;}

.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo.select .detalhe_arquivo{color:#000; display:block; height:15px;}

.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .tipo_arquivo{height:105px;}
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo{background:#fff; background:rgb(255, 255, 255) transparent; background:rgba(255, 255, 255, 0.8); bottom:0; display:none; height:40px; /*overflow:hidden;*/ padding:10px; position:absolute; width:192px; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)";}
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .nome_arquivo {color:#444; font-size:14px; font-weight:bold; margin:0;  white-space:nowrap; width:170px; overflow:hidden;}  

/*.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .visualizar_lupa{background:url('/ava/staticContent/common/img/arquivos/sprite_arquivos.png') no-repeat; float:right; height:15px; margin-left:7px; width:15px;}
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .visualizar_lupa:hover{background:url('/ava/staticContent/common/img/arquivos/sprite_arquivos.png') no-repeat -16px 0;}*/

.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .download, 
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .visualizar_lupa, 
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .em_uso,
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .excluir{color:#aaa; display:inline-block; margin:10px 15px 0 0;}

.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .download:hover, 
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .visualizar_lupa:hover, 
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .em_uso:hover,
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .excluir:hover{color:#444;}

.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .download:before,
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .visualizar_lupa:before,
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .em_uso:before
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .excluir:before{font-size:18px!important;}

.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .download:before{content:"\f019";}
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .visualizar_lupa:before{content:"\f00e";}
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .em_uso:before{content:"\f00c";}
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo .detalhe_arquivo .excluir:before{content:"\f00d";}


.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo.doc{}
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo.doc .tipo_arquivo p,
.visualizar_detalhe_arquivo .item_arquivo.doc .tipo_arquivo p{background:url('/ava/staticContent/common/img/arquivos/sprite_arquivos.png') no-repeat 0 -14px; color:#A1A0A0; display:table; font-size:17px; font-weight:bold; height:65px; margin:15px auto 0; padding:80px 0 0 40px; text-align:center; width:106px;}

.itens_arquivos_conteudo .item_arquivo.audio .tipo_arquivo p, 
.visualizar_detalhe_arquivo .item_arquivo.audio .tipo_arquivo p,
.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo.img_ie .tipo_arquivo{background:url('/ava/staticContent/common/img/arquivos/sprite_arquivos.png') no-repeat 0 -150px; color:#fff; display:table; font-size:24px; font-weight:bold; height:115px; margin:20px auto 0; padding-top:20px; text-align:center; width:141px;}

.visualizar_detalhe_arquivo .item_arquivo .tipo_arquivo{float:left; height:400px; width:500px;}
.visualizar_detalhe_arquivo .item_arquivo .tipo_arquivo p{position:relative; top:150px;}

.conteudo_arquivos .itens_arquivos_conteudo .item_arquivo.img_ie .tipo_arquivo{background-position:0 -290px;}

.tooltip{background:#fff; border:1px solid #ccc; color:#444; width:400px; z-index:10;}
.tooltip .setaBaixo{background:url('/ava/staticContent/common/img/arquivos/sprite_arquivos.png') no-repeat -34px 0; bottom:-20px; height:20px; margin:0 auto; position:relative; width:20px;}

.conteudo_arquivos .visualizar_detalhe_arquivo{height:440px; padding:0 20px;}
.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc{border-left:1px solid #ccc; float:right; height:100%; padding:20px; position:relative; width:209px;}
.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc > div{border-bottom:1px dashed #ccc; overflow:hidden; padding:15px 0;}
.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc > div:first-child{padding-top:0;}
.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc > div .editar{float:right;}
.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc > div .editar span:before{content:"\f040"; font-size:16px; padding-right:5px;}
.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc > div p{margin:0;}

.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc textarea,
.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc input[type=text]{color:#666; font-family:arial; padding:5px; resize:none; width:190px;}

.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc  .cortar_imagem, .conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc  .emuso{display:block;}
.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc  .cortar_imagem span{background:url('/ava/staticContent/common/img/arquivos/sprite_arquivos.png') no-repeat -79px 5px; display:inline-block; height:20px; position:relative; top:3px; width:20px;}
.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc  .cortar_imagem:hover span{background-position:-108px 5px;}
.voltar:before{content:"\f053"; color:#fff; font-size:20px; padding-right:10px;}
.btn_modal_cor{background:#fbb332; margin-right:10px; padding:10px 0 0 0; position:relative; top:-13px;}

.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc  .download{color:#8f897d; display:block; margin-top:5px;}
.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc  .download  span:before{content:"\f019"; font-size:16px; margin-right:5px;}
.conteudo_arquivos .visualizar_detalhe_arquivo .info_arquivo_desc  .download:hover{color:#EB6C00;}

.ava_clips_seletor{background:url("/ava/staticContent/common/img/perfil/laranja/clips.png") no-repeat; height:25px; left:21px; position:absolute; top:-8px; width:23px;}

/**Barra de Upload**/
.singleProgress{position:absolute; text-align:center; top:30%; width:100%; z-index:99;}
.algumProgresso, .ui-progressbar .ui-progressbar-value{border-radius:5px!important;}
.algumProgresso{height:20px!important; padding:2px;}
.ui-widget-header{background:url('/ava/staticContent/common/img/arquivos/bg_prog_bar.png') repeat-x!important; }
.ui-widget-content{background:url('/ava/staticContent/common/img/arquivos/bg_1_60.png') repeat!important; border:none!important;}
.percCompleteUpload{color:#1e400c; font-weight:bold; position:relative; top:-21px;}


.tooltip{background:#444; border-radius:5px; color:#fff; display:inline-block; font-size:11px; max-width:100px; padding:5px; text-align:center; text-shadow:0 1px #000; z-index:9999;}
.tooltip:before {bottom:-9px; color:#444; content:"\25BC"; left:45%; position:absolute;}	

#img_padrao{display:table-cell; float:left; height:440px; text-align:center; vertical-align:middle; width:500px;}
/*.ui-widget input[type='file']{width:120px!important;}*/

/**Adicionar arquivos**/
.drag-drop-area{height:430px!important; display:table-cell!important; vertical-align:middle; width:840px;}
.drag-drop-status{border:none!important;}

.arquivos_validos_upload{margin:15px 0 0 10px;}
.arquivos_validos_upload p{color:#666; font-size:11px; margin:0;}

/**Combo recortar**/
.combo_recortar{background:#fff; background:rgba(255, 255, 255, 0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff); -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)"; height:100%; margin:-43px 0 0 -20px ; position:absolute; width:270px;}
.combo_recortar > div{background:#fff; box-shadow:1px 1px 3px #999; height:70px; position:absolute; top:0%; width:265px;}
.combo_recortar .seta_recorte{background:url('/ava/staticContent/common/img/arquivos/seta_recorte.png') no-repeat!important; display:block; height:30px; left:-21px; position:relative; top:22px; width:30px; z-index:9;}

/**Topo voltar**/
.arquivos_topo_voltar{height:74px; position:relative;}
.arquivos_topo_voltar h1{left:50px; position:absolute; top:10px;}

.arq_menu_links{display:none;}

.voltar_modal{background:#fddea7; display:inline-block; height:74px; line-height:74px; position:absolute; text-indent:15px; width:47px;}
.voltar_modal span:before{color:#d07703; content:"\f053"; font-size:24px;}

/**Seta Tooltip**/
.tooltip_up_left.tooltip:before{left:9%!important;}
.tooltip_up_left.tooltip{text-align:left!important;}

/**Jalert**/
.confirma_acao #popup_content{padding:20px;}
.confirma_acao #popup_content #popup_message{font-size:12px; text-align:left;}
.confirma_acao #popup_content a.bt_normal{background:#f4f4f4; border:1px solid #ccc; border-radius:4px; color:#333; display:inline-block; font-weight:bold; height:30px; line-height:30px; padding:0 20px;}
.confirma_acao #popup_content a.bt_normal:hover{color:#333;}