<nav class="slider_resultado">
	<p>Perguntas</p>
	<ul>
		<li class="numero_pergunta" ng-click="currentSlide(1)"><a>1</a></li>
		<li class="numero_pergunta" ng-click="currentSlide(2)"><a>2</a></li>
		<li class="numero_pergunta" ng-click="currentSlide(3)"><a>3</a></li>
		<li class="numero_pergunta" ng-click="currentSlide(4)"><a>4</a></li>
		<li class="numero_pergunta" ng-click="currentSlide(5)"><a>5</a></li>
		<li class="numero_pergunta" ng-click="currentSlide(6)"><a>6</a></li>
		<li class="numero_pergunta" ng-click="currentSlide(7)"><a>7</a></li>
		<li class="numero_pergunta" ng-click="currentSlide(8)"><a>8</a></li>
		<li class="numero_pergunta" ng-click="currentSlide(9)"><a>9</a></li>
		<li class="numero_pergunta" ng-click="currentSlide(10)"><a>10</a></li>
		<li class="numero_pergunta" ng-click="currentSlide(11)"><a>11</a></li>
		<li class="numero_pergunta" ng-click="currentSlide(12)"><a>12</a></li>
	</ul>
								
	<ul>
								
		<li class="legenda_pergunta comunidade">Comunidades (1679 pessoas)</li>
		<li class="legenda_pergunta turma">Turmas (1229 pessoas)</li>
	</ul>
								
	<div class="cont_resultados">
		<ul>
			<li><a class="prev" ng-click="plusSlides(-1)"></a></li>
			<li><a class="next" ng-click="plusSlides(1)"></a></li>
		</ul>
								
		<div class="bloco-projeto">
			<img src="../../../StaticContent/Projetos/Projeto/2016/obasicodosaneamento/imagens/grafico_01.jpg"/>
		</div>
		<div class="bloco-projeto" style="display:none;">
			<img src="../../../StaticContent/Projetos/Projeto/2016/obasicodosaneamento/imagens/grafico_02.jpg"/>
		</div>
		<div class="bloco-projeto" style="display:none;">
			<img src="../../../StaticContent/Projetos/Projeto/2016/obasicodosaneamento/imagens/grafico_03.jpg"/>
		</div>
		<div class="bloco-projeto" style="display:none;">
			<img src="../../../StaticContent/Projetos/Projeto/2016/obasicodosaneamento/imagens/grafico_04.jpg"/>
		</div>
		<div class="bloco-projeto" style="display:none;">
			<img src="../../../StaticContent/Projetos/Projeto/2016/obasicodosaneamento/imagens/grafico_05.jpg"/>
		</div>
		<div class="bloco-projeto" style="display:none;">
			<img src="../../../StaticContent/Projetos/Projeto/2016/obasicodosaneamento/imagens/grafico_06.jpg"/>
		</div>
		<div class="bloco-projeto" style="display:none;">
			<img src="../../../StaticContent/Projetos/Projeto/2016/obasicodosaneamento/imagens/grafico_07.jpg"/>
		</div>
		<div class="bloco-projeto" style="display:none;">
			<img src="../../../StaticContent/Projetos/Projeto/2016/obasicodosaneamento/imagens/grafico_08.jpg"/>
		</div>
		<div class="bloco-projeto" style="display:none;">
			<img src="../../../StaticContent/Projetos/Projeto/2016/obasicodosaneamento/imagens/grafico_09.jpg"/>
		</div>
		<div class="bloco-projeto" style="display:none;">
			<img src="../../../StaticContent/Projetos/Projeto/2016/obasicodosaneamento/imagens/grafico_10.jpg"/>
		</div>
		<div class="bloco-projeto" style="display:none;">
			<img src="../../../StaticContent/Projetos/Projeto/2016/obasicodosaneamento/imagens/grafico_11.jpg"/>
		</div>
		<div class="bloco-projeto" style="display:none;">
			<img src="../../../StaticContent/Projetos/Projeto/2016/obasicodosaneamento/imagens/grafico_12.jpg"/>
		</div>
									
	</div>
</nav>