<div class="c wrapper-24">
    <!-- botao gerar nova trilha  -->
    <div class="g g-direction-rows-sm g-direction-columns-md g-horizontal-center-sm g-wrap">

        <div class="c wrapper-16">
            <a href="javascript:void(0)" ng-click="telaInicio()" class="botao-inicio bounce" role="button">
                <h5 class="texto-botaogerar">In&iacute;cio</h5>
            </a>
        </div>
        <div class="c wrapper-16">
            <a href="javascript:void(0)" ng-click="gerarNovaTrilha()" class="botao-novatrilha bounce" role="button">
                <h5 class="texto-botaogerar">Nova trilha</h5>
            </a>
        </div>
        <h1 class="c wrapper-24 c-horizontal-center-sm texto-casas texto-u">Pressione a casa em que voc&ecirc; chegou!</h1>
        <!-- botao gerar nova trilha  -->

    </div>
</div>

<!--linha-->
<div id="linha" class="c">
    <div class="g g-direction-columns-sm">
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="1" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">1</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">17</button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="16" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">16</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">15</button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="14" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">14</button>
        </div>
    </div>
</div>

<!--linha-->
<div id="linha" class="c">
    <div class="g g-direction-columns-sm">
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">2</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">18</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">13</button>
        </div>
    </div>
</div>

<!--linha-->
<div id="linha" class="c">
    <div class="g g-direction-columns-sm">
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">3</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="19" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">19</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1 full-w-margin-top">20</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="12" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">12</button>
        </div>
    </div>
</div>

<!--linha-->
<div id="linha" class="c">
    <div class="g g-direction-columns-sm">
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="4" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">4</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="11" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">11</button>
        </div>
    </div>
</div>

<!--linha-->
<div id="linha" class="c">
    <div class="g g-direction-columns-sm">
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">5</button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="6" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">6</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">7</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">8</button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="9" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">9</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">10</button>
        </div>
    </div>
</div>