<!--Titulos-->
<div class="c">
    <!-- botao gerar nova trilha  -->
    <div class="g g-direction-rows-sm g-direction-columns-md g-horizontal-center-sm g-wrap">

        <div class="c wrapper-16">
            <a href="javascript:void(0)" ng-click="telaInicio()" class="botao-inicio bounce" role="button">
                <h5 class="texto-botaogerar">In&iacute;cio</h5>
            </a>
        </div>
        <div class="c wrapper-16">
            <a href="javascript:void(0)" ng-click="gerarNovaTrilha()" class="botao-novatrilha bounce" role="button">
                <h5 class="texto-botaogerar">Nova trilha</h5>
            </a>
        </div>

        <h1 class="c wrapper-24 c-horizontal-center-sm texto-casas texto-u">Pressione a casa em que voc&ecirc; chegou!</h1>

        <!-- botao gerar nova trilha  -->

    </div>
</div>

<div class="c wrapper-24">
    <div class="g g-direction-rows-sm g-horizontal-center-sm">
        <!--1 linha-->
        <div class="c">
            <div class="g g-direction-columns-sm">
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="1" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">1</button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">32</button>
                </div>
                <div class="c ">
                    <button class="casa-none pulse button1"></button>
                </div>
                <div class="c ">
                    <button class="casa-none pulse button1"></button>
                </div>
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="19" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">19</button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">18</button>
                </div>
            </div>
        </div>

        <!--2 linha-->
        <div class="c">
            <div class="g g-direction-columns-sm">
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">2</button>
                </div>
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="31" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">31</button>
                </div>
                <div class="c ">
                    <button class="casa-none pulse button1"></button>
                </div>
                <div class="c ">
                    <button class="casa-none pulse button1"></button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">20</button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">17</button>
                </div>
            </div>
        </div>

        <!--3 linha-->
        <div class="c">
            <div class="g g-direction-columns-sm">
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="3" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">3</button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">30</button>
                </div>
                <div class="c ">
                    <button class="casa-none pulse button1"></button>
                </div>
                <div class="c ">
                    <button class="casa-none pulse button1"></button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">21</button>
                </div>
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="16" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">16</button>
                </div>
            </div>
        </div>

        <!--4 linha-->
        <div class="c">
            <div class="g g-direction-columns-sm">
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="4" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">4</button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">29</button>
                </div>
                <div class="c ">
                    <button class="casa-none pulse button1"></button>
                </div>
                <div class="c ">
                    <button class="casa-none pulse button1"></button>
                </div>
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="22" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">22</button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">15</button>
                </div>
            </div>
        </div>

        <!--5 linha-->
        <div class="c">
            <div class="g g-direction-columns-sm">
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">5</button>
                </div>
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="28" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">28</button>
                </div>
                <div class="c ">
                    <button class="casa-none pulse button1"></button>
                </div>
                <div class="c ">
                    <button class="casa-none pulse button1"></button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">23</button>
                </div>
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="14" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">14</button>
                </div>
            </div>
        </div>

        <!--6 linha-->
        <div class="c">
            <div class="g g-direction-columns-sm">
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="6" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">6</button>
                </div>
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="27" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">27</button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">26</button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">25</button>
                </div>
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="24" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">24</button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">13</button>
                </div>
            </div>
        </div>

        <!--7 linha-->
        <div class="c">
            <div class="g g-direction-columns-sm">
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">7</button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">8</button>
                </div>
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="9" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">9</button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">10</button>
                </div>
                <div class="c">
                    <button class="btn_2 casa-marrom pulse button1">11</button>
                </div>
                <div class="c">
                    <button ng-click="GetCartaModal($event)" data-intcasa="12" class="btn_2 casa-laranja pulse button1" data-toggle="modal" data-target="#largeShoes">12</button>
                </div>
            </div>
        </div>
    </div>
</div>