<div class="c wrapper-24">
    <!-- botao gerar nova trilha  -->
    <div class="g g-direction-rows-sm g-direction-columns-md g-horizontal-center-sm g-wrap">
        <div class="c wrapper-16">
            <a href="javascript:void(0)" ng-click="telaInicio()" class="botao-inicio bounce" role="button">
                <h5 class="texto-botaogerar">In&iacute;cio</h5>
            </a>
        </div>
        <div class="c wrapper-16">
            <a href="javascript:void(0)" ng-click="gerarNovaTrilha()" class="botao-novatrilha bounce" role="button">
                <h5 class="texto-botaogerar">Nova trilha</h5>
            </a>
        </div>
        <h1 class="c wrapper-24 c-horizontal-center-sm texto-casas texto-u">Pressione a casa em que voc&ecirc; chegou!</h1>
        <!-- botao gerar nova trilha  -->
    </div>
</div>

<!--linha 1-->
<div id="linha" class="c">

    <div class="g g-direction-columns-sm">
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">1</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">23</button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="22" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">22</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">21</button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="20" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">20</button>
        </div>
    </div>
</div>

<!--linha 2-->
<div id="linha" class="c">
    <div class="g g-direction-columns-sm">
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="2" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">2</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">24</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">19</button>
        </div>
    </div>
</div>

<!--linha 3-->
<div id="linha" class="c">
    <div class="g g-direction-columns-sm">
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">3</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="25" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">25</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="18" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">18</button>
        </div>
    </div>
</div>

<!--linha 4-->
<div id="linha" class="c">
    <div class="g g-direction-columns-sm">
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="4" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">4</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">26</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1 full-h-margin-right">32</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">17</button>
        </div>
    </div>
</div>

<!--linha 5-->
<div id="linha" class="c">
    <div class="g g-direction-columns-sm">
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="5" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">5</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="27" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">27</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="31" class="btn_2 casa-amarela pulse button1 full-h-margin-right" data-toggle="modal" data-target="#largeShoes">31</button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="16" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">16</button>
        </div>
    </div>
</div>

<!--linha 6-->
<div id="linha" class="c">
    <div class="g g-direction-columns-sm">
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">6</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">28</button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="29" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">29</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1 full-h-margin-right">30</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">15</button>
        </div>
    </div>
</div>

<!--linha 7-->
<div id="linha" class="c">
    <div class="g g-direction-columns-sm">
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">7</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="casa-none pulse button1"></button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="14" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">14</button>
        </div>
    </div>
</div>

<!--linha 8-->
<div id="linha" class="c">
    <div class="g g-direction-columns-sm">
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">8</button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="9" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">9</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">10</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">11</button>
        </div>
        <!--celula-->
        <div class="c">
            <button ng-click="GetCartaModal($event)" data-intcasa="12" class="btn_2 casa-amarela pulse button1" data-toggle="modal" data-target="#largeShoes">12</button>
        </div>
        <!--celula-->
        <div class="c">
            <button class="btn_2 casa-marrom pulse button1">13</button>
        </div>
    </div>
</div>