@{
    Layout = "~/Views/Shared/_LayoutMenuTopo.cshtml";
}
<div role="projetos_content" class="p_content full_width">
    <div class="proj_content centralizaclass">
        <h2>Mural</h2> 
        <p>
            Esse é a Home da Area do Professor para o projeto <strong>@ViewBag.edicao.Nome</strong>
        </p>
        <h3>Home</h3>
    </div>
</div>
