/*	Desc: *title* Screen Style Sheet
	Author: *your name*
	Date: *last modified date*
	+ Colours
	- *colour hex* *colour name* (*purpose*)
=== === === === === === === === === === */
/*=STRUCTURE
=== === === === === === === === === === */
html {

}
body {
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#4a4a4a;
background:#08467f;
}
/*=COMMON
=== === === === === === === === === === */
* {
	padding: 0;
	margin: 0
}
p,
li {
	line-height: 130%;
}
p{ font-size:12px;}

img {
	border: 0
}

a { color: #0b4f8b;
}
a:hover { color: #ff8106;
}


h1{font-size:20px;}

h2{font-size:16px;}
h2 a{ text-decoration:none; color:#4a4a4a;}
h2 a span.itslink{color: #0b4f8b;}
h2 a:hover span.itslink{color: #ff8106;}


h3{font-size:14px;}

h4{font-size:12px;}
h4 a{ text-decoration:none;}

h5{ text-transform:uppercase; font-size:10px;}

.widget-header h2 {
background:url("../cssimg/box_cabe.gif") repeat-x ;
height:40px;
padding-right:10px;
position:absolute;
left:30px;
z-index:10; /*acima do grip*/
}
.grip { background:url(../cssimg/grip.gif) repeat-x #197db8; height:7px; position:absolute; top:17px; right:60px; width:150px; }

a.widget-collapselink{ position:absolute; left:-225px; top:8px; line-height:20px; color: #0b4f8b; padding:1px; border:1px solid  #F1F1F1; -moz-border-radius: 5px;-webkit-border-radius: 5px; font-size:16px; text-decoration:none; }
a.widget-collapselink:hover {color: #ff8106; border:1px solid #bcbcbc; }

a.widget-editlink {padding:2px; -moz-border-radius: 5px;-webkit-border-radius: 5px; border:1px solid #bcbcbc; text-decoration:none }

a.widget-closelink {padding:2px 3px; -moz-border-radius: 5px;-webkit-border-radius: 5px; border:1px solid #bcbcbc; text-decoration:none;  font-weight:bold  }
a.widget-closelink:hover {padding:2px 3px; -moz-border-radius: 5px;-webkit-border-radius: 5px; border:1px solid #bcbcbc; text-decoration:none;  font-weight:bold;   }

.resolucao{ margin:0 auto; width:900px; padding:0 30px 0 30px;}

.iconGG{ float:left; width:50px; height:45px;-moz-border-radius: 5px;-webkit-border-radius: 5px; margin-right:15px;}
.iconPP{ float:left; width:20px; height:20px;-moz-border-radius: 3px;-webkit-border-radius: 3px; margin-right:5px;}

.meuespacoPP{background:url(../cssimg/meuespaco_pp.png) no-repeat center center;  }
.meuespaco{background:url(../cssimg/meuespaco.png) no-repeat center center;  }
.debate{background:url(../cssimg/debate.png) no-repeat center center ;  }
.debatePP{background:url(../cssimg/debate_pp.png) no-repeat center center;  }

.avisoPP{background:url(../cssimg/aviso_pp.png) no-repeat center center ;  }
.planoensinoPP{background:url(../cssimg/planoensino_pp.png) no-repeat center center ;  }
.colegasPP{background:url(../cssimg/colegas_pp.png) no-repeat center center ;  }
.entregaPP{background:url(../cssimg/entrega_pp.png) no-repeat center center;  }


.scormPP{background:url(../cssimg/entrega_pp.png) no-repeat center center;  }
.salavirtualPP{background:url(../cssimg/entrega_pp.png) no-repeat center center;  }
.salavirtualmmPP{background:url(../cssimg/entrega_pp.png) no-repeat center center;  }
.avaexePP{background:url(../cssimg/entrega_pp.png) no-repeat center center;  }


/*paleta de cores*/
.ic1_template{ background-color:#0b6ea8}
.ic2_template{background-color:#FF8209}


.icc_01{background-color:#f4cccc}
.icc_02{background-color:#fce5cd}
.icc_03{background-color:#fff2cc}
.icc_04{background-color:#d9ead3}
.icc_05{background-color:#d0e0e3}
.icc_06{background-color:#cfe2f3}
.icc_07{background-color:#d9d2e9}
.icc_08{background-color:#ead1dc}
.icc_09{background-color:#ea9999}
.icc_10{background-color:#f9cb9c}
.icc_11{background-color:#ffe599}
.icc_12{background-color:#b6d7a8}
.icc_13{background-color:#a2c4c9}
.icc_14{background-color:#9fc5e8}
.icc_15{background-color:#b4a7d6}
.icc_16{background-color:#d5a6bd}
.icc_17{background-color:#e06666}
.icc_18{background-color:#f6b26b}
.icc_19{background-color:#ffd966}
.icc_20{background-color:#93c47d}
.icc_21{background-color:#76a5af}
.icc_22{background-color:#6fa8dc}
.icc_23{background-color:#8e7cc3}
.icc_24{background-color:#c27ba0}

.icc_99{background-color:#ececec}

.ice_01{background-color:#cc0000}
.ice_02{background-color:#c27ba0}
.ice_03{background-color:#f1c232}
.ice_04{background-color:#6aa84f}
.ice_05{background-color:#45818e}
.ice_06{background-color:#3d85c6}
.ice_07{background-color:#674ea7}
.ice_08{background-color:#a64d79}
.ice_09{background-color:#990000}
.ice_10{background-color:#b45f06}
.ice_11{background-color:#bf9000}
.ice_12{background-color:#38761d}
.ice_13{background-color:#134f5c}
.ice_14{background-color:#0b5394}
.ice_15{background-color:#351c75}
.ice_16{background-color:#741b47}
.ice_17{background-color:#660000}
.ice_18{background-color:#783f04}
.ice_19{background-color:#7f6000}
.ice_20{background-color:#274e13}
.ice_21{background-color:#0c343d}
.ice_22{background-color:#073763}
.ice_23{background-color:#20124d}
.ice_24{background-color:#4c1130}

.ice_99{background-color:#a0a0a0}

select:focus, input:focus {
	border: 2px solid #ff8106;}
	
select {-moz-border-radius: 3px; -webkit-border-radius: 3px;}

/*=HEAD
=== === === === === === === === === === */
.bg_head {
background:#0d4f8b;
height:40px;
font-size:11px;
color:#fff;
}
#head {
padding:9px;
position:relative;
z-index:900;
}

	.wellcome { float:left;}

	.wellcome a{ padding:5px; background: #197db8; text-decoration:none; font-size:12px; color:#fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height:20px;	
	}
	.wellcome a:hover{ padding:5px; background: #ff8209; text-decoration:none; font-size:12px; color:#fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	}
	
	.menu_head{ float:right; display:block;  }
	.menu_head a{ color:#fff;padding:3px; text-decoration:none;  border: 1px solid #1c7db0; -moz-border-radius: 5px;-webkit-border-radius: 5px;  display: inline-block  }
	.menu_head a:hover{ background:#ff8209; color:#fff; padding:3px; text-decoration:none; -moz-border-radius: 5px;-webkit-border-radius: 5px; text-shadow: #666 1px 1px; border: 1px solid #ff8209;  }
	
	.jump_head{ display:inline; margin: 0 10px 0 10px; }
	.jump_head option{ padding: 0 10px 0 0;}
	

.bg_barra {
background:#197db8;
}

#barra {position:relative; height:117px; z-index:800}

	a.logo_link{width:245px; height:90px; position:absolute; top:15px; left:30px; display:block;} /* link da logo do bg para a home*/

	.menu_barra{ position:absolute; top:82px; right:30px;  font-size:15px; }
/*	.menu_barra a{ background:#00508c; color:#fff;padding:4px; text-decoration:none; -moz-border-radius: 5px; -webkit-border-radius: 5px; display: inline-block  }
	.menu_barra a:hover{ background:#ff8209; color:#fff; padding:4px; text-decoration:none; -moz-border-radius: 5px; -webkit-border-radius: 5px; text-shadow: #666 1px 1px;  }*/




.bg_contexto {
background: url(../cssimg/bg_contexto.gif) repeat-x #FFFFFF;
height:94px;
}
#contexto{ position:relative; padding:10px 0 0 0;}

#holder{ }


.menu_contexto { margin-top:15px;}





/*=NAVIGATION
=== === === === === === === === === === */
#navigation {
}
/*=CONTENT
=== === === === === === === === === === */
.bg_content {
background: url(../cssimg/bg_content.gif) repeat-x top #FFFFFF;
}
#content {
	padding:25px 0 ;
	/*position:relative;*/

}

	.box_aviso{width:878px; padding:3px 10px 3px 10px; float: left; border:1px solid #eceaea; margin-bottom:10px; -moz-border-radius: 5px;-webkit-border-radius: 5px; background:#fdfad7}
	.box_aviso p { line-height:20px;}

	.box_widget { width:288px;  border:1px solid #eceaea; margin-bottom:10px; -moz-border-radius: 5px;-webkit-border-radius: 5px;}
	.box_1col { width:288px; float: left; border:1px solid #eceaea; margin-bottom:10px; -moz-border-radius: 5px;-webkit-border-radius: 5px;}
	.box_2col { width:593px; float: left; border:1px solid #eceaea; margin-bottom:10px; -moz-border-radius: 5px;-webkit-border-radius: 5px; overflow:hidden; height:480px}
	.box_3col { width:898px; float: left; border:1px solid #eceaea; margin-bottom:10px; -moz-border-radius: 5px;-webkit-border-radius: 5px;}
	.mleft { margin-left:15px;}
	.bg_gray { background:#f5f5f5;}
	
	.box_cabe{ height:38px; border-bottom: 1px solid #eceaea; background: url(../cssimg/box_cabe.gif) repeat-x; line-height:38px; padding:0 10px 0 10px; position:relative; z-index:0}
	.box_content{ padding:10px;}
	
	.celpaper{  padding: 10px 0; border-bottom: 1px solid #d7d7d7; position:relative; list-style:none;}
	.celpaper:last-child{border-bottom: none}
	.orelha{ background:url(../cssimg/paper.jpg) no-repeat right top; }
	h4.pleft{ padding-left:25px;}
	
	
	ul.paper{ margin:10px 0 0 0}

/*=FOOTER
=== === === === === === === === === === */
.bg_sub_footer {
background:#0d4f8b;
}

#sub_footer {

}

.bg_footer {
background:#08467f;
}

#footer {

}




/* Clear fix - saiba mais - http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack/ */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



/*----------COMPONENTES----------*/





a.bt {
	background: url(../cssimg/bt.gif) repeat-x bottom;
	padding:2px 5px;
	border: 1px solid #b3b3b3;
	-moz-border-radius: 5px;
	font-size:11px; 
	-webkit-border-radius: 5px;
	text-decoration:none;
	color:#4a4a4a;
	text-shadow:#FFFFFF 1px 1px;
	display: inline-block;
	float:left;
	}
	a.bt.mleft{ margin-left:5px;}
	
a:hover.bt { background: #f4f4f4; padding:3px;border: 1px solid #b3b3b3;  padding:2px 5px; }
a:active.bt { background: url(../cssimg/bt_down.gif) repeat-x top; padding:3px;border: 1px solid #b3b3b3;  padding:2px 5px;  }
a.bt img{ border:none; margin:-3px -2px -3px 0;}

a.menor {padding:1px 5px; margin-bottom:3px;}
a:hover.menor { padding:1px 5px;}
a:active.menor {padding:1px 5px;  }


a.selected {background: url(../cssimg/bt_selected.gif) repeat-x top;border: 1px solid #bd6004;color:#fff;font-weight:bold;text-shadow:#b95f06 1px 1px;position:relative;cursor: text;}
a:hover.selected {background: url(../cssimg/bt_selected.gif) repeat-x top;border: 1px solid #bd6004;color:#fff;font-weight:bold;text-shadow:#b95f06 1px 1px;position:relative;cursor: text;}
a:active.selected {background: url(../cssimg/bt_selected.gif) repeat-x top;border: 1px solid #bd6004;color:#fff;font-weight:bold;text-shadow:#b95f06 1px 1px;position:relative;cursor: text;}
	
a.none {background: url(../cssimg/bt_none.gif) repeat-x top;border: 1px solid #d5d5d5;color:#a1a1a1;cursor: text;}
a:hover.none {background: url(../cssimg/bt_none.gif) repeat-x top;border: 1px solid #d5d5d5;color:#a1a1a1;cursor: text;}
a:active.none {background: url(../cssimg/bt_none.gif) repeat-x top;border: 1px solid #d5d5d5;color:#a1a1a1;cursor: text;}

.lixo { color:#993300 !important;}
	
.abadown{ position:absolute; top:18px; left:43%;  color:#ff8106; text-align:center; }
.abadown img{ border: none}


/*----------ABAS----------*/
ul.tabs {
	margin: 6px 0 0 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Define a altura das abas--*/
	width: 100%;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}
ul.tabs li {
	float: left;
	margin: 0 5px 0 0 ;
	padding: 0;
	height: 31px; /*--Subtrai 1 pixel de altura da lista desordenada(ul)--*/
	line-height: 31px; /*--Alinha o texto verticalmente na aba--*/
	border: 1px solid #D1D1D1;
	margin-bottom: -1px; /*--Puxa para baixo em 1 pixelo iten--*/
	overflow: hidden;
	position: relative;
	background: #197DB8;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
}
ul.tabs li a {
	text-decoration: none;
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 0 5px;
	border: 1px solid #fff; /*--Faz o efeito de relevo com a borda branca de 1 pixel--*/
	outline: none;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;

}
ul.tabs li a:hover {
	background: #ccc;
}

html ul.tabs li.active a {color: #4A4A4A; }

html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Faz a aba ativa parecer que está conectada com seu conteúdo--*/
	color: #4A4A4A;
}

/*--CONTEÚDO --*/
.tab_container {

	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_container td { background:#C2E2EF;text-align:center;  -moz-border-radius: 3px; -webkit-border-radius: 3px; cursor:pointer;}
.tab_container td.active { background:#A6C943; font-weight:bold; }
.tab_content 
{
	clear: both;
	padding: 0;


	font-size: 12px;
	
	
	width: 270px;
	height: 435px; 
	overflow-x: hidden;
	overflow-y: auto; 
	/*position: relative;*/
}
.tab_content ul.paper li { padding: 5px 0px 5px 0px; margin: 5px 0px 5px 0px;}
.tab_content ul.paper{ width:250px; padding: 5px 0px 5px 0px; margin: 5px 0px 5px 0px;}

.tab_content a.bt{ padding: 2px 3px;}

/*------ABAS .abas_destaque------*/
#abas_destaque ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Define a altura das abas--*/
	border-bottom: 1px solid #D0C9AD;
	border-left: 1px solid #D0C9AD;
	width: 100%;
}
#abas_destaque ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtrai 1 pixel de altura da lista desordenada(ul)--*/
	line-height: 31px; /*--Alinha o texto verticalmente na aba--*/
	border: 1px solid #D0C9AD;
	border-left: none;
	margin-bottom: -1px; /*--Puxa para baixo em 1 pixelo iten--*/
	overflow: hidden;
	position: relative;

}
#abas_destaque ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 12px;
	padding: 0 20px;
	border: 1px solid #FBF0D0; /*--Faz o efeito de relevo com a borda branca de 1 pixel--*/
	outline: none;
}
#abas_destaque ul.tabs li a:hover {
	background:#dfd8bb;

}
html #abas_destaque ul.tabs li.active, html #abas_destaque ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/

	border-bottom: 1px solid #dfd8bb;
	background:#dfd8bb; /*--Faz a aba ativa parecer que está conectada com seu conteúdo--*/
}


/*--CONTEÚDO --*/
#abas_destaque .tab_container_2 {
	border: 1px solid #D0C9AD;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background:#dfd8bb;


}
#abas_destaque .tab_content {
	padding: 10px;
	font-size: 12px;
}


 /*-- TABELAS --*/

table.fixed {
table-layout:fixed;
}

.widefat { 
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color:#FFFFFF;
clear:both;
margin:0;
width:100%;
 }
thead, tfoot { background:#d7d7d7; font-size:12px;}

.widefat * {
word-wrap:break-word;
}

.column-check{ }
.alternate, .alt {
background-color:#F9F9F9;
}
.widefat tbody th.column-check {
vertical-align:top;
padding:7px 0 22px;
}

.widefat th input {
margin:0 0 0 8px;
padding:0;
vertical-align:text-top;
}

.widefat td, .widefat th {
border-color:#DFDFDF;
border-bottom-style:solid;
border-bottom-width:1px;

}

tbody tr:hover{	background-color: #E0F0F8;}

.widefat td {
padding:7px 7px 8px;
vertical-align:top;
}
.widefat th {
padding:7px 7px 8px;
text-align:left;
}

.row-actions {
padding:2px 0 0;
visibility:hidden;
}
tr:hover .row-actions, div.comment-item:hover .row-actions {
visibility:visible;
}
.row-actions-visible {
padding:2px 0 0;
}

.widefat .column-check {
padding:0;
width:2.3em;
}
.column-a{
font-size:12px;
}
.column-b{
width:15%;
}

.column-c{
width:12%;
}

.column-d{
width:13%;
}




