/* Box principal e área superior da aplicação da prova */

#AA_Main {
	margin:10px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px !important;
}
#AA_Main .hide {
	display: none !important; 
}
#AA_Main .direita  {
	text-align:right !important; float:right !important; 
}
#AA_Main .tituloStatus {
	font-size:18px;
	font-weight:bold;
	color:#555555;
	text-transform: none;
	display:inline-block;
}

#AA_Main h3.tituloStatus {
	font-size:18px;
	font-weight:bold;
	color:#555555;
	text-transform: none;
	display:block;
	margin:0;
	padding:0;
}

#AA_Main a.linkPadrao {
	color:#00508C;
	font-size:12px;
	text-decoration:none;
}

#AA_Main a.linkPadrao:hover {
	text-decoration: underline;
}

#AA_Main div.cxaTituloPagina {
	margin:0px 0px 25px 0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px solid #bbb;
	overflow:hidden;
}

.ie7 #AA_Main div.cxaTituloPagina {
	clear:both;
}

/* Menu da aplicação da prova */

#menuNavegacaoAplicacao {
	overflow: hidden;
	display: block;
}

#menuNavegacaoAplicacao ul {
	display:block;
	width:735px;
	height:51px;
	margin: 0;
	padding:0;
	overflow:hidden;
}

#menuNavegacaoAplicacao li {
	margin:0;
	padding:0;
	display:inline;
	list-style:none;
	float:left;
}

#menuNavegacaoAplicacao li a {
	text-indent: -1000px;
	background-image:url(../imgcss/menuAplicacaoProva.png);
	/* menu sem passo 3 
	background-image:url(../imgcss/menuAplicacaoProva_.png);*/
	overflow:hidden;
}

#menuNavegacaoAplicacao li.passo1 a {
	display: block;
	background-position: 0px 0px;
	text-decoration: none;
	width:165px;	
	height:51px;
}

#menuNavegacaoAplicacao li.passo1 a:hover {
	background-position: 0px 51px;
}

#menuNavegacaoAplicacao li.passo1 a.ativo {
	display: block;
	background-position: 0px 51px;
	text-decoration: none;
	width:165px;	
	height:51px;
}

#menuNavegacaoAplicacao li.passo2 a {
	display: block;
	background-position: -165px 0px;
	text-decoration: none;
	width:168px;	
	height:51px;
}

#menuNavegacaoAplicacao li.passo2 a:hover {
	background-position: -165px 51px;
}

#menuNavegacaoAplicacao li.passo2 a.ativo {
	display: block;
	background-position: -165px 51px;
	text-decoration: none;
	width:168px;	
	height:51px;
}

#menuNavegacaoAplicacao li.passo3 a {
	display: block;
	background-position: -333px 0px;
	text-decoration: none;
	width:136px;	
	height:51px;
}

#menuNavegacaoAplicacao li.passo3 a:hover {
	background-position: -333px 51px;
}

#menuNavegacaoAplicacao li.passo3 a.ativo {
	display: block;
	background-position: -333px 51px;
	text-decoration: none;
	width:136px;	
	height:51px;
}

#menuNavegacaoAplicacao li.passo4 a {
	display: block;
	background-position: -469px 0px;
	text-decoration: none;
	width:140px;	
	height:51px;
}

#menuNavegacaoAplicacao li.passo4 a:hover {
	background-position: -469px 51px;
}

#menuNavegacaoAplicacao li.passo4 a.ativo {
	display: block;
	background-position: -469px 51px;
	text-decoration: none;
	width:140px;	
	height:51px;
}

#menuNavegacaoAplicacao li.passo5 a {
	display: block;
	background-position: -609px 0px;
	text-decoration: none;
	width:126px;	
	height:51px;
}

#menuNavegacaoAplicacao li.passo5 a:hover {
	background-position: -609px 51px;
}

#menuNavegacaoAplicacao li.passo5 a.ativo {
	display: block;
	background-position: -609px 51px;
	text-decoration: none;
	width:126px;	
	height:51px;
}

/* Passo 1 aplicação da prova */

#AA_Main .areaConfiguracoesAplicacao {
	margin: 0px 0 10px 0;
}

#AA_Main .divisaoQuestao {
	width:100%;
	height:30px;
	display:inline-block;
	background-color:#EEEEEE;
	margin:15px 0;
}

#AA_Main .tituloDivisao {
	background:url(../imgcss/divisaoQuestao.png);
	background-repeat:no-repeat;
	background-position:right top;
	background-color:#428CB9;	
	font-size:14px;
	color:#fff;
	font-weight:bold;
	float:left;
	padding:6px 30px 0 10px;	
	height:24px;	
}

#AA_Main .textoDivisao {
	font-size:12px;
	color:#6B6B6B;
	float:left;	
	padding:8px 0px 0 0px;	
	height:22px;
}

#AA_Main .areaConfiguracoesAplicacao .linhaPar {
	clear:both;
	height: 36px;
	padding:0px 0px 0 0;
	background-color:#f6f6f6;
	line-height:230%;
	width:100%;
}

#AA_Main .areaConfiguracoesAplicacao .linhaImpar {
	clear:both;
	height: 36px;
	padding:0px 0px 0 0;
	background-color: #FAFAFA;
	line-height:230%;
	width:100%;	
}

#AA_Main .areaConfiguracoesAplicacao .linhaPar .texto, #AA_Main .areaConfiguracoesAplicacao .linhaImpar .texto {
	width:165px;
	display: inline-block;
	text-align:right;
	margin-right:5px;
	font-size:12px;
	color:#555;
	font-weight:normal!important;
	float:left;
}

#AA_Main .areaConfiguracoesAplicacao .linhaPar label, #AA_Main .areaConfiguracoesAplicacao .linhaImpar label {
	margin-right:10px;
	font-size:12px;
	color:#444;
	font-weight:bold;
}

#AA_Main .areaConfiguracoesAplicacao input.txt {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
    border: 1px solid #B4B4B4;
    color: #4A4A4A;
    margin: 3px 0 0 0;
    outline: medium none;
    padding: 1px;
    width: 500px;
}

#AA_Main .areaConfiguracoesAplicacao input.txt:focus {
	border: 1px solid #FE8106;
}

#AA_Main .txtareaEnunciado {
	border: 1px solid #f3f3f3;
	border-left:#B0B0B0 1px solid;
	border-top:#B0B0B0 1px solid;	
	padding:6px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	line-height:150%;
	width:855px;
	height:350px;
	overflow-y:scroll;
	outline:none;	
	background-color:#FFFFFF;	
}

/* Passo 2 aplicação da prova */

#AA_Main .areaConfiguracoesAplicacao a {
	/*margin: 0 8px 0 3px;*/
}

#AA_Main .areaConfiguracoesAplicacao strong {
	margin: 0 8px 0 3px;
	color:#146494;
}

#AA_Main .areaConfiguracoesAplicacao .destaqueAzul {
	display:inline-block;
	padding:6px 8px;
	font-weight:normal;
	margin-top:4px;
	margin-bottom:10px !important;
	font-size:12px;
}

#AA_Main .areaConfiguracoesAplicacao .btnQuestoes {
	clear:both;
	margin: 10px 0 15px 0;
}

/* busca de provas para passo 2 */

div.popup .areaBuscaProvas {
	width:791px;
	margin: 5px;
	overflow:visible;
}

div.popup .areaBuscaProvas .texto {
	width:170px;
	display: inline-block;
	text-align:right;
	margin-right:5px;
	font-size:13px;
	color:#555;
	float:left;
	font-weight:bold;
	line-height:250%;
}

div.popup .areaBuscaProvas label {
	margin-left:-6px !important;
}

div.popup .areaBuscaProvas label strong {
	margin-right: 10px;
}

div.popup .areaBuscaProvas label input {
	margin: 8px 0 0 10px;
	font-size:12px;
	color:#444;
	font-weight:bold;
}

div.popup .areaBuscaProvas input.txt {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
    border: 1px solid #B4B4B4;
    color: #4A4A4A;
    margin: 6px 0 0 0;
    outline: medium none;
    padding: 2px;
    width: 450px;
}

div.popup .areaBuscaProvas input.txt:focus {
	border: 1px solid #FE8106;
}

div.popup .areaBuscaProvas input.txtData {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
    border: 1px solid #B4B4B4;
    color: #4A4A4A;
    margin: 2px 0 0 0;
    outline: medium none;
    padding: 2px;
    width: 80px;
	float:left;
}

div.popup .areaBuscaProvas input.txtData:focus {
	border: 1px solid #FE8106;
}

div.popup .areaBuscaProvas img {
	float:left;
	margin:4px 0 0 4px;
}

div.popup .areaBuscaProvas .txtMenor {
	float:left;
	font-weight:bold;
	margin:12px 5px 0 5px;
}

div.popup .areaBuscaProvas .esp {
	margin-top:1px !important;
}

div.popup .areaBuscaProvas .espCalendar {
	margin-top:-1px !important;
}

div.popup .areaBuscaProvas p {
	margin:0;
	padding:0;
	margin-top:5px;
}

.ie8 div.popup .areaBuscaProvas p, .chrome div.popup .areaBuscaProvas p, .ie7 div.popup .areaBuscaProvas p {
	margin:0;
	padding:0;
	margin-top:8px;
}

div.popup .areaBuscaProvas .btnBuscar {
	margin: 10px 0 0 170px;
}

.ie7 div.popup .areaBuscaProvas .btnBuscar {
	margin: 20px 0 0 170px;
}

/* Passo 3 aplicação da prova */

#AA_Main .areaEscolhaParticipantes {
	margin: 10px 0 20px 0;
	border-left: 2px solid #E6F0F6;
	border-bottom: 2px solid #E6F0F6;
	padding-left:5px;
	padding-bottom:15px;
}

#AA_Main .areaEscolhaParticipantes {
	font-size:12px;
}

#AA_Main .areaEscolhaParticipantes .selecionarParticipantes {
	margin-bottom:15px;
}

#AA_Main .areaEscolhaParticipantes .destaqueAzul a {
	margin: 0 8px 0 3px;
}

#AA_Main .areaEscolhaParticipantes .destaqueAzul strong {
	margin: 0 1px 0 3px;
}

#AA_Main .areaEscolhaParticipantes .destaqueAzul {
	display:inline-block;
	padding:6px 8px;
	font-weight:normal;
	margin-top:0px !important;
	margin-bottom:0px !important;
	margin-left:-5px;
}

#AA_Main a.btnRemover  { 
	margin: 2px 0px 0 0;
	padding: 1px 3px 1px 3px;
	display: inline-block;
	background: transparent url('../imgcss/bgBotao.gif') repeat-x scroll left bottom !important;
	font-size: 11px;
	text-decoration: none;
	color: #4A4A4A;
	text-transform: lowercase;
	text-shadow: 1px 1px #FFFFFF;
	border: 1px solid #B4B4B4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
}

#AA_Main a.btnRemover:hover  { 
	background: #F4F4F4 none repeat scroll left top !important;
}

#AA_Main .btnRemover img, #AA_Main .btnAdicione img { 
	float:left; 
}
#AA_Main .divisaoQuestao .btnAdicione{
	margin-top:6px;
	margin-right:6px;
}

#AA_Main a.btnAdicione  { 
	padding: 1px 3px 1px 3px;
	display: inline-block;
	background: transparent url('../imgcss/bgBotao.gif') repeat-x scroll left bottom;
	font-size: 11px;
	text-decoration: none;
	color: #4A4A4A;
	text-transform: lowercase;
	text-shadow: 1px 1px #FFFFFF;
	border: 1px solid #B4B4B4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor:pointer;
	height:14px;
}

#AA_Main a.btnAdicione:hover  { 
	background: #F4F4F4 none repeat scroll left top;
}

#AA_Main .areaBtnConteudos {
	clear:both;
	margin: 30px 0 10px 0;
}

#AA_Main .areaBtnAdiconar {
	margin: 15px 0 10px 0;
}

#AA_Main .selecionarParticipantes img {
	float:left;
	margin:0 0 0 1px !important;
}

#AA_Main .tabelaA {
	background-color:#F9F9F9; 
	border-bottom:1px solid #D7D7D7; 
	padding:8px 8px;
	color:#00508C;
	font-size:12px;
}

#AA_Main .tabelaB {
	background-color:#FFF; 
	border-bottom:1px solid #D7D7D7; 
	padding:8px 8px;
	color:#00508C;
	font-size:12px;
}

#AA_Main .tabela .recuoA {
	padding-left:0px !important;
	padding-bottom:5px;
}

#AA_Main .tabela .recuoB {
	padding-left:10px !important;
	padding-bottom:5px;
}

#AA_Main .tabela .recuoC {
	padding-left:20px !important;
	padding-bottom:5px;	
}

#AA_Main .tabela .recuoA img, #AA_Main .tabela .recuoB img, #AA_Main .tabela .recuoC img {
	margin-right:5px;
}

#AA_Main .resumoTabela {
	font-size:10px; 
	color:#4A4A4A; 
	margin: 4px 0 0 0px;
}	

/* Passo 4 aplicação da prova */

#AA_Main .areaConfiguracoesAplicacao input.txtData {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
    border: 1px solid #B4B4B4;
    color: #4A4A4A;
    margin: 2px 0 0 0;
    outline: medium none;
    padding: 2px;
    width: 65px;
	float:left;
	font-size:12px;
}

#AA_Main .areaConfiguracoesAplicacao input.txtData:focus, #AA_Main .areaConfiguracoesAplicacao input.txtHora:focus, 
#AA_Main .opcoes input.txtNota:focus, #AA_Main .opcoes input.txtTentativa:focus, #AA_Main .opcoes input.txtTentativaM:focus {
	border: 1px solid #FE8106;
}

#AA_Main .opcoes input.txtHora {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
    border: 1px solid #B4B4B4;
    color: #4A4A4A;
    margin: 2px 0 0 0;
    outline: medium none;
    padding: 2px;
    width: 38px;
	float:left;
	font-size:12px;
}

#AA_Main .opcoes input.txtNota {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
    border: 1px solid #B4B4B4;
    color: #4A4A4A;
    margin: 6px 0 0 0;
    outline: medium none;
    padding: 2px;
    width: 30px;
	font-size:12px;
	margin-right:5px;
}

#AA_Main .opcoes input.txtTentativa {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
    border: 1px solid #B4B4B4;
    color: #4A4A4A;
    margin: 2px 0 0 0;
    outline: medium none;
    padding: 2px;
    width: 20px;
	font-size:12px;
	margin-right:5px;
	text-align:center;
}

#AA_Main .opcoes input.txtTentativaM {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
    border: 1px solid #B4B4B4;
    color: #4A4A4A;
    margin: 6px 0 0 0;
    outline: medium none;
    padding: 2px;
    width: 300px;
	font-size:12px;
	margin-left:5px;
	float:left;
}

#AA_Main .opcoes img {
	float:left;
}

#AA_Main .areaConfiguracoesAplicacao img {
	float:left;
	margin:0px 0 0 2px;
}

#AA_Main .opcoes .txtMenor {
	float:left;
	font-weight:bold;
	margin:0px 5px 0 5px;
	font-size:12px;
}

#AA_Main .opcoes  {
	font-size:12px;
	margin-left:70px;
	padding-top: 6px;
	/*font-weight:bold;*/
}

#AA_Main .opcoes .desabilitado {
	font-size:12px;
	font-weight:bold;
	color:#A5A5A5 !important;
}

#AA_Main .areaDetalheConfiguracoes .linhaPar .texto, #AA_Main .areaDetalheConfiguracoes .linhaImpar .texto {
	width:120px;
	display: inline-block;
	text-align:right;
	margin-right:5px;
	font-size:12px;
	color:#555;
	font-weight:normal!important;
	float:left;
}

#AA_Main .areaDetalheConfiguracoes label input {
	margin-right:4px;
}

#AA_Main .areaDetalheConfiguracoes .recuoA {
	padding-left:20px;
}

#AA_Main .areaDetalheConfiguracoes .recuoB {
	padding-left:40px;
}

#AA_Main .areaDetalheConfiguracoes .recuoC {
	padding-left:60px;
}

#AA_Main .areaDetalheConfiguracoes .recuoD {
	margin-left:265px;
	float:left;
	padding-bottom:10px;
	line-height:180%;
}

#AA_Main .areaDetalheConfiguracoes .linhaDupla {
	display: inline-block;
	text-align:left;
	margin-right:5px;
	font-size:12px;
	color:#555;
	font-weight:normal!important;
	background-color:#FAFAFA;
	width:100%;
}

/* Passo 5 aplicação da prova */

#AA_Main .areaInstrucoesHtml {
	margin: 6px 0;
}

#AA_Main .areaParticipantes .tabela {
	margin-bottom:20px;
}

#AA_Main .areaEmbaralhamento img {
	float:left !important;
	margin:12px 6px 0 0 !important;
}

#AA_Main .areaEmbaralhamento .recuoE {
	padding-bottom:5px;
}

#AA_Main .areaEmbaralhamento .recuoE img {
	float:left !important;
	margin:6px 6px 0 10px !important;
}

#AA_Main .txtNormal {
	font-weight:normal;
}
#AA_Main .txtNormal .tabela {
	font-weight:normal;
	font-size: 20px;
}

#AA_Main .areaNotasGabaritos img {
	float:left !important;
	margin-top:12px !important;
	margin-right:5px;
}

#AA_Main .areaNotasGabaritos .recuoA {
	padding-left:0px !important;
	padding-bottom:5px;
}

#AA_Main .areaNotasGabaritos .recuoB {
	padding-left:10px !important;
	padding-bottom:5px;
}

#AA_Main .areaNotasGabaritos .recuoC {
	padding-left:20px !important;
	padding-bottom:5px;	
}

#AA_Main .areaNotasGabaritos .recuoF {
	padding-left:30px !important;
	padding-bottom:5px;	
}

#AA_Main .areaNotasGabaritos .recuoG {
	padding-left:00px !important;
	padding-bottom:5px;	
}

#AA_Main .areaNotasGabaritos .recuoH {
	padding-left:50px !important;
	padding-bottom:5px;	
}

#AA_Main .areaNotasGabaritos .recuoA img {
	margin-right:5px;
	margin-left:15px;
}

#AA_Main .areaNotasGabaritos .recuoC img {
	margin-right:-15px;
	margin-left:25px;
}

#AA_Main .areaNotasGabaritos .recuoG img {
	margin-left:55px !important;
	margin-left:25px;
}

#AA_Main .statusProva strong {
	color: #333 !important;
	font-size:12px;
}

/* botoes de navegacao */

#AA_Main .navegacaoBotoes {
	margin: 15px 0;
	padding: 10px 0px;
}

#AA_Main .btnEspacamento {
	margin: 0px;
	padding:0px;
	float: left;
	overflow:hidden;
}

#AA_Main a.btnNav {
	margin: 0px;
	padding: 4px 8px;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	display:inline-block;
	color: #FFFFFF;
	background-color: #197DB8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 1px 1px 0px #666;
	cursor: pointer;
	border:1px solid #197DB8;
}

#AA_Main a.btnNav:hover {
	background-color: #166FA3;
}

#AA_Main a.btnNavInativo {
	margin: 0px;
	padding: 4px 8px;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	display:inline-block;
	color: #777;
	background-color: #F8F8F8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 1px 1px 0px #eaeaea;
	cursor: auto;
	border:1px solid #efefef;
}

#AA_Main a.btnCancelar {
	margin: 0px;
	padding: 4px 8px;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	display:inline-block;
	color: #111;
	background-color:#F9F9F9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 1px 1px 0px #efefef;
	cursor: pointer;
	border:1px solid #C5C5C5;
}

#AA_Main a.btnCancelar:hover {
	background-color: #B41D1D;
	color:#fff;
	border:none;
	border:1px solid #B41D1D;
	text-shadow: 1px 1px 0px #333;	
}

#AA_Main a.btnVizualizar {
	margin: 0px;
	padding: 4px 8px;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	display:inline-block;
	color: #111;
	background-color:#F9F9F9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 1px 1px 0px #efefef;
	cursor: pointer;
	border:1px solid #C5C5C5;
}

#AA_Main a.btnVizualizar:hover {
	background-color: #FF8106;
	color:#fff;
	border:none;
	border:1px solid #B41D1D;
	text-shadow: 1px 1px 0px #333;	
}

#AA_Main .espCancelar {
	float:left;
}

#AA_Main .espRascunho {
	float:right;
	margin-left:15px;
}

#AA_Main .espAvancar {
	float:right;
	margin-left:15px;	
}

#AA_Main a.btnExcluir {
	border: 1px solid #B3B3B3;
	color: #993300;
	text-shadow: 1px 1px #FFFFFF;
	font-size:11px !important;
	height:14px !important;
	margin: 8px 0 0 0;
}

/* botões */

#AA_Main .icoRemover { /*modelo com imagem via css dentro do botao*/
	background:url(../imgcss/icoRemover.png);
	background-repeat:no-repeat;
	min-width:16px;
	height:15px;
	padding-left:16px;
	text-decoration:none;
}

#AA_Main .icoAdicionar { /*modelo com imagem via css dentro do botao*/
	background:url(../imgcss/icoAdicionar.png);
	background-repeat:no-repeat;
	min-width:16px;
	height:15px;
	padding-left:16px;
}

/* correções em scroll */

#AA_Main table.scrollBuscarProva tbody tr td div {
    height: 240px !important;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
}

.ie8 table.scrollBuscarProva tbody tr td div {
    height: 230px !important;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
}

.ie7 table.scrollBuscarProva tbody tr td div {
    height: 220px !important;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
}

/* lista para turmas selecionadas */

#AA_Main ul.listaCursoCdt {
    list-style: none;
	color:#333;
}

#AA_Main ul.listaDisciplinaCdt, ul.listaTurmaCdt {
    padding-left: 15px;
    list-style: none;
	list-style-type:square;
}
#AA_Main div.configSPE {
	margin-bottom:auto; 
	margin-left:auto; 
	margin-right:auto; 
	margin-top:auto;	
}
#AA_Main .cabecalhoSPE {
	background-color:#D7D7D7; 
	color:#454545; 
	font-family:Arial,Helvetica,sans-serif; 
	font-size:14px; 
	padding:10px; 
	font-weight:bold; 
	margin-top:15px;
}
#AA_Main table.tabela {
	width:100%;	
}
#AA_Main table.tabela thead {
	background-color: #D7D7D7;
}

#AA_Main table.tabela thead tr td {
	padding: 4px 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #454545;
}
#AA_Main table.tabela tbody {
	background-color: #F9F9F9;
}
#AA_Main table.tabela tbody tr td {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 12px;
	vertical-align: top;
	height: 30px;
	overflow: hidden;
	padding: 4px 8px;
}
#AA_Main table.tabela .setaAberto{
	width:16px; 
	height: 16px; 
	background-image: url(../../Content/imgcss/setaAberto.gif); 
	background-repeat: no-repeat;
}
#AA_Main table.tabela .setaFechado{
	width:16px; 
	height: 16px; 
	background-image: url(../../Content/imgcss/setaFechado.gif); 
	background-repeat:no-repeat;
}
#AA_Main .conteudoLeft
{
	float:left;
	margin-right: 5px;
}