#responsavel
{
	font-family:Arial;
	font-size:11px;
	/*width:800px;*/
	padding:0 10px 0 10px;
}
#responsavel a
{
	cursor:pointer;
}
#responsavel .corpo
{
    width:auto;
}
#responsavel .divAlerta
{
	padding-bottom:18px;
}
#responsavel .divAlerta .alertMsg
{
	color: #a85400;
	font-size:13px;
	font-weight:bold;
	background-color: #eeddcc;
	border:1px dashed #DBC2A3;
	padding: 10px 0 10px 42px;
	background-image:url("../../Content/imgcss/1.0.2/icoBalaoRemarcado.png");
	background-repeat:no-repeat;
	background-position: 10px;
	text-shadow: 1px 1px #FFF5EC;
}
#responsavel .colunaEsquerdaAResponder
{
	width:180px;
	float:left;  
}
#responsavel .divFacaFiltros
{
	width:160px; 
	background-color:#edf5fa; 
	border: 1px solid #E2EBF0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
	font-weight:bold;
}
#responsavel .divFacaFiltros .subDivFacaFiltros
{
	padding:5px;
}
#responsavel .divFacaFiltros .linhasDivFacaFiltros
{
	padding:3px;
	text-shadow: 1px 1px #FFFFFF;
}
#responsavel .divFacaFiltros .titDivFacaFiltros
{
	margin:10px 0 10px 0;
}

#responsavel .divFacaFiltros .borderBottomLinhas{border-bottom:1px solid #CFE2F0;}
#responsavel .divFacaFiltros .borderTopLinhas{border-top: 1px solid #FFFFFF;}

#responsavel .divFacaFiltros .corTxtAberta{color: #1f809e; }
#responsavel .divFacaFiltros .corTxtResultado{color: #53791f;}
#responsavel .divFacaFiltros .corTxtEmBreve{color: #e4850e;}
#responsavel .divFacaFiltros .corTxtEncerrada{color: #515151;}
#responsavel .divFacaFiltros .corTxtNaoRealizada{color: #bf3410;}

#responsavel .colunaDireitaAResponder
{
	width:669px;
	float:left;
	margin-bottom:5px;
}
#responsavel .colunaDireitaAResponder .cxFiltroAvancados
{
    border:1px solid #E4E4E4; 
    width:160px; 
    float:left;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color:#F0F0F0;
}
#responsavel .colunaDireitaAResponder .cxOrdemResultado
{
    border:1px solid #E4E4E4;
    width:160px;
    float:right;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	background-color:#F0F0F0;
}
#responsavel .colunaDireitaAResponder .btAresponder{width:24%; height:30px; float:left; background-color:#f0f0f0; background-position:center top;}
#responsavel .colunaDireitaAResponder .bordaD{border-right:1px solid #FFFFFF;}
#responsavel .colunaDireitaAResponder .bordaE{border-left:1px solid #e4e4e4;}
#responsavel .colunaDireitaAResponder .btAresponder_ON{background-color:#e0eef5; background-position:center bottom;}
#responsavel .colunaDireitaAResponder .btDataInicio{background-image: url("../../Content/imgcss/1.0.2/bt_FiltroDataInicio.png");}
#responsavel .colunaDireitaAResponder .btAgendador{background-image: url("../../Content/imgcss/1.0.2/bt_FiltroAgendador.png");}
#responsavel .colunaDireitaAResponder .btTipoAvaliacao{background-image: url("../../Content/imgcss/1.0.2/bt_FiltroTipoAvaliacao.png");}
#responsavel .colunaDireitaAResponder .btTipoPesquisaOp{background-image: url("../../Content/imgcss/1.0.2/bt_FiltroTipoPesquisaOp.png");}
#responsavel .colunaDireitaAResponder .btOrdemAZ{background-image: url("../../Content/imgcss/1.0.2/bt_OrdemAZ.png");}
#responsavel .colunaDireitaAResponder .btOrdemZA{background-image: url("../../Content/imgcss/1.0.2/bt_OrdemZA.png");}
#responsavel .colunaDireitaAResponder .btOrdemC{background-image: url("../../Content/imgcss/1.0.2/bt_OrdemC.png");}
#responsavel .colunaDireitaAResponder .btOrdemT{background-image: url("../../Content/imgcss/1.0.2/bt_OrdemT.png");}

#responsavel .colunaDireitaAResponder .divContainerFiltroAvancado
{
	padding: 15px 0 10px 0;
	clear:both;
}
#responsavel .colunaDireitaAResponder .divContainerFiltroAvancado select
{
	border:1px solid #F1CD8B;
	width: 200px;
}
#responsavel .colunaDireitaAResponder .divFiltroAvancado
{
	background-color:#f8e6c6;
	border:2px solid #F1CD8B;
	padding: 10px;
	/*position:relative;*/
	z-index:1;
}
#responsavel .colunaDireitaAResponder .divFiltroAvancado .setUpDivData
{
	width:24px; 
	height:13px; 
	background-image: url(../../Content/imgcss/1.0.2/icoSetaUpFiltroAvancado.png); 
	position:absolute; 
	margin-top:-23px; 
	margin-left:-4px;
}
#responsavel .colunaDireitaAResponder .divFiltroAvancado .setUpDivAgendador
{
	width:24px; 
	height:13px; 
	background-image: url(../../Content/imgcss/1.0.2/icoSetaUpFiltroAvancado.png); 
	position:absolute; 
	margin-top:-23px; 
	margin-left:37px;
}
#responsavel .colunaDireitaAResponder .divContainerFiltroAvancado .conteudoFiltroAvancado
{
	background-color:#fbf2e1;
	padding: 8px;
	margin-top:8px;
}
#responsavel .colunaDireitaAResponder #divListaAplic{clear:both;}
#responsavel .colunaDireitaAResponder #divListaAplic table
{
	width:100%;
}
#responsavel .colunaDireitaAResponder #divListaAplic hr
{
	border-top: 1px dotted #EBEBEB;
	border-right: none;
	border-bottom: none;
	border-left:none;
}
#responsavel .colunaDireitaAResponder #divListaAplic .avaAberta
{
	background-color:#BAD8E2;
	text-shadow: 1px 1px #F3F8F9;
}
#responsavel .colunaDireitaAResponder #divListaAplic .tdStatusAvaliacao{width:52px;height:50px;}
#responsavel .icoEncerrada {background:url('../../Content/imgcss/1.0.2/icoListaEncerrada.png') no-repeat center center;}
#responsavel .icoAberta {background:url('../../Content/imgcss/1.0.2/icoListaAberta.png') no-repeat center center;}
#responsavel .icoNaoRealizada {background:url('../../Content/imgcss/1.0.2/icoListaNaoRealizada.png') no-repeat center center;}
#responsavel .icoRealizada {background:url('../../Content/imgcss/1.0.2/icoListaResultado.png') no-repeat center center;}
#responsavel .icoEmBreve {background:url('../../Content/imgcss/1.0.2/icoListaEmBreve.png') no-repeat center center;}
#responsavel .colunaDireitaAResponder #divListaAplic .divLinhaAplic{background: url('../../Content/imgcss/1.0.2/linha_Div_Vertical.gif') no-repeat right center;}
#responsavel .colunaDireitaAResponder #divListaAplic .divLinhaAplic .titAplic{height:19px; padding-left: 5px; font-size:14px; font-weight:bold; color:#333333;}
#responsavel .colunaDireitaAResponder #divListaAplic .divLinhaAplic .descAplic{height:19px; padding-left: 5px; color:#777777;}
#responsavel .colunaDireitaAResponder #divListaAplic .divLinhaAplic .tmhIcoAplic{width:16px; height:16px; float:left; margin-right: 5px;}
#responsavel .colunaDireitaAResponder #divListaAplic .divLinhaAplic .icoDataAgendado{background: url('../../Content/imgcss/1.0.2/icoDataAgendado.png') no-repeat center center;}
#responsavel .colunaDireitaAResponder #divListaAplic .divLinhaAplic .icoTipoAvaliacao{background: url('../../Content/imgcss/1.0.2/icoTipoAvaliacao.png') no-repeat center center;}
#responsavel .colunaDireitaAResponder #divListaAplic .divLinhaAplic .icoTipoPesquisaOpiniao{background: url('../../Content/imgcss/1.0.2/icoTipoPesquisaOpiniao.png') no-repeat center center;}
#responsavel .colunaDireitaAResponder #divListaAplic span{float:left; margin: 2px 5px 0 0;}
#responsavel .icoAgendador
{
	background: url('../../Content/imgcss/1.0.2/icoAgendador.png') no-repeat center center;
	width:15px;
	height:15px;
}
#responsavel #rodaPeARespoder
{
	width:auto; 
	clear:both; 
	padding: 10px 0 10px 0; 
	border-top:1px dotted #EBEBEB;
}
#responsavel #rodaPeARespoder .paginacaoAresponder
{
	font-size:12px; 
	font-weight:bold; 
	color:#444444;
}
#responsavel #rodaPeARespoder .paginacaoAresponder .paginaAtual
{
	float:left; 
	width: 75%;
	text-align:left;
}
#responsavel #rodaPeARespoder .paginacaoAresponder .paginaAtual span{margin: 0 6px 0 6px;}
#responsavel #rodaPeARespoder .paginacaoAresponder .paginaAtual .pgSelecionada{color: #1f81ba;}
#responsavel #rodaPeARespoder .paginacaoAresponder .infoPaginas
{
	float:right; 
	width: 20%; 
	text-align:right;
	font-size:11px;
}
#responsavel #rodaPeARespoder .legenda
{
	clear:both; 
	width:25%; 
	text-align:right; 
	font-size:10px; 
	color:#606060; 
	margin-top:-5px;
	float:right;
}
#responsavel #divFiltro
{
	clear:both; 
	width:100%; 
	height:50px;
}
#responsavel #divFiltroFilho
{
    background-color: #DFDFDF;
    height: 28px;
    padding: 10px 9px 0 10px;
    margin-bottom: 10px;
    font-weight: bold;
    position: absolute;
    border: 1px solid #cbcbcb;
    width: 828px;
    border-radius: 2px;
}
#responsavel #divFiltroFilho select 
{
	border: 1px solid #C1C1C1;
	width: 150px;
	font-size: 11px;
	color:#666666; 
}


.spanFiltro
{
	background-color:#d8af47; 
	color:White; 
	text-shadow: 1px 1px #7f6223; 
	padding:3px !important; 
	/*position:relative; 
	float:left;	
	*/
	border-radius: 6px; 
}
.divInfoTipoAva
{
	position:absolute;
	background: url("../../Content/imgcss/1.0.2/icoTipoAplic.png") no-repeat;
	margin-left:15px;
	margin-top:-9px;
	width:116px;
	height:23px;
	padding: 8px 0 0 15px;
	font-size: 10px;
	color:#FFFFFF;
	text-shadow: 1px 1px #545454; 
}

table#tblAplicacoesFilho tbody tr td.carregando {
	padding:40px;
	background: #FFF url('../imgcss/load.gif') no-repeat scroll center center;
}
.mouseOverRealizar
{
	cursor:pointer;
}

/* BARRA STATUS */

#responsavel #colunaDireitaAResponder #barraStatus {
    width: 666px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #FFF;
    box-shadow: 0px 0px 3px #7f7f7f;
    -webkit-box-shadow: 0px 0px 3px #7f7f7f;
    -moz-box-shadow: 0px 0px 3px #7f7f7f;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    line-height: 180%;
    cursor:pointer;
    margin-bottom: 10px;
    font-size: 10px;
}
#responsavel #colunaDireitaAResponder #barraStatus div.statusFiltro
{
    float: left;
    height: 100%;
    transition-duration: 1s;
}
#responsavel #colunaDireitaAResponder #barraStatus .statusAberta {
	background-color: #1f809e;	
}

#responsavel #colunaDireitaAResponder #barraStatus .statusResultado {
	background-color: #53791f;	
}

#responsavel #colunaDireitaAResponder #barraStatus .statusEmbreve {
	background-color: #e4850e;	
}

#responsavel #colunaDireitaAResponder #barraStatus .statusEncerrada {
	background-color: #515151;	
}

#responsavel #colunaDireitaAResponder #barraStatus .statusNaorealizada {
	background-color: #bf3410;	
}


/* FIM BARRA STATUS */