@{
    Layout = "~/Views/Shared/_LayoutMenuTopoClubes.cshtml";
}

<div role="projetos_content" class="p_content full_width">
    <div class="proj_content centralizaclass">
        <h1>Resultado de 1 Desafio.</h1>
    </div>
</div>
